<div class="row">
  <div class="col-xs-6 col-sm-4 col-lg-3">
    <a class="block block-link-hover3 text-center" href="javascript:void(0)">
      <div class="block-content block-content-full">
        <i class="si <%% if (entity.customer_req_notification_sent) {%>si-envelope-letter text-success<%%}else{%>si-envelope text-danger<%%}%> fa-4x text-primary-darker"></i>
        <div class="font-w600 push-15-t"><%=t.booking_management.form.notifications.c1_notification%></div>
        <%% if (entity.status != 'cancelled') { %>
        <br>
        <button class="form-button blue-button element-action-button" id="return_booking_button" style="width:95%"
                data-action-method="POST"
                data-action-url="/api/booking/send-customer-req-notification/<%%=entity.id%>"
                data-confirm-message="<%=t.booking_management.form.notifications.resend_confirmation%>">
          <%% if (entity.customer_req_notification_sent) {%>
          <%=t.booking_management.form.notifications.send_again%>
          <%% } else { %>
          <%=t.booking_management.form.notifications.send_first%>
          <%% } %>
        </button>
        <%% } %>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-4 col-lg-3">
    <a class="block block-link-hover3 text-center" href="javascript:void(0)">
      <div class="block-content block-content-full">
        <i class="si <%% if (entity.customer_req_notification_p_sent) {%>si-envelope-letter text-success<%%}else{%>si-envelope text-danger<%%}%> fa-4x"></i>
        <div class="font-w600 push-15-t"><%=t.booking_management.form.notifications.c3_notification%></div>
        <%% if (entity.status != 'cancelled' && entity.pay_now) { %>
        <br>
        <button class="form-button blue-button element-action-button" id="return_booking_button" style="width:95%"
                data-action-method="POST"
                data-action-url="/api/booking/send-customer-req-notification-pay/<%%=entity.id%>"
                data-confirm-message="<%=t.booking_management.form.notifications.resend_confirmation%>">
          <%% if (entity.customer_req_notification_p_sent) {%>
          <%=t.booking_management.form.notifications.send_again%>
          <%% } else { %>
          <%=t.booking_management.form.notifications.send_first%>
          <%% } %>
        </button>
        <%% } %>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-4 col-lg-3">
    <a class="block block-link-hover3 text-center" href="javascript:void(0)">
      <div class="block-content block-content-full">
        <i class="si <%% if (entity.customer_notification_sent) {%>si-envelope-letter text-success<%%}else{%>si-envelope text-danger<%%}%> fa-4x"></i>
        <div class="font-w600 push-15-t"><%=t.booking_management.form.notifications.c2_notification%></div>
        <%% if (entity.status != 'pending_confirmation' && entity.status != 'cancelled') { %>
        <br>
        <button class="form-button blue-button element-action-button" id="return_booking_button" style="width:95%"
                data-action-method="POST"
                data-action-url="/api/booking/send-customer-conf-notification/<%%=entity.id%>"
                data-confirm-message="<%=t.booking_management.form.notifications.resend_confirmation%>">
          <%% if (entity.customer_notification_sent) {%>
          <%=t.booking_management.form.notifications.send_again%>
          <%% } else { %>
          <%=t.booking_management.form.notifications.send_first%>
          <%% } %>
        </button>
        <%% } %>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-4 col-lg-3">
    <a class="block block-link-hover3 text-center" href="javascript:void(0)">
      <div class="block-content block-content-full">
        <i class="si <%% if (entity.customer_payment_enabled_sent) {%>si-envelope-letter text-success<%%}else{%>si-envelope text-danger<%%}%> fa-4x"></i>
        <div class="font-w600 push-15-t"><%=t.booking_management.form.notifications.c4_notification%></div>
        <%% if (entity.status != 'cancelled' && entity.force_allow_payment) { %>
        <br>
        <button class="form-button blue-button element-action-button" id="return_booking_button" style="width:95%"
                data-action-method="POST"
                data-action-url="/api/booking/send-customer-pay-enabled/<%%=entity.id%>"
                data-confirm-message="<%=t.booking_management.form.notifications.resend_confirmation%>">
          <%% if (entity.customer_payment_enabled_sent) {%>
          <%=t.booking_management.form.notifications.send_again%>
          <%% } else { %>
          <%=t.booking_management.form.notifications.send_first%>
          <%% } %>
        </button>
        <%% } %>
      </div>
    </a>
  </div>
</div>
