         <div class="left-margin guiblock">
           <div>
             <div class="top-space bottom-space bottom-margin bottom-separator">
               <div class="centered_text">
                  <span class="uppercase_text less_contrast_text"><%=t.booking.total%></span>
               </div>
               <div class="centered_text">
                  <span class="more_contrast_text"><%= "%.2f" % booking.total_cost%> €</span>
               </div>
             </div>  
             <% if booking.status == :confirmed %>
             <div class="bottom-space bottom-margin bottom-separator">              
               <div class="centered_text">
                  <span class="uppercase_text less_contrast_text"><%=t.booking.paid%></span>
               </div>
               <div class="centered_text">
                  <span class="more_contrast_text"><%= "%.2f" % booking.total_paid%> €</span>
               </div>              
             </div>
             <% end %>
             <% if booking.total_pending > 0 %>
             <div class="bottom-space bottom-margin bottom-separator">              
               <div class="centered_text">
                  <span class="uppercase_text less_contrast_text"><%=t.booking.pending%></span>
               </div>
               <div class="centered_text">
                  <span class="more_contrast_text"><%= "%.2f" % booking.total_pending%> €</span>
               </div>              
             </div>             
             <% end %>
           </div>
           <div class="item_properties_attributes smaller_text">
             <% booking.booking_lines.each do |booking_line| %>
             <div class="item_properties_attribute bottom-margin">
               <span class="item_properties_attribute_name left_text">
                 <%= booking_line.item_description %> X <%= booking_line.quantity %>
               </span>
               <span class="item_properties_attribute_value right_text">
                 <%= "%.2f" % booking_line.item_cost %> €
               </span>
             </div>
             <% end %>
             <% booking.booking_extras.each do |booking_extra| %>
             <div class="item_properties_attribute bottom-margin">
               <span class="item_properties_attribute_name left_text">
                 <%= booking_extra.extra_description %> X <%= booking_extra.quantity %>
               </span>
               <span class="item_properties_attribute_value right_text">
                <%= "%.2f" % booking_extra.extra_cost %> €
               </span>
             </div>          
             <% end %>
             <% if booking.time_from_cost > 0  %>
             <div class="item_properties_attribute bottom-margin">
               <span class="item_properties_attribute_name left_text">
                 <%=t.new_booking.time_from_cost%> 
               </span>
               <span class="item_properties_attribute_value right_text">
                <%= "%.2f" % booking.time_from_cost %> €
               </span>
             </div> 
             <% end %>
             <% if booking.time_to_cost > 0  %>
             <div class="item_properties_attribute bottom-margin">
               <span class="item_properties_attribute_name left_text">
                 <%=t.new_booking.time_to_cost%> 
               </span>
               <span class="item_properties_attribute_value right_text">
                <%= "%.2f" % booking.time_to_cost %> €
               </span>
             </div> 
             <% end %>      
             <% if booking.pickup_place_cost > 0  %>
             <div class="item_properties_attribute bottom-margin">
               <span class="item_properties_attribute_name left_text">
                 <%=t.new_booking.pickup_place_cost%>
               </span>
               <span class="item_properties_attribute_value right_text">
                <%= "%.2f" % booking.pickup_place_cost %> €
               </span>
             </div> 
             <% end %>     
             <% if booking.return_place_cost > 0  %>
             <div class="item_properties_attribute bottom-margin">
               <span class="item_properties_attribute_name left_text">
                 <%=t.new_booking.return_place_cost%>
               </span>
               <span class="item_properties_attribute_value right_text">
                <%= "%.2f" % booking.return_place_cost %> €
               </span>
             </div> 
             <% end %>
             <% if booking.product_deposit_cost > 0  %>
             <div class="item_properties_attribute bottom-margin">
               <span class="item_properties_attribute_name left_text">
                 <%=t.new_booking.product_deposit_cost%>
               </span>
               <span class="item_properties_attribute_value right_text">
                <%= "%.2f" % booking.product_deposit_cost %> €
               </span>
             </div> 
             <% end %>                                              
           </div>
         </div>
