            <div class="element_template">
              <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.free_access_id %></span>
               <span class="entity-fieldvalue">
                  <%% if (entity.sales_channel_code == null) { %>
                  <a href="<%=booking_front_end_prefix%>/reserva/<%%=entity.free_access_id%>" target="_blank">
                     <%=booking_front_end_prefix%>/reserva/<%%=entity.free_access_id%></a>
                  <%% } else { %>
                     <% if @addon_sales_channels %>
                     <a href="<%%=self.model.entityHooks[0].frontendPrefixes[entity.sales_channel_code]%>/reserva/<%%=entity.free_access_id%>" target="_blank">
                       <%%=self.model.entityHooks[0].frontendPrefixes[entity.sales_channel_code]%>/reserva/<%%=entity.free_access_id%></a>
                     <% end %>
                  <%% } %>
               </span>
              </div>
            </div>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.source %></span>
                <span class="entity-fieldvalue"><%%= entity.source %></span>
              </div>
            </div> 
            <%% if (entity.promotion_code != null) { %> 
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.promotion_code %></span>
                <span class="entity-fieldvalue"><%%= entity.promotion_code %></span>
              </div>
            </div>             
            <%% } %>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.created_by_manager %></span>
                <span class="entity-fieldvalue"><%%= entity.created_by_manager ? '<%= t.booking_management.form.yes_created_by_manager %>' : '<%= t.booking_management.form.no_created_by_manager %>' %></span>
              </div>
            </div>             
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.user_agent_browser %></span>
                <span class="entity-fieldvalue"><%%= entity.user_agent_browser %></span>
              </div>
            </div> 
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.user_agent_version %></span>
                <span class="entity-fieldvalue"><%%= entity.user_agent_version %></span>
              </div>
            </div>    
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.user_agent_os %></span>
                <span class="entity-fieldvalue"><%%= entity.user_agent_platform %></span>
              </div>
            </div>
          <div class="element_template">
            <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%=t.guiblock.audit.form.create_date.label%></span>
               <span class="entity-fieldvalue"><%%= self.formatDate(entity.creation_date) %></span> </div>
          </div>
          <div class="element_template">
            <div class="entity-field"><span class="entity-fieldlabel less_contrast_text"><%=t.guiblock.audit.form.create_user.label%></span> <span class="entity-fieldvalue"><%%= entity.creation_user %></span> </div>
          </div>
          <div class="element_template">
            <div class="entity-field"><span class="entity-fieldlabel less_contrast_text"><%=t.guiblock.audit.form.update_date.label%></span> <span class="entity-fieldvalue"><%%= self.formatDate(entity.last_update) %></span> </div>
          </div>
          <div class="element_template">
            <div class="entity-field"><span class="entity-fieldlabel less_contrast_text"><%=t.guiblock.audit.form.update_user.label%></span> <span class="entity-fieldvalue"><%%= entity.last_update_user %></span> </div>
          </div>
