    <div id="select_resource"
         data-date-from="<%=booking.date_from.strftime('%Y-%m-%d')%>"
         data-date-to="<%=booking.date_to.strftime('%Y-%m-%d')%>"
         data-planning-color="<%=booking.planning_color%>">
      <div>
        <div id="reassign_resource" class=" all-space">
          <form name="reassign_form" class="form-horizontal">
            <% if booking.booking_item_reference %>
            <div>
              <div>Recurso actual: <span id="original_resource"></span></div>
            </div>
            <div>
              <div>Recurso nuevo:  <span id="resource"></span></div>
            </div>
            <% else %>
              <div>
                <div>Recurso:  <span id="resource"></span></div>
              </div>
            <% end %>
            <br>
            <div>
              <input type="hidden" name="id" value="<%=booking.id2%>"/>
              <input type="hidden" name="origin" value="<%=booking.origin%>">
              <input type="hidden" name="resource"/>
              <button id="reassign_button" type="button" class="btn btn-sm btn-primary"><% if booking.booking_item_reference %>Reasignar<%else%>Asignar<%end%></button>
              <button id="cancel_select_resource_button" type="button" class="btn btn-sm btn-danger">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>