      <h3 class="guiblock-title"><%=t.booking.price%></h3>
      <div class="table-container">
        <table class="table" style="background:none">
          <thead class="table-header-title" style="background:none">
            <tr class="table-row" style="background:none">
              <th><%=t.booking.concept%></th>
              <th><%=t.booking.amount%>Cantidad</th>
              <th><%=t.booking.days_literal%></th>
              <th><%=t.booking.price%></th>
            </tr>
          </thead>
          <tbody class="table-tbody">
            <tr class="table-row" style="background:none">
              <td class="table-cell"><%= booking.item_description %> <% if booking.optional %> <%="(#{booking.optional})"%> <% end %> </td>
              <td class="table-cell"><%= booking.quantity %> </td>
              <td class="table-cell"><%= booking.days %> </td>
              <td class="table-cell"><%= "%.2f" % booking.item_cost %> € </td>
            </tr>
            <% booking.booking_extras.each do |booking_extra| %>
              <tr class="table-row" style="background:none">
                <td class="table-cell"><%= booking_extra.extra_description %></td>
                <td class="table-cell"><%=booking_extra.quantity %></td>
                <td class="table-cell"><%= booking.days %> </td>
                <td class="table-cell"><%= "%.2f" % booking_extra.extra_cost %> €</td>
              </tr>
            <% end %>
            <tr class="table-row" style="font-weight:bold; background: none">
              <td class="table-cell"><%= t.booking.total %></td>
              <td class="table-cell"></td>
              <td class="table-cell"></td>
              <td class="table-cell"><%= "%.2f" % booking.total_cost %> € </td>
            </tr>
          </tbody>      
        </table>
      </div>
