      <div class="container_12">
        <div class="grid_6">
            <div class="element_template">
              <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.free_access_id %></span>
               <% if ((defined?MY_BOOKING_FRONTEND) && (MY_BOOKING_FRONTEND == '3.0')) || (!defined?MY_BOOKING_FRONTEND) %>
               <span class="entity-fieldvalue">
                  <a href="/p/mybooking/<%%=entity.free_access_id%>" target="_blank">
                     /p/mybooking/<%%=entity.free_access_id%></a>
               </span>
               <% else %>
               <span class="entity-fieldvalue">
                  <a href="<%=booking_front_end_prefix%>/reserva/<%%=entity.free_access_id%>" target="_blank">
                     <%=booking_front_end_prefix%>/reserva/<%%=entity.free_access_id%></a>
               </span>
               <% end %>
              </div>
            </div>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.source %></span>
                <span class="entity-fieldvalue"><%%= entity.source %></span>
              </div>
            </div> 
            <%% if (entity.promotion_code != null) { %> 
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.promotion_code %></span>
                <span class="entity-fieldvalue"><%%= entity.promotion_code %></span>
              </div>
            </div>             
            <%% } %>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.created_by_manager %></span>
                <span class="entity-fieldvalue"><%%= entity.created_by_manager ? '<%= t.booking_management.form.yes_created_by_manager %>' : '<%= t.booking_management.form.no_created_by_manager %>' %></span>
              </div>
            </div>             
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.user_agent_browser %></span>
                <span class="entity-fieldvalue"><%%= entity.user_agent_browser %></span>
              </div>
            </div> 
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.user_agent_version %></span>
                <span class="entity-fieldvalue"><%%= entity.user_agent_version %></span>
              </div>
            </div>    
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.user_agent_os %></span>
                <span class="entity-fieldvalue"><%%= entity.user_agent_platform %></span>
              </div>
            </div>
        </div>
        <div class="grid_6">
          <form name="additional_data" style="border:1px solid #EEE">
            <input type="hidden" name="id" value="<%%=entity.id%>"/>

            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.external_invoice_number %></span>
                <span class="entity-fieldvalue">
                       <input type="text" maxlength="40" size="25" name="external_invoice_number" id="external_invoice_number"
                              value="<%%=entity.external_invoice_number%>"/>
                </span>
              </div>
            </div>

            <div class="navigation-bar bottom-margin">
              <div class="navigation-bar-crud-buttons right-float right-margin">
                <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
              </div>
            </div>
          </form>
        </div>
      </div>