      <h3 class="guiblock-title"><%=t.booking.summary%></h3>
      <div class="left-space left-margin">
          <div class="clearfix">
            <img class="grid_2 left-float right-margin" src="<%="/img/clase-#{booking.item_id}.png"%>"/>
            <div class="prefix_2 left-margin">
               <div class="bottom-margin bottom-separator"><span class="smaller_text"><%=booking.item_description%></span> <span class="less_contrast_text smaller_text">(<%=l(booking.date_from,'%d %b %Y')%> -  <%=l(booking.date_to,'%d %b %Y')%>)</span></div>
            </div>
            <div class="prefix_2 left-margin">
              <div class="inline_view_div_element">
                 <div class="smaller_text centered_text less_contrast_text"><%=t.booking.arrival%></div>
                 <div class=""><%= l(booking.date_from, "%^b %d") %></div>
                 <div class="smaller_text centered_text less_contrast_text"><%= l(booking.date_from, "%a")%></div>
              </div>
              <div class="inline_view_div_element centered_text right-space left-space">
                 <div></div>
                 <div><span aria-hidden="true" data-icon="&#xe071;"></span></div>
                 <div><span class="smaller_text less_contrast_text"><%=t.booking.days(booking.days)%></span></div>
              </div>
              <div class="inline_view_div_element">
                 <div class="smaller_text centered_text less_contrast_text"><%=t.booking.departure%></div>
                 <div class=""><%= l(booking.date_to, "%^b %d") %></div>
                 <div class="smaller_text centered_text less_contrast_text"><%= l(booking.date_to, "%a")%></div>
              </div>
            </div>
          </div>
          <div class="clearfix top-margin">
            <div class="smaller_text less_contrast_text bottom-separator bottom-margin">Cliente</div>
            <div class="item_properties_attributes smaller_text">
              <div class="item_properties_attribute bottom-margin">
                <span class="item_properties_attribute_name left_text">
                  <span data-icon="&#xe00c;"></span><span class="left-margin"><%= booking.customer_name %> <%= booking.customer_surname%></span>
                </span>
                <span class="item_properties_attribute_value left_text">
                  <div><%= booking.customer_email %></div>
                  <% if booking.customer_notification_sent %>
                    <div class="smaller_text info"><%=t.booking.customer_notified%></div>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
      </div>
