                    <%% if (entity.status == 'pending_confirmation') { %>
                    <button class="btn btn-danger element-action-button" id="cancel_booking_button"
                      title="<%=t.booking_management.form.cancel_button.label%>" 
                      data-action-method="POST"
                      data-action-url="/api/booking/cancel/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.cancel_button.message%>">
                      <span class="fa fa-trash"></span>&nbsp;<%=t.booking_management.form.cancel_button.label%>
                    </button>                      
                    <button class="btn btn-success element-action-button" id="confirm_booking_button"
                      title="<%=t.booking_management.form.confirm_button.label%>"
                      data-action-method="POST"
                      data-action-url="/api/booking/confirm/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.confirm_button.message%>">
                      <span class="fa fa-check-square-o"></span>&nbsp;<%=t.booking_management.form.confirm_button.label%>
                    </button>                          
                   <%% } %>
                   <%% if (entity.status == 'confirmed') {  %>                    
                   <button class="btn btn-danger element-action-button" id="cancel_booking_button"
                      title="<%=t.booking_management.form.cancel_button.label%>" 
                      data-action-method="POST"
                      data-action-url="/api/booking/cancel/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.cancel_button.message%>">
                     <span class="fa fa-trash"></span>&nbsp; <%=t.booking_management.form.cancel_button.label%>
                   </button>                     
                   <button class="btn btn-primary element-action-button" id="pickup_booking_button"
                      title="<%=t.booking_management.form.pickup_button.label%>" 
                      data-action-method="POST"
                      data-action-url="/api/booking/pickup/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.pickup_button.message%>">
                    <span class="fa fa-mail-forward"></span>&nbsp;<%=t.booking_management.form.pickup_button.label%>
                   </button>                   
                   <%%  } %>
                   <%% if (entity.status == 'in_progress') { %>
                   <button class="btn btn-primary element-action-button" id="return_booking_button"
                      title="<%=t.booking_management.form.return_button.label%>"
                      data-action-method="POST"
                      data-action-url="/api/booking/return/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.return_button.message%>">
                      <span class="fa fa-handshake-o"></span>&nbsp;<%=t.booking_management.form.return_button.label%>
                   </button>
                   <%% }%>