<div>
  <% if @activities.empty? %>
    <div class="all-border-solid-light top-margin-1line">
         <p class="no-data-message"><%= t.entitymanagement.no_data %></p>
    </div>
  <% else %>
    <% last_date = nil %>
    <% last_activity = nil %>
    <% last_activity_capacity = nil %>
    <% last_time = nil %>
    <% summary = {} %>
    <% paid = 0 %>
 
    <% @activities.each do |activity| %>  
      <% if last_date != activity.date or last_activity != activity.item_id or 
            last_time != activity.time %>
        <% unless last_date.nil? %>  
            <%= partial :booking_activities_summary_total, locals: {summary: summary, last_activity_capacity: last_activity_capacity, paid: paid} %>        
            </tbody>
          </table>
        <% end %>
        <% if last_date != activity.date %>     
          <h3 class="guiblock"><%=activity.date.strftime('%d-%m-%Y')%></h3>
        <% end %> 
        <% if last_date != activity.date or last_activity != activity.item_id %>
          <h4 class="bottom-border-solid"><%=activity.item_description%> <span class="less_contrast_text smaller_text">(<%=activity.item_id%>)</span></h4>
        <% end %>
        <h5 class="top-margin-1line bottom-margin-1line less_contrast_text highlight_block" style="font-size:1em">Horario: <%=activity.time%></h5>
        <table id="table" class="table">
          <thead class="table-header">
            <tr>
              <th class="table-cell left_text" scope="col" style="width:100px">Localizador</th>
              <th class="table-cell left_text" scope="col" style="width:150px">Cliente</th>
              <th class="table-cell left_text" scope="col" style="width:80px">Teléfono</th>
              <th class="table-cell left_text" scope="col" style="width:120px">Email</th>
              <th class="table-cell left_text" scope="col" style="width:140px">Tipo</th>
              <th class="table-cell left_text" scope="col" style="width:60px">Precio</th>
              <th class="table-cell left_text" scope="col" style="width:60px">Total</th>
              <th class="table-cell left_text" scope="col" style="width:120px">Notas</th>
            </tr>
          </thead>
          <tbody>   
          <% summary.clear %>   
          <% paid = 0%>
      <% end %>       
      <tr class="table-row">
        <td class="table-cell <%if activity.status.to_sym == :pending_confirmation%>less_contrast_text italic_text<%end%>"><a href="/admin/order/orders/<%=activity.order_id%>"><%=activity.order_id%></a></td>
        <td class="table-cell <%if activity.status.to_sym == :pending_confirmation%>less_contrast_text italic_text<%end%>"><%=activity.customer_name%> <%=activity.customer_surname%></td>
        <td class="table-cell <%if activity.status.to_sym == :pending_confirmation%>less_contrast_text italic_text<%end%>"><%=activity.customer_phone%> </td>
        <td class="table-cell <%if activity.status.to_sym == :pending_confirmation%>less_contrast_text italic_text<%end%>"><%=activity.customer_email%></td>
        <td class="table-cell <%if activity.status.to_sym == :pending_confirmation%>less_contrast_text italic_text<%end%>"><%=activity.quantity%> x <%=activity.item_price_description%></td>
        <td class="table-cell <%if activity.status.to_sym == :pending_confirmation%>less_contrast_text italic_text<%end%>"><%="%.2f" % activity.item_unit_cost%></td>
        <td class="table-cell <%if activity.status.to_sym == :pending_confirmation%>less_contrast_text italic_text<%end%>"><%="%.2f" % activity.item_cost%></td>
        <td class="table-cell <%if activity.status.to_sym == :pending_confirmation%>less_contrast_text italic_text<%end%>">
            <% notes = '' %>
            <% notes << "Comentarios:#{activity.comments}" if activity.comments and !activity.comments.nil? and !activity.comments.empty? %>
            <% notes << "Notas:#{activity.notes}" if activity.notes and !activity.notes.nil? and !activity.notes.empty? %>
            <% notes << "Recogida:#{activity.customers_pickup_place}" if activity.customers_pickup_place and !activity.customers_pickup_place.empty? %>
            <%=notes%>
      </tr>
      <% last_date = activity.date %>
      <% last_activity = activity.item_id %>
      <% last_time = activity.time %>
      <% last_activity_capacity = activity.capacity %>
      <% paid += activity.item_cost if activity.status.to_sym == :confirmed%>
      <% if summary.has_key?(activity.item_price_description)
           if summary[activity.item_price_description].has_key?(activity.status.to_sym)
             summary[activity.item_price_description][activity.status.to_sym] += activity.quantity
           else
             summary[activity.item_price_description].store(activity.status.to_sym, activity.quantity)
           end
         else 
           summary.store(activity.item_price_description, {activity.status.to_sym => activity.quantity}) if [:pending_confirmation, :confirmed].include?(activity.status.to_sym)
         end %>
    <% end %>

    <%= partial :booking_activities_summary_total, locals: {summary: summary, last_activity_capacity: last_activity_capacity, paid: paid} %>        
          </tbody>
        </table>
  <% end %>
  <div class="guiblock">En gris y cursiva se muestran las reservas que están pendientes de confirmación</div>
</div> 