                  <div class="text-center" style="min-height:174px">
                    <%% if (entity.status != 'cancelled') { %>
                      <%% var booking_payment_enabled = <%=booking_payment_enabled%>; %>
                      <%% if (!entity.can_pay) { %>
                        <a class="block block-link-hover2" href="javascript:void(0)">
                          <div class="block-content block-content-full bg-city clearfix">
                            <span class="h4 text-white-op"><%=t.booking_management.form.payment_not_allowed%></span>
                          </div>
                        </a>
                        <button class="btn btn-primary element-action-button" id="allow_payment_button"
                                title="<%=t.booking_management.form.allow_payment_button.label%>" 
                                data-action-method="POST"
                                data-action-url="/api/booking/allow-payment/<%%=entity.id%>"
                                data-confirm-message="<%=t.booking_management.form.allow_payment_button.message%>">
                                <%=t.booking_management.form.allow_payment_button.label%>
                        </button>
                      <%% } else { %>
                        <a class="block block-link-hover2" href="javascript:void(0)">
                          <div class="block-content block-content-full bg-flat clearfix">
                            <span class="h4 text-white-op"><%=t.booking_management.form.force_allow_payment%></span>
                          </div>
                        </a>
                        <%% if (entity.force_allow_payment) { %>
                        <button class="btn btn-danger element-action-button" id="not_allow_payment_button"
                                title="<%=t.booking_management.form.not_allow_payment_button.label%>" 
                                data-action-method="POST"
                                data-action-url="/api/booking/not-allow-payment/<%%=entity.id%>"
                                data-confirm-message="<%=t.booking_management.form.not_allow_payment_button.message%>">
                                <%=t.booking_management.form.not_allow_payment_button.label%>
                        </button>
                        <%% } %>
                      <%% } %>  
                    <%% } %>  
                  </div> 
