<!-- Add new booking line -->
<script type="text/tmpl" id="new_booking_line_script">
  <form name="new_booking_line" class="all-space" style="background: white; min-width: 300px">
    <input type="hidden" name="booking_id" value="<%%=entity.id%>"/>
    <div class="formrow">
      <label class="fieldtitle">Producto</label>
      <select name="item_id" id="new_booking_line_item_id" class="fieldcontrol"></select>
    </div>
    <div class="formrow">
      <label class="fieldtitle">Cantidad</label>
      <input type="text" name="quantity" class="fieldcontrol" maxlength="5"/>
    </div>
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="create_booking_line_button" type="button" class="form-button green-button" value="<%=t.entitymanagement.create%>"/>
      </div>
    </div>     
  </form>
</script>

<!-- Add new extra -->
<script type="text/tmpl" id="new_booking_extra_script">
  <form name="new_booking_extra" class="all-space" style="background: white; min-width: 300px">
    <input type="hidden" name="booking_id" value="<%%=entity.id%>"/>
    <div class="formrow">
      <label class="fieldtitle">Extra</label>
      <select name="extra_id" id="new_booking_extra_extra_id" class="fieldcontrol"></select>
    </div>
    <div class="formrow">
      <label class="fieldtitle">Cantidad</label>
      <input type="text" name="quantity" class="fieldcontrol" maxlength="5"/>
    </div>
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="create_booking_extra_button" type="button" class="form-button green-button" value="<%=t.entitymanagement.create%>"/>
      </div>
    </div>     
  </form>
</script>

<!-- Edit booking line item id -->
<script type="text/tmpl" id="edit_booking_line_item_id_script">
  <div id="edit_booking_line_item_id_warning" class="alert alert-danger" style="display: none">
    <p>Recuerde que estos momentos no hay disponibilidad suficiente</p>
  </div>
  <form name="update_booking_line_item_id" class="form-horizontal">
    <input type="hidden" name="booking_line_id" value="<%%=booking_line_id%>"/>
    <div class="form-group">
      <label class="col-lg-12"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[booking_item_family.business_type.to_s]['category']%></label>
      <div class="col-lg-10">
        <select name="item_id" id="edit_booking_line_item_id" class="form-control"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-12">Precio</label>
      <div class="col-lg-10">
        <select name="price_modification" class="form-control">
          <option value="hold">Mantener el precio</option>
          <option value="update">Actualizar el precio</option>
        </select>
      </div>
    </div>
    <% if booking_item_family.category_of_resources? %>
    <div class="form-group">
      <label class="col-lg-12"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[booking_item_family.business_type.to_s]['product']%></label>
      <div class="col-lg-10">
        <select name="stock_assignation" class="form-control">
          <option value="hold">Mantener la asignación actual</option>
          <option value="update">Reasignar o dejar en blanco si no hay disponibilidad</option>
        </select>
      </div>
    </div>
    <% end %>
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="edit_booking_line_item_id_button" type="button" class="form-button blue-button" value="<%=t.entitymanagement.update%>"/>
      </div>
    </div>     
  </form>
</script>

<!-- Edit booking line item quantity -->
<script type="text/tmpl" id="edit_booking_line_quantity_script">
  <form name="update_booking_line_quantity" class="all-space" style="background: white; min-width: 300px">
    <input type="hidden" name="booking_line_id" value="<%%=booking_line_id%>"/>
    <div class="formrow">
      <label class="fieldtitle">Cantidad</label>
      <input type="text" name="quantity" class="fieldcontrol" maxlength="5" value="<%%=quantity%>"/>
    </div>
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="edit_booking_line_quantity_button" type="button" class="form-button blue-button" value="<%=t.entitymanagement.update%>"/>
      </div>
    </div>     
  </form>
</script>

<!-- Edit booline line item cost -->
<script type="text/tmpl" id="edit_booking_line_item_cost_script">
  <form name="update_booking_line_item_cost" class="all-space" style="background: white; min-width: 300px">
    <input type="hidden" name="booking_line_id" value="<%%=booking_line_id%>"/>
    <div class="formrow">
      <label class="fieldtitle">Coste unitario (todos los días)</label>
      <input type="text" name="item_unit_cost" class="fieldcontrol" maxlength="10" value="<%%=item_unit_cost%>"/>
    </div>
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="edit_booking_item_cost_button" type="button" class="form-button blue-button" value="<%=t.entitymanagement.update%>"/>
      </div>
    </div>     
  </form>
</script>

<!-- Edit booline line item deposit cost -->

<script type="text/tmpl" id="edit_booking_line_deposit_cost_script">
  <form name="update_booking_line_deposit_cost" class="all-space" style="background: white; min-width: 300px">
    <input type="hidden" name="booking_line_id" value="<%%=booking_line_id%>"/>
    <div class="formrow">
      <label class="fieldtitle">Fianza</label>
      <input type="text" name="item_deposit" class="fieldcontrol" maxlength="10" value="<%%=item_deposit%>"/>
    </div>
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="edit_booking_item_deposit_button" type="button" class="form-button blue-button" value="<%=t.entitymanagement.update%>"/>
      </div>
    </div>     
  </form>
</script>

<!-- Edit booking line suplements -->
<script type="text/tmpl" id="edit_booking_line_supplements_script">
  <form name="edit_booking_line_supplements" 
        class="all-space" style="background: white; min-width: 300px">
    <input type="hidden" name="booking_line_id" value="<%%=booking_line_id%>"/>
    <% if booking_item_family.category_supplement_1 %>
    <div class="formrow">
      <label class="fieldtitle"><label class="col-md-3 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[booking_item_family.business_type.to_s]['category_supplement_1'] %></label></label>
      <input type="text" name="category_supplement_1_unit_cost" class="fieldcontrol" maxlength="10" value="<%%=new Number(category_supplement_1_unit_cost).toFixed(2)%>"/>
    </div>
    <% end %>
    <% if booking_item_family.category_supplement_2 %>
    <div class="formrow">
      <label class="fieldtitle"><label class="col-md-3 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[booking_item_family.business_type.to_s]['category_supplement_2'] %></label></label>
      <input type="text" name="category_supplement_2_unit_cost" class="fieldcontrol" maxlength="10" value="<%%=new Number(category_supplement_2_unit_cost).toFixed(2)%>"/>
    </div>
    <% end %>
    <% if booking_item_family.category_supplement_3 %>
    <div class="formrow">
      <label class="fieldtitle"><label class="col-md-3 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[booking_item_family.business_type.to_s]['category_supplement_3'] %></label></label>
      <input type="text" name="category_supplement_3_unit_cost" class="fieldcontrol" maxlength="10" value="<%%=new Number(category_supplement_3_unit_cost).toFixed(2)%>"/>
    </div>
    <% end %>        
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="update_booking_item_supplements_button" type="button" class="form-button blue-button" value="<%=t.entitymanagement.update%>"/>
      </div>
    </div>     
  </form>
</script>

<!-- Edit extra quantity -->
<script type="text/tmpl" id="edit_booking_extra_quantity_script">
  <form name="update_booking_extra_quantity" class="all-space" style="background: white; min-width: 300px">
    <input type="hidden" name="booking_extra_id" value="<%%=booking_extra_id%>"/>
    <div class="formrow">
      <label class="fieldtitle">Cantidad</label>
      <input type="text" name="quantity" class="fieldcontrol" maxlength="5" value="<%%=quantity%>"/>
    </div>
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="edit_booking_extra_quantity_button" type="button" class="form-button blue-button" value="<%=t.entitymanagement.update%>"/>
      </div>
    </div>     
  </form>
</script>

<!-- Edit extra item -->
<script type="text/tmpl" id="edit_booking_extra_item_cost_script">
  <form name="update_booking_extra_item_cost" class="all-space" style="background: white; min-width: 300px">
    <input type="hidden" name="booking_extra_id" value="<%%=booking_extra_id%>"/>
    <div class="formrow">
      <label class="fieldtitle">Coste unitario (todos los días)</label>
      <input type="text" name="extra_unit_cost" class="fieldcontrol" maxlength="10" value="<%%=extra_unit_cost%>"/>
    </div>
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="edit_booking_extra_cost_button" type="button" class="form-button blue-button" value="<%=t.entitymanagement.update%>"/>
      </div>
    </div>     
  </form>
</script>

<!-- Edit booking deposits -->
<script type="text/tmpl" id="edit_booking_deposits_script">
  <form name="edit_booking_deposits" class="all-space" style="background: white; min-width: 300px">
    <input type="hidden" name="booking_id" value="<%%=entity.id%>"/>
    <div class="formrow">
      <label class="fieldtitle">Fianza de los productos</label>
      <input type="text" name="product_deposit_cost" class="fieldcontrol" maxlength="10" readonly style="background: #EEE" value="<%%=new Number(entity.product_deposit_cost).toFixed(2)%>"/>
    </div>
    <% if booking_item_family.driver and driver_min_age_rules%>
    <div class="formrow">
      <label class="fieldtitle">Fianza por edad del conductor y años de carnet</label>
      <input type="text" name="driver_age_deposit" class="fieldcontrol" maxlength="10"
             <%% if (entity.product_deposit_cost > 0 && !entity.driver_age_rule_apply_if_prod_deposit) { %>readonly style="background:#EEE"<%% } %>
             value="<%%=new Number(entity.driver_age_deposit).toFixed(2)%>"/>
    </div>
    <% end %>
    <%% if (entity.product_deposit_cost == 0 || entity.driver_age_rule_apply_if_prod_deposit) { %>
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="update_booking_deposit_button" type="button" class="form-button blue-button" value="<%=t.entitymanagement.update%>"/>
      </div>
    </div>
    <%% } %>
  </form>
</script>

<!-- Edit booking suplements -->
<script type="text/tmpl" id="edit_booking_supplements_script">
  <form name="edit_booking_supplements" class="all-space" style="background: white; min-width: 300px">
    <input type="hidden" name="booking_id" value="<%%=entity.id%>"/>
    <div class="formrow">
      <label class="fieldtitle">Entrega fuera horas</label>
      <input type="text" name="time_from_cost" class="fieldcontrol" maxlength="10" value="<%%=new Number(entity.time_from_cost).toFixed(2)%>"/>
    </div>
    <div class="formrow">
      <label class="fieldtitle">Devolución fuera horas</label>
      <input type="text" name="time_to_cost" class="fieldcontrol" maxlength="10" value="<%%=new Number(entity.time_to_cost).toFixed(2)%>"/>
    </div>
    <div class="formrow">
      <label class="fieldtitle">Lugar de entrega</label>
      <input type="text" name="pickup_place_cost" class="fieldcontrol" maxlength="10" value="<%%=new Number(entity.pickup_place_cost).toFixed(2)%>"/>
    </div>
    <div class="formrow">
      <label class="fieldtitle">Lugar de devolución</label>
      <input type="text" name="return_place_cost" class="fieldcontrol" maxlength="10" value="<%%=new Number(entity.return_place_cost).toFixed(2)%>"/>
    </div>
    <% if booking_item_family.driver %>
    <div class="formrow">
      <label class="fieldtitle">Edad del conductor y años de carnet</label>
      <input type="text" name="driver_age_cost" class="fieldcontrol" maxlength="10" value="<%%=new Number(entity.driver_age_cost).toFixed(2)%>"/>
    </div>
    <% end %>
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="update_booking_supplements_button" type="button" class="form-button blue-button" value="<%=t.entitymanagement.update%>"/>
      </div>
    </div>     
  </form>
</script>

<!-- Resource detail -->
<script type="text/tmpl" id="booking_line_resource_detail_script">
  <form name="update_booking_line_resource" class="all-space" style="background: white; min-width: 500px">
    <div class="smaller_text highlight_block" style="max-width: 500px">
      <p>Actualice esta información sólo en el caso que desee imprimir el contrato y los datos no correspondan.</p>
      <p>Recuerde que para cambiar el recurso asignado dispone del <b>asistente de asignación de stock</b></p>
    </div>
    <input type="hidden" name="id" value="<%%=entity.id%>"/>  
    <div class="container_12">
      <div class="grid_6">
        <div class="formrow">
          <label class="fieldtitle">Categoría (producto)</label>
          <input type="text" name="booking_item_category" class="fieldcontrol" readonly="readonly" maxlength="20" value="<%%=entity.booking_item_category%>"
          style="background-color:#DDD"/>
        </div>
        <div class="formrow">
          <label class="fieldtitle">Referencia (stock)</label>
          <input type="text" name="booking_item_reference" class="fieldcontrol" readonly="readonly" maxlength="50" value="<%%=entity.booking_item_reference%>"
          style="background-color:#DDD"/>
        </div>   
        <div class="formrow">
          <label class="fieldtitle">Modelo</label>
          <input type="text" name="booking_item_stock_model" class="fieldcontrol" maxlength="80" value="<%%=entity.booking_item_stock_model%>"/> 
        </div>  
        <div class="formrow">
          <label class="fieldtitle">Matrícula (identificador)</label>
          <input type="text" name="booking_item_stock_plate" class="fieldcontrol" maxlength="80" value="<%%=entity.booking_item_stock_plate%>"/> 
        </div>
        <% if booking_item_family.driver %>
        <div class="formrow">
          <label class="fieldtitle">Km entrega</label>
          <input type="text" name="km_miles_on_pickup" class="fieldcontrol" maxlength="80" value="<%%=entity.km_miles_on_pickup%>"/>
        </div>
        <% end %>
      </div>
      <div class="grid_6">
        <div class="left-margin">
          <div class="formrow">
            <label class="fieldtitle">Característica 1</label>
            <input type="text" name="booking_item_characteristic_1" class="fieldcontrol" maxlength="80" value="<%%=entity.booking_item_characteristic_1%>"/> 
          </div>
          <div class="formrow">
            <label class="fieldtitle">Característica 2</label>
            <input type="text" name="booking_item_characteristic_2" class="fieldcontrol" maxlength="80" value="<%%=entity.booking_item_characteristic_2%>"/> 
          </div>
          <div class="formrow">
            <label class="fieldtitle">Característica 3</label>
            <input type="text" name="booking_item_characteristic_3" class="fieldcontrol" maxlength="80" value="<%%=entity.booking_item_characteristic_3%>"/> 
          </div>
          <div class="formrow">
            <label class="fieldtitle">Característica 4</label>
            <input type="text" name="booking_item_characteristic_4" class="fieldcontrol" maxlength="80" value="<%%=entity.booking_item_characteristic_4%>"/> 
          </div>
          <% if booking_item_family.driver %>
          <div class="formrow">
            <label class="fieldtitle">Km devolución</label>
            <input type="text" name="km_miles_on_return" class="fieldcontrol" maxlength="80" value="<%%=entity.km_miles_on_return%>"/>
          </div>
          <% end %>
        </div>                                      
      </div>
    </div>
    <div class="container_12">
      <div class="grid_12">
        <div class="navigation-bar bottom-margin">
          <div class="navigation-bar-crud-buttons right-float">
             <input id="update_booking_line_resource_button" type="button" class="form-button blue-button" value="<%=t.entitymanagement.update%>"/>
          </div>
        </div> 
      </div>
    </div>
  </form>
</script>
<!-- New invoice -->
<% if @addon_invoicing %>
<script type="text/tmpl" id="new_invoice_script">
  <form name="new_invoice_form" class="all-space" style="background: white; min-width: 300px">
    <div class="formrow">
      <label class="fieldtitle">Fecha</label>
      <input type="text" name="date" id="new_invoice_date" class="fieldcontrol"/>
    </div>
    <div class="formrow">
      <label class="fieldtitle">Concepto factura</label>
      <input type="text" name="concept" id="new_invoice_concept" class="fieldcontrol" value="Factura reserva #<%%=entity.id%>"/>
    </div>
    <hr>
    <div class="formrow">
      <label class="fieldtitle">Concepto línea factura</label>
      <input type="text" name="item_concept" id="new_invoice_item_concept" class="fieldcontrol" value="Alquiler reserva #<%%=entity.id%>"/>
    </div>    
    <div class="formrow">
      <label class="fieldtitle">Tipo de impuestos</label>
      <select name="vat_type" id="new_invoice_vat_type" class="fieldcontrol">
        <% @taxes.vat_types.each do |key, value| %>
          <option value="<%=key%>"><%=value%></option>
        <% end %>
      </select>
    </div>
    <div class="formrow">
      <label class="fieldtitle">Importe</label>
      <input type="text" name="price_without_taxes" id="new_invoice_price_without_taxes" class="fieldcontrol" value="<%%=new Number(entity.total_cost / 1.21).toFixed(2)%>"/>
    </div>
    <div class="navigation-bar bottom-margin">
      <div class="navigation-bar-crud-buttons right-float">
        <input id="create_invoice_button" type="button" class="form-button green-button" value="<%=t.entitymanagement.create%>"/>
      </div>
    </div>     
  </form>
</script>
<% end %>