<style type="text/css">

  #parent {
    position: relative;
  }

  .popover {
    width: 350px;
  }

  .popover-title {
    text-align: center;
  }

  #planning_table_header {
    width: 1000px;
    table-layout: fixed;
    position :fixed;
    font-size: 0.9em;
    left: 244px;
    top: 150px;
    right: 0;
    z-index:1000;
  }

  #planning_table {
    width: 1000px;
    table-layout: fixed;
    position: relative;
    <% if @planning_style == 'extended' %>
    top: 123px;
    <% else %>
    top: 151px;
    <% end %>
    left: 16px; /* 1px */
    z-index: 10;
  }

  @media screen and (min-width: 992px) {
    #planning_table_header {
      left: 244px;
    }
    .sidebar-mini #planning_table_header {
      left: 74px;
    }
  }

  @media screen and (max-width: 991px) {
    #planning_table_header {
      left: 14px;
    }
  }

  .planning_reference {
    font-weight: 600;
    color: #0a535e;
    background: #eeeeee;
    <% if @planning_style == 'extended' %>
    font-size: 11px;
    <% else %>
    text-align: center;
    <% end %>
  }

  .planning_item_category {
    font-weight: 400;
    font-size: smaller;
    display: block;
    line-height: 12px;
  }

  .planning_header_day_of_week {
    font-weight: 400;
    display: block;
    line-height: 12px;
    <% if @planning_style == 'extended' %>
      display: none;
    <% end %>
  }

  .planning_header_day {
    <% if @planning_style == 'extended' %>
    font-size: 11px;
    font-weight: 400;
    font-family: monospace;
    <% else %>
    font-size: 20px;
    position: relative;
    top: 5px;
    font-weight: 600;
    <% end %>
    display: block;
  }

  .planning_header_month {
    <% if @planning_style == 'extended' %>
    font-size: 8px;
    text-align: center;
    font-weight: 400;
    font-family: monospace;
    <% else %>
    font-size: 1em;
    position: relative;
    top: 5px;
    font-weight: 600;
    <% end %>
    line-height: 12px;
    display: block;
  }

  .date_header {
    border: 1px solid #cccccc;
  }

  .planning_reservation {
    z-index: 999;
  }

  #planning_table .data.filled {
    cursor: hand;
    cursor: pointer;
  }

  #planning_table tr:first th, #planning_table_header tr:first th  {
  	background: #EEE;
  }

  #planning_table th, #planning_table_header th {
    background: #EEE;
    padding: 10px 2px;
    font-size: 0.90em;
  } 

  #planning_table td, #planning_table_header td {
  	border: 1px solid #DDD;
  	padding: 5px 2px;
  }

  #planning_table .data {
  	text-align: center;
  }

  .date_control {
    z-index: 100000 !important;
  }

  .highlight {
    background-color:#ffa;
  }


</style>

<div class="row">
  <div id="col-xs-12 col-md-12 col-lg-12">
    <div id="parent">
      <table id="planning_table_header">
        <thead>
        </thead>
      </table>
      <table id="planning_table">
        <tbody>
        </tbody>
      </table>
    </div>
    <!-- Used to allow drag and drop to the end of the table -->
    <div style="height: 100px; margin-bottom: 100px"></div>
  </div>
</div>

<!-- ======================================== -->
<!--            Reservation modal             -->
<!-- ======================================== -->
<div class="modal fade" id="reservation_container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="block-options">
          <li>
            <button id="close_reservation_modal_button" data-dismiss="modal" type="button"><i class="si si-close"></i></button>
          </li>
        </ul>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<!-- ======================================================= -->
<!-- Template that represents a reservation in the planning  -->
<!-- ======================================================= -->
<script type="text/template" id="planning_reservation">
  <div id="<%%=origin%><%%=id%>"
                     data-origin="<%%=origin%>"
                     data-id="<%%=id%>"
                     data-category="<%%=category%>"
                     data-requested-category="<%%=requestedCategory%>"
                     data-date-from="<%%=dateFrom%>" data-time-from="<%%=timeFrom%>"
                     data-date-to="<%%=dateTo%>" data-time-to="<%%=timeTo%>"
                     data-resource="<%%=resource%>"
                     data-id-resource="<%%=idResource%>"
                     data-booking-title="<%%=booking_title%>"
                     data-planning-color="<%%=backgroundColor%>"
                     data-detail="<%%=detail%>"
                     data-notes="<%%=notes%>"
                     class="planning_reservation"
                     style="<%=@planning_style=='compact' ? 'padding: 5px;' : 'padding:2px; font-size: 10px;'%>display: inline-block; position: absolute; border: 1px solid; border-color: <%%=borderColor%>; color: <%%=color%>; background-color: <%%=backgroundColor%>; overflow:hidden; opacity: 0.8"
 >
    <span style="white-space: nowrap; overflow: hidden; padding-right: 2px"
          title="<%%=dateFrom%> <% if @product_family.time_to_from %><%%=timeFrom%><%end%> - <%%=dateTo%> <% if @product_family.time_to_from %><%%=timeTo%><%end%>"><%% if (category != requestedCategory) { %><i class="fa fa-exclamation-triangle"></i><%%}%><%% if (notes && notes.length>0){%><i class="fa fa-sticky-note-o"></i><%%}%> #<%%=id%> - <%%= booking_title %></span>
  </div>
</script>

<!-- ======================================================== -->
<!-- Template that represents a reservation detail (pullover) -->
<!-- ======================================================== -->
<script type="text/template" id="planning_reservation_detail">

  <div class="block">
    <div class="block-content block-content-full">
      <div class="row">
        <div class="col-sm-12">
          <div class="push-5">
            <%% if (booking.origin == 'booking') { %>
                #<a href="/admin/booking/bookings/<%%=booking.id%>"><%%=booking.id%></a> <%%=booking.title%>
            <%% } else { %>
            <%% if (booking.origin == 'prereservation') {%>
                #<%%=booking.id%> <%%=booking.title%>
            <%% } %>
            <%% } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="push-5">
            <%%=booking.category%> <%% if (booking.category != booking.requestedCategory) {%> (<%%=booking.requestedCategory%>)<%%}%>
          </div>
        </div>
      </div>
      <%% if (booking.notes && !booking.notes.length == 0) {%>
      <div class="row">
        <div class="col-sm-12">
          <div class="push-5">
            <%%=booking.notes%>
          </div>
        </div>
      </div>
      <%% } %>
      <div class="row" style="font-size:12px">
        <div class="col-sm-12">
          <div class="push-5">
            <%if @product_family.height or @product_family.weight%><%%=booking.detail%><%end%>
          </div>
          <% if @product_family.time_to_from %>
              <div class="push-5">
                <i class="fa fa-calendar-o"></i>&nbsp;<%%=booking.date_from%> <%if @product_family.time_to_from%><%%=booking.time_from%><%end%>
              </div>
              <div class="push-5">
                <i class="fa fa-calendar-check-o"></i>&nbsp;<%%=booking.date_to%> <%if @product_family.time_to_from%><%%=booking.time_to%><%end%>
              </div>
          <% else %>
              <div class="push-5">
                <i class="fa fa-calendar-o"></i>&nbsp;<%%=booking.date_from%>&nbsp;&nbsp;&nbsp;
                <i class="fa fa-calendar-check-o"></i>&nbsp;<%%=booking.date_to%>
              </div>
          <% end %>
          <form name="color" style="display: inline-block; position: relative; top: 3px">
            <input type="hidden" name="id" value="<%%=booking.id%>"/>
            <input type="hidden" name="type" value="<%%=booking.origin%>"/>
            <input type="color" name="planning_color" class="color" value="<%%=booking.planning_color%>" style="width:32px; height: 32px"/>
          </form>
        </div>
      </div>
      <% if @product_family.multiple_items? %>
        <%% if (booking.origin == 'booking') { %>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-primary modify_reservation_button" rel="<%%=booking.id%>">Editar</button>
          </div>
        </div>
        <%% } else if (booking.origin == 'prereservation') {%>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-primary modify_prereservation_button" rel="<%%=booking.id%>">Editar</button>
            <button type="button" class="destroy_prereservation_button btn btn-danger" rel="<%%=booking.id2%>">Eliminar</button>
          </div>
        </div>
        <%% } %>
      <% else %>
        <%% if (booking.origin == 'booking') { %>
        <br>
        <%% } else if (booking.origin == 'prereservation') {%>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="destroy_prereservation_button btn btn-danger" rel="<%%=booking.id2%>">Eliminar</button>
          </div>
        </div>
        <%% } %>
      <% end %>
    </div>
  </div>
</script>

<!-- ========================================================================================== -->
<!--                            New reservation template                                        -->
<!-- ========================================================================================== -->

<script type="text/tmpl" id="script_new_reservation">
      <div class="js-wizard-validation block">
        <!-- Step Tabs -->
        <ul class="nav nav-tabs nav-tabs-alt nav-justified">
            <li class="active">
                <a class="inactive" href="#validation-step1" data-toggle="tab">1. Fechas</a>
            </li>
            <li>
                <a class="inactive" href="#validation-step2" data-toggle="tab">2. Productos</a>
            </li>
            <% if @booking_item_family and @booking_item_family.multiple_items? %>
            <li>
                <a class="inactive" href="#validation-step3" data-toggle="tab">3. Recursos</a>
            </li>
            <li>
                <a class="inactive" href="#validation-step4" data-toggle="tab"><%% if (action=='booking'){%>4. Cliente<%%}else{%>4. Información<%%}%></a>
            </li>
            <% else %>
            <li>
                <a class="inactive" href="#validation-step3" data-toggle="tab"><%% if (action=='booking'){%>3. Cliente<%%}else{%>4. Información<%%}%></a>
            </li>
            <% end %>
        </ul>
        <!-- END Step Tabs -->

        <!-- Form -->
        <div class="js-form2">
            <!-- Steps Content -->
            <div class="block-content tab-content">
                <!-- Step 1 -->
                <div class="tab-pane fade fade-right in push-30-t push-50 active" id="validation-step1">
                  <form id="reservation" name="reservation" class="form-horizontal push-10-t">

                    <!-- Pickup date -->
                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        <%% if (action=='booking') {%>
                        <%=(@booking_item_family.start_date_literal==:arrival)?(t.new_booking.arrival_date):(t.new_booking.pickup_date)%>
                        <%% } else { %>
                        Inicio
                        <%% } %>
                      </label>
                      <div class="col-sm-3">
                        <input type="text" name="date_from" id="new_reservation_date_from" class="date_control" size="15" maxlength="10"/>
                      </div>
                      <div class="col-sm-2">
                        <% if @booking_item_family.time_to_from %>
                            <input type="text" name="time_from" class="form-control" id="new_reservation_time_from" maxlength="5" size="5"/>
                        <% else %>
                            <input type="hidden" name="time_from" id="new_reservation_time_from"/>
                        <% end %>
                      </div>
                    </div>

                    <!-- Pickup place -->
                    <%% if (action=='booking') {%>
                    <% if @booking_item_family.pickup_return_place %>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">
                            <%=t.new_booking.pickup_place%>
                          </label>
                          <div class="col-sm-8">
                            <% if ['list','list+custom'].include?(@pickup_return_places_configuration) %>
                              <select name="pickup_place" class="form-control" id="new_reservation_pickup_place">
                                 <% @pickup_places.each do |pickup_place| %>
                                   <option value="<%=pickup_place.name.sub("'",'&#39;')%>"><%=pickup_place.name.sub("'",'&#39;')%></option>
                                 <% end %>
                              </select>
                              <% if @pickup_return_places_configuration == 'list+custom'%>
                                <div id="another_pickup_place_group" class="top-margin" style="display:none;">
                                    <textarea name="pickup_place_other" id="new_reservation_pickup_place_other" rows="3" cols="28" class="form-control"
                                              placeholder="<%=t.new_booking.pickup_place%>"></textarea>
                                    <input type="hidden" name="custom_pickup_place" value="false"/>
                                </div>
                              <% end %>
                            <% else %>
                              <div>
                                 <textarea name="pickup_place_other" id="new_reservation_pickup_place_other" rows="3" cols="28"
                                           placeholder="<%=t.new_booking.pickup_place%>"></textarea>
                              </div>
                            <% end %>
                          </div>

                        </div>
                    <% end %>
                    <%% } %>

                    <!-- Return date -->

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        <%% if (action=='booking') {%>
                        <%=(@booking_item_family.start_date_literal==:arrival)?(t.new_booking.departure_date):(t.new_booking.return_date)%>
                        <%% } else { %>
                        Fin
                        <%% } %>
                      </label>
                      <div class="col-sm-3">
                        <input type="text" name="date_to" id="new_reservation_date_to" class="date_control" size="15" maxlength="10"
                                           />
                      </div>
                      <div class="col-sm-2">
                        <% if @booking_item_family.time_to_from %>
                            <input type="text" name="time_to" class="form-control" id="new_reservation_time_to" maxlength="5" size="5"/>
                        <% else %>
                            <input type="hidden" name="time_to" id="new_reservation_time_to"/>
                        <% end %>
                      </div>
                    </div>

                    <!-- Return place -->
                    <%% if (action=='booking') {%>
                    <% if @booking_item_family.pickup_return_place %>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">
                            <%=t.new_booking.return_place%>
                          </label>
                          <div class="col-sm-8">
                            <% if ['list','list+custom'].include?(@pickup_return_places_configuration) %>
                              <select name="return_place" class="form-control" id="new_reservation_return_place">
                                 <% @return_places.each do |return_place| %>
                                   <option value="<%=return_place.name.sub("'",'&#39;')%>"><%=return_place.name.sub("'",'&#39;')%></option>
                                 <% end %>
                              </select>
                              <% if @pickup_return_places_configuration == 'list+custom'%>
                                <div id="another_return_place_group" class="top-margin" style="display:none;">
                                    <textarea name="return_place_other" id="new_reservation_return_place_other" rows="3" cols="28"
                                              placeholder="<%=t.new_booking.return_place%>" class="form-control"></textarea>
                                  <input type="hidden" name="custom_return_place" value="false"/>
                                </div>
                              <% end %>
                            <% else %>
                              <div>
                                 <textarea name="return_place_other" id="new_reservation_return_place_other" rows="3" cols="28"
                                           placeholder="<%=t.new_booking.return_place%>"></textarea>
                              </div>
                            <% end %>
                          </div>
                        </div>
                    <% end %>
                    <%% } %>

                    <!-- Driver age -->
                    <%% if (action=='booking') {%>
                    <% if @booking_item_family and @booking_item_family.driver and @driver_age_rules %>

                        <div class="form-group">
                          <label class="col-sm-3 control-label">
                            <%=t.new_booking.driver_age%>
                          </label>
                          <div class="col-sm-6">
                            <select name="driver_age_rule" id="new_reservation_driver_age_rule" class="form-control">
                              <% @driver_age_rule_definition.driver_age_rules.each do |driver_age_rule|%>
                                  <option value="<%=driver_age_rule.id%>" allowed="<%=driver_age_rule.allowed%>"
                                          deposit="<%=driver_age_rule.deposit > 0%>"
                                          supplement="<%=driver_age_rule.suplement > 0%>"
                                          <%if !driver_age_rule.allowed and driver_age_rule.description.size == 2%>not-allowed-message="<%=driver_age_rule.description.last%>"<%end%>><%=driver_age_rule.description.first%></option>
                              <% end %>
                            </select>
                          </div>
                        </div>

                    <% end %>

                    <% if @addon_sales_channels %>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Canal de venta
                        </label>
                        <div class="col-sm-6">
                          <select name="sales_channel_code" id="new_reservation_sales_channel_code" class="form-control">
                            <option value="" selected>Estándar</option>
                            <% @sales_channels.each do |sales_channel| %>
                              <option value="<%=sales_channel.code%>"><%=sales_channel.name%></option>
                            <% end %>
                          </select>
                        </div>
                      </div>
                    <% end %>
                    <%% } %>

                  </form>
                </div>
                <!-- END Step 1 -->

                <!-- Step 2 -->
                <div class="tab-pane fade fade-right push-30-t push-50" id="validation-step2">
                  <form name="new_reservation_products_selection">
                    <div class="block block-bordered">
                      <div class="block-header bg-gray-lighter">
                        <h3 class="block-title">Productos</h3>
                      </div>
                      <div class="block-content">
                        <div id="new_reservation_products_container">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- END Step 2 -->

                <!-- Step 3 -->
                <% if @booking_item_family and @booking_item_family.multiple_items? %>
                <div class="tab-pane fade fade-right push-30-t push-50" id="validation-step3">
                  <form name="new_reservation_resources_selection">
                    <div class="block block-bordered">
                      <div class="block-header bg-gray-lighter">
                        <h3 class="block-title">Recursos</h3>
                      </div>
                      <div class="block-content">
                          <div id="new_reservation_resources_container" class="chooser_container">
                          </div>
                          <br>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- END Step 3 -->
                <% end %>


                <!-- Step 3 -->
                <div class="tab-pane fade fade-right push-30-t push-50" id="<% if @booking_item_family and @booking_item_family.multiple_items? %>validation-step4<%else%>validation-step3<%end%>">
                    <form name="new_reservation_customer">
                      <%% if (action=='booking') {%>
                      <div class="formrow">
                        <label for="customer_name" class="fieldtitle"><%= t.admin_new_reservation.form.customer_name %> <span class="mandatoryfield">*</span></label>
                        <input type="text" maxlength="40" id="customer_name" name="customer_name" class="fieldcontrol" />
                      </div>

                      <div class="formrow">
                        <label for="customer_name" class="fieldtitle"><%= t.admin_new_reservation.form.customer_surname %> <span class="mandatoryfield">*</span></label>
                        <input type="text" maxlength="40" id="customer_surname" name="customer_surname" class="fieldcontrol"/>
                      </div>

                      <div class="formrow">
                        <label for="customer_phone" class="fieldtitle"><%= t.admin_new_reservation.form.customer_phone %></label>
                        <input type="text" maxlength="15" id="customer_phone" name="customer_phone" class="fieldcontrol"/>
                      </div>

                      <div class="formrow">
                        <label for="customer_phone" class="fieldtitle"><%= t.admin_new_reservation.form.customer_mobile_phone %></label>
                        <input type="text" maxlength="15" id="customer_mobile_phone" name="customer_mobile_phone" class="fieldcontrol"/>
                      </div>

                      <div class="formrow">
                        <label for="name" class="fieldtitle"><%= t.admin_new_reservation.form.customer_email %></label>
                        <input type="text" maxlength="40" id="customer_email" name="customer_email" class="fieldcontrol"/>
                      </div>
                      <%% } else { %>
                        <div class="formrow">
                          <label class="fieldtitle"><%=t.bookings_planning.prereservation.subject%></label>
                          <input type="text" name="title" id="title" class="fieldcontrol" size="15" maxlength="256"/>
                        </div>
                        <div class="formrow">
                          <label class="fieldtitle"><%=t.bookings_planning.prereservation.notes%></label>
                          <textarea name="notes" id="notes" class="fieldcontrol" rows="2"></textarea>
                        </div>
                      <%% } %>

                    </form>
                </div>
                <!-- END Step 3 -->
            </div>
            <!-- END Steps Content -->

            <!-- Steps Navigation -->
            <div class="block-content block-content-mini block-content-full border-t">
                <div class="row">
                    <div class="col-xs-6">
                        <button class="wizard-prev btn btn-warning disabled" type="button"><i class="fa fa-arrow-circle-o-left"></i> Previous</button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="wizard-next btn btn-success" type="button">Next <i class="fa fa-arrow-circle-o-right"></i></button>
                        <button class="wizard-finish btn btn-primary" type="submit" style="display: none;"><i class="fa fa-check-circle-o"></i> Submit</button>
                    </div>
                </div>
            </div>
            <!-- END Steps Navigation -->
        </div>
      </div>
</script>

<!-- Script select products -->

<script type="text/tmpl" id="script_products_search">
  <table id="products_table" class="table table-hover">
    <thead class="table-header">
      <tr>
        <th class="table-header-title centered_text" scope="col" style="width:10%"></th>
        <th class="table-header-title centered_text" scope="col" style="width:20%"><%= t.admin_planning_update_reservation.products_table.photo %></th>
        <th class="table-header-title centered_text" scope="col" style="width:30%"><%= t.admin_planning_update_reservation.products_table.product %></th>
        <th class="table-header-title centered_text" scope="col" style="width:20%"><%= t.admin_planning_update_reservation.products_table.stock %></th>
        <th class="table-header-title centered_text" scope="col" style="width:20%"><%= t.admin_planning_update_reservation.products_table.price %></th>
      </tr>
    </thead>
    <tbody id="elements_tbody" class="table-tbody">
      <%% for (var idx=0;idx<products.length;idx++) { %>
        <tr class="table-row element-navigation-detail" rel="<%%= idx %>" id="element_row_<%%=idx%>">
          <td class="table-cell centered_text">
            <% if @product_family.multiple_items? %>
              <select name="<%%=products[idx].code%>" class="product_selector">
                <%% for (var idxStock=0; idxStock <= products[idx].stock; idxStock++) { %>
                   <option value="<%%=idxStock%>"><%%=idxStock%></option>
                <%% } %>
              </select>
            <% else %>
              <input type="radio" name="<%%=products[idx].code%>" value="<%%=products[idx].code%>" class="product_chooser"></input>
            <% end %>
         </td>
         <td class="table-cell centered_text"><img src="<%%= products[idx].photo %>"</td>
         <td class="table-cell centered_text"><%%=products[idx].name%></td>
         <td class="table-cell centered_text"><%%= (products[idx].stock - products[idx].busy) %> (<%%=products[idx].stock%>)</td>
         <td class="table-cell centered_text"><%%=new Number(products[idx].price).toFixed(2)%></td>
       </tr>
      <%% } %>
     </tbody>
  </table>
</script>

<!-- Script select resources -->

<script type="text/tmpl" id="script_resources">
  <%% for (var idx=0;idx<products.length;idx++) { %>
    <h2 class="content-heading"><%%=products[idx].code%></h2>
    <div id="resource_<%%=products[idx].code%>" class="row">
      <%% for (var idx2=0;idx2<products[idx].resources.length;idx2++) { %>
        <div class="chooser_row col-lg-4">
         <input type="checkbox" name="<%%=products[idx].code%>" value="<%%=products[idx].resources[idx2]%>" class="resource"
              <%% if (resource == products[idx].resources[idx2]){ %>checked<%%}%>><%%=products[idx].resources[idx2]%></input>
        </div>
      <%% } %>
    </div>
  <%% } %>
</script>

<!-- ========================================================================================== -->
<!--                             Script select reservation                                      -->
<!-- ========================================================================================== -->
<script type="text/tmpl" id="script_select_reservation">
  <table id="products_table" class="table table-hover">
    <thead class="table-header">
      <tr>
        <th class="table-header-title centered_text" scope="col" style="width:5%"></th>
        <th class="table-header-title centered_text" scope="col" style="width:15%">#</th>
        <th class="table-header-title centered_text" scope="col" style="width:20%">Titulo</th>
        <th class="table-header-title centered_text" scope="col" style="width:20%">Producto</th>
        <th class="table-header-title centered_text" scope="col" style="width:20%">Desde</th>
        <th class="table-header-title centered_text" scope="col" style="width:20%">Hasta</th>
        <th class="table-header-title centered_text" scope="col" style="width:10%">Color</th>
      </tr>
    </thead>
    <tbody id="elements_tbody" class="table-tbody">
      <%% for (var idx=0;idx<overlapped.length;idx++) { %>
        <tr class="table-row element-navigation-detail" rel="<%%= idx %>" id="element_row_<%%=idx%>">
         <td class="table-cell centered_text">
            <input type="radio" name="id" value="<%%=overlapped[idx].origin%><%%=overlapped[idx].id%>" class="reservation_chooser"></input>
         </td>
         <td class="table-cell centered_text">
            <%% if (overlapped[idx].origin == 'booking') { %>
            <a href="/admin/booking/bookings/<%%=overlapped[idx].id%>" target="_blank"><%%=overlapped[idx].id %></a>
            <%% } else { %>
            <%%= overlapped[idx].id %>
            <%% } %>
         </td>
         <td class="table-cell centered_text"><%%=overlapped[idx].title%></td>
         <td class="table-cell centered_text"><%%=overlapped[idx].item_id%> <%% if (overlapped[idx].item_id != overlapped[idx].requested_item_id) { %>(<%%=overlapped[idx].requested_item_id%>)<%%}%></td>
         <td class="table-cell centered_text"><%%=overlapped[idx].date_from%> <% if @product_family.time_to_from %><%%=overlapped[idx].time_from%><%end%></td>
         <td class="table-cell centered_text"><%%=overlapped[idx].date_to%> <% if @product_family.time_to_from %><%%=overlapped[idx].time_to%><%end%></td>
         <td class="table-cell centered_text">
            <form name="color" style="display: inline-block; position: relative; top: 3px">
              <input type="hidden" name="id" value="<%%=overlapped[idx].id%>"/>
              <input type="hidden" name="type" value="<%%=overlapped[idx].origin%>"/>
              <input type="color" name="planning_color" class="color" value="<%%=overlapped[idx].planning_color%>" style="width:32px; height: 32px"/>
            </form>
         </td>
       </tr>
      <%% } %>
     </tbody>
  </table>
</script>

<!-- ========================================================================================== -->
<!--                            Modify reservation template                                     -->
<!-- ========================================================================================== -->

<script type="text/tmpl" id="script_modify_reservation">

  <div class="row">
    <div class="col-lg-12">
      <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title">Reserva</h3>
        </div>
        <div class="block-content">
          <div class="push-5">
            <div>
              <span class="text-primary-dark"><strong>#<%%=booking.id%></strong></span>&nbsp;<span><%%=booking.title%><span>
            </div>
          </div>
          <% if @product_family.time_to_from %>
              <div class="push-5">
                <i class="fa fa-calendar-o"></i>&nbsp;<%%=booking.date_from%> <%if @product_family.time_to_from%><%%=booking.time_from%><%end%>
              </div>
              <div class="push-5">
                <i class="fa fa-calendar-check-o"></i>&nbsp;<%%=booking.date_to%> <%if @product_family.time_to_from%><%%=booking.time_to%><%end%>
              </div>
          <% else %>
              <div class="push-5">
                <i class="fa fa-calendar-o"></i>&nbsp;<%%=booking.date_from%>&nbsp;&nbsp;&nbsp;
                <i class="fa fa-calendar-check-o"></i>&nbsp;<%%=booking.date_to%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <form name="products_selection">
    <div class="block block-bordered">
      <div class="block-header bg-gray-lighter">
        <h3 class="block-title">Datos</h3>
      </div>
      <div class="block-content">
        <div class="formrow">
          <label class="fieldtitle"><%=t.bookings_planning.prereservation.notes%></label>
          <textarea name="notes" id="notes" class="fieldcontrol" rows="5"><%%=booking.notes%></textarea>
        </div>
      </div>
    </div>
    <%% if (!productsEmpty) { %>
      <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title">Añadir recursos</h3>
        </div>
        <div class="block-content">
          <%% for (var idx=0;idx<products.length;idx++) { %>
            <%% if (products[idx].resources.length > 0) { %>
              <h2 class="content-heading"><%%=products[idx].code%></h2>
              <div id="resource_<%%=products[idx].code%>" class="row">
                <%% for (var idx2=0;idx2<products[idx].resources.length;idx2++) { %>
                  <div class="chooser_row col-lg-4">
                   <input type="checkbox" name="references\[<%%=products[idx].code%>\]" value="<%%=products[idx].resources[idx2]%>" class="resource"><%%=products[idx].resources[idx2]%></input>
                  </div>
                <%% } %>
              </div>
            <%% } %>
          <%% } %>
        </div>
      </div>
    <%% } %>
    <div class="row">
      <div class="col-lg-12">
        <button id="update_reservation_products_button" class="btn btn-minw btn-square btn-primary pull-right" type="button"><i class="fa fa-save push-5-r"></i><%=t.entitymanagement.update%></button>
      </div>
    </div>
  </form>

</script>

<!-- ========================================================================================== -->
<!--                            Modify prereservation                                           -->
<!-- ========================================================================================== -->

<script type="text/tmpl" id="script_modify_prereservation">

  <div class="row">
    <div class="col-lg-12">
      <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title">Bloqueo de stock</h3>
        </div>
        <div class="block-content">
          <div class="push-5">
            <div>
              <span class="text-primary-dark"><strong>#<%%=prereservation.id%></strong></span>&nbsp;<span><%%=prereservation.title%><span>
            </div>
          </div>
          <% if @product_family.time_to_from %>
              <div class="push-5">
                <i class="fa fa-calendar-o"></i>&nbsp;<%%=prereservation.date_from%> <%%=prereservation.time_from%>
              </div>
              <div class="push-5">
                <i class="fa fa-calendar-check-o"></i>&nbsp;<%%=prereservation.date_to%> <%%=prereservation.time_to%>
              </div>
          <% else %>
              <div class="push-5">
                <i class="fa fa-calendar-o"></i>&nbsp;<%%=prereservation.date_from%>&nbsp;&nbsp;&nbsp;
                <i class="fa fa-calendar-check-o"></i>&nbsp;<%%=prereservation.date_to%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <form name="update_prereservation_from">
    <div class="block block-bordered">
      <div class="block-header bg-gray-lighter">
        <h3 class="block-title">Datos</h3>
      </div>
      <div class="block-content">
        <div class="formrow">
          <label class="fieldtitle"><%=t.bookings_planning.prereservation.subject%></label>
          <input type="text" name="title" id="title" class="fieldcontrol" size="15" maxlength="256" value="<%%=prereservation.title%>"/>
        </div>
        <div class="formrow">
          <label class="fieldtitle"><%=t.bookings_planning.prereservation.notes%></label>
          <textarea name="notes" id="notes" class="fieldcontrol" rows="5"><%%=prereservation.notes%></textarea>
        </div>
      </div>
    </div>
    <%% if (!productsEmpty) { %>
      <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title">Añadir recursos</h3>
        </div>
        <div class="block-content">
          <%% for (var idx=0;idx<products.length;idx++) { %>
            <%% if (products[idx].resources.length > 0) { %>
              <h2 class="content-heading"><%%=products[idx].code%></h2>
              <div id="resource_<%%=products[idx].code%>" class="row">
                <%% for (var idx2=0;idx2<products[idx].resources.length;idx2++) { %>
                  <div class="chooser_row col-lg-4">
                   <input type="checkbox" name="references\[<%%=products[idx].code%>\]" value="<%%=products[idx].resources[idx2]%>" class="resource"><%%=products[idx].resources[idx2]%></input>
                  </div>
                <%% } %>
              </div>
            <%% } %>
          <%% } %>
        </div>
      </div>
    <%% } %>
    <div class="row">
      <div class="col-lg-12">
        <button id="update_prereservation_button" class="btn btn-minw btn-square btn-primary pull-right" type="button"><i class="fa fa-save push-5-r"></i><%=t.entitymanagement.update%></button>
      </div>
    </div>
  </form>

</script>