<style>
 .edit-icon {
    display: inline-block;
    position: relative;
    top: 3px;
    cursor: hand;
    cursor: pointer;      
  }
</style>
                  <div class="bottom-margin" style="border:1px solid #EEE"> 
                     <table class="table">
                        <thead class="table-header">
                          <tr>
                            <th class="table-cell left_text" scope="col" style="width:40%"><%=t.booking_management.form.booking_line.item%></th>
                            <th class="table-cell right_text" scope="col" style="width:7em"><%=t.booking_management.form.booking_line.days%></th>                           
                            <th class="table-cell right_text" scope="col" style="width:7em"><%=t.booking_management.form.booking_line.quantity%></th>                            
                            <th class="table-cell right_text" scope="col" style="width:7em"><%=t.booking_management.form.booking_line.unit_cost%></th> 
                            <th class="table-cell right_text" scope="col" style="width:7em"><%=t.booking_management.form.booking_line.deposit%></th>                           
                            <th class="table-cell right_text" scope="col" style="width:7em"><%=t.booking_management.form.booking_line.cost%></th>        
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                          <%% for (var lineIdx=0; lineIdx < entity.booking_lines.length; lineIdx++) { %>
                            <tr class="table-row">
                               <td class="table-cell left_text"><%%=entity.booking_lines[lineIdx].item_id%> - <%%= entity.booking_lines[lineIdx].item_description %></td>
                               <td class="table-cell right_text"><%%= entity.days %></td>                               
                               <td class="table-cell right_text"><%%= entity.booking_lines[lineIdx].quantity %> <span class="booking-line-quantity ui-icon ui-icon-pencil edit-icon" data-id="<%%=entity.booking_lines[lineIdx].id%>" data-value="<%%=entity.booking_lines[lineIdx].quantity%>"></span></td>
                               <td class="table-cell right_text"><%%if(entity.booking_lines[lineIdx].item_unit_cost != entity.booking_lines[lineIdx].item_unit_cost_base){%><span class="smaller_text less_constrast_text" style="text-decoration:line-through"><%%= new Number(entity.booking_lines[lineIdx].item_unit_cost_base).toFixed(2) %>&nbsp;</span><%%}%><%%= new Number(entity.booking_lines[lineIdx].item_unit_cost).toFixed(2) %> <span class="booking-line-unit-cost ui-icon ui-icon-pencil edit-icon" data-id="<%%=entity.booking_lines[lineIdx].id%>" data-value="<%%=new Number(entity.booking_lines[lineIdx].item_unit_cost).toFixed(2)%>" ></span></td>
                               <td class="table-cell right_text"><%%= new Number(entity.booking_lines[lineIdx].product_deposit_cost).toFixed(2) %> <span class="booking-line-deposit ui-icon ui-icon-pencil edit-icon" data-id="<%%=entity.booking_lines[lineIdx].id%>" data-value="<%%=new Number(entity.booking_lines[lineIdx].product_deposit_cost).toFixed(2)%>"></span></td>                               
                               <td class="table-cell right_text"><%%= new Number(entity.booking_lines[lineIdx].item_cost).toFixed(2) %></td>
                            </tr>
                          <%% } %>
                          <%% for (var extraIdx=0; extraIdx < entity.booking_extras.length; extraIdx++) { %>
                            <tr class="table-row">
                               <td class="table-cell left_text less_contrast_text"><%%= entity.booking_extras[extraIdx].extra_description %></td>
                               <td class="table-cell right_text"><%%= entity.days %></td>                               
                               <td class="table-cell right_text"><%%= entity.booking_extras[extraIdx].quantity %> <span class="booking-extra-quantity ui-icon ui-icon-pencil edit-icon" data-id="<%%=entity.booking_extras[extraIdx].id%>" data-value="<%%=entity.booking_extras[extraIdx].quantity%>"></span></td>
                               <td class="table-cell right_text"><%%= new Number(entity.booking_extras[extraIdx].extra_unit_cost).toFixed(2) %> <span class="booking-extra-item-cost ui-icon ui-icon-pencil edit-icon" data-id="<%%=entity.booking_extras[extraIdx].id%>" data-value="<%%=new  Number(entity.booking_extras[extraIdx].extra_unit_cost).toFixed(2)%>"></span></td>
                               <td class="table-cell"></td>
                               <td class="table-cell right_text"><%%= new Number(entity.booking_extras[extraIdx].extra_cost).toFixed(2) %></td>
                            </tr>
                          <%% } %>

                            <tr class="table-row">
                               <td class="table-cell"><strong class="uppercase_text"><%= t.booking_management.form.item_cost %></strong></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell right_text"><strong><%%= new Number(entity.item_cost).toFixed(2) %></strong></td>
                            </tr>
                            <tr class="table-row">
                               <td class="table-cell"><strong class="uppercase_text"><%= t.booking_management.form.extras_cost %></strong></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell right_text"><strong><%%= new Number(entity.extras_cost).toFixed(2) %></strong></td>
                            </tr>           

                          <%% if (entity.time_from_cost > 0 ) { %>
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.time_from_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell right_text"><%%= new Number(entity.time_from_cost).toFixed(2) %> </td>
                          </tr>
                          <%% } %>
                          <%% if (entity.time_to_cost > 0 ) { %>          
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.time_to_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>     
                            <td class="table-cell"></td>                          
                            <td class="table-cell right_text"><%%= new Number(entity.time_to_cost).toFixed(2) %> </td>
                          </tr>
                          <%% } %>
 
                          <%% if (entity.pickup_place_cost > 0 ) { %>          
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.pickup_place_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>   
                            <td class="table-cell"></td>                            
                            <td class="table-cell right_text"><%%= new Number(entity.pickup_place_cost).toFixed(2) %> </td>
                          </tr>      
                          <%% } %>

                          <%% if (entity.return_place_cost > 0 ) { %>                 
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.return_place_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>                            
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell right_text"><%%= new Number(entity.return_place_cost).toFixed(2) %> </td>
                          </tr>                 
                          <%% } %>   

                          <%% if (entity.product_deposit_cost > 0 ) { %>
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.product_deposit_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell right_text"><%%= new Number(entity.product_deposit_cost).toFixed(2) %> </td>
                          </tr>
                          <%% } %>                          

                           <tr class="table-row">
                               <td class="table-cell"><strong class="uppercase_text"><%= t.booking_management.form.total_cost %></strong></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell right_text"><strong><%%= new Number(entity.total_cost).toFixed(2) %></strong></td>
                            </tr>    

                            <tr class="table-row">
                               <td class="table-cell"><span class="uppercase_text"><%= t.booking_management.form.booking_amount %></span></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell right_text"><span><%%= new Number(entity.booking_amount).toFixed(2) %></span></td>
                            </tr> 

                            <tr class="table-row">
                               <td class="table-cell"><strong class="uppercase_text"><%= t.booking_management.form.total_paid %></strong></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell right_text"><strong><%%= new Number(entity.total_paid).toFixed(2) %></strong></td>
                            </tr> 

                            <tr class="table-row">
                               <td class="table-cell"><strong class="uppercase_text"><%= t.booking_management.form.total_pending %></strong></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell"></td>
                               <td class="table-cell right_text" style="color: red"><strong><%%= new Number(entity.total_pending).toFixed(2) %></strong></td>
                            </tr>                             

                        </tbody>
                     </table>  
                     <div class="top-margin all-space top-separator">
                        <button id="new_booking_line_button" class="form-button">Añadir producto</button>
                        <button id="new_booking_extra_button" class="form-button">Añadir extra</button>
                        <button id="booking_supplements_button" class="form-button">Suplementos entrega y devolución</button>
                     </div>
                  </div>
