        <div class="row">
          <div class="col-lg-12">
            <%% if (entity.charges.length > 0) { %>
              <table class="table table-striped">
                <thead class="table-header">
                  <tr>
                    <th class="table-cell text-center" scope="col" style="width:5%">#</th>
                    <th class="table-cell text-center" scope="col" style="width:10%"><%=t.booking_management.form.charge_date%></th>
                    <th class="table-cell text-center" scope="col" style="width:10%"><%=t.booking_management.form.charge_payment_method%></th>
                    <th class="table-cell text-center" scope="col" style="width:10%"><%=t.booking_management.form.charge_amount%></th>
                    <th class="table-cell text-center" scope="col" style="width:10%"><%=t.booking_management.form.charge_status%></th>
                    <th class="table-cell text-center" scope="col" style="width:35%"></th>
                  </tr>
                </thead>
                <tbody class="table-tbody">
                  <%% for (var chargeIdx=entity.charges.length-1; chargeIdx >=0 ; chargeIdx--) { %>
                    <tr class="table-row">
                       <td class="table-cell text-center"><span style="position:relative; top: 7px"><%%=entity.charges[chargeIdx].id%></span></td>
                       <td class="table-cell text-center"><span style="position:relative; top: 7px"><%%=self.formatDate(entity.charges[chargeIdx].date, 'dd.MM.yyyy HH:mm')%></span></td>
                       <td class="table-cell text-center">
                          <span style="position:relative; top: 7px"><%%= self.model.entityHooks[0].paymentMethodDescription[entity.charges[chargeIdx].payment_method_id]%></span></td>
                       <td class="table-cell text-center"><span style="position:relative; top: 7px"><%%= new Number(entity.charges[chargeIdx].amount).toFixed(2) %></span></td>
                       <td class="table-cell text-center"><span class="element-status <%%=self.model.entityHooks[0].chargeStatusClass(entity.charges[chargeIdx])%>" style="position:relative; top: 7px"><%%= self.model.entityHooks[0].chargeStatusDescription[entity.charges[chargeIdx].status] %></span></td>
                       <td class="table-cell">
                        <%% if (['bank_transfer','credit_card','cash'].indexOf(entity.charges[chargeIdx].payment_method_id)>-1) {%>
                        <span class="btn btn-sm btn-default remove-booking-charges remove-icon" data-charge-id="<%%=entity.charges[chargeIdx].id%>" data-booking-id="<%%=entity.id%>" role="button"><i class="fa fa-trash" style="position:relative; top: -2px"></i>&nbsp;Eliminar</span>
                        <%% } %>
                       </td>
                    </tr>
                  <%% } %>
                </tbody>
              </table>
          <%% } else { %>
            <p class="text-center"><%=t.booking_management.form.no_charges%></p>
          <%% } %>
        </div>
      </div>