          <form name="real_pickup_return_form">
              <input type="hidden" name="id" value="<%%=entity.id%>"/>
              <div class="col-lg-6">
                <div class="formrow">
                  <label class="fieldtitle">Hora de entrega real (hh:mm)</label>
                  <input type="text" name="pickup_time" class="fieldcontrol" maxlength="5" value="<%%=entity.pickup_time%>"/>
                </div>
                <div class="formrow">
                  <label class="fieldtitle">Agente que realiza entrega</label>
                  <input type="text" name="pickup_agent" class="fieldcontrol" maxlength="80" value="<%%=entity.pickup_agent%>"/>
                </div>
                <% if booking_item_family.fuel %>
                <div class="formrow">
                  <label class="fieldtitle">Combustible entrega</label>
                  <select name="pickup_fuel" id="pickup_fuel">
                    <% [''].concat(BookingDataSystem::BookingFuel::FUEL).each do |item| %>
                        <option value="<%=item%>" <%% if ('<%=item%>' == entity.pickup_fuel) {%>selected<%%}%>><%=item == '' ? '---seleccionar---' : item%></option>
                    <% end %>
                  </select>
                </div>
                <% end %>
              </div>
              <div class="col-lg-6">
                <div class="formrow">
                  <label class="fieldtitle">Hora de devolución real (hh:mm)</label>
                  <input type="text" name="return_time" class="fieldcontrol" maxlength="5" value="<%%=entity.return_time%>"/> 
                </div>     
                <div class="formrow">
                  <label class="fieldtitle">Agente que realiza la devolución</label>
                  <input type="text" name="return_agent" class="fieldcontrol" maxlength="80" value="<%%=entity.return_agent%>"/> 
                </div>
                <% if booking_item_family.fuel %>
                    <div class="formrow">
                      <label class="fieldtitle">Combustible devolución</label>
                      <select name="return_fuel" id="return_fuel">
                        <% [''].concat(BookingDataSystem::BookingFuel::FUEL).each do |item| %>
                            <option value="<%=item%>" <%% if ('<%=item%>' == entity.return_fuel) {%>selected<%%}%>><%=item == '' ? '---seleccionar---' : item%></option>
                        <% end %>
                      </select>
                    </div>
                <% end %>
              </div>
              <div class="col-lg-12">
                <div class="navigation-bar bottom-margin">
                  <div class="navigation-bar-crud-buttons right-float right-margin">
                    <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                  </div>
                </div>
              </div>
          </form>