<h3><%=t.not_assigned_bookings.title%></h3>
  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.not_assigned_bookings.table.id %></th>
         <th class="table-header-title centered_text" scope="col" style="width:15%"><%= t.not_assigned_bookings.table.category %></th>         
         <th class="table-header-title centered_text" scope="col" style="width:15%"><%= t.not_assigned_bookings.table.dates %></th>
         <th class="table-header-title centered_text" scope="col" style="width:25%"><%= t.booking_management.table.customer %></th>
         <th class="table-header-title centered_text" scope="col" style="width:10%"><%= t.booking_management.table.status %></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>