      <form id="prereservation_form" name="element" class="form-element all-space" style="background: white">
        <h3 id="prereservation_title" class="bottom-border-solid"><%=t.bookings_planning.prereservation.create_title%></h3>
        <input type="hidden" name="id" id="id"/>
        <div class="formrow">
          <label class="fieldtitle"><%=t.bookings_planning.prereservation.from%></label>
          <input type="text" name="date_from" id="date_from" class="date_control <% unless @product_family.time_to_from %>fieldcontrol<%end%>" size="15" maxlength="10"/>
          <% if @product_family.time_to_from %>
            <input type="text" name="time_from" id="time_from" maxlength="5" size="5"/>
          <% else %>
            <input type="hidden" name="time_from" id="time_from" value="<%=@product_family.time_start%>"/>
          <% end %>
        </div>
        <div class="formrow">
          <label class="fieldtitle"><%=t.bookings_planning.prereservation.to%></label>
          <input type="text" name="date_to" id="date_to" class="date_control <% unless @product_family.time_to_from %>fieldcontrol<%end%>" size="15" maxlength="10"/>
          <% if @product_family.time_to_from %>
            <input type="text" name="time_to" id="time_to" maxlength="5" size="5"/>
          <% else %>
            <input type="hidden" name="time_to" id="time_to" value="<%=@product_family.time_end%>"/>
          <% end %>
        </div>
        <div class="formrow">
          <label class="fieldtitle"><%=t.bookings_planning.prereservation.resource%></label>
          <div id="booking_item_reference_value" class="fieldcontrol more_contrast_text"></div>
          <input type="hidden" name="booking_item_reference" id="booking_item_reference"/>
        </div>
        <div class="formrow">
          <label class="fieldtitle"><%=t.bookings_planning.prereservation.subject%></label>
          <input type="text" name="title" id="title" class="fieldcontrol" size="15" maxlength="256"/>      
        </div>
        <div class="formrow">
          <label class="fieldtitle"><%=t.bookings_planning.prereservation.notes%></label>
          <textarea name="notes" id="notes" class="fieldcontrol" rows="2"></textarea>
        </div>
        <div class="navigation-bar bottom-margin">
          <div class="navigation-bar-crud-buttons right-float">
            <input id="prereservation_button" type="button" class="form-button green-button" value="<%=t.entitymanagement.create%>"/>
            <input id="cancel_prereservation_button" type="button" class="form-button red-button" value="<%=t.entitymanagement.cancel%>"/>            
          </div>
        </div>     
      </form> 