      <style>
        h3 {
          border-bottom: 1px solid;
        }
      </style>
  <% if @activity.lives? %> 
    <% if @activity.capacity > @occupation[:total_occupation].to_i %>
      <h3><%=t.activity.reservation%></h3>
      <h4><%=t.activity.event_date%></h3>
      <h5 class="smaller_text less_contrast_text"><%=l(@activity.date_from,"%d %B %Y")%> <%=l(@activity.date_to,"- %d %B %Y") if @activity.date_to != @activity.date_from%></h4>
      <form name="activity_form" id="activity_form" action="/p/activity/add-to-shopping-cart" method="post">
        <input type="hidden" name="activity_id" id="activity_id" value="<%=@activity.id%>"/>
        <input type="hidden" name="date" id="date" value="<%=@activity.date_from.strftime('%Y-%m-%d')%>">
        <input type="hidden" name="turn" id="turn" value="<%=@activity.time_from%>">
        <% if @activity.mode == :partial %>
          <%= partial :reservation_activity_tickets %>
        <% end %>
        <div id="total" class="centered_text more_contrast_text" style="font-size:3em">
        </div>        
        <div id="botonera" class="top-margin">
          <input type="submit" class="form-button green-button" style="width:100%" value="Reservar"/>
        </div>
      </form>
    <% else %>
      <div class="highlight_block all-border-solid-light smaller_text centered_text" style="margin-top:0"><%=t.activity.activity_not_available%></div>    
    <% end %>
  <% else %>
    <div class="highlight_block all-border-solid-light smaller_text centered_text" style="margin-top:0"><%=t.activity.activity_finished%></div>
  <% end %>                   