      <% if booking.expired? %>
      <h2><%=t.booking.expired%></h2>
      <% else %>
      <h2><%=t[:booking_status][booking.status.to_sym]%></h2>
      <% end %>

      <div class="booking-message">
        <%= message %>
      </div>

      <div class="bottom-margin">
        <p><%=t.booking.id(booking.id)%></p>
      </div>

      <%= partial(:booking_summary, :locals => {:booking => booking}) %>


      
