	        <fieldset id="fs_customer">
	          <legend id="lg_customer" class="legend-first-level"><%=t.new_booking.customer%></legend>
	          <div class="formrow">
	            <label id="label_customer_email" for="booking[customer_name]" class="fieldtitle"><%=t.new_booking.customer_name.label%> *</label>
	            <input type="text" name="booking[customer_name]" id="booking[customer_name]" class="fieldcontrol" maxlength="40" placeholder="<%=t.new_booking.customer_name.placeholder%>" <%unless booking.nil?%>value="<%=booking.customer_name%>"<%end%>/>
	          </div>
	          <div class="formrow">
	            <label id="label_customer_surname" for="booking[customer_surname]" class="fieldtitle"><%=t.new_booking.customer_surname.label%> *</label>
	            <input type="text" name="booking[customer_surname]" id="booking[customer_surname]" class="fieldcontrol" maxlength="40" placeholder="<%=t.new_booking.customer_surname.placeholder%>" <%unless booking.nil?%>value="<%=booking.customer_surname%>"<%end%>/>	          
	          </div>
	          <div class="formrow">
	            <label id="label_customer_email" for="booking[customer_email]" class="fieldtitle"><%=t.new_booking.customer_email.label%> *</label>
	            <input type="text" name="booking[customer_email]" id="booking[customer_email]" class="fieldcontrol" placeholder="<%=t.new_booking.customer_email.placeholder%>" maxlength="40" <%unless booking.nil?%>value="<%=booking.customer_email%>"<%end%>/>
	          </div>
	          <div class="formrow">
	            <label id="label_customer_email_confirmation" for="booking[customer_email_confirmation]" class="fieldtitle"><%=t.new_booking.customer_email_confirmation.label%> *</label>
	            <input type="text" name="booking[customer_email_confirmation]" id="booking[customer_email_confirmation]" class="fieldcontrol" placeholder="<%=t.new_booking.customer_email_confirmation.placeholder%>" <%unless booking.nil?%>value="<%=booking.customer_email%>"<%end%> maxlength="40"/>
	          </div>
	          <div class="formrow">
	            <label id="label_customer_phone" for="booking[customer_phone]" class="fieldtitle"><%=t.new_booking.customer_phone.label%> *</label>
	            <input type="text" name="booking[customer_phone]" id="booking[customer_phone]" class="fieldcontrol" maxlength="15" placeholder="<%=t.new_booking.customer_phone.placeholder%>" <%unless booking.nil?%>value="<%=booking.customer_phone%>"<%end%>/>      
	          </div>
	          <div class="formrow">
	            <label id="label_customer_mobile_phone" for="booking[customer_mobile_phone]" class="fieldtitle"><%=t.new_booking.customer_mobile.label%></label>
	            <input type="text" name="booking[customer_mobile_phone]" id="booking[customer_mobile_phone]" class="fieldcontrol" maxlength="15" placeholder="<%=t.new_booking.customer_mobile.placeholder%>" <%unless booking.nil?%>value="<%=booking.customer_mobile_phone%>"<%end%>/>      
	          </div>
	          <% if booking_item_family.driver and booking_item_family.driver_date_of_birth%>
	          <div class="formrow bottom-space">
	             <label id="label_driver_date_of_birth" for="booking[driver_date_of_birth]" class="fieldtitle"><%=t.new_driving_booking.driver_date_of_birth.label%> *</label>
                 <select name="booking[driver_date_of_birth_day]" id="booking[driver_date_of_birth_day]"></select>
                 <select name="booking[driver_date_of_birth_month]" id="booking[driver_date_of_birth_month]"></select>
                 <select name="booking[driver_date_of_birth_year]" id="booking[driver_date_of_birth_year]"></select>
                 <input type="hidden" name="booking[driver_date_of_birth]" id="booking[driver_date_of_birth]"></input>
	          </div>		        	        
	          <% end %>
	        </fieldset>

	        <fieldset id="fs_info">
	          <legend id="lg_info" class="legend-first-level"><%=t.new_booking.other_data%></legend>
	          <div class="formrow">
	            <label id="label_comments" for="booking[comments]" class="fieldtitle"><%=t.new_booking.comments.label%></label>
	            <textarea id="booking[comments]" name="booking[comments]" class="fieldcontrol" rows="10" placeholder="<%=t.new_booking.comments.placeholder%>"></textarea>
	          </div>	      
	          <p class="form-reservation-right-column"> <span id="booking_comments_length"></span> <%=t.available_chars%></p>
	        </fieldset>

	        <% if booking_item_family.driver %>
	        <fieldset id="fs_driver">
	          <legend id="lg_driver" class="legend-first-level overflow">
	        	<%=booking_item_family.driver_literal == :driver ? t.new_driving_booking.driver.label : t.new_booking.contact.label%>
	        	<span id="show_driver" data-icon="&#xe06d;" aria-hidden=true class="right-float"></span>
	          </legend>	             
	          <p class="fieldset_description">
	          	 <%=booking_item_family.driver_literal == :driver ? t.new_driving_booking.driver.description : t.new_booking.contact.description%>
	          </p>
	          <div id="driver_data" class="background-color-2 top-space bottom-space left-space right-space" style="display:none">
	            <legend class="legend-second-level"><%=t.new_driving_booking.driver_personal_data%></legend>
	            <div class="formrow">
	              <label id="label_driver_name" for="booking[driver_name]" class="fieldtitle"><%=t.new_driving_booking.driver_name.label%></label>
	              <input type="text" name="booking[driver_name]" id="booking[driver_name]" class="fieldcontrol" maxlength="40" placeholder="<%=booking_item_family.driver_literal == :driver ? t.new_driving_booking.driver_name.placeholder : t.new_booking.contact_name.placeholder%>" <%unless booking.nil?%>value="<%=booking.driver_name%>"<%end%>/>
	            </div>
	            <div class="formrow">
	              <label id="label_driver_surname" for="booking[driver_surname]" class="fieldtitle"><%=t.new_driving_booking.driver_surname.label%></label>
	              <input type="text" name="booking[driver_surname]" id="booking[driver_surname]" class="fieldcontrol" maxlength="40" placeholder="<%=booking_item_family.driver_literal == :driver ? t.new_driving_booking.driver_surname.placeholder : t.new_booking.contact_surname.placeholder%>"
	              <%unless booking.nil?%>value="<%=booking.driver_surname%>"<%end%>/>
	            </div>
	            <div class="formrow">
	              <label id="label_driver_document" for="booking[driver_document_id]" class="fieldtitle"><%=t.new_driving_booking.driver_nif.label%></label>
	              <input type="text" name="booking[driver_document_id]" id="booking[driver_document_id]" class="fieldcontrol" maxlength="50" placeholder="<%=booking_item_family.driver_literal == :driver ? t.new_driving_booking.driver_nif.placeholder : t.new_booking.contact_nif.placeholder%>" <%unless booking.nil?%>value="<%=booking.driver_document_id%>"<%end%>/>
	            </div>	        
	            <% if booking_item_family.driver_license %>
                <legend class="legend-second-level top-margin"><%=t.new_driving_booking.driver_license%></legend>
	            <div class="formrow">
	              <label id="label_driver_driving_license_number" for="booking[driver_driving_license_number]" class="fieldtitle"><%=t.new_driving_booking.driver_license_number.label%></label>
	              <input type="text" name="booking[driver_driving_license_number]" id="booking[driver_driving_license_number]" class="fieldcontrol" maxlength="50" placeholder="<%=t.new_driving_booking.driver_license_number.placeholder%>" <%unless booking.nil?%>value="<%=booking.driver_driving_license_number%>"<%end%>/>
	            </div>
	            <div class="formrow">
  	              <label id="label_driver_driving_license_date" for="booking[driver_driving_license_date]" class="fieldtitle"><%=t.new_driving_booking.driver_license_date.label%></label>
	              <select name="booking[driver_driving_license_date_day]" id="booking[driver_driving_license_date_day]"></select>
                  <select name="booking[driver_driving_license_date_month]" id="booking[driver_driving_license_date_month]"></select>
                  <select name="booking[driver_driving_license_date_year]" id="booking[driver_driving_license_date_year]"></select>
                  <input type="hidden" name="booking[driver_driving_license_date]" id="booking[driver_driving_license_date]"></select>    
	            </div>
	            <div class="formrow">
	              <label id="label_driver_driving_license_country" for="booking[driver_driving_license_country]" class="fieldtitle"><%=t.new_driving_booking.driver_license_country.label%></label>
	              <input type="text" name="booking[driver_driving_license_country]" id="booking[driver_driving_license_country]" class="fieldcontrol" maxlength="50" placeholder="<%=t.new_driving_booking.driver_license_country.placeholder%>" <%unless booking.nil?%>value="<%=booking.driver_driving_license_country%>"<%end%>/>
	            </div>
	            <% end %>
                <legend class="legend-second-level top-margin"><%=t.new_driving_booking.driver_address%></legend>
	            <div class="formrow">
	              <label id="label_driver_address_street" for="booking[driver_address[street]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_street.label%></label>
	              <input type="text" name="booking[driver_address[street]]" id="booking[driver_address[street]]" class="fieldcontrol" maxlength="60" placeholder="<%=t.new_driving_booking.driver_address_street.placeholder%>" <%if !booking.nil? and !booking.driver_address.nil?%>value="<%=booking.driver_address.street%>"<%end%>/>
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_number" for="booking[driver_address[number]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_number.label%></label>
	              <input type="text" name="booking[driver_address[number]]" id="booking[driver_address[number]]" class="fieldcontrol" maxlength="10" placeholder="<%=t.new_driving_booking.driver_address_number.placeholder%>" <%if !booking.nil? and !booking.driver_address.nil?%>value="<%=booking.driver_address.number%>"<%end%>/>
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_complement" for="booking[driver_address[complement]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_complement.label%></label>
	              <input type="text" name="booking[driver_address[complement]]" id="booking[driver_address[complement]]" class="fieldcontrol" maxlength="20" placeholder="<%=t.new_driving_booking.driver_address_complement.placeholder%>" <%if !booking.nil? and !booking.driver_address.nil?%>value="<%=booking.driver_address.complement%>"<%end%>/>
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_city" for="booking[driver_address[city]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_city.label%></label>
	              <input type="text" name="booking[driver_address[city]]" id="booking[driver_address[city]]" class="fieldcontrol" maxlength="60" placeholder="<%=t.new_driving_booking.driver_address_city.placeholder%>" <%if !booking.nil? and !booking.driver_address.nil?%>value="<%=booking.driver_address.city%>"<%end%>/>      
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_state" for="booking[driver_address[state]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_state.label%></label>
	              <input type="text" name="booking[driver_address[state]]" id="booking[driver_address[state]]" class="fieldcontrol" maxlength="60" placeholder="<%=t.new_driving_booking.driver_address_state.placeholder%>" <%if !booking.nil? and !booking.driver_address.nil?%>value="<%=booking.driver_address.state%>"<%end%>/>    
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_country" for="booking[driver_address[country]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_country.label%></label>
	              <input type="text" name="booking[driver_address[country]]" id="booking[driver_address[country]]" class="fieldcontrol" maxlength="50" placeholder="<%=t.new_driving_booking.driver_address_country.placeholder%>" <%if !booking.nil? and !booking.driver_address.nil?%>value="<%=booking.driver_address.country%>"<%end%>/>      
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_zip" for="booking[driver_address[zip]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_zip.label%></label>
	              <input type="text" name="booking[driver_address[zip]]" id="booking[driver_address[zip]]" class="fieldcontrol" maxlength="10" placeholder="<%=t.new_driving_booking.driver_address_zip.label%>" <%if !booking.nil? and !booking.driver_address.nil?%>value="<%=booking.driver_address.zip%>"<%end%>/>         
	            </div>
	          </div>
	        </fieldset>
	        <% end %>

	        <% if booking_item_family.flight %>
	        <fieldset id="fs_flight">
	          <legend id="lg_flight" class="legend-first-level overflow">
	         	<%=t.new_booking.flight.title%>
	        	<span id="show_flight" data-icon="&#xe06d;" aria-hidden=true class="right-float"></span>
	          </legend>	
	          <div id="flight_data" class="background-color-2 top-space bottom-space left-space right-space" style="display:none">
	            <div class="formrow">
	              <label id="label_flight_company" for="booking[flight_company]" class="fieldtitle"><%=t.new_booking.flight.company.label%></label>
	              <input type="text" name="booking[flight_company]" id="booking[flight_company]" 
	                   class="fieldcontrol" maxlength="80" placeholder="<%=t.new_booking.flight.company.placeholder%>"/>
	            </div>
	            <div class="formrow">
	              <label id="label_flight_company" for="booking[flight_number]" class="fieldtitle"><%=t.new_booking.flight.number.label%></label>
	              <input type="text" name="booking[flight_number]" id="booking[flight_number]" 
	                   class="fieldcontrol" maxlength="10" placeholder="<%=t.new_booking.flight.number.placeholder%>"/>
	            </div>
	            <div class="formrow">
	              <label id="label_flight_company" for="booking[flight_time]" class="fieldtitle"><%=t.new_booking.flight.time.label%></label>
	              <input type="text" name="booking[flight_time]" id="booking[flight_time]" 
	                   class="fieldcontrol" maxlength="5" placeholder="<%=t.new_booking.flight.time.placeholder%>"/>
	            </div>	          
	          </div>
	        </fieldset>
	        <% end %>	   