  <style>
    h3 {
      border-bottom: 1px solid;
    }
  </style>
  <% if @activity.lives? %>
    <h3><%=t.activity.reservation%></h3>
    <form name="select_date_form" id="select_date_form" <%if request.path.starts_with?('/admin')%>action="/admin/order/new-order-item-select-date"<%else%>action="/p/activity/select-date"<%end%>
            method="post">
      <% if request.path.starts_with?('/admin') %>
        <input type="hidden" name="order_id" id="order_id" value="<%=@order.id%>"/>
      <% end %> 
      <input type="hidden" name="activity_id" id="activity_id" value="<%=@activity.id%>"/>
      <h4><%=t.activity.dates%></h4>
      <select name="activity_date_id" id="activity_date_select" style="width:99%">
        <option><%=t.activity.dates%></option>
        <% @activity.activity_dates.each do |activity_date| %>
          <option value="<%=activity_date.id%>" <%if defined?@activity_date and !@activity_date.nil? and @activity_date.id == activity_date.id%>selected="true"<%end%>><%=activity_date.description%></option>
        <% end %>
      </select>
    </form> 
    <% if @occupation[:occupation_capacity].to_i > @occupation[:total_occupation].to_i %>
      <% if defined?@activity_date and !@activity_date.nil? %>
        <form name="activity_form" id="activity_form" <%if request.path.starts_with?('/admin')%>action="/admin/order/new-order-item-add-activity"<%else%>action="/p/activity/add-to-shopping-cart"<%end%> method="post">
          <% if request.path.starts_with?('/admin') %>
            <input type="hidden" name="order_id" id="order_id" value="<%=@order.id%>"/>
          <% end %>           
          <input type="hidden" name="activity_id" id="activity_id" value="<%=@activity.id%>"/>
          <input type="hidden" name="activity_date_id" id="activity_date_id" value="<%=@activity_date.id%>"/>
          <% if @activity.mode == :partial %>
              <%if request.path.starts_with?('/admin')%> 
                <%= partial :reservation_activity_tickets_order %>
              <% else %>
                <%= partial :reservation_activity_tickets %>
              <% end %>
          <% end %>
          <% if @activity.custom_pickup_places %>
              <%= partial :reservation_activity_pickup_place %>
          <% end %>
          <div id="total" class="centered_text more_contrast_text" style="font-size:3em"></div>
          <div id="botonera" class="top-margin">
            <input type="submit" class="form-button green-button" style="width:100%" value="Reservar"/>
          </div>
        </form>
      <% end %>
    <% else %>
      <div class="highlight_block all-border-solid-light smaller_text centered_text top-margin-1line"><%=t.activity.activity_not_available_dates%></div>    
    <% end %>          
  <% else %>
    <div class="highlight_block all-border-solid-light smaller_text centered_text" style="margin-top:0"><%=t.activity.activity_finished%></div>
  <% end %>        