		  <form id="form-search-item" name="form-search-item" class="guiblock">
		    <div class="container_12">
		      <div class="grid_4">
		      <div class="formrow">
		      	<label for="datefrom" id="labeldatefrom" class="fieldtitle">
		      		<%=(booking_item_family.start_date_literal==:arrival)?(t.new_booking.arrival_date):(t.new_booking.pickup_date)%>
		      	</label> 
		      	<input type="text" name="datefrom" id="datefrom" class="date_control" size="15" maxlength="10"/>
		      	<% if booking_item_family.time_to_from %>
		      	<select name="timefrom" id="timefrom"> 
		      	</select>
		      	<% else %>
		      	   <input type="hidden" name="timefrom" id="timefrom" value="<%=booking_item_family.time_start%>">
                <% end %>
		      </div>
              <% if booking_item_family.pickup_return_place %>
		      <div class="formrow">
	              <div class="collection_place">
	                 <label for="pickup_place" class="fieldtitle"><%=t.new_booking.pickup_place%></label>
	                 <select name="pickup_place" class="fieldcontrol" id="pickup_place">
	                 </select>
	              </div>
	              <div id="other_pickup_place" style="display:none;">
	                 <span class="columna1">&nbsp;</span>
	                 <input type="text" name="pickup_place_other" id="pickup_place_other" maxlength="80" size="28"  placeholder="<%=t.new_booking.pickup_place%>"/>
	              </div>
	              <input type="hidden" name="pickup_place_value" id="pickup_place_value"/>
	          </div>          		      	
	          <% end %>	    
	          </div>
	          <div class="grid_4">   
		      <div class="formrow">
		      	<label for="dateto" id="labeldateto" class="fieldtitle">
		      	  <%=(booking_item_family.start_date_literal==:arrival)?(t.new_booking.departure_date):(t.new_booking.return_date)%>
		      	</label> 
		      	<input type="text" name="dateto" id="dateto" class="date_control" size="15" maxlength="10"/>
		      	<% if booking_item_family.time_to_from %>
		      	<select name="timeto" id="timeto"> 
		      	</select>
		      	<% else %>
		      	   <input type="hidden" name="timeto" id="timeto" value="<%=booking_item_family.cycle_of_24_hours ? booking_item_family.time_start : booking_item_family.time_end%>">
		      	<% end %>
		      </div>
	          <% if booking_item_family.pickup_return_place %>
	          <div class="formrow">
	               <div class="return_place">
	                  <label for="return_place" class="fieldtitle"><%=t.new_booking.return_place%></label>
	      	          <select name="return_place" id="return_place" class="fieldcontrol">
	                  </select>
                   </div>
	               <div id="other_return_place" style="display:none;">
	               	  <span class="columna1">&nbsp;</span>
	                  <input type="text" name="return_place_other" id="return_place_other" maxlength="80" size="28" placeholder="<%=t.new_booking.return_place%>"/>  
	               </div>
	               <input type="hidden" name="return_place_value" id="return_place_value"/>
	          </div>
	          <% end %>
	          </div>
              <div class="grid_4">
		        <div class="formrow">
		          <% if booking_item_family.pickup_return_place %>	
		          <div class="top-margin-2lines">
		          <% else %>
		          <div class="top-margin">
		          <% end %>	
	        	    <input type="submit" value="<%=t.new_booking.search%>" id="button_calcular_tarifas" class="botones"/>
	        	  </div>
		        </div>  
		      </div>

		    </div>
		  </form>