<style>
  .activity_list_item {
    background-color: white;
    padding-bottom: 2em;
    padding-top: 1em;
    padding-right: 2em;
  }
  .shopping_cart_total {
    background-color: white;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 2em;    
  }
  .shopping_cart_item {
    border-bottom: 1px solid black;
  }
</style>
  <% @shopping_cart.shopping_cart_items_group_by_date_time_item_id.each do |idx,shopping_cart_items| %>
    <% first_shopping_cart_item = shopping_cart_items[:items].first %>
    <div class="activity_list_item">
      <div class="container_12">
          <div class="grid_10">
            <div class="left-margin">
              <h4><%=first_shopping_cart_item.item_description%></h4>
              <div class="less_contrast_text"><%=l(first_shopping_cart_item.date,"%d %B %Y")%> <%first_shopping_cart_item.time%></div>
              <div class="top-margin">
                <% shopping_cart_items[:items].each do |shopping_cart_item| %>
                <div class="grid_8 shopping_cart_item">
                  <div class="more_contrast_text"><%=shopping_cart_item.quantity%> <%=shopping_cart_item.item_price_description%> x <%="%.2f" % shopping_cart_item.item_unit_cost%>€</div>
                </div>
                <div class="grid_2 shopping_cart_item">
                  <div class="right_text"><%="%.2f" % shopping_cart_item.item_cost%>€</div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="grid_2">
            <div class="left-margin right-margin">
              <h4 class="right_text more_contrast_text" style="font-size: 1.2em"><%="%.2f" % shopping_cart_items[:total]%>€</h4>
            </div>
          </div>
      </div>
    </div>
  <% end %>
  <div class="shopping_cart_total">
      <div class="container_12">
        <div class="grid_10">
          <span>&nbsp;</span>
        </div>
        <div class="grid_2">
            <div class="right_text right-margin">
              <div class="less_contrast_text">TOTAL</div>
            </div>
            <div class="left-margin right-margin">
              <div class="right_text more_contrast_text" style="font-size: 1.5em"><%="%.2f" % @shopping_cart.total_cost%>€</div>              
            </div>
        </div>
      </div>
  </div>