<style  type="text/css">

  #main-container::-webkit-scrollbar {
    display: none;
  }

  #prior_day_button, #next_day_button, #prior_week_button, #next_week_button {
    position: relative;
    top: -1px;
  }

  #planning_date {
    text-align: center;
  }

  .admin_content_wrapper {
    margin: 10px 10px 10px 13px;
  }

  .entity-title {
    position: relative;
    top: -5px;
  }

  .top-navigation-bar {
    position: fixed;
    left: 230px;
    left: 0;
    right: 0;
    margin-bottom: 0;
    top: 60px;
    z-index: 1000;
  }

  .gap { /* Used to avoid transparences when scrolling planning table */
    position: fixed;
    left: 230px;
    right: 0;
    margin-bottom: 0;
    top: 110px;
    height: 40px;
    background-color: white;
    z-index: 1000;
  }

  #assignation_resource {
    margin-top: 14px;
    height: 80px;
  }

  @media screen and (min-width: 992px) {
    .top-navigation-bar {
      left: 230px;
    }
    .sidebar-mini .top-navigation-bar {
      left: 60px;
    }
    .gap {
      left: 230px;
    }
    .sidebar-mini .gap {
      left: 60px;
    }
  }

  @media screen and (max-width: 991px) {
    .gap {
      left: 14px;
    }
  }

</style>
<div class="top-navigation-bar">
  <div class="row">
    <div class="col-xs-2 col-md-4 col-lg-3">
      <h2 class="entity-title" style="position:relative; top: 2px"><%=t.bookings_planning.title%></h2>
    </div>
    <div class="col-xs-8 col-md-6 col-lg-5">
      <form class="text-center">
        <div class="form-row">
          <button id="prior_week_button" type="button" class="btn btn-default"><i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i></button>
          <button id="prior_day_button" type="button" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
          <input type="text" id="planning_date">
          <button id="next_day_button" type="button" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
          <button id="next_week_button" type="button" class="btn btn-default"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></button>
        </div>
      </form>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-4 pull-right">
      <% if @pending_of_asignation_bookings.size > 0 %>
      <button id="pending_asignation_button" class="btn btn-minw btn-primary pull-right" style="margin-left: 10px">Pendientes asignar<span style="background: red; padding: 2px 7px; border-radius: 50%; position: relative; top: -9px; left: 1px; color: white; text-decoration: none; font-size: 0.7em"><%=@pending_of_asignation_bookings.size%></span></button>
      <% end %>
    </div>
  </div>
  <div id="assignation_resource" style="display: none;">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="block block-bordered" style="margin-bottom: 0">
          <div class="block-content bg-gray-lighter">
            <form class="form-inline block">
               <input type="hidden" id="assignation_resource_booking_line_resource_id" name="assignation_resource_booking_line_resource_id">
               <div class="col-lg-12 bg-gray-lighter">
                   <label>#</label>
                   <span id="assignation_resource_booking_id"></span>
                   &nbsp;<i class="fa fa-user"></i>
                   <span id="assignation_resource_booking_customer"></span>
                   <% if @product_family.driver and @product_family.code='car' %>
                   <span id="assignation_resource_booking_driver_date_for_birth"></span>
                   <% end %>
                   &nbsp;
                   <i class="si si-puzzle"></i>
                   <span id="assignation_resource_booking_category"></span>
                   &nbsp;<i class="fa fa-calendar-o"></i>&nbsp;
                   <span id="assignation_resource_booking_date_from"></span>
                   &nbsp;<i class="fa fa-calendar-check-o"></i>&nbsp;
                   <span id="assignation_resource_booking_date_to"></span>
                   <% if @product_family.height or @product_family.weight %>
                     <span id="assignation_resource_booking_customer_height_weight"></span>
                   <% end %>
                   <button id="close_assignation_resource_button" class="btn btn-xs btn-danger pull-right">Cancelar</button>
               </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Used to hide the planning table scroll -->
<div class="gap">
</div>

<!-- Wraps the planning table -->
<div class="admin_content_wrapper">
  <%= partial :booking_planning %>
</div>

<!-- ========================================= -->
<!-- Pending assignation reservations modal    -->
<!-- ========================================= -->
<div class="modal fade" id="pending_asignation_container" tabindex="-1" role="dialog" aria-labelledby="pendingAssignationModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
          </li>
        </ul>
        <h3 class="modal-title">Reservas pendientes de asignar <span id="pending_reservations_count">(<%=@pending_of_asignation_bookings.size%>)</span></h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <button id="pending-reservation-auto-assignation-btn" class="btn btn-minw btn-primary btn-assign-resource">Asignación automática de todas las reservas</button>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th style="width: 50px">#</th>
            <th style="width: 120px">Cliente</th>
            <% if @product_family.driver and @product_family.code='car'%>
            <th style="width: 100px">Nacimiento</th>
            <% end %>
            <th style="width: 100px">Fechas</th>
            <th style="width: 30px">Días</th>
            <th style="width: 240px">Asignación</th>
          </tr>
          </thead>
          <tbody>
          <% last = nil %>
          <% number_of_bookings = 0 %>
          <% @pending_of_asignation_bookings.each do |reservation| %>
            <% if last != reservation %>
            <tr>
              <td style="vertical-align: middle"><%= reservation.id %></td>
              <td style="vertical-align: middle"><%= reservation.customer_name %> <%= reservation.customer_surname%></td>
              <% if @product_family.driver and @product_family.code='car'%>
                <td style="vertical-align: middle"><%= reservation.driver_date_of_birth ? reservation.driver_date_of_birth.strftime('%d-%m-%Y') : '-'%><br>(<%=reservation.driver_date_of_birth ? BookingDataSystem::Booking.completed_years(reservation.date_from, reservation.driver_date_of_birth) : '-' %> años)</td>
              <%end%>
              <td style="vertical-align: middle"><%=reservation.date_from.strftime('%d-%m-%Y')%> <%if @product_family.time_to_from%><%=reservation.time_from%><%end%><br><%=reservation.date_to.strftime('%d-%m-%Y')%> <%if @product_family.time_to_from%><%=reservation.time_to%><%end%></td>
              <td style="vertical-align: middle"><%=reservation.days%></td>
              <td style="vertical-align: middle">
                 <% if reservation.booking_line_resources.size == 1 %>
                   <div id="booking-line-resource-<%=reservation.booking_line_resources.first.id%>">
                     <div class="col-lg-12">
                       <strong><%= reservation.booking_lines.first.item_id %></strong>&nbsp;&nbsp;
                       <button class="btn btn-minw btn-success btn-assign-resource"
                               data-booking-id="<%=reservation.id%>"
                               data-booking-customer="<%=reservation.customer_name%> <%=reservation.customer_surname%>"
                               <% if @product_family.driver and @product_family.code='car'%>
                               data-booking-driver-date-of-birth="<%= reservation.driver_date_of_birth ? reservation.driver_date_of_birth.strftime('%d-%m-%Y') : ''%>"
                               data-booking-driver-age="<%=reservation.driver_date_of_birth ? BookingDataSystem::Booking.completed_years(reservation.date_from, reservation.driver_date_of_birth) : ''%>"
                               <% end %>
                               data-booking-from="<%=reservation.date_from.strftime('%d-%m-%Y')%><%if @product_family.time_to_from%> <%=reservation.time_from%><%end%>"
                               data-booking-date-from="<%=reservation.date_from.strftime('%Y-%m-%d')%>"
                               data-booking-time-from="<%=reservation.time_from%>"
                               data-booking-to="<%=reservation.date_to.strftime('%d-%m-%Y')%><%if @product_family.time_to_from%> <%=reservation.time_to%><%end%>"
                               data-booking-date-to="<%=reservation.date_to.strftime('%Y-%m-%d')%>"
                               data-booking-time-to="<%=reservation.time_to%>"
                               data-booking-category="<%= reservation.booking_lines.first.item_id %>"
                               data-booking-days="<%=reservation.days%>"
                               <% if @product_family.height or @product_family.weight %>
                               data-booking-customer-height="<%=reservation.booking_line_resources.first.customer_height%>"
                               data-booking-customer-weight="<%=reservation.booking_line_resources.first.customer_weight%>"
                               <% end %>
                               data-booking-line-resource-id="<%=reservation.booking_line_resources.first.id%>">Manual</button>
                       <button class="btn btn-minw btn-primary btn-assign-resource" data-booking-line-resource-id="<%=reservation.booking_line_resources.first.id%>">Automática</button>
                     </div>
                   </div>
                   <% if @product_family.height or @product_family.weight %>
                   <div style="margin-top: 3em">
                     <div class="col-lg-offset-1 col-lg-11">
                       <span><strong>altura:</strong> <%= (reservation.booking_line_resources.first.customer_height and !reservation.booking_line_resources.first.customer_height.nil? and !reservation.booking_line_resources.first.customer_height.empty?) ? reservation.booking_line_resources.first.customer_height : ' N/A '%></span>
                       <span><strong>peso:</strong> <%=(reservation.booking_line_resources.first.customer_weight and !reservation.booking_line_resources.first.customer_weight.nil? and !reservation.booking_line_resources.first.customer_weight.empty?) ? reservation.booking_line_resources.first.customer_weight : ' N/A '%></span>
                     </div>
                   </div>
                   <% end %>
                 <% else %>
                   <% reservation.booking_line_resources.each do |reservation_resource| %>
                     <% if reservation_resource.booking_item_reference.nil? %>
                       <div style="margin-bottom: 3em">
                         <div class="col-lg-12">
                           <strong><%= reservation_resource.booking_line.item_id %></strong>&nbsp;&nbsp;
                           <button class="btn btn-minw btn-success btn-assign-resource"
                                   data-booking-id="<%=reservation.id%>"
                                   data-booking-customer="<%=reservation.customer_name%> <%=reservation.customer_surname%>"
                                   <% if @product_family.driver and @product_family.code='car'%>
                                   data-booking-driver-date-of-birth="<%= reservation.driver_date_of_birth ? reservation.driver_date_of_birth.strftime('%d-%m-%Y') : ''%>"
                                   data-booking-driver-age="<%=reservation.driver_date_of_birth ? BookingDataSystem::Booking.completed_years(reservation.date_from, reservation.driver_date_of_birth) : ''%>"
                                   <% end %>
                                   data-booking-from="<%=reservation.date_from.strftime('%d-%m-%Y')%><%if @product_family.time_to_from%> <%=reservation.time_from%><%end%>"
                                   data-booking-date-from="<%=reservation.date_from.strftime('%Y-%m-%d')%>"
                                   data-booking-time-from="<%=reservation.time_from%>"
                                   data-booking-to="<%=reservation.date_to.strftime('%d-%m-%Y')%><%if @product_family.time_to_from%> <%=reservation.time_to%><%end%>"
                                   data-booking-date-to="<%=reservation.date_to.strftime('%Y-%m-%d')%>"
                                   data-booking-time-to="<%=reservation.time_to%>"                                   data-booking-category="<%= reservation_resource.booking_line.item_id %>"
                                   data-booking-days="<%=reservation.days%>"
                                   <% if @product_family.height or @product_family.weight %>
                                   data-booking-customer-height="<%=reservation_resource.customer_height%>"
                                   data-booking-customer-weight="<%=reservation_resource.customer_weight%>"
                                   <% end %>
                                   data-booking-line-resource-id="<%=reservation_resource.id%>">Manual</button>
                           <button class="btn btn-minw btn-primary btn-assign-resource"
                                   data-booking-line-resource-id="<%=reservation_resource.id%>">Automática</button>
                         </div>
                       </div>
                       <% if @product_family.height or @product_family.weight %>
                       <div style="margin-bottom: 3.50em">
                          <div class="col-lg-offset-1 col-lg-11" style="margin-bottom: 0.2em">
                            <span><strong>altura:</strong> <%=(reservation_resource.customer_height and !reservation_resource.customer_height.nil? and !reservation_resource.customer_height.empty?) ? reservation_resource.customer_height : ' N/A '%></span>
                            <span><strong>peso:</strong> <%=(reservation_resource.customer_weight and !reservation_resource.customer_weight.nil? and !reservation_resource.customer_weight.empty?) ? reservation_resource.customer_weight : ' N/A '%></span>
                          </div>
                       </div>
                       <br>
                       <% end %>
                     <% end %>
                   <% end %>
                 <% end %>
              </td>
            </tr>
            <% last = reservation %>
            <% number_of_bookings += 1 %>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>