<%= include('entity-management') %>

<!-- Renders the element description -->

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title">Ofertas</h2>
</script>

<script type="text/tmpl" id="elements_description">
  <%= t.discount_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:15%">Fecha inicio reserva</th>
         <th class="table-header-title" scope="col" style="width:15%">Fecha fin reserva</th>
         <th class="table-header-title" scope="col" style="width:20%">Reserva realizada</th>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.discount_management.table.discount %></th>
         <th class="table-header-title" scope="col" style="width:30%">Categorías</th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->

<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= self.formatDate(entity.discount.source_date_from,'dd-MM-yyyy') %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= self.formatDate(entity.discount.source_date_to,'dd-MM-yyyy') %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= self.formatDate(entity.discount.date_from,'dd-MM-yyyy') %> a <%%= self.formatDate(entity.discount.date_to,'dd-MM-yyyy') %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= new Number(entity.discount.value).toFixed(2) %><%% if (entity.discount.discount_type=='percentage'){%>%<%%}%></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%% for (var idx=0;idx<entity.booking_categories.length;idx++){%><%%= entity.booking_categories[idx].code%> <%%}%></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">


</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
                <div class="alert alert-info">
                  <p>Una oferta está vigente para las reservas cuya <b>fecha de entrega</b> y <b>devolución</b>
                  estén entre la fecha de inicio y fin de la reserva, que se reciban en el período
                  indicado.<p>
                </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block block-content-full">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Datos de la oferta</h3>
              </div>
              <div class="block-content block-content-narrow">
                <form name="element"id="booking_offer_form"  method="POST" class="form-horizontal">
                  <%% if (entity) { %>
                  <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
                  <%% } %>
                  <div class="form-group">
                    <label class="col-sm-3">Fecha inicio reserva</label>
                    <div class="col-sm-9">
                      <input type="text" maxlength="15" id="source_date_from" name="discount[source_date_from]" class="form-control date_control"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3">Fecha fin reserva</label>
                    <div class="col-sm-9">
                      <input type="text" maxlength="15" id="source_date_to" name="discount[source_date_to]" class="form-control date_control"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3">Regla de las fechas de reserva</label>
                    <div class="col-sm-8">
                      <select name="reservation_dates_rule" class="form-control" id="reservation_dates_rule">
                        <option value="from_included"  <%% if (entity.reservation_dates_rule == 'from_included'){%>selected<%%}%> >Fecha inicio reserva del cliente incluida</option>
                        <option value="all_included" <%% if (entity.reservation_dates_rule == 'all_included'){%>selected<%%}%> >Fecha de inicio y fin de la reserva del cliente incluida</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3">Reserva realizada desde</label>
                    <div class="col-sm-9">
                      <input type="text" maxlength="15" id="date_from" name="discount[date_from]" class="form-control date_control"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3">Reserva realizada hasta</label>
                    <div class="col-sm-9">
                      <input type="text" maxlength="15" id="date_to" name="discount[date_to]" class="form-control date_control"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3"><%= t.discount_management.form.discount %></label>
                    <div class="col-sm-4">
                      <input type="text" maxlength="80" id="value" name="discount[value]" class="form-control" <%% if (entity && entity.discount) {%> value="<%%=new Number(entity.discount.value).toFixed(2) %>" <%% } %>/>
                    </div>
                    <div class="col-sm-4">
                      <select name="discount[discount_type]" class="form-control" id="discount_type">
                        <option value="percentage"><%= t.promotion_code_management.form.percentage %></option>
                        <option value="amount"><%= t.promotion_code_management.form.amount %></option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3">Categorías</label>
                    <div class="col-sm-9">
                       <div id="booking_categories">
                       </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-9">
                        <%% if (entity) { %>
                        <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                        <%% } else { %>
                        <input type="button" class="btn btn-sm btn-primary create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                        <%% } %>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>



</script>
