<style>
.html_editor {
  min-height: 250px;
}
#prices_tab li a {
  background-color: white;
}

#prices_tab li#current a,
#prices_tab li#current a::after{
  background-color: white;
}
</style>
<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.booking_activity_management.title%></h2> 
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
</script>

<!-- Renders the search -->
<script type="text/tmpl" id="elements_search">
  <form name="contents_search" id="contents_search" style="overflow:visible" class="form-inline">
     <div class="form-row">
       <input type="text" name="search" class="search-entity-input form-control"
              maxlength="60" size="20" placeholder="<%=t.entitymanagement.search%>"/>
       <button class="btn btn-primary search-entity-button" type="button"><i class="si si-magnifier"></i></button>              
       <select name="active" class="search-entity-control form-control">
         <option value="only"><%=t.booking_activity_management.form.active_filter.only%></option>
         <option value="all"><%=t.booking_activity_management.form.active_filter.all%></option>
       </select>
     </div>
  </form>
</script>

<!-- Renders the elements container -->
<!--script type="text/tmpl" id="elements_container_template">
  <div id="elements_tbody" class="entity-blocks-container">
  </div>
</script-->
<script type="text/tmpl" id="elements_container_template">
  <table id="elements_table" class="table table-striped">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:10%">
         </th>
         <th class="table-header-title" scope="col" style="width:10%">
            Código
         </th>
         <th class="table-header-title" scope="col" style="width:20%">
            Nombre
         </th>
         <th class="table-header-title centered_text" scope="col" style="width:10%">
            Capacidad
         </th>
         <th class="table-header-title centered_text" scope="col" style="width:10%">
            Activo
         </th>
         <th class="table-header-title centered_text" scope="col" style="width:10%">
            Público
         </th>
         <th class="table-header-title centered_text" scope="col" style="width:10%">
            Solicitud
         </th>
         <th class="table-header-title centered_text" scope="col" style="width:10%">
            Paga y señal
         </th>
         <th class="table-header-title centered_text" scope="col" style="width:10%">
            Pago total
         </th>
         <th class="table-header-title" scope="col">
         </th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">
     </tbody>
  </table>
</script>

<!-- Renders one element in the elements list view -->

<script type="text/tmpl" id="elements_list_template">
    <tr class="table-row" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>" style="margin-right: 20px">
         <img src="<%%= entity.photo_url_medium %>" class="element-row-selector" style="display:block; margin: 0 auto" rel="<%%= index %>"/>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>" style="vertical-align: middle">
         <strong><%%= entity.code %></strong>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>" style="vertical-align: middle">
         <%%= entity.name %>
      </td>
      <td class="table-cell element-navigation-detail centered_text" rel="<%%= index %>" style="vertical-align: middle">
         <%%= entity.capacity %>
      </td>
      <td class="table-cell element-navigation-detail centered_text" rel="<%%= index %>" style="vertical-align: middle">
         <%%= entity.active ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>' %>
      </td>
      <td class="table-cell element-navigation-detail centered_text" rel="<%%= index %>" style="vertical-align: middle">
         <%%= entity.web_public ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>'  %>
      </td>
      <td class="table-cell element-navigation-detail centered_text" rel="<%%= index %>" style="vertical-align: middle">
         <%%= entity.allow_request_reservation ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>'  %>
      </td>
      <td class="table-cell element-navigation-detail centered_text" rel="<%%= index %>" style="vertical-align: middle">
         <%%= entity.custom_payment_allow_deposit_payment ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>'  %>
      </td>
      <td class="table-cell element-navigation-detail centered_text" rel="<%%= index %>" style="vertical-align: middle">
         <%%= entity.custom_payment_allow_total_payment ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>'  %>
      </td>
      <td class="table-cell">
      </td>
    </tr>
</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
   
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
    <%% if (entity) { %>

    <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
            <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                <div class="block-content block-content-full">
                    <form name="element" class="form-horizontal" method="POST">
                        <input type="hidden" name="id" value="<%%=entity.id%>"/>
                        <div class="form-group">
                          <div class="col-xs-12">
                              <label class="css-input switch switch-sm switch-primary">
                                <input type="checkbox" class="auto-submit-change-control" name="active" value="true" id="active" <%% if (entity && entity.active) { %>checked="checked"<%%}%>/><span></span>
                              </label>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Activo</div>
            </a>
        </div>
        <div class="col-lg-5">
            <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                <div class="block-content block-content-full">
                    <form name="element" class="form-horizontal" method="POST">
                        <input type="hidden" name="id" value="<%%=entity.id%>"/>
                        <div class="form-group">
                          <div class="col-xs-12">
                              <label class="css-input switch switch-sm switch-primary">
                                <input type="checkbox" name="web_public" class="auto-submit-change-control" value="true" id="web_public" <%% if (entity && entity.web_public) { %>checked="checked"<%%}%>/><span></span>
                              </label>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Público</div>
            </a>
        </div>
    </div>


    <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Datos básicos</h3>
            </div>
            <div class="block-content block-content-narrow">
              <form name="element" class="form-horizontal" method="POST">
                  <input type="hidden" name="id" value="<%%=entity.id%>"/>
                  <div class="form-group">
                     <label class="col-md-3 control-label"><%= t.booking_category_management.form.code.label %></label>
                     <div class="col-md-9">
                     <span class="form-control"><%%=entity.code%></span>
                     </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label"><%= t.booking_category_management.form.name.label %></label>
                    <div class="col-md-9">
                        <input type="text" maxlength="80" id="name" name="name" class="form-control" <%% if (entity) { %> value="<%%=entity.name%>" <%% } %>/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label"><%= t.booking_category_management.form.short_description.label %></label>
                    <div class="col-md-9">
                        <textarea rows="5" cols="50" id="short_description" name="short_description" class="form-control"><%% if (entity) {%><%%=entity.short_description %><%% } %></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">Precio desde</label>
                    <div class="col-md-9">
                        <input type="text" maxlength="12" id="from_price" name="from_price" class="form-control" <%% if (entity) { %> value="<%%=new Number(entity.from_price).toFixed(2)%>"<%%}%>/>
                        <p class="text-muted">Es el precio que se mostrará en el listado de actividades de la página web de reserva. No se trata de la tarifa, es un dato meramente informativo</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">Precio oferta</label>
                    <div class="col-md-9">
                        <input type="text" maxlength="12" id="from_price_offer" name="from_price_offer" class="form-control" <%% if (entity) { %> value="<%%=new Number(entity.from_price_offer).toFixed(2)%>"<%%}%>/>
                        <p class="text-muted">Es el precio de oferta que se mostrará en el listado de actividades de la página web de reserva. No se trata de la tarifa, es un dato meramente informativo</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label"><%= t.booking_activity_management.form.alias%></label>
                    <div class="col-md-9">
                        <input type="text" id="alias" name="alias" class="form-control" <%% if (entity){%>value="<%%=entity.alias%>" <%%} else { %>value=""<%%}%>/>
                        <p class="text-muted">Permite indicar la URL desde la que podrá acceder a la ficha de la actividad en la página web de reservas</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                    </div>
                  </div>
              </form>
            </div>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Imágenes</h3>
            </div>
            <div class="block-content block-content-narrow">
                 <%= include('entity-tabs-above', {:edit_element_form_above => edit_element_form_above,
                                                   :edit_element_form_above_ingroup_tab => edit_element_form_above_ingroup_tab,
                                                   :edit_element_form_above_ingroup => edit_element_form_above_ingroup,
                                                   :new_element_form_above => new_element_form_above,
                                                   :new_element_form_above_ingroup_tab => new_element_form_above_ingroup_tab,
                                                   :new_element_form_above_ingroup => new_element_form_above_ingroup}) %>

                 <%= include('entity-tabs-below', {:edit_element_form => edit_element_form,
                                    :edit_element_form_ingroup_tab => edit_element_form_ingroup_tab,
                                    :edit_element_form_ingroup => edit_element_form_ingroup,
                                    :new_element_form => new_element_form,
                                    :new_element_form_ingroup_tab => new_element_form_ingroup_tab,
                                    :new_element_form_ingroup => new_element_form_ingroup}) %>
            </div>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Duración</h3>
            </div>
            <div class="block-content block-content-narrow">
              <form name="element" class="form-horizontal" method="POST">
                  <input type="hidden" name="id" value="<%%=entity.id%>"/>
                  <div class="form-group">
                     <div class="col-md-12">
                       <p class="alert alert-warning">La duración es imprescindible para la gestión de la agenda.</p>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label">Días</label>
                     <div class="col-md-9">
                     <input type="text" maxlength="2" id="duration_days" name="duration_days" class="form-control" <%% if (entity) { %> value="<%%=entity.duration_days%>" <%% } %>/>
                     <p class="text-muted">Indique la duración de la actividad en días, en el caso de que la actividad se lleve a cabo durante uno o más días completos.</p>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label">Horas</label>
                     <div class="col-md-9">
                       <input type="text" maxlength="5" id="duration_hours" name="duration_hours" class="form-control" <%% if (entity) { %> value="<%%=entity.duration_hours%>" <%% } %>/>
                       <p class="text-muted">Indique la duración de la actividad en horas, en el caso de que la actividad dure unas horas, es decir no días completos.</p>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label">Color agenda</label>
                     <div class="col-md-9">
                       <input type="color" name="schedule_color" class="form-control" value="<%%=entity.schedule_color%>"/>
                       <p class="text-muted">Permite indicar el color con el que se verás las actividades en la agenda.</p>
                     </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                      <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                    </div>
                  </div>
              </form>
            </div>
         </div>
       </div>
     </div>

     <%% if (entity.mode!='full') {%>
     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Capacidad</h3>
            </div>
            <div class="block-content block-content-narrow">
              <form name="element" class="form-horizontal" method="POST">
                    <input type="hidden" name="id" value="<%%=entity.id%>"/>
                    <div class="form-group">
                       <label class="col-md-3 control-label"><%= t.booking_category_management.form.capacity.label %></label>
                       <div class="col-md-9">
                         <input type="text" maxlength="80" id="capacity" name="capacity" class="form-control" <%% if (entity) { %> value="<%%=entity.capacity%>" <%% } %>/>
                         <p class="text-muted">Indica el número máximo de plazas que se pueden vender de la actividad.</p>
                       </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-9 col-md-offset-3">
                          <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                      </div>
                    </div>
              </form>
            </div>
         </div>
       </div>
     </div>
     <%% } %>

     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title"><%% if (entity.occurence == 'cyclic') {%>Turnos<%% } else if (entity.occurence == 'multiple_dates'){%>Fechas<%%}else{%>Fecha<%%}%> </h3>
            </div>
            <div class="block-content <%% if (entity.occurence != 'multiple_dates') {%>block-content-narrow<%%}%>">
              <%% if (entity.occurence == 'cyclic') {%>
              <div id="turns_tab" class="top-margin bottom-margin">
                <form id="turns_form" class="form-horizontal" name="element" method="POST">
                <div class="container_12">
                  <div class="grid_12">
                    <input type="hidden" name="id" value="<%%=entity.id%>"/>
                    <%= partial :booking_activities_cyclic_turns_management %>
                    <div class="form-group">
                      <div class="col-md-12">
                        <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
              </div>
              <%% } %>
              <%% if (entity.occurence == 'multiple_dates') { %>
              <div id="dates_tab" class="top-margin bottom-margin">
                <%= partial :booking_activities_multiple_dates_management %>
              </div>
              <%% } %>
              <%% if (entity.occurence == 'one_time') {%>
              <div id="date_tab" class="top-margin bottom-margin">
                <form name="element" class="form-horizontal" method="POST">
                <div class="container_12">
                  <div class="grid_12">
                    <input type="hidden" name="id" value="<%%=entity.id%>"/>
                    <%= partial :booking_activities_one_time_management %>
                    <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                      <div class="navigation-bar-crud-buttons">
                        <input type="button" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                      </div>
                    </div>

                  </div>
                </div>
                </form>
              </div>
              <%% } %>
            </div>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Datos a solicitar en la reserva</h3>
            </div>
            <div class="block-content block-content-narrow">
              <form name="element" class="form-horizontal" method="POST">
                    <div class="form-group">
                       <div class="col-md-6">
                         <div class="checkbox">
                           <label for="request_customer_address">
                             <input type="checkbox" name="request_customer_address" id="request_customer_address" <%% if (entity.request_customer_address) {%>checked<%%}%>>
                             <%= t.booking_category_management.form.request_customer_address.label%>
                           </label>
                         </div>
                         <div class="checkbox">
                           <label for="request_customer_information">
                             <input type="checkbox" name="request_customer_information" id="request_customer_information" <%% if (entity.request_customer_information) {%>checked<%%}%>>
                             <%= t.booking_category_management.form.request_customer_information.label%>
                           </label>
                         </div>
                         <div class="checkbox">
                           <label for="request_customer_document_id">
                             <input type="checkbox" name="request_customer_document_id" id="request_customer_document_id" <%% if (entity.request_customer_document_id) {%>checked<%%}%>>
                             <%= t.booking_category_management.form.request_customer_document_id.label%>
                           </label>
                         </div>
                         <div class="checkbox">
                           <label for="request_customer_phone">
                             <input type="checkbox" name="request_customer_phone" id="request_customer_phone" <%% if (entity.request_customer_phone) {%>checked<%%}%>>
                             <%= t.booking_category_management.form.request_customer_phone.label%>
                           </label>
                         </div>
                         <div class="checkbox">
                           <label for="request_customer_email">
                             <input type="checkbox" name="request_customer_email" id="request_customer_email" <%% if (entity.request_customer_email) {%>checked<%%}%>>
                             <%= t.booking_category_management.form.request_customer_email.label%>
                           </label>
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="checkbox">
                           <label for="request_customer_phone">
                             <input type="checkbox" name="request_customer_phone" id="request_customer_phone" <%% if (entity.request_customer_phone) {%>checked<%%}%>>
                             <%= t.booking_category_management.form.request_customer_address.label%>
                           </label>
                         </div>
                         <div class="checkbox">
                           <label for="request_customer_height">
                             <input type="checkbox" name="request_customer_height" id="request_customer_height" <%% if (entity.request_customer_height) {%>checked<%%}%>>
                             <%= t.booking_category_management.form.request_customer_height.label%>
                           </label>
                         </div>
                         <div class="checkbox">
                           <label for="request_customer_weight">
                             <input type="checkbox" name="request_customer_weight" id="request_customer_weight" <%% if (entity.request_customer_weight) {%>checked<%%}%>>
                             <%= t.booking_category_management.form.request_customer_weight.label%>
                           </label>
                         </div>
                         <div class="checkbox">
                           <label for="request_customer_allergies_intolerances">
                             <input type="checkbox" name="request_customer_allergies_intolerances" id="request_customer_allergies_intolerances" <%% if (entity.request_customer_allergies_intolerances) {%>checked<%%}%>>
                             <%= t.booking_category_management.form.request_customer_allergies_intolerances.label%>
                           </label>
                         </div>

                       </div>
                    </div>

               <div class="form-group">
                <div class="col-md-12">
                    <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                </div>
              </div>
              </form>
            </div>
         </div>
       </div>
     </div>

     <%% if (entity.price_definition_1_id == null &&
             entity.price_definition_2_id == null &&
             entity.price_definition_3_id == null) { %>

     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Generar tarifas</h3>
            </div>
            <div class="block-content block-content-narrow">
                <form name="element" method="POST">
                   <input type="hidden" name="id" value="<%%=entity.id%>"/>
                   <div id="category_price">
                      <div class="formrow">
                        <label class="fieldtitle">Nombre tarifa</label>
                        <input type="text" maxlength="80" id="price_1_description" name="price_1_description" class="fieldcontrol"/>
                      </div>
                        <%= partial(:price_definition_creation, :locals => {suffix: '_1'})%>
                      </div>
                      <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                        <div class="navigation-bar-crud-buttons">
                           <input type="button" class="form-button green-button update-entity-button entity-management-button orange-button" value="<%=t.entitymanagement.create%>"/>
                        </div>
                   </div>
                </form>
            </div>
         </div>
       </div>
     </div>
     <%% } else { %>
     <%= partial :booking_activity_price_management %>
     <%% } %>


     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title"><%= t.booking_activity_management.form.payment_title %></h3>
            </div>
            <div class="block-content block-content-narrow">
              <form name="element" class="form-horizontal" method="POST">
                  <input type="hidden" name="id" value="<%%=entity.id%>"/>
                  <div class="form-group">
                     <label class="col-md-12"><%= t.booking_activity_management.form.allow_request_reservation.title %></label>
                     <div class="col-md-12">
                       <div class="checkbox">
                         <label for="allow_request_reservation">
                           <input type="checkbox" name="allow_request_reservation" id="allow_request_reservation" <%% if (entity.allow_request_reservation) {%>checked<%%}%>>
                           <%= t.booking_activity_management.form.allow_request_reservation.label%>
                         </label>
                       </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-12"><%= t.booking_activity_management.form.custom_payment_title %></label>
                     <div class="col-md-12">
                       <div class="checkbox">
                         <label for="custom_payment_allow_deposit_payment">
                           <input type="checkbox" name="custom_payment_allow_deposit_payment" id="custom_payment_allow_deposit_payment" <%% if (entity.custom_payment_allow_deposit_payment) {%>checked<%%}%>>
                           <%= t.booking_activity_management.form.custom_payment_allow_deposit_payment %>
                         </label>
                       </div>
                       <div class="checkbox">
                         <label for="custom_payment_allow_total_payment">
                           <input type="checkbox" name="custom_payment_allow_total_payment" id="custom_payment_allow_total_payment" <%% if (entity.custom_payment_allow_total_payment) {%>checked<%%}%>>
                           <%= t.booking_activity_management.form.custom_payment_allow_total_payment %>
                         </label>
                       </div>
                     </div>
                  </div>
                  <div class="form-group custom-payment-deposit-setup" <%% if (!entity.custom_payment_allow_total_payment){%>style="display:none"<%%}%>>
                    <label class="col-md-12"><%= t.booking_activity_management.form.custom_payment_deposit %></label>
                    <div class="col-md-4">
                        <input type="text" maxlength="2" id="custom_payment_deposit" name="custom_payment_deposit" class="form-control" <%% if (entity) { %> value="<%%=entity.custom_payment_deposit%>" <%% } %>/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-9">
                        <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                    </div>
                  </div>
              </form>
            </div>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Otras características</h3>
            </div>
            <div class="block-content block-content-narrow">
              <form name="element" class="form-horizontal" method="POST">
                    <input type="hidden" name="id" value="<%%=entity.id%>"/>
                    <div class="form-group">
                       <div class="col-md-9 col-md-offset-3">
                         <%% if (entity.mode!='full'){%>
                         <div class="checkbox">
                           <label for="notify_customer_if_empty">
                             <input type="checkbox" name="notify_customer_if_empty" id="notify_customer_if_empty" <%% if (entity.notify_customer_if_empty) {%>checked<%%}%>>
                             <%= t.booking_category_management.form.notify_customer_if_empty.label%>
                           </label>
                           <p class="text-muted">Permite indicar durante el proceso de reservas en la web que todavía no hay plazas contratadas por otros clientes</p>
                         </div>
                         <%% } %>
                         <div class="checkbox">
                           <label for="uses_planning_resources">
                             <input type="checkbox" name="uses_planning_resources" id="uses_planning_resources" <%% if (entity.uses_planning_resources) {%>checked<%%}%>>
                             <%= t.booking_category_management.form.uses_planning_resources.label%>
                           </label>
                             <p class="text-muted">Permite indicar si la actividad requiere el uso de recursos del inventario</p>
                         </div>
                         <div class="checkbox">
                           <label for="custom_pickup_places">
                             <input type="checkbox" name="custom_pickup_places" id="custom_pickup_places" <%% if (entity.custom_pickup_places) {%>checked<%%}%>>
                             <%= t.booking_activity_management.form.custom_pickup_places%>
                           </label>
                           <p class="text-muted">Permite establecer un conjunto de lugares en los que se recojerá a los clientes para realizar la actividad. Indicado para la recogida de los clientes en diversos hoteles.</p>
                         </div>
                       </div>
                       <div class="col-md-12">
                          <div id="pickup_places_container" <%% if (!entity || !entity.custom_pickup_places) { %> style="display:none"<%%}%>>
                               <select name="pickup_return_place_definition_id" class="form-control" id="pickup_return_place_definition"></select>
                          </div>
                       </div>
                    </div>
               <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                </div>
              </div>
              </form>
            </div>
         </div>
       </div>
     </div>

     <!--div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Calendario</h3>
            </div>
            <div class="block-content">
              <%% if (entity.calendar_id == null) { %>
              <div class="container_12">
                <div class="grid_6">
                  <form name="element" method="POST">
                      <%=t.booking_category_management.form.create_calendar.description%>
                      <input type="hidden" name="id" value="<%%=entity.id%>"/>
                      <input type="hidden" name="create_calendar" value="true"/>
                      <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                        <div class="navigation-bar-crud-buttons">
                           <input type="button" class="form-button green-button update-entity-button entity-management-button orange-button" value="<%=t.booking_category_management.form.create_calendar.label%>"/>
                        </div>
                      </div>
                  </form>
                </div>
              </div>
              <%% } %>
              <div id="calendar_container">
              </div>
            </div>
         </div>
       </div>
     </div-->

     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Descripción</h3>
            </div>
            <div class="block-content block-content-narrow">
              <form name="element" class="form-horizontal" method="POST">
                  <input type="hidden" name="id" value="<%%=entity.id%>"/>
                  <div class="form-group">
                     <label class="col-md-3 control-label"><%= t.booking_category_management.form.description.label %></label>
                     <div class="col-md-9">
                       <textarea rows="5" cols="50" id="description" name="description" class="form-control texteditor"><%% if (entity) {%><%%=entity.description %><%% } %></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                    </div>
                  </div>
              </form>
            </div>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Información detallada</h3>
            </div>
            <div class="block-content block-content-narrow">
              <form name="element" class="form-horizontal" method="POST">
                  <input type="hidden" name="id" value="<%%=entity.id%>"/>
                  <div class="form-group">
                     <label class="col-md-3 control-label"><%= t.booking_activity_management.form.detailed_info_what_includes.label %></label>
                     <div class="col-md-9">
                       <textarea rows="5" cols="50" id="detailed_info_what_includes" name="detailed_info_what_includes" class="form-control texteditor"><%% if (entity) {%><%%=entity.detailed_info_what_includes %><%% } %></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label"><%= t.booking_activity_management.form.detailed_info_timetable_duration.label %></label>
                     <div class="col-md-9">
                       <textarea rows="5" cols="50" id="detailed_info_timetable_duration" name="detailed_info_timetable_duration" class="form-control texteditor"><%% if (entity) {%><%%=entity.detailed_info_timetable_duration %><%% } %></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label"><%= t.booking_activity_management.form.detailed_info_ages.label %></label>
                     <div class="col-md-9">
                       <textarea rows="5" cols="50" id="detailed_info_ages" name="detailed_info_ages" class="form-control texteditor"><%% if (entity) {%><%%=entity.detailed_info_ages %><%% } %></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label"><%= t.booking_activity_management.form.detailed_info_recommendations.label %></label>
                     <div class="col-md-9">
                       <textarea rows="5" cols="50" id="detailed_info_recommendations" name="detailed_info_recommendations" class="form-control texteditor"><%% if (entity) {%><%%=entity.detailed_info_recommendations %><%% } %></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label"><%= t.booking_activity_management.form.detailed_info_meeting_point.label %></label>
                     <div class="col-md-9">
                       <textarea rows="5" cols="50" id="detailed_info_meeting_point" name="detailed_info_meeting_point" class="form-control texteditor"><%% if (entity) {%><%%=entity.detailed_info_meeting_point %><%% } %></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                    </div>
                  </div>
              </form>
            </div>
         </div>
       </div>
     </div>

     <% if @show_translations %>
     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
         <div class="block ">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Traducciones</h3>
            </div>
            <div class="block-content block-content-narrow">
              <div id="translation_container">
              </div>
            </div>
         </div>
       </div>
     </div>
     <% end %>

    <%% } else { %>

        <div id="basic_data_tab" class="top-margin bottom-margin">
          <div class="container_12">
            <div class="grid_6">
              <form name="element" method="POST">
                  <div class="formrow">
                    <label class="fieldtitle"><%= t.booking_activity_management.form.code.label %></label>
                    <input type="text" maxlength="20" id="code" name="code" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.code %>" <%% } %>/>
                  </div>
                  <div class="formrow">
                    <label class="fieldtitle"><%= t.booking_activity_management.form.name.label %></label>
                    <input type="text" maxlength="80" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.name%>" <%% } %>/>
                  </div>
                  <div class="formrow">
                    <label for="occurence" class="fieldtitle"><%= t.booking_activity_management.form.occurrence %></label>
                    <select name="occurence" class="fieldcontrol" id="occurence">
                      <option value="one_time"><%= t.booking_activity_management.form.occurrence_one_time %></option>
                      <option value="multiple_dates"><%= t.booking_activity_management.form.occurrence_multiple_dates %></option>
                     <option value="cyclic"><%= t.booking_activity_management.form.occurrence_cyclic %></option>
                    </select>
                  </div>
                  <div class="formrow">
                    <label for="mode" class="fieldtitle"><%= t.booking_activity_management.form.mode %></label>
                    <select name="mode" class="fieldcontrol" id="mode">
                      <option value="full"><%= t.booking_activity_management.form.mode_full %></option>
                      <option value="partial"><%= t.booking_activity_management.form.mode_partial %></option>
                    </select>
                  </div>
                  <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                    <div class="navigation-bar-crud-buttons">
                      <input type="button" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>

    <%% } %>     
                        

     
</script>

<%= element_form_extension if defined?element_form_extension %>
<%= element_extension if defined?element_extension %>
<%= element_action_extension if defined?element_action_extension %>
