<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.admin_new_reservation.title%></h2>
</div>

<div class="admin_content_wrapper">

  <!-- Reservation form pickup and return date, time and place -->

  <div class="row">
    <div class="col-lg-12">

      <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title">Seleccionar fechas</h3>
        </div>
        <div class="block-content block-content-narrow">
          <form id="reservation" name="reservation" class="form-horizontal push-10-t">

            <!-- Pickup date -->
            <div class="form-group">
              <label class="col-sm-3 control-label">
                <%=(booking_item_family.start_date_literal==:arrival)?(t.new_booking.arrival_date):(t.new_booking.pickup_date)%>
              </label>
              <div class="col-sm-2">
                <input type="text" name="date_from" id="date_from" class="date_control" size="15" maxlength="10"/>
              </div>
              <div class="col-sm-2">
                <% if booking_item_family.time_to_from %>
                    <input type="text" name="time_from" class="form-control" id="time_from" maxlength="5" size="5" value="<%=@shopping_cart.time_from%>"/>
                <% else %>
                    <input type="hidden" name="time_from" id="time_from" value="<%=@shopping_cart.time_from%>"/>
                <% end %>
              </div>
            </div>

            <!-- Pickup place -->
            <% if booking_item_family.pickup_return_place %>
                <div class="form-group">

                  <label class="col-sm-3 control-label">
                    <%=t.new_booking.pickup_place%>
                  </label>
                  <div class="col-sm-6">
                    <select name="pickup_place" class="form-control" id="pickup_place">
                    </select>
                    <div id="other_pickup_place" class="top-margin" style="display:none;">
                         <textarea name="pickup_place_other" id="pickup_place_other" rows="3" cols="28"
                                   placeholder="<%=t.new_booking.pickup_place%>"></textarea>
                    </div>
                    <input type="hidden" name="pickup_place_value" id="pickup_place_value"/>
                  </div>

                </div>
            <% end %>

            <!-- Return date -->

            <div class="form-group">
              <label class="col-sm-3 control-label">
                <%=(booking_item_family.start_date_literal==:arrival)?(t.new_booking.departure_date):(t.new_booking.return_date)%>
              </label>
              <div class="col-sm-2">
                <input type="text" name="date_to" id="date_to" class="date_control" size="15" maxlength="10"/>
              </div>
              <div class="col-sm-2">
                <% if booking_item_family.time_to_from %>
                    <input type="text" name="time_to" class="form-control" id="time_to" maxlength="5" size="5" value="<%=@shopping_cart.time_to%>"/>
                <% else %>
                    <input type="hidden" name="time_to" id="time_to" value="<%=@shopping_cart.time_to%>"/>
                <% end %>
              </div>
            </div>


            <!-- Return place -->
            <% if booking_item_family.pickup_return_place %>
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                    <%=t.new_booking.return_place%>
                  </label>
                  <div class="col-sm-6">
                    <select name="return_place" id="return_place" class="form-control">
                    </select>
                    <div id="other_return_place" class="form-control" style="display:none;">
                         <textarea name="return_place_other" id="return_place_other" rows="3" cols="28"
                                   placeholder="<%=t.new_booking.return_place%>"></textarea>
                    </div>
                    <input type="hidden" name="return_place_value" id="return_place_value"/>
                  </div>
                </div>
            <% end %>

            <!-- Driver age -->
            <% if booking_item_family and booking_item_family.driver and driver_age_rules %>

                <div class="form-group">
                  <label class="col-sm-3 control-label">
                    <%=t.new_booking.driver_age%>
                  </label>
                  <div class="col-sm-6">
                    <select name="driver_age_rule" id="driver_age_rule" class="form-control">
                      <% driver_age_rule_definition.driver_age_rules.each do |driver_age_rule|%>
                          <option value="<%=driver_age_rule.id%>" allowed="<%=driver_age_rule.allowed%>"
                                  deposit="<%=driver_age_rule.deposit > 0%>"
                                  supplement="<%=driver_age_rule.suplement > 0%>"
                                  <%if !driver_age_rule.allowed and driver_age_rule.description.size == 2%>not-allowed-message="<%=driver_age_rule.description.last%>"<%end%>><%=driver_age_rule.description.first%></option>
                      <% end %>
                    </select>
                  </div>
                </div>


            <% end %>
            <div class="form-group">
              <div class="col-sm-9">
                <button id="search_button" type="button"
                        class="btn btn-sm btn-primary pull-right"><i class="fa fa-arrow-right push-5-r"></i><%=t.admin_new_reservation.search%></button>
              </div>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-lg-7">
      <div id="products_list">
      </div>
    </div>
    <div class="col-lg-5">
      <div id="extras_list">
      </div>
      <div id="customer" style="display:none">
        <div class="block block-bordered">
          <div class="block-header bg-gray-lighter">
            <h3 class="block-title"><%=t.admin_new_reservation.customer_title%></h3>
          </div>
          <div class="block-content">
            <form name="customer">
              <div class="formrow">
                <label for="customer_name" class="fieldtitle"><%= t.admin_new_reservation.form.customer_name %> <span class="mandatoryfield">*</span></label>
                <input type="text" maxlength="40" id="customer_name" name="customer_name" class="fieldcontrol" value="<%= @shopping_cart.customer_name %>" />
              </div>

              <div class="formrow">
                <label for="customer_name" class="fieldtitle"><%= t.admin_new_reservation.form.customer_surname %> <span class="mandatoryfield">*</span></label>
                <input type="text" maxlength="40" id="customer_surname" name="customer_surname" class="fieldcontrol" value="<%= @shopping_cart.customer_surname %>" />
              </div>

              <div class="formrow">
                <label for="customer_phone" class="fieldtitle"><%= t.admin_new_reservation.form.customer_phone %></label>
                <input type="text" maxlength="15" id="customer_phone" name="customer_phone" class="fieldcontrol" value="<%= @shopping_cart.customer_phone %>" />
              </div>

              <div class="formrow">
                <label for="customer_phone" class="fieldtitle"><%= t.admin_new_reservation.form.customer_mobile_phone %></label>
                <input type="text" maxlength="15" id="customer_mobile_phone" name="customer_mobile_phone" class="fieldcontrol" value="<%= @shopping_cart.customer_mobile_phone %>" />
              </div>

              <div class="formrow">
                <label for="name" class="fieldtitle"><%= t.admin_new_reservation.form.customer_email %></label>
                <input type="text" maxlength="40" id="customer_email" name="customer_email" class="fieldcontrol" value="<%= @shopping_cart.customer_email %>" />
              </div>

            </form>
          </div>
        </div>
      </div>

      <div id="summary">
      </div>

    </div>
  </div>


</div>

<script type="text/tmpl" id="script_products">

      <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title">Productos</h3>
        </div>
        <div class="block-content">
          <form name="products_selection">
            <table id="products_table" class="table table-hover">
              <thead class="table-header">
                <tr>
                  <th class="table-header-title centered_text" scope="col" style="width:10%"></th>
                  <th class="table-header-title centered_text" scope="col" style="width:20%"><%= t.admin_new_reservation.products_table.photo %></th>
                  <th class="table-header-title centered_text" scope="col" style="width:30%"><%= t.admin_new_reservation.products_table.product %></th>
                  <th class="table-header-title centered_text" scope="col" style="width:20%"><%= t.admin_new_reservation.products_table.stock %></th>
                  <th class="table-header-title centered_text" scope="col" style="width:20%"><%= t.admin_new_reservation.products_table.price %></th>
                </tr>
              </thead>
              <tbody id="elements_tbody" class="table-tbody">
                <%% for (var idx=0;idx<products.length;idx++) { %>
                  <tr class="table-row element-navigation-detail" rel="<%%= idx %>" id="element_row_<%%=idx%>">
                    <td class="table-cell centered_text">
                      <% if multiple_products %>
                        <select name="item_id_<%%=products[idx].code%>" rel="<%%=products[idx].code%>" class="product_selector">
                          <%% for (var idxStock=0; idxStock <= products[idx].stock; idxStock++) { %>
                             <option value="<%%=idxStock%>"><%%=idxStock%></option>
                          <%% } %>
                        </select>
                      <% else %>
                        <input type="radio" name="item_id" value="<%%=products[idx].code%>" class="product_chooser"></input>
                      <% end %>
                   </td>
                   <td class="table-cell centered_text"><img src="<%%= products[idx].photo %>"</td>
                   <td class="table-cell centered_text"><%%=products[idx].name%></td>
                   <td class="table-cell centered_text"><%%= (products[idx].stock - products[idx].busy) %> (<%%=products[idx].stock%>)</td>
                   <td class="table-cell centered_text"><%%=new Number(products[idx].price).toFixed(2)%></td>
                 </tr>
                <%% } %>
               </tbody>
            </table>
          </form>
        </div>
      </div>

</script>

<script type="text/tmpl" id="script_extras">
      <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title"><%=t.admin_new_reservation.extras_title%></h3>
        </div>
        <div class="block-content">
          <form name="extras_selection">
            <table id="extras_table" class="table">
              <thead class="table-header">
                <tr>
                  <th class="table-header-title centered_text" scope="col" style="width:10%"></th>
                  <th class="table-header-title centered_text" scope="col" style="width:60%"><%= t.admin_new_reservation.extras_table.extra %></th>
                  <th class="table-header-title centered_text" scope="col" style="width:30%"><%= t.admin_new_reservation.extras_table.price %></th>
                  <th class="table-header-title"></th>
                </tr>
              </thead>
              <tbody id="elements_tbody" class="table-tbody">
                <%% for (var idx=0;idx<extras.length;idx++) { %>
                  <tr class="table-row element-navigation-detail" rel="<%%= idx %>" id="element_row_<%%=idx%>">
                    <td class="table-cell centered_text">
                      <%% if (extras[idx].max_quantity == 1) { %>
                        <input type="checkbox" name="extra_id_<%%=extras[idx].code%>" value="<%%=extras[idx].code%>" class="extra_chooser"></input>
                      <%% } else { %>
                        <select name="item_id_<%%=extras[idx].code%>" rel="<%%=extras[idx].code%>" class="extra_selector">
                          <%% for (var idxStock=0; idxStock <= extras[idx].max_quantity; idxStock++) { %>
                             <option value="<%%=idxStock%>"><%%=idxStock%></option>
                          <%% } %>
                        </select>
                      <%% } %>
                    </td>
                    <td class="table-cell centered_text"><%%=extras[idx].name%></td>
                    <td class="table-cell centered_text"><%%=new Number(extras[idx].unit_price).toFixed(2)%></td>
                  </tr>
                <%% } %>
              </tbody>
            </table>
          </form>
        </div>
      </div>
</script>

<script type="text/tmpl" id="script_summary">

      <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title"><%=t.admin_new_reservation.summary_title%></h3>
        </div>
        <div class="block-content">

          <div class="list">
            <ul>

              <li><%= t.admin_new_reservation.form.pickup %>: <span class="pull-right"><%%= Date.parse(shopping_cart.date_from).toString('dd/MM/yyyy') %>
                <% if booking_item_family.time_to_from %> <%%= shopping_cart.time_from %> <%end%></span></li>

              <% if booking_item_family.pickup_return_place %>
              <li><%= t.admin_new_reservation.form.pickup_place %>: <span class="pull-right"><%%= shopping_cart.pickup_place %></span></li>
              <% end %>

              <li><%= t.admin_new_reservation.form.return %>: <span class="pull-right"><%%= Date.parse(shopping_cart.date_to).toString('dd/MM/yyyy') %>
                <% if booking_item_family.time_to_from %> <%%= shopping_cart.time_to %> <%end%></span></li>

              <% if booking_item_family.pickup_return_place %>
              <li><%= t.admin_new_reservation.form.return_place %>: <span class="pull-right"><%%= shopping_cart.return_place %></span></li>
              <% end %>

              <li><%= t.admin_new_reservation.form.days %>: <span class="pull-right"><%%=new Number(shopping_cart.days) %></span></li>

              <li><%= t.admin_new_reservation.form.total_items %>: <span class="pull-right"><%%=new Number(shopping_cart.item_cost).toFixed(2)%>€</span></li>

              <%% if (shopping_cart.extras_cost > 0) { %>
              <li><%= t.admin_new_reservation.form.total_extras %>: <span class="pull-right"><%%=new Number(shopping_cart.extras_cost).toFixed(2)%>€</span></li>
              <%% } %>

              <%% if (shopping_cart.time_from_cost > 0) { %>
              <li><%= t.admin_new_reservation.form.time_from_cost %>: <span class="pull-right"><%%=new Number(shopping_cart.time_from_cost).toFixed(2)%>€</span></li>
              <%% } %>

              <%% if (shopping_cart.pickup_place_cost > 0) { %>
              <li><%= t.admin_new_reservation.form.pickup_place_cost %>: <span class="pull-right"><%%=new Number(shopping_cart.pickup_place_cost).toFixed(2)%>€</span></li>
              <%% } %>

              <%% if (shopping_cart.time_to_cost > 0) { %>
              <li><%= t.admin_new_reservation.form.time_to_cost %>: <span class="pull-right"><%%=new Number(shopping_cart.time_to_cost).toFixed(2)%>€</span></li>
              <%% } %>

              <%% if (shopping_cart.return_place_cost > 0) { %>
              <li><%= t.admin_new_reservation.form.return_place_cost %>: <span class="pull-right"><%%=new Number(shopping_cart.return_place_cost).toFixed(2)%>€</span></li>
              <%% } %>

              <%% if (shopping_cart.driver_age_cost > 0) { %>
              <li><%= t.admin_new_reservation.form.driver_age_cost %>: <span class="pull-right"><%%=new Number(shopping_cart.driver_age_cost).toFixed(2)%>€</span></li>
              <%% } %>

              <%% if (shopping_cart.product_deposit_cost > 0) { %>
              <li><%= t.admin_new_reservation.form.product_deposit_cost %>: <span class="pull-right"><%%=new Number(shopping_cart.product_deposit_cost).toFixed(2)%>€</span></li>
              <%% } %>

              <%% if (shopping_cart.driver_age_deposit > 0) { %>
              <li><%= t.admin_new_reservation.form.driver_age_deposit %>: <span class="pull-right"><%%=new Number(shopping_cart.driver_age_deposit).toFixed(2)%>€</span></li>
              <%% } %>

              <%% if (shopping_cart.total_deposit > 0) { %>
              <li><%= t.admin_new_reservation.form.total_deposit %>: <span class="pull-right"><%%=new Number(shopping_cart.total_deposit).toFixed(2)%>€</span></li>
              <%% } %>

              <li><%= t.admin_new_reservation.form.total_cost %>: <span class="pull-right"><strong><%%=new Number(shopping_cart.total_cost).toFixed(2)%>€</strong></span></li>
            </ul>
          </div>

          <div class="bottom-margin overflow">
            <div class="top-margin">
              <button id="make_reservation_button" type="button" class="form-button green-button action-button entity-management-button"
                 style="width:100%"><%=t.admin_new_reservation.make_reservation%></button>
            </div>
          </div>

          <div id="reservation_error">
          </div>

        </div>
      </div>
</script>