
     <style>
        #new_prices_table .table, #new_prices_table .table-row {
        	background-color:rgb(253, 253, 212);
        }
     
     </style>

     <div class="top-navigation-bar">
       <h2 class="entity-title"><%=t.booking_management_edit.title%></h3>
     </div>

     <div class="admin_content_wrapper">
       <div class="alert">
         <%=t.booking_management_edit.description%>
       </div>

       <form id="reservation" class="top-margin" name="reservation">
       <div class="guiblock">
          <div class="container_12">
      	    <div class="grid_6">

              <div class="formrow">
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.id %></span>
                    <span class="entity-fieldvalue"><%= booking.id %></span>
                  </div>
                </div>  
              </div>
              <div class="formrow">
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.customer_title %></span>
                    <span class="entity-fieldvalue"><%= booking.customer_name %> <%= booking.customer_surname %></span>
                  </div>
                </div>
              </div>

              <div class="formrow">
                  <div class="element_template">
                    <div class="entity-field">
                      <span class="entity-fieldlabel less_contrast_text">
                        <%=(booking_item_family.start_date_literal==:arrival)?(t.new_booking.arrival_date):(t.new_booking.pickup_date)%>
                      </span>
                      <span class="entity-fieldvalue">
                        <input type="text" name="date_from" id="date_from" class="date_control" size="15" maxlength="10"/>
                        <% if booking_item_family.time_to_from %>
                          <input type="text" name="time_from" id="time_from" maxlength="5" size="5" value="<%=booking.time_from%>"/>
                        <% else %>
                          <input type="hidden" name="time_from" id="time_from" value="<%=booking.time_from%>"/>
                        <% end %>                        
                      </span>
                    </div>
                  </div>           
              </div>

              <% if booking_item_family.pickup_return_place %>
              <div class="formrow">
                  <div class="element_template">
                    <div class="entity-field">
                      <span class="entity-fieldlabel less_contrast_text">
                        <%=t.new_booking.pickup_place%>
                      </span>
                      <span class="entity-fieldvalue">
                        <div class="pickup_place">
                          <select name="pickup_place" class="fieldcontrol" id="pickup_place">
                          </select>     
                        </div>
                        <div id="other_pickup_place" class="top-margin" style="display:none;">
                           <textarea name="pickup_place_other" id="pickup_place_other" rows="3" cols="28"  placeholder="<%=t.new_booking.pickup_place%>"><%=booking.pickup_place%></textarea>
                        </div>
                        <input type="hidden" name="pickup_place_value" id="pickup_place_value"/>                                        
                      </span>
                    </div>
                  </div>           
              </div>
              <% end %>

              <div class="formrow">
                  <div class="element_template">
                    <div class="entity-field">
                      <span class="entity-fieldlabel less_contrast_text">
                         <%=(booking_item_family.start_date_literal==:arrival)?(t.new_booking.departure_date):(t.new_booking.return_date)%>
                      </span>
                      <span class="entity-fieldvalue">
                         <input type="text" name="date_to" id="date_to" class="date_control" size="15" maxlength="10"/>
                         <% if booking_item_family.time_to_from %>
                           <input type="text" name="time_to" id="time_to" maxlength="5" size="5" value="<%=booking.time_to%>"/>
                         <% else %>
                           <input type="hidden" name="time_from" id="time_to" value="<%=booking.time_to%>"/>       
                         <% end %>               
                      </span>
                    </div>
                  </div>           
              </div>

              <% if booking_item_family.pickup_return_place %>
              <div class="formrow">
                  <div class="element_template">
                    <div class="entity-field">
                      <span class="entity-fieldlabel less_contrast_text">
                        <%=t.new_booking.return_place%>
                      </span>
                      <span class="entity-fieldvalue">
                        <div class="return_place">
                          <select name="return_place" id="return_place" class="fieldcontrol">
                          </select>     
                        </div>
                        <div id="other_return_place" class="top-margin top-space" style="display:none;">
                          <textarea name="return_place_other" id="return_place_other" rows="3" cols="28"  placeholder="<%=t.new_booking.return_place%>"><%=booking.return_place%></textarea>  
                        </div>
                        <input type="hidden" name="return_place_value" id="return_place_value"/>                                        
                      </span>
                    </div>
                  </div>           
              </div>
              <% end %>              

      	    </div>
          </div>
       </div>

       <div id="item-selection" class="element-form-detail">

           <div id="situation_change" style="display:none">
            
             <div class="container_12 top-separator top-margin-2lines">
               <div class="grid_6">
                 <h3 class="centered_text"><%=t.booking_management_edit.form.current_situation%></h3>             
               </div>
               <div class="grid_6" style="background-color:rgb(253, 253, 212)">
                 <h3 class="centered_text"><%=t.booking_management_edit.form.new_situation%></h3>
               </div>               
             </div>

             <div class="container_12">
               <div class="grid_6">
                  <div class="element_template">
                    <div class="entity-field">
                       <span><%= t.booking_management.form.days %>:</span>
                       <span style="width: 70px; text-align: right;"><%= booking.days %></span>
                    </div>
                  </div> 
                  <div class="more_contrast_text top-margin bottom-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.booking_line.title %>
                  </div>                   
                  <div id="extras">
                  </div>
               </div>
               <div class="grid_6" style="background-color:rgb(253, 253, 212)">
                 <div id="new_prices">
                 </div>                
               </div>               
             </div>
           </div>

           <div class="top-separator bottom-margin overflow">
             <div class="top-margin right-float">
               <input id="update_button" type="button" value="<%=t.entitymanagement.update%>" class="form-button update-entity-button action-button entity-management-button" style="display:none"/>
             </div>  
           </div>     
         </form>
       </div>

     </div>


    <script type="text/tmpl" id="script_extras">
              <div class="element_template">
                     <table class="table">
                        <thead class="table-header">
                          <tr>
                            <th class="table-cell left_text" scope="col" style="width:30%"><%=t.booking_management.form.extra_description%></th>
                            <th class="table-cell right_text" scope="col" style="width:20%"><%=t.booking_management.form.extra_quantity%></th>
                            <th class="table-cell right_text" scope="col" style="width:20%"><%=t.booking_management.form.extra_cost_1unit%></th>
                            <th class="table-cell right_text" scope="col" style="width:30%"><%=t.booking_management.form.extra_cost%></th>        
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                          <%% for (var lineIdx=0; lineIdx < booking.booking_lines.length; lineIdx++) { %>
                            <tr class="table-row">
                               <td class="table-cell"><%%=booking.booking_lines[lineIdx].item_id%> - <%%= booking.booking_lines[lineIdx].item_description %></td>
                               <td class="table-cell right_text"><%%= booking.booking_lines[lineIdx].quantity %></td>
                               <td class="table-cell right_text">
                                  <input type="text" size="8" maxlength="10" class="right_text"  value="<%%= new Number(booking.booking_lines[lineIdx].item_unit_cost).toFixed(2) %>" style="border-color:white" readonly="readonly"/>
                               </td>
                               <td class="table-cell right_text">
                                  <%%= new Number(booking.booking_lines[lineIdx].item_cost).toFixed(2) %>
                               </td>
                            </tr>                            
                          <%% } %>  
                          <%% for (var extraIdx=0; extraIdx < booking.booking_extras.length; extraIdx++) { %>
                            <tr class="table-row">
                               <td class="table-cell"><%%=booking.booking_extras[extraIdx].extra_id%> - <%%= booking.booking_extras[extraIdx].extra_description %></td>
                               <td class="table-cell right_text"><%%= booking.booking_extras[extraIdx].quantity %></td>
                               <td class="table-cell right_text">
                                  <input type="text" size="8" maxlength="10" class="right_text"  value="<%%= new Number(booking.booking_extras[extraIdx].extra_unit_cost).toFixed(2) %>" style="border-color:white" readonly="readonly"/>
                               </td>
                               <td class="table-cell right_text">
                                  <%%= new Number(booking.booking_extras[extraIdx].extra_cost).toFixed(2) %>
                               </td>
                            </tr>
                          <%% } %>
                          <tr class="table-row">
                              <td class="table-cell uppercase_text more_contrast_text"><%= t.booking_management.form.item_cost %></td>
                              <td class="table-cell"></td>
                              <td class="table-cell"></td>
                              <td class="table-cell right_text"><%= "%.2f" % booking.item_cost %></td>                              
                          </tr>
                          <tr class="table-row">
                              <td class="table-cell uppercase_text more_contrast_text"><%= t.booking_management.form.extras_cost %></td>
                              <td class="table-cell"></td>
                              <td class="table-cell"></td>
                              <td class="table-cell right_text"><%= "%.2f" % booking.extras_cost %></td>                              
                          </tr>
                          <%% if (booking.time_from_cost > 0 ) { %>
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.time_from_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell right_text"><%%= booking.time_from_cost.toFixed(2) %> </td>
                          </tr>
                          <%% } %>
                          <%% if (booking.time_to_cost > 0 ) { %>          
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.time_to_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell right_text"><%%= booking.time_to_cost.toFixed(2) %> </td>
                          </tr>
                          <%% } %>
                          <%% if (booking.pickup_place_cost > 0 ) { %>          
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.pickup_place_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell right_text"><%%= booking.pickup_place_cost.toFixed(2) %> </td>
                          </tr>      
                          <%% } %>
                          <%% if (booking.return_place_cost > 0 ) { %>                 
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.return_place_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell right_text"><%%= booking.return_place_cost.toFixed(2) %> </td>
                          </tr>                 
                          <%% } %>                                                 
                          <tr class="table-row">
                              <td class="table-cell uppercase_text more_contrast_text"><%= t.booking_management.form.total_cost %></td>
                              <td class="table-cell"></td>
                              <td class="table-cell"></td>
                              <td class="table-cell right_text"><%= "%.2f" % booking.total_cost %></td>                              
                          </tr>   
                        </tbody>
                     </table>        
              </div>
    </script>


    <script type="text/tmpl" id="script_new_extras">
              <div class="element_template">
                 <div class="entity-field">
                   <span><%= t.booking_management.form.days %>:</span>
                   <span class="more_contrast_text" style="width: 100px; text-align: right;"><%%= booking.days %></span>
                 </div>
               </div>
               <div class="more_contrast_text top-margin bottom-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.booking_line.title %></div>        
               <div class="element_template">
                 <div id="new_prices_table">
                     <table class="table">
                        <thead class="table-header">
                          <tr>
                            <th class="table-cell left_text" scope="col" style="width:30%"><%=t.booking_management.form.extra_description%></th>
                            <th class="table-cell right_text" scope="col" style="width:20%"><%=t.booking_management.form.extra_quantity%></th>
                            <th class="table-cell right_text" scope="col" style="width:20%"><%=t.booking_management.form.extra_cost_1unit%></th>
                            <th class="table-cell right_text" scope="col" style="width:30%"><%=t.booking_management.form.extra_cost%></th>        
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                          <%% for (var lineIdx=0; lineIdx < booking.booking_lines.length; lineIdx++) { %>
                            <tr class="table-row">
                               <td class="table-cell"><%%=booking.booking_lines[lineIdx].item_id%> - <%%= booking.booking_lines[lineIdx].item_description %></td>
                               <td class="table-cell right_text"><%%= booking.booking_lines[lineIdx].quantity %></td>
                               <td class="table-cell right_text">
                                <input type="text" size="8" maxlength="10" class="item-cost price right_text" id="booking_line[<%%=lineIdx%>][item_unit_cost]" rel="<%%=lineIdx%>"
                                     name="booking_lines[<%%=lineIdx%>][item_unit_cost]" value="<%%= new Number(booking.booking_lines[lineIdx].item_unit_cost).toFixed(2) %>"/>
                               </td>
                               <td class="table-cell right_text">
                                  <%%= new Number(booking.booking_lines[lineIdx].item_cost).toFixed(2) %>
                               </td>
                            </tr>                            
                          <%% } %>  
                          <%% for (var extraIdx=0; extraIdx < booking.booking_extras.length; extraIdx++) { %>
                            <tr class="table-row">
                               <td class="table-cell"><%%=booking.booking_extras[extraIdx].extra_id%> - <%%= booking.booking_extras[extraIdx].extra_description %></td>
                               <td class="table-cell right_text"><%%= booking.booking_extras[extraIdx].quantity %></td>
                               <td class="table-cell right_text">
                                  <input type="text" size="8" maxlength="10" class="extra-cost price right_text" id="booking_extra[<%%=extraIdx%>][extra_unit_cost]" rel="<%%=extraIdx%>"
                                     name="booking_extra[<%%=extraIdx%>][extra_unit_cost]" value="<%%= new Number(booking.booking_extras[extraIdx].extra_unit_cost).toFixed(2) %>"/>
                               </td>
                               <td class="table-cell right_text">
                                  <%%= new Number(booking.booking_extras[extraIdx].extra_cost).toFixed(2) %> 
                               </td>
                            </tr>
                          <%% } %>
                          <tr class="table-row">
                              <td class="table-cell uppercase_text more_contrast_text"><%= t.booking_management.form.item_cost %></td>
                              <td class="table-cell"></td>
                              <td class="table-cell"></td>
                              <td class="table-cell right_text"><%%= new Number(booking.item_cost).toFixed(2) %></td>                              
                          </tr>
                          <tr class="table-row">
                              <td class="table-cell uppercase_text more_contrast_text"><%= t.booking_management.form.extras_cost %></td>
                              <td class="table-cell"></td>
                              <td class="table-cell"></td>
                              <td class="table-cell right_text"><%%= new Number(booking.extras_cost).toFixed(2) %></td>                            
                          </tr>
                          <%% if (booking.time_from_cost > 0 ) { %>
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.time_from_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell right_text"><%%= booking.time_from_cost.toFixed(2) %> </td>
                          </tr>
                          <%% } %>
                          <%% if (booking.time_to_cost > 0 ) { %>          
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.time_to_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell right_text"><%%= booking.time_to_cost.toFixed(2) %> </td>
                          </tr>
                          <%% } %>
                          <%% if (booking.pickup_place_cost > 0 ) { %>          
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.pickup_place_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell right_text"><%%= booking.pickup_place_cost.toFixed(2) %> </td>
                          </tr>      
                          <%% } %>
                          <%% if (booking.return_place_cost > 0 ) { %>                 
                          <tr class="table-row">
                            <td class="table-cell uppercase_text"><%=t.new_booking.return_place_cost%></td>
                            <td class="table-cell"></td>
                            <td class="table-cell"></td>
                            <td class="table-cell right_text"><%%= booking.return_place_cost.toFixed(2) %> </td>
                          </tr>                 
                          <%% } %>                               
                          <tr class="table-row">
                              <td class="table-cell uppercase_text more_contrast_text"><%= t.booking_management.form.total_cost %></td>
                              <td class="table-cell"></td>
                              <td class="table-cell"></td>
                              <td class="table-cell right_text"><%%= new Number(booking.total_cost).toFixed(2) %></td>                              
                          </tr>                          

                        </tbody>
                     </table>  
                  </div>      
              </div>
    </script>  
