<%= include('entity-management') %>

<!-- Renders the element description -->

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.booking_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
  <%= t.booking_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">
  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.booking_management.table.id %></th>
         <th class="table-header-title centered_text" scope="col" style="width:15%"><%= t.booking_management.table.creation_date %></th>
         <th class="table-header-title centered_text" scope="col" style="width:24%"><%= t.booking_management.table.customer %></th>
         <th class="table-header-title centered_text" scope="col" style="width:10%"><%= t.booking_management.table.status %></th>
         <th class="table-header-title centered_text" scope="col" style="width:5%"><%= t.booking_management.table.payment_status %></th>  
         <th class="table-header-title centered_text" scope="col" style="width:5%"><%= t.booking_management.table.category %></th>                
         <th class="table-header-title centered_text" scope="col" style="width:12%"><%= t.booking_management.table.date_from %></th>
         <th class="table-header-title centered_text" scope="col" style="width:12%"><%= t.booking_management.table.date_to %></th>
         <th class="table-header-title centered_text" scope="col" style="width:5%"><%= t.booking_management.table.notifications %></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">
    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.id %></td>
      <td class="table-cell centered_text"><%%= self.formatDate(entity.creation_date) %></td>
      <td class="table-cell centered_text"><%%= entity.customer_name %> <%%=entity.customer_surname%></td>
      <td class="table-cell centered_text">
        <span class="smaller_text <%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
          <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
        </span>
      </td>
      <td class="table-cell centered_text">
         <%% if (entity.payment_status == 'deposit') { %><span class="element-status doing-status smaller_text">d</span> <%% } %>
         <%% if (entity.payment_status == 'total') { %><span class="element-status done-status smaller_text">t</span> <%%}%>
      </td>       
      <td class="table-cell centered_text"><%%= entity.item_id %> </td>
      <td class="table-cell centered_text"><%%= self.formatDate(entity.date_from,'dd.MM.yyyy') %> </td>
      <td class="table-cell centered_text"><%%= self.formatDate(entity.date_to,'dd.MM.yyyy') %> </td>
      <td class="table-cell centered_text">
         <%% if (entity.customer_req_notification_sent) { %><span class="element-status pending-status smaller_text">c1</span> <%% } %>
         <%% if (entity.customer_notification_sent) { %><span class="element-status confirmed-status smaller_text">c2</span> <%%}%>
         <%% if (entity.manager_notification_sent) { %><span class="element-status confirmed-status smaller_text">m</span><%%}%>
      </td> 
    </tr>
</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
     
     <div class="element-detail guiblock overflow">

        <div class="grid_6">
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.id %></span>
                <span class="entity-fieldvalue"><%%= entity.id %></span>
              </div>
            </div>  
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.creation_date %></span>
                <span class="entity-fieldvalue">
                  <%%= self.formatDate(entity.creation_date,'dd.MM.yyyy')%> 
                  <span><%%= self.formatDate(entity.creation_date,'HH:mm')%></span>
                </span>
              </div>
            </div>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.source %></span>
                <span class="entity-fieldvalue"><%%= entity.source %></span>
              </div>
            </div>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.status %></span>
                <span class="entity-fieldvalue">
                  <span class="<%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
                    <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
                  </span>
                </span>
              </div>
            </div>
            <div class="element_template">
               <div class="entity-field">
                 <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.payment_status %></span>
                 <span class="entity-fieldvalue">
                    <span class="<%%=self.model.entityHooks[0].paymentStatusClass(entity)%> element-status">
                      <%%= self.model.entityHooks[0].paymentStatusDescription[entity.payment_status] %>
                    </span>
                 </span>
               </div>
            </div> 
            <div class="element_template top-margin">
                    <%% if (entity.status == 'pending_confirmation') { %>
                    <button class="form-button green-button element-action-button" id="confirm_booking_button" 
                      title="<%=t.booking_management.form.confirm_button.label%>" style="width:47%"
                      data-action-method="POST"
                      data-action-url="/api/booking/confirm/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.confirm_button.message%>">
                      <%=t.booking_management.form.confirm_button.label%>
                    </button>
                    <button class="form-button red-button element-action-button" id="cancel_booking_button" 
                      title="<%=t.booking_management.form.cancel_button.label%>" style="width:47%"
                      data-action-method="POST"
                      data-action-url="/api/booking/cancel/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.cancel_button.message%>">
                      <%=t.booking_management.form.cancel_button.label%>
                    </button>                            
                   <%% } %>
                   <%% if (entity.status == 'confirmed') {  %>
                   <button class="form-button blue-button element-action-button" id="pickup_booking_button" 
                      title="<%=t.booking_management.form.pickup_button.label%>" style="width:95%"
                      data-action-method="POST"
                      data-action-url="/api/booking/pickup/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.pickup_button.message%>">
                    <%=t.booking_management.form.pickup_button.label%>
                   </button>
                   <%%  } %>
                   <%% if (entity.status == 'in_progress') { %>
                   <button class="form-button black-button element-action-button" id="return_booking_button" 
                      title="<%=t.booking_management.form.return_button.label%>"  style="width:95%"
                      data-action-method="POST"
                      data-action-url="/api/booking/return/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.return_button.message%>">
                      <%=t.booking_management.form.return_button.label%>
                   </button>
                   <%% }%>

            </div>
        </div>
      
        <div class="grid_6">
           <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.item %></span>              
                   <span><%%= entity.item_id %> - <%%=entity.item_description%> <%%=entity.optional%></span>
                </span>
              </div>
           </div>          
           <div class="element_template">
             <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.date_from %></span>
               <span class="entity-fieldvalue">
                   <%%= self.formatDate(entity.date_from, 'dd.MM.yyyy') %> <% if booking_item_family.time_to_from%> <%%= entity.time_from?' , '+entity.time_from:'' %> <% end %>
               </span>
             </div>
             <% if booking_item_family.pickup_return_place %>
             <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.pickup_place %></span>
               <span class="entity-fieldvalue">
                   <%%= entity.pickup_place %>
               </span>
             </div>            
             <% end %> 
           </div>
           <div class="element_template">
             <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.date_to %></span>
               <span class="entity-fieldvalue">
                  <%%= self.formatDate(entity.date_to, 'dd.MM.yyyy') %> <% if booking_item_family.time_to_from%> <%%= entity.time_to?' , '+entity.time_to:'' %> <% end %>
               </span>
             </div> 
             <% if booking_item_family.pickup_return_place %>
             <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.return_place %></span>
               <span class="entity-fieldvalue">
                  <%%= entity.return_place %>
               </span>
             </div>
             <% end %>             
           </div>         
           <%% if (entity.number_of_adults > 0) { %>
             <div class="element_template">
               <div class="entity-field">
                 <span class="entity-fieldlabel"><%= t.booking_management.form.adults %></span>
                 <span class="entity-fieldvalue"><%%= entity.number_of_adults %></span>
               </div>
             </div>        
             <div class="element_template">
               <div class="entity-field">
                 <span class="entity-fieldlabel"><%= t.booking_management.form.children %></span>
                 <span class="entity-fieldvalue"><%%= entity.number_of_children %></span>
               </div>
            </div>        
          <%% } %>           
           <div class="element_template" style="display:none">
             <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.days %></span>
               <span class="entity-fieldvalue"><%%= entity.days %></span>
             </div>
           </div>
           <%% if (entity.status != 'cancelled') { %>
           <div class="element_template top-margin">
             <div class="form-button centered_text" style="width:95%"> 
               <a href="/admin/booking/edit/pickup-return/<%%=entity.id%>"><%= t.booking_management.form.change_dates %></a>    
             </div>       
           </div>
           <%% } %>
        </div>

     </div>  
        
     <div class="container_12">
        <div class="grid_6">
          <form name="customer" style="border:1px solid #EEE">
            <div class="more_contrast_text top-margin bottom-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.customer_title %></div> 
            <input type="hidden" name="id" value="<%%=entity.id%>"/>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.customer_name %></span>
                <span class="entity-fieldvalue">
                    <input type="text" maxlength="40" size="12" name="customer_name" id="customer_name"
                      value="<%%=entity.customer_name%>"/>
                    <input type="text" maxlength="40" size="13" name="customer_surname" id="customer_surname"
                      value="<%%=entity.customer_surname%>"/>
                </span>
              </div>
            </div>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.customer_phone %></span>
                <span class="entity-fieldvalue">
                    <input type="text" maxlength="15" size="12" name="customer_phone" id="customer_phone"
                      value="<%%=entity.customer_phone%>"/>
                    <input type="text" maxlength="15" size="13" name="customer_mobile_phone" id="customer_mobile_phone"
                      value="<%%=entity.customer_mobile_phone%>"/>
                </span>
              </div>
            </div>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.customer_email %></span>
                <span class="entity-fieldvalue">
                    <input type="text" maxlength="40" size="26" name="customer_email" id="customer_email"
                      value="<%%=entity.customer_email%>" style="width:100%"/>
                </span>
              </div>
            </div>
            <div class="element_template" style="display:none">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.customer_language %></span>
                <span class="entity-fieldvalue"><%%= entity.customer_language %></span>
              </div>
            </div>
            <div class="navigation-bar bottom-margin">
              <div class="navigation-bar-crud-buttons right-float right-margin">
                <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
              </div>
            </div>             
          </form>    

            <div class="top-margin bottom-margin bottom-space" style="border:1px solid #EEE">
              <div class="more_contrast_text top-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.extras_title %></div>
            
              <%% if (entity.booking_extras.length > 0) { %>
              <div class="element_template">
                     <table class="table">
                        <thead class="table-header">
                          <tr>
                            <th class="table-cell left_text" scope="col" style="width:30%"><%=t.booking_management.form.extra_description%></th>
                            <th class="table-cell right_text" scope="col" style="width:30%"><%=t.booking_management.form.extra_quantity%></th>
                            <th class="table-cell centered_text" scope="col" style="width:15%"><%=t.booking_management.form.extra_cost_1unit%></th>                            
                            <th class="table-cell centered_text" scope="col" style="width:25%"><%=t.booking_management.form.extra_cost%></th>        
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                          <%% for (var extraIdx=0; extraIdx < entity.booking_extras.length; extraIdx++) { %>
                            <tr class="table-row">
                               <td class="table-cell left_text"><%%=entity.booking_extras[extraIdx].extra_id%> - <%%= entity.booking_extras[extraIdx].extra_description %></td>
                               <td class="table-cell right_text"><%%= entity.booking_extras[extraIdx].quantity %></td>
                               <td class="table-cell centered_text"><%%= new Number(entity.booking_extras[extraIdx].extra_unit_cost).toFixed(2) %></td>
                               <td class="table-cell centered_text"><%%= new Number(entity.booking_extras[extraIdx].extra_cost).toFixed(2) %></td>
                            </tr>
                          <%% } %>
                        </tbody>
                     </table>        
              </div>    
              <%% } else { %>
              <p class="left-margin"><%=t.entitymanagement.no_data%></p>
              <%% } %>                
            </div>   
        </div>
        <div class="grid_6">
           <div class="left-margin bottom-margin" style="border:1px solid #EEE">
             <div class="left-margin more_contrast_text top-margin bottom-margin" style="text-decoration:underline;"><%= t.booking_management.form.comments %></div>
             <div class="element_template bottom-margin">
               <span class="all-space"><%%= entity.comments %></span>
             </div>          
           </div>
           <div class="left-margin bottom-margin" style="border:1px solid #EEE">
             <form name="anotations" class="all-space">
               <input type="hidden" name="id" value="<%%=entity.id%>"/>             
               <div class="more_contrast_text top-margin bottom-margin" style="text-decoration:underline"><%= t.booking_management.form.anotations %></div>
               <div class="formrow top-space bottom-margin">
                 <textarea name="notes" rows="5" class="fieldcontrol"><%%= entity.notes %></textarea>
               </div>
               <div class="navigation-bar bottom-margin">
                 <div class="navigation-bar-crud-buttons right-float">
                   <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                 </div>
               </div>             
             </form>               
           </div>     
           <div class="left-margin" style="border:1px solid #EEE">
             <div class="more_contrast_text top-margin bottom-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.assign_item %></div>           
             <div class="element_template bottom-margin left-margin">
                   <form name="assign_booking" style="display:inline">
                     <select name="booking_item_reference" id="booking_item_reference" style="width:70%"/>
                     <button class="form-button element-action-button" id="assign_item_button"
                       type="button" 
                       title="<%=t.booking_management.form.assign_button.label%>" 
                       style="position: relative; top: 1px;"
                       data-action-method="POST"
                       data-action-url="/api/booking/assign/<%%=entity.id%>/"
                       data-confirm-message="<%=t.booking_management.form.assign_button.message%>">
                       <%=t.booking_management.form.assign_button.label%>
                     </button>
                   </form>
             </div> 
           </div>
        </div>

     </div>
 
     <div class="top-margin bottom-margin" style="border:1px solid #EEE">
          <div class="container_12">
             <div class="grid_6">
               <div class="more_contrast_text top-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.cost %></div>
               <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel"><%= t.booking_management.form.item_cost %></span>
                    <span class="entity-fieldvalue" style="width: 70px; text-align: right;"><%%= new Number(entity.item_cost).toFixed(2) %></span>
                  </div>
               </div> 
               <div class="element_template">
                 <div class="entity-field">
                   <span class="entity-fieldlabel"><%= t.booking_management.form.extras_cost %></span>
                   <span class="entity-fieldvalue" style="width: 70px; text-align: right;"><%%= new Number(entity.extras_cost).toFixed(2) %></span>
                 </div>
               </div>                     
               <div class="element_template">
                 <div class="entity-field">
                   <span class="entity-fieldlabel highlighted_text uppercase_text"><%= t.booking_management.form.total_cost %></span>
                   <span class="entity-fieldvalue highlighted_text" style="width: 70px; text-align: right;"><%%= new Number(entity.total_cost).toFixed(2) %></span>
                 </div>
               </div>
               <div class="element_template">
                 <div class="entity-field">
                   <span class="entity-fieldlabel"><%= t.booking_management.form.booking_amount %></span>
                   <span class="entity-fieldvalue" style="width: 70px; text-align: right;"><%%= new Number(entity.booking_amount).toFixed(2) %></span>
                 </div>
               </div>                                
             </div>
             <div class="grid_6">
               <div class="more_contrast_text top-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.payment_title %></div>                         
               <div class="element_template">
                 <div class="entity-field">
                   <span class="entity-fieldlabel"><%= t.booking_management.form.total_paid %></span>
                   <span class="entity-fieldvalue highlighted_text" style="width: 70px; text-align: right;"><%%= new Number(entity.total_paid).toFixed(2) %></span>
                 </div>
               </div> 
               <div class="element_template">
                 <div class="entity-field">
                    <span class="entity-fieldlabel"><%= t.booking_management.form.total_pending %></span>
                    <span class="entity-fieldvalue highlighted_text" style="width: 70px; text-align: right; color: red"><%%= new Number(entity.total_pending).toFixed(2) %></span>
                 </div>
               </div>   
               <%% if (entity.payment_method_id && entity.total_paid > 0) { %>
               <div class="element_template">
                 <div class="entity-field">
                   <span class="entity-fieldlabel"><%= t.booking_management.form.payment_method %></span>
                   <span class="entity-fieldvalue highlighted_text"><%%= entity.payment_method_id %></span>
                 </div>
               </div>
               <%% } %>
               <%% if (entity.is_expired) { %>
               <div class="element_template">
                 <div class="entity-field">
                    <span class="entity-fieldvalue error-status">
                      <%= t.booking_management.form.expired %>
                    </span>
                 </div>              
               </div> 
               <%% } %>    
               <div class="element_template">
                 <div class="entity-field">
                  <%% if (entity.status != 'cancelled') { %>
                    <%% if (!entity.force_allow_payment) { %>
                      <button class="form-button element-action-button" id="confirm_booking_button" 
                        title="<%=t.booking_management.form.allow_payment_button.label%>" 
                        data-action-method="POST"
                        data-action-url="/api/booking/allow-payment/<%%=entity.id%>"
                        data-confirm-message="<%=t.booking_management.form.allow_payment_button.message%>">
                        <%=t.booking_management.form.allow_payment_button.label%>
                      </button>
                    <%% } 
                        else { %>
                       <span class="confirmed-status entity-fieldvalue"><%=t.booking_management.form.force_allow_payment%></span>    
                    <%% } %>  
                  <%% } %>  
                 </div>
               </div> 
             </div>
           </div>

            <%% if (entity.charges.length > 0) { %>
              <div class="element_template">
                     <table class="table">
                        <thead class="table-header">
                          <tr>
                            <th class="table-cell" scope="col" style="width:40%"><%=t.booking_management.form.charge_date%></th>
                            <th class="table-cell" scope="col" style="width:30%"><%=t.booking_management.form.charge_amount%></th>
                            <th class="table-cell" scope="col" style="width:30%"><%=t.booking_management.form.charge_status%></th>        
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                          <%% for (var chargeIdx=entity.charges.length-1; chargeIdx >=0 ; chargeIdx--) { %>
                            <tr class="table-row">
                               <td class="table-cell centered_text"><%%=self.formatDate(entity.charges[chargeIdx].date, 'dd.MM.yyyy HH:mm')%></td>
                               <td class="table-cell centered_text"><%%= new Number(entity.charges[chargeIdx].amount).toFixed(2) %></td>
                               <td class="table-cell centered_text"><span class="element-status <%%=self.model.entityHooks[0].chargeStatusClass(entity.charges[chargeIdx])%>"><%%= self.model.entityHooks[0].chargeStatusDescription[entity.charges[chargeIdx].status] %></span></td>
                            </tr>
                          <%% } %>
                        </tbody>
                     </table>        
              </div>    
            <%% } %>      

        </div>


        <div class="top-margin bottom-margin" style="border:1px solid #EEE">
          <div class="container_12">
             <div class="grid_6">
               <div class="more_contrast_text top-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.related_bookings %></div>   
               <div id="linked_bookings">
               </div>          
             </div>          
             <div class="grid_6">
               <div class="all-space">
                 <%% if (entity.main_booking_id && entity.main_booking_id != null) { %>
                 <div>
                   <button type="button" class="form-button element-action-button top-margin-1line" id="unlink_booking" style="display: block; margin: 1.618em auto" 
                     data-action-method="POST"
                     data-action-url="/api/booking/unlink/<%%=entity.id%>"
                     data-confirm-message="<%=t.booking_management.form.unlink_booking_button_message%>"><%=t.booking_management.form.booking_single%></button>
                 </div>
                 <%% } else { %>
                 <div>
                   <button type="button" class="form-button top-margin-1line" id="link_booking" style="display: block; margin: 0 auto"><%=t.booking_management.form.booking_group%></button>
                 </div>                  
                 <%% } %>
                 <form name="main_booking" id="main_booking_form" style="display:none">
                   <input type="hidden" name="id" value="<%%=entity.id%>"/>                 
                   <div class="element_template">
                     <div class="entity-field">
                       <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.main_booking_search %></span>
                       <span class="entity-fieldvalue">
                          <input type="text" maxlength="40" size="20" name="search_main_booking" id="search_main_booking"/>
                          <input type="hidden" name="main_booking_id" id ="main_booking_id" value="<%%=entity.main_booking_id%>"/>
                       </span>
                     </div>
                   </div> 
                   <div class="guiblock" style="display: none" id="display_selected_booking_container">
                     <div class="entity-field centered_text" id="display_selected_booking" class="guiblock">
                     </div>
                     <div class="navigation-bar bottom-margin" id="link_booking_bar" style="display: none">
                       <div class="navigation-bar-crud-buttons" style="float: none">
                         <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.booking_management.form.booking_group%>" style="display: block; margin: 0 auto"/>
                       </div>
                     </div> 
                   </div> 
                 </form>
               </div>
             </div>
          </div>
        </div>

        <ul id="content_tabs" class="no-border no-background"class="no-border no-background">  
          <% if booking_item_family.driver %>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
            <a name="driver_tab" href="#driver_tab"><%=t.booking_management.form.driver_tab%></a>
          </li>
          <% end %>
          <% if booking_item_family.weight or booking_item_family.height %>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
            <a name="weight_height_tab" href="#weight_height_tab"><%=t.booking_management.form.weight_height_tab%></a>
          </li>
          <% end %>
          <% if booking_item_family.flight %>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
            <a name="flight_tab" href="#driver_tab"><%=t.booking_management.form.flight_tab%></a>
          </li>          
          <% end %>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="other_tab" href="#other_tab"><%=t.booking_management.form.other_tab%></a>
          </li>          
       </ul>

       <div id="content">

         <% if booking_item_family.driver %>
         <div id="driver_tab"  class="top-margin bottom-margin">
           <form name="driver" style="border:1px solid #EEE">
           <input type="hidden" name="id" value="<%%=entity.id%>"/>
           <div class="container_12">
            <div class="grid_6">
               <div class="more_contrast_text top-margin" style="text-decoration:underline; margin-left:5px"><%=t.booking_management.form.driver_title%></div>            
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_name %></span>
                  <span class="entity-fieldvalue">
                    <input type="text" maxlength="40" size="12" name="driver_name" id="driver_name"
                      value="<%%=entity.driver_name%>"/>
                    <input type="text" maxlength="40" size="13" name="driver_surname" id="driver_surname"
                      value="<%%=entity.driver_surname%>"/>
                  </span>
                </div>
              </div> 
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_date_of_birth %></span>
                  <span class="entity-fieldvalue">
                     <input type="text" name="driver_date_of_birth" id="driver_date_of_birth" class="date_control" size="15" maxlength="10"/>
                  </span>
                </div>
              </div> 
              <div class="element_template">
                  <div class="entity-field">
                     <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_document_id %></span>
                     <span class="entity-fieldvalue">
                       <input type="text" maxlength="15" size="25" name="driver_document_id" id="driver_document_id"
                      value="<%%=entity.driver_document_id%>"/>                       
                    </span>
                  </div>
              </div>              
              <% if booking_item_family.driver_license %> 
              <div class="element_template">
                  <div class="entity-field">
                     <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_license_number %></span>
                     <span class="entity-fieldvalue">
                       <input type="text" maxlength="15" size="25" name="driver_driving_license_number" id="driver_driving_license_number"
                      value="<%%=entity.driver_driving_license_number%>"/>                       
                    </span>
                  </div>
              </div> 
              <div class="element_template">
                  <div class="entity-field">
                     <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_license_date %></span>
                     <span class="entity-fieldvalue">                     
                        <input type="text" name="driver_driving_license_date" id="driver_driving_license_date" class="date_control" size="15" maxlength="10"/>
                     </span>
                  </div>
              </div> 
              <div class="element_template">
                   <div class="entity-field">
                     <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_license_country %></span>
                     <span class="entity-fieldvalue">
                       <input type="text" maxlength="50" size="25" name="driver_driving_license_country" id="driver_driving_license_country"
                      value="<%%=entity.driver_driving_license_country%>"/>                       
                     </span>
                   </div>
              </div>
              <% end %>
            </div>
            <div class="grid_6">
               <div class="more_contrast_text top-margin" style="text-decoration:underline; margin-left:5px"><%=t.booking_management.form.driver_address_title%></div> 
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_street %></span>
                    <span class="entity-fieldvalue">
                      <input type="text" maxlength="60" size="25" name="driver_address[street]" id="driver_address[street]"
                      value="<%%=entity.driver_address.street%>"/> 
                    </span>
                  </div>
                </div>  
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_number %></span>
                    <span class="entity-fieldvalue">
                      <input type="text" maxlength="10" size="25" name="driver_address[number]" id="driver_address[number]"
                      value="<%%=entity.driver_address.number%>"/> 
                    </span>
                  </div>
                </div>  
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_complement %></span>
                    <span class="entity-fieldvalue">
                      <input type="text" maxlength="20" size="25" name="driver_address[complement]" id="driver_address[complement]"
                      value="<%%=entity.driver_address.complement%>"/> 
                    </span>
                  </div>
                </div>  
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_city %></span>
                    <span class="entity-fieldvalue">
                      <input type="text" maxlength="60" size="25" name="driver_address[city]" id="driver_address[city]"
                      value="<%%=entity.driver_address.city%>"/> 
                    </span>
                  </div>
                </div> 
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_state %></span>
                    <span class="entity-fieldvalue">
                      <input type="text" maxlength="60" size="25" name="driver_address[state]" id="driver_address[state]"
                      value="<%%=entity.driver_address.state%>"/> 
                    </span>
                  </div>
                </div> 
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_country %></span>
                    <span class="entity-fieldvalue">
                      <input type="text" maxlength="50" size="25" name="driver_address[country]" id="driver_address[country]"
                      value="<%%=entity.driver_address.country%>"/> 
                    </span>
                  </div>
                </div> 
               <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.driver_address_zip %></span>
                    <span class="entity-fieldvalue">
                      <input type="text" maxlength="10" size="25" name="driver_address[zip]" id="driver_address[zip]"
                      value="<%%=entity.driver_address.zip%>"/> 
                    </span>
                  </div>
                </div> 
            </div>   
           </div>
            <div class="navigation-bar bottom-margin">
              <div class="navigation-bar-crud-buttons right-float right-margin">
                <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
              </div>
            </div> 
           </form>
         </div>
         <% end %>

         <% if booking_item_family.weight or booking_item_family.height %>
         <div id="weight_height_tab"  class="top-margin bottom-margin">
           <form name="weight_height" style="border:1px solid #EEE" class="all-space">
             <input type="hidden" name="id" value="<%%=entity.id%>"/>

            <% if booking_item_family.height %>
            <div class="formrow bottom-space">
               <label id="label_height" for="height" class="fieldtitle"><%=t.new_booking.height.label%></label>
                 <select name="customer_height" id="customer_height" class="fieldcontrol">
                   <option value=""><%=t.booking_management.form.customer_height_placeholder%></option>
                     <% booking_item_family.height_values.split(',').each do |height|%>
                     <option value="<%=height%>" <%% if (entity.customer_height == '<%=height%>') { %>selected="selected"<%%}%>><%=height%></option>
                     <% end %>
                 </select>  
            </div>
            <% end %>
            <% if booking_item_family.weight %>
            <div class="formrow bottom-space">
               <label id="label_weight" for="customer_weight" class="fieldtitle"><%=t.new_booking.weight.label%></label>
                 <select name="customer_weight" id="customer_weight" class="fieldcontrol">
                   <option value=""><%=t.booking_management.form.customer_weight_placeholder%></option>
                     <% booking_item_family.weight_values.split(',').each do |weight|%>
                     <option value="<%=weight%>" <%% if (entity.customer_weight == '<%=weight%>') { %>selected="selected"<%%}%>><%=weight%></option>
                     <% end %>
                 </select>  
            </div>            
            <% end %>

             <div class="navigation-bar bottom-margin">
               <div class="navigation-bar-crud-buttons right-float right-margin">
                 <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
               </div>
             </div> 
           </form>
         </div>
         <% end %>

         <% if booking_item_family.flight %>
         <div id="flight_tab"  class="top-margin bottom-margin">
           <form name="flight" style="border:1px solid #EEE">
                <input type="hidden" name="id" value="<%%=entity.id%>"/>
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.flight_company %></span>
                    <span class="entity-fieldvalue">
                      <input type="text" maxlength="80" size="25" name="flight_company" id="flight_company"
                      value="<%%=entity.flight_company%>"/> 
                    </span>
                  </div>
                </div>    
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.flight_number %></span>
                    <span class="entity-fieldvalue">
                      <input type="text" maxlength="10" size="25" name="flight_number" id="flight_number"
                      value="<%%=entity.flight_number%>"/> 
                    </span>
                  </div>
                </div>    
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.flight_time %></span>
                    <span class="entity-fieldvalue">
                      <input type="text" maxlength="5" size="25" name="flight_time" id="flight_time"
                      value="<%%=entity.flight_time%>"/> 
                    </span>
                  </div>
                </div>      
                <div class="navigation-bar bottom-margin">
                  <div class="navigation-bar-crud-buttons right-float right-margin">
                    <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                  </div>
                </div>          
           </form>
         </div>
         <% end %>
         <div id="other_tab"  class="top-margin-1line">
         
            <div class="element_template">
              <div class="entity-field">
               <span class="entity-fieldlabel"><%= t.booking_management.form.free_access_id %></span>
               <span class="entity-fieldvalue"><a href="/p/mybooking/<%%=entity.free_access_id%>" target="_blank">/p/mybooking/<%%=entity.free_access_id%></a></span>
              </div>
            </div>
            <div class="top-margin">
              <%= include('entity-tabs-below', {:edit_element_form => edit_element_form,
                                            :edit_element_form_ingroup_tab => edit_element_form_ingroup_tab,
                                            :edit_element_form_ingroup => edit_element_form_ingroup,
                                            :new_element_form => new_element_form,
                                            :new_element_form_ingroup_tab => new_element_form_ingroup_tab,
                                            :new_element_form_ingroup => new_element_form_ingroup}) %>
            </div>

         </div>

       </div>
      
  
     </form>
</script>

<script type="text/tmpl" id="linked_bookings_script">

                     <table class="table">
                        <thead class="table-header">
                          <tr>
                            <th class="table-cell" scope="col" style="width:40%"><%=t.booking_management.form.id%></th>
                            <th class="table-cell" scope="col" style="width:30%"><%=t.booking_management.form.customer_title%></th>
                            <th class="table-cell" scope="col" style="width:30%"><%=t.booking_management.form.item%></th>        
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                          <%% for (var idx=0; idx < data.length ; idx++) { %>
                            <tr class="table-row <%% if (data[idx].main_booking_id==null){%>more_contrast_text<%%}%>">
                               <td class="table-cell centered_text"><%%=data[idx].id%></td>
                               <td class="table-cell centered_text"><%%=data[idx].customer_name%> <%%=data[idx].customer_surname%></td>
                               <td class="table-cell centered_text"><%%=data[idx].item_id%></td>
                            </tr>
                          <%% } %>
                        </tbody>
                     </table>    


</script>

<%= element_form_extension %>
<%= element_action_extension %>
