<h2><%=t.bookings_scheduler.title%></h2>
<div class="container_12">
  <div class="guiblock">
   <div class="all-space overflow">  	
      <div class="grid_6">
        <div>
          <span class="entity-fieldlabel more_contrast_text"><%=t.booking_item_management.form.reference.label%></span>
          <span class="entity-fieldvalue"><%=booking_item.reference%></span>
        </div>
        <div>
          <span class="entity-fieldlabel more_contrast_text"><%=t.booking_item_management.form.name.label%></span>
          <span class="entity-fieldvalue"><%=booking_item.name%></span>
        </div>
        <div>
          <span class="entity-fieldlabel more_contrast_text"><%=t.booking_item_management.form.description.label%></span>
          <span class="entity-fieldvalue"><%=booking_item.description%></span>
        </div>                
      </div>
    </div>  
  </div>
</div>

<div id="calendar" class="top-margin "></div>

<script type="text/javascript">

  $(document).ready(function() {
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			year: <%=year%>,
			month: <%=month%>,
			editable: true,
			lang: '<%=session[:locale]%>',
			events: '/api/booking/scheduler/<%=booking_item.reference%>',
			eventClick: function(event) {
               if (event.url) {
                 window.open(event.url);
                 return false;
               }
            }
		});
	});

</script>

