<%= include('entity-management') %>

<!-- Renders the element description -->

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.booking_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
  <%= t.booking_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">
  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.booking_management.table.id %></th>
         <th class="table-header-title centered_text" scope="col" style="width:15%"><%= t.booking_management.table.creation_date %></th>
         <th class="table-header-title centered_text" scope="col" style="width:25%"><%= t.booking_management.table.customer %></th>
         <th class="table-header-title centered_text" scope="col" style="width:10%"><%= t.booking_management.table.status %></th>
         <th class="table-header-title centered_text" scope="col" style="width:5%"><%= t.booking_management.table.payment_status %></th>         
         <th class="table-header-title centered_text" scope="col" style="width:15%"><%= t.booking_management.table.date_from %></th>
         <th class="table-header-title centered_text" scope="col" style="width:15%"><%= t.booking_management.table.date_to %></th>
         <th class="table-header-title centered_text" scope="col" style="width:5%"><%= t.booking_management.table.notifications %></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">
    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.id %></td>
      <td class="table-cell centered_text"><%%= self.formatDate(entity.creation_date) %></td>
      <td class="table-cell centered_text"><%%= entity.customer_name %> <%%=entity.customer_surname%></td>
      <td class="table-cell centered_text">
        <span class="smaller_text <%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
          <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
        </span>
      </td>
      <td class="table-cell centered_text">
         <%% if (entity.payment_status == 'deposit') { %><span class="element-status doing-status smaller_text">d</span> <%% } %>
         <%% if (entity.payment_status == 'total') { %><span class="element-status done-status smaller_text">t</span> <%%}%>
      </td>       
      <td class="table-cell centered_text"><%%= self.formatDate(entity.date_from,'dd.MM.yyyy') %> </td>
      <td class="table-cell centered_text"><%%= self.formatDate(entity.date_to,'dd.MM.yyyy') %> </td>
      <td class="table-cell centered_text">
         <%% if (entity.customer_req_notification_sent) { %><span class="element-status pending-status smaller_text">c1</span> <%% } %>
         <%% if (entity.customer_notification_sent) { %><span class="element-status confirmed-status smaller_text">c2</span> <%%}%>
         <%% if (entity.manager_notification_sent) { %><span class="element-status confirmed-status smaller_text">m</span><%%}%>
      </td> 
    </tr>
</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
     <div class="element-detail guiblock overflow">

        <div class="grid_6">
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.id %></span>
                <span class="entity-fieldvalue"><%%= entity.id %></span>
              </div>
            </div>  
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.creation_date %></span>
                <span class="entity-fieldvalue">
                  <%%= self.formatDate(entity.creation_date,'dd.MM.yyyy')%> 
                  <span><%%= self.formatDate(entity.creation_date,'HH:mm')%></span>
                </span>
              </div>
            </div>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.status %></span>
                <span class="entity-fieldvalue">
                  <span class="<%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
                    <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
                  </span>
                  <span class="left-margin">
                    <%% if (entity.status == 'pending_confirmation') { %>
                    <button class="form-button green-button element-action-button" id="confirm_booking_button" 
                      title="<%=t.booking_management.form.confirm_button.label%>" 
                      data-action-method="POST"
                      data-action-url="/booking/confirm/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.confirm_button.message%>">
                      <%=t.booking_management.form.confirm_button.label%>
                    </button>
                    <button class="form-button red-button element-action-button" id="cancel_booking_button" 
                      title="<%=t.booking_management.form.cancel_button.label%>" 
                      data-action-method="POST"
                      data-action-url="/booking/cancel/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.cancel_button.message%>">
                      <%=t.booking_management.form.cancel_button.label%>
                    </button>                            
                   <%% } %>
                   <%% if (entity.status == 'confirmed') {  %>
                   <button class="form-button blue-button element-action-button" id="pickup_booking_button" 
                      title="<%=t.booking_management.form.pickup_button.label%>" 
                      data-action-method="POST"
                      data-action-url="/booking/pickup/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.pickup_button.message%>">
                    <%=t.booking_management.form.pickup_button.label%>
                   </button>
                   <%%  } %>
                   <%% if (entity.status == 'in_progress') { %>
                   <button class="form-button black-button element-action-button" id="return_booking_button" 
                      title="<%=t.booking_management.form.return_button.label%>" 
                      data-action-method="POST"
                      data-action-url="/booking/return/<%%=entity.id%>"
                      data-confirm-message="<%=t.booking_management.form.return_button.message%>">
                      <%=t.booking_management.form.return_button.label%>
                   </button>
                   <%% }%>
                  </span>
                </span>
              </div>
            </div>
            <%% if (entity.source) { %>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.source %></span>
                <span class="entity-fieldvalue"><%%= entity.source %></span>
              </div>
            </div>
            <%% } %>                                            
        </div>
      
        <div class="grid_6">
          <div class="left-margin">
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.customer_title %></span>
                <span class="entity-fieldvalue"><%%= entity.customer_name %> <%%= entity.customer_surname %></span>
              </div>
            </div>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.customer_phone %></span>
                <span class="entity-fieldvalue"><%%= entity.customer_phone %> <%%= entity.customer_mobile_phone %></span>
              </div>
            </div>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.customer_email %></span>
                <span class="entity-fieldvalue"><%%= entity.customer_email %></span>
              </div>
            </div>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.customer_language %></span>
                <span class="entity-fieldvalue"><%%= entity.customer_language %></span>
              </div>
            </div>             
          </div>
          </div>
        </div>  

        </div>
        
        <ul id="content_tabs" class="no-border no-background"class="no-border no-background">  
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
            <a name="reservation_tab" href="#reservation_tab"><%=t.booking_management.form.reservation_tab%></a>
          </li>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
            <a name="extra_tab" href="#extra_tab"><%=t.booking_management.form.extra_tab%></a>
          </li> 
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
            <a name="price_tab" href="#price_tab"><%=t.booking_management.form.price_tab%></a>
          </li>          
          <%% if (entity.driver_name && entity.driver_date_of_birth) { %>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
            <a name="driver_tab" href="#driver_tab"><%=t.booking_management.form.driver_tab%></a>
          </li>
          <%% } %>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="other_tab" href="#other_tab"><%=t.booking_management.form.other_tab%></a>
          </li>          
       </ul>

       <div id="content">

         <div id="reservation_tab" class="top-margin-1line">
           <div class="more_contrast_text bottom-margin bottom-border" style="margin-left:5px">
             <span style="text-decoration:underline"><%=t.booking_management.form.pickup_return%></span> 
             <a href="/admin/booking/edit/pickup-return/<%%=entity.id%>"><span id="edit_pickup_return" style="text-decoration:none" data-icon="&#xe082" class="less_contrast_text link"></span></a>
           </div>
           <div class="element_template">
             <div class="entity-field">
               <span class="entity-fieldlabel"><%= t.booking_management.form.date_from %></span>
               <span class="entity-fieldvalue">
                   <%%= self.formatDate(entity.date_from, 'dd.MM.yyyy') %> <%%= entity.time_from?' , '+entity.time_from:'' %>
                   &nbsp;&nbsp;<%%= entity.pickup_place %>
               </span>
             </div>
           </div>
           <div class="element_template">
             <div class="entity-field">
               <span class="entity-fieldlabel"><%= t.booking_management.form.date_to %></span>
               <span class="entity-fieldvalue">
                  <%%= self.formatDate(entity.date_to, 'dd.MM.yyyy') %> <%%= entity.time_to?' , '+entity.time_to:'' %> 
                  &nbsp;&nbsp;<%%= entity.return_place %>
               </span>
             </div>
           </div>
           <div class="element_template">
             <div class="entity-field">
               <span class="entity-fieldlabel"><%= t.booking_management.form.days %></span>
               <span class="entity-fieldvalue"><%%= entity.days %></span>
             </div>
           </div>

           <div class="more_contrast_text top-margin bottom-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.item %></div>           
           <div class="element_template">
              <div class="entity-field">
               <span class="entity-fieldlabel"><%= t.booking_management.form.item %></span>              
                   <span><%%= entity.item_id %> - <%%=entity.item_description%> <%%=entity.optional%></span>
               </span
               <span class="entity-fieldvalue">    
                   <form name="assign_booking" style="display:inline">
                     <select name="booking_item_reference" id="booking_item_reference"/>
                     <button class="form-button element-action-button" id="assign_item_button"
                       type="button" 
                       title="<%=t.booking_management.form.assign_button.label%>" 
                       data-action-method="POST"
                       data-action-url="/api/booking/assign/<%%=entity.id%>/"
                       data-confirm-message="<%=t.booking_management.form.assign_button.message%>">
                       <%=t.booking_management.form.assign_button.label%>
                     </button>
                   </form>
                </span>
              </div>
           </div> 

           <%% if (entity.number_of_adults > 0) { %>
             <div class="element_template">
               <div class="entity-field">
                 <span class="entity-fieldlabel"><%= t.booking_management.form.adults %></span>
                 <span class="entity-fieldvalue"><%%= entity.number_of_adults %></span>
               </div>
             </div>        
             <div class="element_template">
               <div class="entity-field">
                 <span class="entity-fieldlabel"><%= t.booking_management.form.children %></span>
                 <span class="entity-fieldvalue"><%%= entity.number_of_children %></span>
               </div>
            </div>        
          <%% } %>

           <div class="more_contrast_text top-margin bottom-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.comments %></div>
           <div class="element_template">
               <span><%%= entity.comments %></span>
           </div>    

         </div>

         <div id="extra_tab"  class="top-margin-1line">

            <%% if (entity.booking_extras.length > 0) { %>
              <div class="element_template">
                     <table class="table">
                        <thead class="table-header">
                          <tr>
                            <th class="table-cell" scope="col" style="width:40%"><%=t.booking_management.form.extra_description%></th>
                            <th class="table-cell" scope="col" style="width:30%"><%=t.booking_management.form.extra_quantity%></th>
                            <th class="table-cell" scope="col" style="width:30%"><%=t.booking_management.form.extra_cost%></th>        
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                          <%% for (var extraIdx=0; extraIdx < entity.booking_extras.length; extraIdx++) { %>
                            <tr class="table-row">
                               <td class="table-cell centered_text"><%%=entity.booking_extras[extraIdx].extra_id%> - <%%= entity.booking_extras[extraIdx].extra_description %></td>
                               <td class="table-cell centered_text"><%%= entity.booking_extras[extraIdx].quantity %></td>
                               <td class="table-cell centered_text"><%%= new Number(entity.booking_extras[extraIdx].extra_cost).toFixed(2) %></td>
                            </tr>
                          <%% } %>
                        </tbody>
                     </table>        
              </div>    
          <%% } %>

         </div>

         <div id="price_tab"  class="top-margin-1line">

           <div class="container_12">
             <div class="grid_6">
               <div class="more_contrast_text top-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.cost %></div>
               <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel"><%= t.booking_management.form.item_cost %></span>
                    <span class="entity-fieldvalue" style="width: 70px; text-align: right;"><%%= new Number(entity.item_cost).toFixed(2) %></span>
                  </div>
               </div> 
               <div class="element_template">
                 <div class="entity-field">
                   <span class="entity-fieldlabel"><%= t.booking_management.form.extras_cost %></span>
                   <span class="entity-fieldvalue" style="width: 70px; text-align: right;"><%%= new Number(entity.extras_cost).toFixed(2) %></span>
                 </div>
               </div>                     
               <div class="element_template">
                 <div class="entity-field">
                   <span class="entity-fieldlabel highlighted_text uppercase_text"><%= t.booking_management.form.total_cost %></span>
                   <span class="entity-fieldvalue highlighted_text" style="width: 70px; text-align: right;"><%%= new Number(entity.total_cost).toFixed(2) %></span>
                 </div>
               </div>              
             </div>
             <div class="grid_6">
               <div class="more_contrast_text top-margin" style="text-decoration:underline; margin-left:5px"><%= t.booking_management.form.payment_title %></div>               
               <div class="element_template">
                 <div class="entity-field">
                   <span class="entity-fieldlabel"><%= t.booking_management.form.payment_status %></span>
                   <span class="entity-fieldvalue">
                      <span class="<%%=self.model.entityHooks[0].paymentStatusClass(entity)%> element-status">
                        <%%= self.model.entityHooks[0].paymentStatusDescription[entity.payment_status] %>
                      </span>
                   </span>
                 </div>
               </div>              
               <div class="element_template">
                 <div class="entity-field">
                   <span class="entity-fieldlabel"><%= t.booking_management.form.total_paid %></span>
                   <span class="entity-fieldvalue highlighted_text" style="width: 70px; text-align: right;"><%%= new Number(entity.total_paid).toFixed(2) %></span>
                 </div>
               </div> 
               <div class="element_template">
                 <div class="entity-field">
                    <span class="entity-fieldlabel"><%= t.booking_management.form.total_pending %></span>
                    <span class="entity-fieldvalue highlighted_text" style="width: 70px; text-align: right;"><%%= new Number(entity.total_pending).toFixed(2) %></span>
                 </div>
               </div>   
               <%% if (entity.payment_method_id && entity.total_paid > 0) { %>
               <div class="element_template">
                 <div class="entity-field">
                   <span class="entity-fieldlabel"><%= t.booking_management.form.payment_method %></span>
                   <span class="entity-fieldvalue highlighted_text"><%%= entity.payment_method_id %></span>
                 </div>
               </div>
               <%% } %>
               <%% if (entity.is_expired) { %>
               <div class="element_template">
                 <div class="entity-field">
                    <span class="error-status">
                      <%= t.booking_management.form.expired %>
                    </span>
                 </div>              
               </div> 
               <%% } %>    
               <div class="element_template">
                 <div class="entity-field">
                  <%% if (entity.status != 'cancelled') { %>
                    <%% if (!entity.force_allow_payment) { %>
                      <button class="form-button element-action-button" id="confirm_booking_button" 
                        title="<%=t.booking_management.form.allow_payment_button.label%>" 
                        data-action-method="POST"
                        data-action-url="/booking/allow-payment/<%%=entity.id%>"
                        data-confirm-message="<%=t.booking_management.form.allow_payment_button.message%>">
                        <%=t.booking_management.form.allow_payment_button.label%>
                      </button>
                    <%% } 
                        else { %>
                       <span class="confirmed-status"><%=t.booking_management.form.force_allow_payment%></span>    
                    <%% } %>  
                  <%% } %>  
                 </div>
               </div> 
             </div>
           </div>

            <%% if (entity.charges.length > 0) { %>
              <div class="element_template">
                     <table class="table">
                        <thead class="table-header">
                          <tr>
                            <th class="table-cell" scope="col" style="width:40%"><%=t.booking_management.form.charge_date%></th>
                            <th class="table-cell" scope="col" style="width:30%"><%=t.booking_management.form.charge_amount%></th>
                            <th class="table-cell" scope="col" style="width:30%"><%=t.booking_management.form.charge_status%></th>        
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                          <%% for (var chargeIdx=entity.charges.length-1; chargeIdx >=0 ; chargeIdx--) { %>
                            <tr class="table-row">
                               <td class="table-cell centered_text"><%%=self.formatDate(entity.charges[chargeIdx].date, 'dd.MM.yyyy HH:mm')%></td>
                               <td class="table-cell centered_text"><%%= new Number(entity.charges[chargeIdx].amount).toFixed(2) %></td>
                               <td class="table-cell centered_text"><span class="element-status <%%=self.model.entityHooks[0].chargeStatusClass(entity.charges[chargeIdx])%>"><%%= self.model.entityHooks[0].chargeStatusDescription[entity.charges[chargeIdx].status] %></span></td>
                            </tr>
                          <%% } %>
                        </tbody>
                     </table>        
              </div>    
            <%% } %>      



         </div>

         <div id="driver_tab"  class="top-margin-1line">

            <%% if (entity.driver_name && entity.driver_date_of_birth) { %>
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel"><%= t.booking_management.form.driver_name %></span>
                  <span class="entity-fieldvalue"><%%= entity.driver_name %> <%%=entity.driver_surname%></span>
                </div>
              </div> 
              <div class="element_template">
                <div class="entity-field">
                  <span class="entity-fieldlabel"><%= t.booking_management.form.driver_date_of_birth %></span>
                  <span class="entity-fieldvalue"><%%= self.formatDate(entity.driver_date_of_birth, 'dd.MM.yyyy') %></span>
                </div>
              </div> 
              <%% if (entity.driver_license_number) { %>
                <div class="element_template">
                  <div class="entity-field">
                     <span class="entity-fieldlabel"><%= t.booking_management.form.driver_license_number %></span>
                     <span class="entity-fieldvalue"><%%= entity.driver_driving_license_number %></span>
                  </div>
                </div> 
              <%% } %>
              <%% if (entity.driver_license_date) { %>
                <div class="element_template">
                  <div class="entity-field">
                     <span class="entity-fieldlabel"><%= t.booking_management.form.driver_license_date %></span>
                     <span class="entity-fieldvalue"><%%= self.formatDate(entity.driver_driving_license_date, 'dd.MM.yyyy') %></span>
                  </div>
                </div> 
              <%% } %>
              <%% if (entity.driver_license_country) { %>
                <div class="element_template">
                   <div class="entity-field">
                     <span class="entity-fieldlabel"><%= t.booking_management.form.driver_license_country %></span>
                     <span class="entity-fieldvalue"><%%= entity.driver_driving_license_country %></span>
                   </div>
                </div>
              <%% } %>
              <%% if (entity.driver_address) { %> 
                <h3><%=t.booking_management.form.driver_address_title%></h3>   
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel"><%= t.booking_management.form.driver_address_street %></span>
                    <span class="entity-fieldvalue"><%%= entity.driver_address.street %> <%%= entity.driver_address.number %></span>
                  </div>
                </div>  
                <div class="element_template">
                  <div class="entity-field">
                    <span class="entity-fieldlabel"><%= t.booking_management.form.driver_address_city %></span>
                    <span class="entity-fieldvalue"><%%= entity.driver_address.city %></span>
                  </div>
                </div>    
              <%% } %>
            <%% } %>


         </div>

         <div id="other_tab"  class="top-margin-1line">
         
            <div class="element_template">
              <div class="entity-field">
               <span class="entity-fieldlabel"><%= t.booking_management.form.free_access_id %></span>
               <span class="entity-fieldvalue"><a href="/p/mybooking/<%%=entity.free_access_id%>">/p/mybooking/<%%=entity.free_access_id%></a></span>
              </div>
            </div>
            <div class="top-margin">
              <%= include('entity-tabs-below', {:edit_element_form => edit_element_form,
                                            :edit_element_form_ingroup_tab => edit_element_form_ingroup_tab,
                                            :edit_element_form_ingroup => edit_element_form_ingroup,
                                            :new_element_form => new_element_form,
                                            :new_element_form_ingroup_tab => new_element_form_ingroup_tab,
                                            :new_element_form_ingroup => new_element_form_ingroup}) %>
            </div>

         </div>

       </div>
      
  
     </form>
</script>

<%= element_form_extension %>
<%= element_action_extension %>
