<h2 class="bottom-border-solid color-1"><%=booking_item.reference%></h2>
<script type="text/javascript">

  $(document).ready(function() {
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			year: <%=year%>,
			month: <%=month%>,
			editable: true,
			lang: '<%=session[:locale]%>',
			events: '/api/booking/scheduler/<%=booking_item.reference%>',
			eventClick: function(event) {
               if (event.url) {
                 window.open(event.url);
                 return false;
               }
            }
		});
	});

</script>

<div id="calendar" class="top-margin"></div>