<%= include('entity-management') %>

<!-- Renders the element description -->

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.booking_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
  <%= t.booking_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">
  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.booking_management.table.id %></th>
         <th class="table-header-title centered_text" scope="col" style="width:15%"><%= t.booking_management.table.creation_date %></th>
         <th class="table-header-title" scope="col" style="width:24%"><%= t.booking_management.table.customer %></th>
         <th class="table-header-title centered_text" scope="col" style="width:10%"><%= t.booking_management.table.status %></th>
         <th class="table-header-title centered_text" scope="col" style="width:5%"><%= t.booking_management.table.payment_status %></th>  
         <th class="table-header-title centered_text" scope="col" style="width:5%"><%= t.booking_management.table.category %></th>                
         <th class="table-header-title centered_text" scope="col" style="width:12%"><%= t.booking_management.table.date_from %></th>
         <th class="table-header-title centered_text" scope="col" style="width:12%"><%= t.booking_management.table.date_to %></th>
         <th class="table-header-title centered_text" scope="col" style="width:5%"><%= t.booking_management.table.notifications %></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>
  <div class="guiblock smaller_text all-space left-margin right-margin">
    <p><%=t.booking_management.footer.title%>:</p>
    <div>
    <span class="more_contrast_text">c1:</span><span class="less_contrast_text"><%=t.booking_management.footer.c1_notification%></span>&nbsp;
    <span class="more_contrast_text">c2:</span><span class="less_contrast_text"><%=t.booking_management.footer.c2_notification%></span>&nbsp;
    <span class="more_contrast_text">c3:</span><span class="less_contrast_text"><%=t.booking_management.footer.c3_notification%></span>&nbsp;
    <span class="more_contrast_text">c4:</span><span class="less_contrast_text"><%=t.booking_management.footer.c4_notification%></span>&nbsp;
    </div>
    <div>
    <span class="more_contrast_text">m:</span><span class="less_contrast_text"><%=t.booking_management.footer.m1_notification%></span>&nbsp;
    <span class="more_contrast_text">m2:</span><span class="less_contrast_text"><%=t.booking_management.footer.m2_notification%></span>&nbsp;    
    <span class="more_contrast_text">m2:</span><span class="less_contrast_text"><%=t.booking_management.footer.m3_notification%></span>&nbsp;     
    </div>
  </div>
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">
    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.id %></td>
      <td class="table-cell centered_text"><%%= self.formatDate(entity.creation_date) %></td>
      <td class="table-cell"><%%= entity.customer_name %> <%%=entity.customer_surname%></td>
      <td class="table-cell centered_text">
        <span class="smaller_text <%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
          <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
        </span>
      </td>
      <td class="table-cell centered_text">
         <%% if (entity.payment_status == 'deposit') { %><span class="element-status doing-status smaller_text">d</span> <%% } %>
         <%% if (entity.payment_status == 'total') { %><span class="element-status done-status smaller_text">t</span> <%%}%>
         <%% if (entity.payment_status == 'refunded') { %><span class="element-status error-status smaller_text">c</span> <%%}%>            
      </td>       
      <td class="table-cell centered_text"><%%= entity.booking_lines[0].item_id %> </td>
      <td class="table-cell centered_text"><%%= self.formatDate(entity.date_from,'dd.MM.yyyy') %> </td>
      <td class="table-cell centered_text"><%%= self.formatDate(entity.date_to,'dd.MM.yyyy') %> </td>
      <td class="table-cell centered_text">
         <%% if (entity.customer_req_notification_sent) { %><span class="element-status pending-status smaller_text">c1</span> <%% } %>
         <%% if (entity.customer_notification_sent) { %><span class="element-status confirmed-status smaller_text">c2</span> <%%}%>
         <%% if (entity.customer_req_notification_p_sent) { %><span class="element-status confirmed-status smaller_text">c3</span> <%%}%>
         <%% if (entity.customer_payment_enabled_sent) { %><span class="element-status confirmed-status smaller_text">c4</span> <%%}%>                  
         <%% if (entity.manager_notification_sent) { %><span class="element-status confirmed-status smaller_text">m</span><%%}%>
         <%% if (entity.manager_notification_p_n_sent) { %><span class="element-status confirmed-status smaller_text">m2</span><%%}%>
         <%% if (entity.manager_confirm_notification_sent) { %><span class="element-status confirmed-status smaller_text">m3</span><%%}%>         
      </td> 
    </tr>
</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
     
     <div id="dialogs_container">
     </div> 

     <div class="element-detail all-border-solid-light overflow bottom-margin-1line">

        <div class="grid_5">
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.id %></span>
                <span class="entity-fieldvalue"><%%= entity.id %></span>
              </div>
            </div>  
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.creation_date %></span>
                <span class="entity-fieldvalue">
                  <%%= self.formatDate(entity.creation_date,'dd.MM.yyyy')%> 
                  <span><%%= self.formatDate(entity.creation_date,'HH:mm')%></span>
                </span>
              </div>
            </div>
            <div class="element_template">
              <div class="entity-field">
                <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.status %></span>
                <span class="entity-fieldvalue">
                  <span class="<%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
                    <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
                  </span>
                </span>
              </div>
            </div>
            <div class="element_template">
               <div class="entity-field">
                 <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.payment_status %></span>
                 <span class="entity-fieldvalue">
                    <span class="<%%=self.model.entityHooks[0].paymentStatusClass(entity)%> element-status">
                      <%%= self.model.entityHooks[0].paymentStatusDescription[entity.payment_status] %>
                    </span>
                 </span>
               </div>
            </div> 
        </div>
      
        <div class="grid_5">
           <div class="element_template">
             <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.date_from %></span>
               <span class="entity-fieldvalue">
                   <%%= self.formatDate(entity.date_from, 'dd.MM.yyyy') %> <% if booking_item_family.time_to_from%> <%%= entity.time_from?' , '+entity.time_from:'' %> <% end %>
               </span>
             </div>
             <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.pickup_place %></span>
               <span class="entity-fieldvalue">
                   <% if booking_item_family.pickup_return_place %>
                     <%%= entity.pickup_place %>
                   <% else %>
                      -
                   <% end %>
               </span>
             </div>         
           </div>
           <div class="element_template">
             <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.date_to %></span>
               <span class="entity-fieldvalue">
                  <%%= self.formatDate(entity.date_to, 'dd.MM.yyyy') %> <% if booking_item_family.time_to_from%> <%%= entity.time_to?' , '+entity.time_to:'' %> <% end %>
               </span>
             </div> 
             <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.return_place %></span>
               <span class="entity-fieldvalue">
                  <% if booking_item_family.pickup_return_place %>
                  <%%= entity.return_place %>
                  <% else %>
                  -
                  <% end %>
               </span>
             </div>             
           </div>         
           <%% if (entity.number_of_adults > 0) { %>
             <div class="element_template">
               <div class="entity-field">
                 <span class="entity-fieldlabel"><%= t.booking_management.form.adults %></span>
                 <span class="entity-fieldvalue"><%%= entity.number_of_adults %></span>
               </div>
             </div>        
             <div class="element_template">
               <div class="entity-field">
                 <span class="entity-fieldlabel"><%= t.booking_management.form.children %></span>
                 <span class="entity-fieldvalue"><%%= entity.number_of_children %></span>
               </div>
            </div>        
          <%% } %>           
           <div class="element_template" style="display:none">
             <div class="entity-field">
               <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.days %></span>
               <span class="entity-fieldvalue"><%%= entity.days %></span>
             </div>
           </div>
        </div>
        <div class="grid_2">
          <div class="container_12">
            <div class="grid_12 smaller_text">      
               <%= partial :booking_management_actions %>
            </div>
          </div>
        </div>

     </div>  

     <div class="container_12">
          <div class="grid_12">
            <%= partial :booking_management_detail %>
          </div>
     </div>

      <ul id="content_tabs" class="no-border no-background"class="no-border no-background">
          <li class="no-border no-background top-space" style="border: none; background: none">
            <a name="customer_tab" href="#customer_tab"><%=t.booking_management.form.customer_tab%></a>
          </li>
          <li class="no-border no-background top-space" style="border: none; background: none">
            <a name="comments_tab" href="#customer_tab"><%=t.booking_management.form.comments_tab%></a>
          </li>
          <% if booking_item_family.driver %>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
            <a name="driver_tab" href="#driver_tab"><%=t.booking_management.form.driver_tab%></a>
          </li>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
            <a name="additional_drivers_tab" href="#additional_drivers_tab"><%=t.booking_management.form.additional_drivers_tab%></a>
          </li>          
          <% end %>
          <% if booking_item_family.flight %>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
            <a name="flight_tab" href="#flight_tab"><%=t.booking_management.form.flight_tab%></a>
          </li>          
          <% end %>
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="charges_tab" href="#charges_tab"><%= t.booking_management.form.charges_tab %></a>
          </li> 
          <%% if (entity.total_pending > 0 ) { %>
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="payment_tab" href="#payment_tab"><%= t.booking_management.form.payment_tab %></a>
          </li>           
          <%% } %>
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="resources_tab" href="#resources_tab"><%= t.booking_management.form.booking_resources.title %></a>
          </li>           
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="related_bookings_tab" href="#related_bookings_tab"><%= t.booking_management.form.related_bookings %></a>
          </li>
          <% if booking_addon_simple_invoicing %>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="external_invoicing_tab" href="#external_invoicing_tab"><%=t.booking_management.form.external_invoicing_tab%></a>
          </li>
          <% end %>
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="notifications_tab" href="#notifications_tab"><%= t.booking_management.form.notifications.title %></a>
          </li>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="other_tab" href="#other_tab"><%=t.booking_management.form.other_tab%></a>
          </li>          
      </ul>

      <div id="content">

         <div id="customer_tab" class="top-margin bottom-margin">
           <div class="container_12">
             <div class="grid_6">
               <%= partial :booking_management_customer %>
             </div>
           </div>
         </div>
         <div id="comments_tab" class="top-margin bottom-margin">
           <div class="container_12">
             <div class="grid_6">
               <%= partial :booking_management_comments %>
             </div>
             <div class="grid_6">
               <div class="left-margin bottom-margin">
                 <%= partial :booking_management_notes %>
               </div>
             </div>
           </div>
         </div>

         <% if booking_item_family.driver %>
         <div id="driver_tab"  class="top-margin bottom-margin">
            <%= partial :booking_management_driver, :locals => {:booking_item_family => booking_item_family} %>
         </div>
         <div id="additional_drivers_tab"  class="top-margin bottom-margin">
            <%= partial :booking_management_additional_drivers, :locals => {:booking_item_family => booking_item_family} %>
         </div>
         <% end %>

         <% if booking_item_family.flight %>
         <div id="flight_tab"  class="top-margin bottom-margin">
           <%= partial :booking_management_flight %>
         </div>
         <% end %>

         <div id="charges_tab" class="top-margin-1line">
           <%= partial :booking_management_charges %>  
         </div>
         
         <%% if (entity.total_pending > 0 ) { %>
         <div id="payment_tab" class="top-margin-1line">
           <%= partial :booking_management_payment, :locals => {:booking_payment_enabled => booking_payment_enabled} %>  
         </div>
         <%% } %>

         <div id="resources_tab" class="top-margin-1line">
             <%= partial :booking_management_resources, :locals => {:booking_item_family => booking_item_family} %>
         </div>

         <div id="notifications_tab" class="top-margin-1line">
           <%= partial :booking_management_notifications %>
         </div>

         <div id="related_bookings_tab" class="top-margin-1line">
           <%= partial :booking_management_related_bookings %>
         </div>

         <% if booking_addon_simple_invoicing %>
         <div id="external_invoicing_tab" class="top-margin-1line">
           <%= partial :booking_management_external_invoicing_tab %>
         </div>
         <% end %>

         <div id="other_tab"  class="top-margin-1line">
         
            <%= partial :booking_management_other_tab, :locals => {:booking_front_end_prefix => booking_front_end_prefix} %>

            <div class="container_12">
              <div class="grid_6">
                <div class="top-margin">

                  <%= include('entity-tabs-below', {:edit_element_form => edit_element_form,
                                            :edit_element_form_ingroup_tab => edit_element_form_ingroup_tab,
                                            :edit_element_form_ingroup => edit_element_form_ingroup,
                                            :new_element_form => new_element_form,
                                            :new_element_form_ingroup_tab => new_element_form_ingroup_tab,
                                            :new_element_form_ingroup => new_element_form_ingroup}) %>
                </div>
              </div>
            </div>

         </div>

       </div>

     </form>

     <div id="complements">
     </div>
</script>

<script type="text/tmpl" id="linked_bookings_script">

                     <table class="table">
                        <thead class="table-header">
                          <tr>
                            <th class="table-cell" scope="col" style="width:25%"><%=t.booking_management.form.id%></th>
                            <th class="table-cell" scope="col" style="width:15%"><%=t.booking_management.form.date_from%>
                            <th class="table-cell" scope="col" style="width:15%"><%=t.booking_management.form.date_to%>
                            <th class="table-cell" scope="col" style="width:30%"><%=t.booking_management.form.customer_title%></th>
                            <th class="table-cell" scope="col"></th>
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                          <%% for (var idx=0; idx < data.length ; idx++) { %>
                            <tr class="table-row <%% if (data[idx].main_booking_id==null){%>more_contrast_text<%%}%>">
                               <td class="table-cell centered_text"><a href="/admin/booking/bookings/<%%=data[idx].id%>" target="_blank"><%%=data[idx].id%></a></td>
                               <td class="table-cell centered_text"><%%= self.formatDate(data[idx].date_from,'dd.MM.yyyy') %> </td>
                               <td class="table-cell centered_text"><%%= self.formatDate(data[idx].date_to,'dd.MM.yyyy') %> </td>
                               <td class="table-cell centered_text"><%%=data[idx].customer_name%> <%%=data[idx].customer_surname%></td>
                               <td class="table-cell"><%%=data[idx].detail%></td>
                            </tr>
                          <%% } %>
                        </tbody>
                     </table>    


</script>

<%= partial :booking_management_edit, locals: {booking_item_family: booking_item_family}%>
<%= element_form_extension %>
<%= element_action_extension %>
