<%= include('entity-management') %>

<!-- ======================================== -->
<!--            Reservation modal             -->
<!-- ======================================== -->
<div class="modal fade" id="booking_management_modal_container" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
          </li>
        </ul>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<!-- Renders the element description -->

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.booking_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
  <%= t.booking_management.description %>
</script>

<!-- Renders the search -->
<script type="text/tmpl" id="elements_search">
  <form name="contents_search" id="contents_search" style="overflow:visible" class="form-inline">
     <div class="form-row">
       <input type="text" name="search" class="search-entity-input form-control"
              maxlength="60" size="20" placeholder="<%=t.entitymanagement.search%>"/>
       <button class="btn btn-primary search-entity-button" type="button"><i class="si si-magnifier"></i></button>
       <select name="status" class="search-entity-control form-control">
         <option value="all">Todas</option>
         <option value="pending"><%=t.booking_console.report_pending_confirmation%>&nbsp;(<%=@pending_confirmation_reservations%>)</option>
         <option value="in_process"><%=t.booking_console.report_in_progress%>&nbsp;(<%=@transit_today%>)</option>
         <option value="received">Recibidas&nbsp;(<%=@received_reservations%>)</option>
         <option value="confirmed">Confirmadas&nbsp;(<%=@confirmed_reservations%>)</option>
       </select>
     </div>
  </form>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table table-striped">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:80px">#</th>
         <th class="table-header-title" scope="col" style="width:150px"><%= t.booking_management.table.customer %></th>
         <th class="table-header-title centered_text" scope="col" style="width:100px"><%=BookingDataSystem.r18n.t.booking_business_literals.business_type[booking_item_family.business_type.to_s]['category_singular']%></th>
         <th class="table-header-title centered_text" scope="col" style="width:100px"><%=BookingDataSystem.r18n.t.booking_business_literals.starting_date[booking_item_family.starting_date.to_s]['pickup_singular']%></th>
         <th class="table-header-title centered_text" scope="col" style="width:100px"><%=BookingDataSystem.r18n.t.booking_business_literals.starting_date[booking_item_family.starting_date.to_s]['return_singular']%></th>
         <th class="table-header-title centered_text" scope="col" style="width:100px"><%= t.booking_management.table.status %></th>
         <th class="table-header-title centered_text" scope="col" style="width:100px"><%= t.booking_management.table.payment_status %></th>
         <th class="table-header-title centered_text" scope="col" style="width:100px"><%= t.booking_management.table.creation_date %></th>
         <th class="table-header-title centered_text" scope="col" style="width:100px"><%= t.booking_management.table.created_by_manager %></th>
         <% if multiple_rental_locations %>
         <th class="table-header-title" scope="col" style="width:120px"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[booking_item_family.business_type.to_s]['logical_organization'] %></th>
         <% end %>
         <% if @addon_sales_channels %>
         <th class="table-header-title" scope="col" style="width:120px"><%= t.booking_management.table.sales_channel %></th>
         <% end %>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">
    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><strong class="text-primary"><%%= entity.id %></strong></td>
      <td class="table-cell"><strong><%%= entity.customer_name %> <%%=entity.customer_surname%></strong></td>
      <td class="table-cell centered_text">
         <% if booking_item_family.multiple_items? %>
           <%% for (var idx=0;idx<entity.booking_lines.length;idx++) { %>
           <%%= entity.booking_lines[idx].item_id %> (<%%= entity.booking_lines[idx].quantity %> u.)<br>
           <%% } %>
         <% else %>
           <%% if (entity.booking_lines.length > 0) { %>
           <%%= entity.booking_lines[0].item_id %>
           <%% } %>
         <% end %>
      </td>
      <td class="table-cell centered_text"><%%= self.formatDate(entity.date_from,'dd.MM.yyyy') %> </td>
      <td class="table-cell centered_text"><%%= self.formatDate(entity.date_to,'dd.MM.yyyy') %> </td>
      <td class="table-cell centered_text">
        <span class="<%%=self.model.entityHooks[0].statusClass(entity)%> element-status">
          <%%= self.model.entityHooks[0].statusDescription[entity.status] %>
        </span>
      </td>
      <td class="table-cell centered_text">
         <%% if (entity.payment_status == 'deposit') { %><span class="label label-info smaller_text">Depósito</span> <%% } %>
         <%% if (entity.payment_status == 'total') { %><span class="label label-success smaller_text">Total</span> <%%}%>
         <%% if (entity.payment_status == 'refunded') { %><span class="label label-danger smaller_text">Devuelto</span> <%%}%>
      </td>
      <td class="table-cell centered_text"><%%= self.formatDate(entity.creation_date,'dd.MM.yyyy') %></td>
      <td class="table-cell centered_text"><%%= entity.created_by_manager ? '<i class="fa fa-times"></i>' : '<i class="fa fa-check"></i>' %>
      <% if multiple_rental_locations %>
      <td class="table-cell"><%%= entity.rental_location_code %></td>
      <% end %>
      <% if @addon_sales_channels %>
      <td class="table-cell"><%%= entity.sales_channel_code %></td>
      <% end %>
    </tr>
</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
     
     <div id="dialogs_container">
     </div> 

      <%= partial :booking_management_header, locals: {booking_item_family: booking_item_family,
                                                  multiple_rental_locations: multiple_rental_locations,
                                                  driver_min_age_rules: driver_min_age_rules} %>




      <div class="row">
        <div class="col-lg-3">
          <div class="block  text-center">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Estado</h3>
            </div>
            <div class="block-content block-content-full">
                <%= partial :booking_management_workflow %>
            </div>
          </div>
        </div>
        <% if @addon_sales_channels %>
        <div class="col-lg-3">
          <div class="block  text-center">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Canal de venta</h3>
            </div>
            <div class="block-content block-content-full">
              <form name="sales_channel_form" class="form-inline">
                <input type="hidden" name="id" value="<%%=entity.id%>"/>
                <div class="form-group">
                  <select name="sales_channel_code" id="sales_channel_code" class="form-control">
                    <option value="">Estándar</option>
                    <% @sales_channels.each do |sales_channel| %>
                    <option value="<%=sales_channel.code%>" <%% if (entity.sales_channel_code == '<%=sales_channel.code%>') {%>selected<%%}%>><%=sales_channel.name%></option>
                    <% end %>
                  </select>
                </div>
            <div class="navigation-bar bottom-margin" style="display:none">
              <div id="customer_error_summary" class="alert alert-danger" style="display: none; margin: 10px"></div>
              <div class="navigation-bar-crud-buttons right-float right-margin">
                <input type="submit" class="btn btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
              </div>
            </div>
              </form>
            </div>
          </div>
        </div>
        <% end %>
        <div class="col-lg-6">
          <div class="block  text-center">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Acciones</h3>
            </div>
            <div class="block-content block-content-full">
              <%= partial :booking_management_actions %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%=t.booking_management.form.customer_tab%></h3>
            </div>
            <div class="block-content block-content-full">
                <%= partial :booking_management_customer %>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%= t.booking_management.form.comments %></h3>
            </div>
            <div class="block-content block-content-full">
                <%= partial :booking_management_comments %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Productos</h3>
            </div>
            <div class="block-content block-content-full">
            <%= partial :booking_management_detail, locals: {booking_item_family: booking_item_family,
                                                             driver_min_age_rules: driver_min_age_rules} %>
            </div>
          </div>
        </div>
      </div>

      <!-- Simple invoicing -->
      <% if booking_addon_simple_invoicing %>
      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%=t.booking_management.form.external_invoicing_tab%></h3>
            </div>
            <div class="block-content block-content-full">
                  <%= partial :booking_management_external_invoicing_tab %>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <!-- Resources -->

      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <ul class="block-options">
                  <li>
                      <%% if (entity.booking_lines.length > 0 && entity.booking_lines[0].booking_line_resources.length > 0) {%>
                        <div class="button" style="position: relative; top: 2px">
                          <a href="/admin/booking/assign-stock/<%%=entity.booking_lines[0].booking_line_resources[0].id%>"><i class="si si-settings"></i></a>
                        </div>
                      <%% } %>
                  </li>
                </ul>
                <h3 class="block-title"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[booking_item_family.business_type.to_s]['product']%></h3>
            </div>
            <div class="block-content block-content-full">
                <%= partial :booking_management_resources, :locals => {:booking_item_family => booking_item_family} %>
            </div>
          </div>
        </div>
      </div>


      <!-- Charges -->

      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%= t.booking_management.form.charges_tab %></h3>
            </div>
            <div class="block-content block-content-full">
              <%= partial :booking_management_charges %>
            </div>
          </div>
        </div>
      </div>

      <!-- Flight -->
      <% if booking_item_family.flight %>
      <div class="row">
        <div class="block">
          <div class="block-header bg-gray-lighter">
              <h3 class="block-title"><%=t.booking_management.form.flight_title%></h3>
          </div>
          <div class="block-content block-content-full">
            <%= partial :booking_management_flight %>
          </div>
        </div>
      </div>
      <% end %>

      <!-- Destination accommodation and notes -->
      <div class="row">
        <!-- Destination accommodation -->
        <div class="col-lg-6">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%=t.booking_management.form.destination_address_title%></h3>
            </div>
            <div class="block-content block-content-full">
              <%= partial :booking_management_destination_address %>
            </div>
          </div>
        </div>
        <!-- Notes -->
        <div class="col-lg-6">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%= t.booking_management.form.anotations %></h3>
            </div>
            <div class="block-content block-content-full">
                <%= partial :booking_management_notes %>
            </div>
          </div>
        </div>
      </div>

      <!-- Driver information -->

      <% if booking_item_family.driver %>
      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><% if booking_item_family.driver_license %><%=t.booking_management.form.driver_tab%><%else%><%=t.booking_management.form.driver_contact_title%><%end%></h3>
            </div>
            <div class="block-content block-content-full">
                <%= partial :booking_management_driver, :locals => {:booking_item_family => booking_item_family,
                                                    :driver_min_age_rules => driver_min_age_rules} %>
            </div>
          </div>
        </div>
      </div>
      <% if booking_item_family.driver_license %>
      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%=t.booking_management.form.additional_drivers_tab%></h3>
            </div>
            <div class="block-content block-content-full">
              <%= partial :booking_management_additional_drivers, :locals => {:booking_item_family => booking_item_family} %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>

      <% if multiple_rental_locations %>
      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%= t.booking_management.form.rental_location %></h3>
            </div>
            <div class="block-content block-content-full">
                  <%= partial :booking_management_rental_location %>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <!-- Notifications -->
      <div class="row">
        <div class="<%% if (entity.total_pending > 0 && entity.status != 'cancelled') { %>col-lg-8<%%} else {%>col-lg-12<%%}%>">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%= t.booking_management.form.notifications.title %></h3>
            </div>
            <div class="block-content block-content-full">
               <%= partial :booking_management_notifications %>
            </div>
          </div>
        </div>
        <!-- Payment -->
        <%% if (entity.total_pending > 0 && entity.status != 'cancelled') { %>
        <div class="col-lg-4">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%= t.booking_management.form.payment_tab %></h3>
            </div>
            <div class="block-content block-content-full">
              <%= partial :booking_management_payment, :locals => {:booking_payment_enabled => booking_payment_enabled} %>
            </div>
          </div>
        </div>
        <%% } %>
      </div>

      <!-- Entrega / Devolucion real -->
      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%= t.booking_management.form.related_bookings %></h3>
            </div>
            <div class="block-content block-content-full">
              <%= partial :booking_management_related_bookings, locals: {booking_item_family: booking_item_family} %>
            </div>
          </div>
        </div>
      </div>

      <!-- Other -->
      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%=t.booking_management.form.other_tab%></h3>
            </div>
            <div class="block-content block-content-full">
                  <%= partial :booking_management_other_tab, :locals => {:booking_front_end_prefix => booking_front_end_prefix} %>
            </div>
          </div>
        </div>
      </div>

      <!-- Activity -->
      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Actividad</h3>
            </div>
            <div id="newsfeed_container" class="block-content block-content-full">
            </div>
          </div>
        </div>
      </div>




     </form>

     <div id="complements">
     </div>
</script>

<script type="text/tmpl" id="linked_bookings_script">

     <table class="table">
        <thead class="table-header">
          <tr>
            <th class="table-cell" scope="col" style="width:25%"><%=t.booking_management.form.id%></th>
            <th class="table-cell" scope="col" style="width:15%"><%=t.booking_management.form.date_from%>
            <th class="table-cell" scope="col" style="width:15%"><%=t.booking_management.form.date_to%>
            <th class="table-cell" scope="col" style="width:30%"><%=t.booking_management.form.customer_title%></th>
            <th class="table-cell" scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-tbody">
          <%% for (var idx=0; idx < data.length ; idx++) { %>
            <tr class="table-row <%% if (data[idx].main_booking_id==null){%>more_contrast_text<%%}%>">
               <td class="table-cell centered_text"><a href="/admin/booking/bookings/<%%=data[idx].id%>" target="_blank"><%%=data[idx].id%></a></td>
               <td class="table-cell centered_text"><%%= self.formatDate(data[idx].date_from,'dd.MM.yyyy') %> </td>
               <td class="table-cell centered_text"><%%= self.formatDate(data[idx].date_to,'dd.MM.yyyy') %> </td>
               <td class="table-cell centered_text"><%%=data[idx].customer_name%> <%%=data[idx].customer_surname%></td>
               <td class="table-cell"><%%=data[idx].detail%></td>
            </tr>
          <%% } %>
        </tbody>
     </table>


</script>

<%= partial :booking_management_edit, locals: {booking_item_family: booking_item_family, driver_min_age_rules: driver_min_age_rules}%>
<%= element_form_extension %>
<%= element_action_extension %>
