<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.booking_item_management.form.title%></h2> 
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
</script>

<!-- Renders the search -->
<script type="text/tmpl" id="elements_search">
  <form name="contents_search" id="contents_search" style="overflow:visible" class="form-inline">
     <div class="form-row">
       <input type="text" name="search" class="search-entity-input form-control"
              maxlength="60" size="20" placeholder="<%=t.entitymanagement.search%>"/>
       <select name="active" class="search-entity-control form-control">
         <option value="only"><%=t.booking_item_management.form.active_filter.only%></option>
         <option value="all"><%=t.booking_item_management.form.active_filter.all%></option>
       </select>
     </div>
  </form>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">
  <table id="elements_table" class="table table-striped">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:10%">
            <%= t.booking_item_management.form.category.label %>
         </th>
         <th class="table-header-title" scope="col" style="width:15%">
            <%= t.booking_item_management.form.reference.label %>
         </th>
         <th class="table-header-title" scope="col" style="width:20%">
            <%= t.booking_item_management.form.name.label %>
         </th>       
         <th class="table-header-title" scope="col" style="width:15%">
            <%= t.booking_item_management.form.model.label %>
         </th>
         <th class="table-header-title" scope="col" style="width:15%">
            <%= t.booking_item_management.table.plate %>
         </th>
         <th class="table-header-title centered_text" scope="col" style="width:100px">
            <%= t.booking_item_management.table.own_property %>
         </th>
         <th class="table-header-title" scope="col" style="width:100px">
            <%= t.booking_item_management.table.assignable %>
         </th>
         <th class="table-header-title" scope="col">
         </th>         
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">
    <tr class="table-row" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
         <%%= entity.category_code %>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
         <strong><%%= entity.reference %></strong>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
         <%%= entity.name %>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
         <%%= entity.stock_model %>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
         <%%= entity.stock_plate %>
      </td>
      <td class="table-cell element-navigation-detail centered_text" rel="<%%= index %>">
         <%%= entity.own_property ? '<i class="fa fa-times"></i>' : '' %>
      </td>
      <td class="table-cell element-navigation-detail centered_text" rel="<%%= index %>">
         <%%= entity.assignable ? '<i class="fa fa-times"></i>' : ''  %>
      </td>
      <td class="table-cell">
      </td>
    </tr>
</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
   
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
        
     <%% if (entity) { %>

        <!-- Summary -->

        <div class="row">
            <div class="col-xs-4 col-sm-3 col-md-offset-1">
                <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <form name="element" class="form-horizontal" method="POST">
                            <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                            <div class="form-group">
                              <div class="col-xs-12">
                                  <label class="css-input switch switch-sm switch-primary">
                                    <input type="checkbox" class="auto-submit-change-control" name="active" value="true" id="active" <%% if (entity && entity.active) { %>checked="checked"<%%}%>/><span></span>
                                  </label>
                              </div>
                            </div>
                        </form>
                    </div>
                    <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Activo</div>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4">
                <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <form name="element" class="form-horizontal" method="POST">
                            <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                            <div class="form-group">
                              <div class="col-xs-12">
                                  <label class="css-input switch switch-sm switch-primary">
                                    <input type="checkbox" name="own_property" class="auto-submit-change-control" value="true" id="web_public" <%% if (entity && entity.own_property) { %>checked="checked"<%%}%>/><span></span>
                                  </label>
                              </div>
                            </div>
                        </form>
                    </div>
                    <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Stock propio</div>
                </a>
            </div>
            <div class="col-xs-4 col-sm-3">
                <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <form name="element" class="form-horizontal" method="POST">
                            <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                            <div class="form-group">
                              <div class="col-xs-12">
                                  <label class="css-input switch switch-sm switch-primary">
                                    <input type="checkbox" name="assignable" class="auto-submit-change-control" value="true" id="web_public" <%% if (entity && entity.assignable) { %>checked="checked"<%%}%>/><span></span>
                                  </label>
                              </div>
                            </div>
                        </form>
                    </div>
                    <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Asignable</div>
                </a>
            </div>
        </div>

        <!-- Main information -->

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Datos básicos</h3>
              </div>
              <div class="block-content block-content-narrow">
                  <form name="element" class="form-horizontal" method="POST">
                      <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                      <div class="form-group">
                         <label class="col-md-3 control-label"><%= t.booking_item_management.form.reference.label %></label>
                         <div class="col-md-9">
                           <span class="form-control"><%%=entity.reference%></span>
                         </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.category.label %></label>
                        <div class="col-md-8">
                          <select name="category[code]" id="category[code]" class="form-control"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.name.label %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="80" id="name" name="name" class="form-control" <%% if (entity) { %> value="<%%=entity.name%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.description.label %></label>
                        <div class="col-md-9">
                         <textarea rows="5" cols="50" id="description" name="description" class="form-control"><%% if (entity) {%><%%=entity.description %><%% } %></textarea>
                         </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Reference - Product -->

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Referencia</h3>
              </div>
              <div class="block-content block-content-narrow">
                  <form name="element" class="form-horizontal" method="POST">
                      <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.model.label %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="80" id="stock_model" name="stock_model" class="form-control" <%% if (entity) { %> value="<%%=entity.stock_model%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.plate.label %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="80" id="characteristic_1" name="stock_plate" class="form-control" <%% if (entity) { %> value="<%%=entity.stock_plate%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Characteristics -->

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Características</h3>
              </div>
              <div class="block-content block-content-narrow">
                  <form name="element" class="form-horizontal" method="POST">
                      <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.characteristic_1.label %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="80" id="characteristic_1" name="characteristic_1" class="form-control" <%% if (entity) { %> value="<%%=entity.characteristic_1%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.characteristic_2.label %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="80" id="characteristic_1" name="characteristic_2" class="form-control" <%% if (entity) { %> value="<%%=entity.characteristic_2%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.characteristic_3.label %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="80" id="characteristic_1" name="characteristic_3" class="form-control" <%% if (entity) { %> value="<%%=entity.characteristic_3%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.characteristic_4.label %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="80" id="characteristic_4" name="characteristic_4" class="form-control" <%% if (entity) { %> value="<%%=entity.characteristic_4%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Other information -->

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Otros datos</h3>
              </div>
              <div class="block-content block-content-narrow">
                  <form name="element" class="form-horizontal" method="POST">
                      <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.planning_order.label %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="10" id="planning_order" name="planning_order" class="form-control" <%% if (entity) { %> value="<%%=entity.planning_order%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Cost -->

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Costes</h3>
              </div>
              <div class="block-content block-content-narrow">
                  <form name="element" class="form-horizontal" method="POST">
                      <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.cost.label %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="10" id="cost" name="cost" class="form-control" <%% if (entity) { %> value="<%%=new Number(entity.cost).toFixed(2)%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

     </div>
    </div>

    <%% } else { %> 

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block block-content-full">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Nuevo stock</h3>
              </div>
              <div class="block-content block-content-narrow">
                <form name="element" method="POST" class="form-horizontal">
                  <div class="form-group">
                    <label class="col-xs-12"><%= t.booking_item_management.form.reference.label %></label>
                    <div class="col-sm-9">
                      <input type="text" maxlength="50" id="reference" name="reference" class="form-control" <%% if (entity) {%> value="<%%=entity.reference %>" <%% } %>/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-12"><%= t.booking_item_management.form.category.label %></label>
                    <div class="col-md-8">
                      <select name="category[code]" id="category[code]" class="form-control"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-12"><%= t.booking_extra_management.form.name.label %></label>
                    <div class="col-sm-9">
                      <input type="text" maxlength="80" id="name" name="name" class="form-control" <%% if (entity) { %> value="<%%=entity.name%>" <%% } %>/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-9">
                        <input type="button" class="btn btn-sm btn-primary create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

    <%% } %>
     
</script>