<div class="top-navigation-bar">
  <h2 class="entity-title">Resumen actividades</h2>
  <div class="form-button" style="float: right; display:none">
     <a id="print_link" href="/admin/booking/reports/programmed-activities" target="_blank">Imprimir</a>
  </div>  
</div>
<div class="admin_content_wrapper">
  <div class="container_12">
    <div class="grid_6">
      <form name="report_programmed_activities_form" action="/admin/booking/programmed-activities" method="get">
        <div class="formrow">
          <div style="display: inline-block">
            <input type="text" name="date_from" id="date_from" class="fieldcontrol date_control" maxlength="10"/>
          </div>
          <div style="display: inline-block">
            <input type="text" name="date_to" id="date_to" class="fieldcontrol date_control" maxlength="10"/>
          </div>
          <div style="display: inline-block">
            <input type="hidden" name="from" id="from"/>
            <input type="hidden" name="to" id="to"/>
            <input id="search" type="button" class="form-button blue-button" value="<%=t.entitymanagement.search%>"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>
    <% if @activities.empty? %>
      <div class="all-border-solid-light top-margin-1line">
         <p class="no-data-message"><%= t.entitymanagement.no_data %></p>
      </div>
    <% else %> 
      <table id="table" class="table">
        <thead class="table-header">
            <tr>
              <th class="table-cell left_text" scope="col" style="width:150px">Fecha</th>
              <th class="table-cell left_text" scope="col" style="width:260px">Actividad</th>
              <th class="table-cell centered_text" scope="col" style="width:100px">Estado</th>
              <th class="table-cell right_text" scope="col" style="width:140px">Pl. confirmadas</th>
              <th class="table-cell right_text" scope="col" style="width:130px">Pl. pendientes</th>
              <th class="table-cell" scope="col"></th>
            </tr>
        </thead>
        <tbody>   
        <% @activities.each do |activity| %>  
          <tr class="table-row">
            <td class="table-cell <%if activity.confirmed == 0%>less_contrast_text italic_text<%end%>"><%=activity.date.strftime('%d-%m-%Y')%> <%=activity.time%></td>
            <td class="table-cell <%if activity.confirmed == 0%>less_contrast_text italic_text<%end%>"><%=activity.item_description%></td>
            <td class="table-cell centered_text">
              <% if activity.confirmed == 0 %>
                <span class="label label-warning smaller_text">Pendiente</span>
              <% else %>
                <span class="label label-success smaller_text">Confirmada</span>
              <% end %>
            </td>
            <td class="table-cell right_text <%if activity.confirmed == 0%>less_contrast_text italic_text<%end%>"><%="%.0f" % activity.confirmed%></td>
            <td class="table-cell right_text <%if activity.confirmed == 0%>less_contrast_text italic_text<%end%>"><%="%.0f" % activity.pending_confirmation %></td>
            <td class="table-cell">
              <button type="button" class="btn btn-default occupation-detail-button" data-url="/admin/booking/activity-detail?date=<%=activity.date.strftime('%Y-%m-%d')%>&time=<%=activity.time%>&item_id=<%=activity.item_id%>&layout=no">
                Ver detalle
              </button>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>  
</div>

<!-- Modal dialog to show information -->
<div id="occupation_dialog_container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="pendingAssignationModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
          </li>
        </ul>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>