<%= include('entity-management') %>

<!-- ======================================== -->
<!--            Reservation modal             -->
<!-- ======================================== -->
<div class="modal fade" id="change_reference_container" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
          </li>
        </ul>
        <h3 class="modal-title"><%=t.booking_item_management.change_reference_form.title%></h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning">
          <p><%=t.booking_item_management.change_reference_form.change_reference_warning%></p>
        </div>
        <form name="change_reference_form" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label"><%=t.booking_item_management.change_reference_form.new_reference.label%></label>
            <div class="col-sm-9">
              <input type="text" name="new_reference" id="new_reference" size="50" maxlength="50"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <button id="change_reference_button" class="btn btn-minw btn-square btn-primary pull-right" type="button"><i class="fa fa-save push-5-r"></i><%=t.entitymanagement.update%></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['product'] %></h2>
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
</script>

<!-- Renders the search -->
<script type="text/tmpl" id="elements_search">
  <form name="contents_search" id="contents_search" style="overflow:visible" class="form-inline">
     <div class="form-row">
       <input type="text" name="search" class="search-entity-input form-control"
              maxlength="60" size="20" placeholder="<%=t.entitymanagement.search%>"/>
       <button class="btn btn-primary search-entity-button" type="button"><i class="si si-magnifier"></i></button>
       <select name="active" class="search-entity-control form-control">
         <option value="only"><%=t.booking_item_management.form.active_filter.only%></option>
         <option value="all"><%=t.booking_item_management.form.active_filter.all%></option>
       </select>
     </div>
  </form>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">
  <table id="elements_table" class="table table-striped">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:15%">
            <%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['product_singular'] %>
         </th>
         <th class="table-header-title" scope="col" <% if @booking_item_family.vehicle_rental? %>style="width:10%"<%else%>style="width:15%"<%end%>>
            <%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['category_singular'] %>
         </th>
         <% if @booking_item_family.stock_model %>
         <th class="table-header-title" scope="col" style="width:15%">
            <%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['stock_model'] %>
         </th>
         <% end %>
         <% if @booking_item_family.stock_plate %>
         <th class="table-header-title" scope="col" style="width:15%">
            <%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['stock_reference'] %>
         </th>
         <% end %>
         <th class="table-header-title" scope="col" style="width:20%">
            <%= t.booking_item_management.form.description.label %>
         </th>
         <% if @booking_item_family.vehicle_rental? %>
         <th class="table-header-title centered_text" scope="col" style="width:100px">
            <%= t.booking_item_management.table.own_property %>
         </th>
         <th class="table-header-title" scope="col" style="width:100px">
            <%= t.booking_item_management.table.assignable %>
         </th>
         <% end %>
         <% if @multiple_rental_locations %>
         <th class="table-header-title" scope="col" style="width:100px">
            <%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['physical_organization'] %>
         </th>         
         <% end %>
         <th class="table-header-title" scope="col">
         </th>         
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">
    <tr class="table-row element-navigation-detail" id="element_row_<%%=index%>" rel="<%%= index %>" <%%if (!entity.active){%>style="color:#BBB"<%%}%>>
      <td class="table-cell">
         <strong><%%= entity.reference %></strong>
      </td>
      <td class="table-cell">
         <%%= entity.category_code %>
      </td>
      <% if @booking_item_family.stock_model %>
      <td class="table-cell">
         <%%= entity.stock_model %>
      </td>
      <% end %>
      <% if @booking_item_family.stock_plate %>
      <td class="table-cell">
         <%%= entity.stock_plate %>
      </td>
      <% end %>
      <td class="table-cell">
         <%%= entity.description %>
      </td>
      <% if @booking_item_family.vehicle_rental? %>
      <td class="table-cell centered_text">
         <%%= entity.own_property ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>' %>
      </td>
      <td class="table-cell centered_text">
         <%%= entity.assignable ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>'  %>
      </td>
      <% end %>
       <% if @multiple_rental_locations %>
       <td class="table-cell" scope="col" style="width:100px">
          <%%= entity.rental_storage ? entity.rental_storage.name : '<%=t.booking_item_management.table.not_assigned_rental_storage%>' %>
       </td>      
       <% end %>
      <td class="table-cell">
      </td>
    </tr>
</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
   
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">

     <div class="content">
     <%% if (entity) { %>

        <!-- Summary -->

        <div class="row">
            <div <% if @booking_item_family.vehicle_rental? %>class="col-xs-4 col-sm-4"<%else%>class="col-xs-12 col-sm-12"<%end%>>
                <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <form name="element" class="form-horizontal" method="POST">
                            <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                            <div class="form-group">
                              <div class="col-xs-12">
                                  <label class="css-input switch switch-sm switch-primary">
                                    <input type="checkbox" class="auto-submit-change-control" name="active" value="true" id="active" <%% if (entity && entity.active) { %>checked="checked"<%%}%>/><span></span>
                                  </label>
                              </div>
                            </div>
                        </form>
                    </div>
                    <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Activo</div>
                </a>
            </div>
            <% if @booking_item_family.vehicle_rental? %>
            <div class="col-xs-4 col-sm-4">
                <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <form name="element" class="form-horizontal" method="POST">
                            <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                            <div class="form-group">
                              <div class="col-xs-12">
                                  <label class="css-input switch switch-sm switch-primary">
                                    <input type="checkbox" name="own_property" class="auto-submit-change-control" value="true" id="own_property" <%% if (entity && entity.own_property) { %>checked="checked"<%%}%>/><span></span>
                                  </label>
                              </div>
                            </div>
                        </form>
                    </div>
                    <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Stock propio</div>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4">
                <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <form name="element" class="form-horizontal" method="POST">
                            <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                            <div class="form-group">
                              <div class="col-xs-12">
                                  <label class="css-input switch switch-sm switch-primary">
                                    <input type="checkbox" name="assignable" class="auto-submit-change-control" value="true" id="assignable" <%% if (entity && entity.assignable) { %>checked="checked"<%%}%>/><span></span>
                                  </label>
                              </div>
                            </div>
                        </form>
                    </div>
                    <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Asignable</div>
                </a>
            </div>
            <% end %>
        </div>

        <!-- Main information -->

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Datos básicos</h3>
              </div>
              <div class="block-content block-content-narrow">
                  <form name="element" class="form-horizontal" method="POST">
                      <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                      <div class="form-group">
                         <label class="col-md-3 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['product_singular'] %></label>
                         <div class="col-md-5">
                           <span class="form-control"><%%=entity.reference%></span>
                         </div>
                         <div class="col-md-3">
                           <button id="change_reference_modal_button" type="button" class="btn btn-default"><%= t.booking_item_management.form.change_reference.label %></button>
                         </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['category_singular'] %></label>
                        <div class="col-md-8">
                          <select name="category[code]" id="category[code]" class="form-control"/>
                        </div>
                      </div>
                      <% if @booking_item_family.stock_model %>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['stock_model'] %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="80" id="stock_model" name="stock_model" class="form-control" <%% if (entity) { %> value="<%%=entity.stock_model%>" <%% } %>/>
                         </div>
                      </div>
                      <% end %>
                      <% if @booking_item_family.stock_plate %>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['stock_reference'] %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="80" id="characteristic_1" name="stock_plate" class="form-control" <%% if (entity) { %> value="<%%=entity.stock_plate%>" <%% } %>/>
                         </div>
                      </div>
                      <% end %>
                      <% if @booking_item_family.purchasable %>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%=t.booking_item_extra_data.purchasable.purchasable_year%></label>
                        <div class="col-md-9">
                        <input type="number" step="1" maxlength="4" id="purchasable_year" name="purchasable_year" class="form-control" <%% if (entity) { %> value="<%%=entity.purchasable_year%>" <%% } %>/>
                         </div>
                      </div>
                      <% end %>
                      <% if @booking_item_family.registrable %>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%=t.booking_item_extra_data.registrable.registrable_registration_date%></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="10" id="registrable_registration_date" name="registrable_registration_date" class="form-control"/>
                         </div>
                      </div>
                      <% end %>  
                      <% if @booking_item_family.usage %>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%=t.booking_item_extra_data.usage.usage_units%></label>
                        <div class="col-md-9">
                        <input type="number" step="1" id="usage_units" name="usage_units" class="form-control" <%% if (entity) { %> value="<%%=entity.usage_units%>" <%% } %>/>
                         </div>
                      </div>
                      <% end %>                                              
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.description.label %></label>
                        <div class="col-md-9">
                         <textarea rows="5" cols="50" id="description" name="description" class="form-control"><%% if (entity) {%><%%=entity.description %><%% } %></textarea>
                         </div>
                      </div>
                      <% if @multiple_rental_locations %>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['physical_organization'] %></label>
                        <div class="col-md-8">
                          <select name="rental_storage[id]" id="rental_storage[id]" class="form-control"/>
                        </div>
                      </div>
                      <% end %>

                      <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Characteristics -->

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Características</h3>
              </div>
              <div class="block-content block-content-narrow">
                  <form name="element" class="form-horizontal" method="POST">
                      <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                      <div class="form-group">
                        <label class="col-md-2 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['resource_characteristic_1'] %></label>
                        <div class="col-md-3">
                        <input type="text" maxlength="80" id="characteristic_1" name="characteristic_1" class="form-control" <%% if (entity) { %> value="<%%=entity.characteristic_1%>" <%% } %>/>
                         </div>
                        <label class="col-md-3 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['resource_characteristic_2'] %></label>
                        <div class="col-md-3">
                        <input type="text" maxlength="80" id="characteristic_2" name="characteristic_2" class="form-control" <%% if (entity) { %> value="<%%=entity.characteristic_2%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['resource_characteristic_3'] %></label>
                        <div class="col-md-3">
                        <input type="text" maxlength="80" id="characteristic_1" name="characteristic_3" class="form-control" <%% if (entity) { %> value="<%%=entity.characteristic_3%>" <%% } %>/>
                         </div>
                        <label class="col-md-3 control-label"><%= BookingDataSystem.r18n.t.booking_business_literals.business_type[@booking_item_family.business_type.to_s]['resource_characteristic_4'] %></label>
                        <div class="col-md-3">
                        <input type="text" maxlength="80" id="characteristic_4" name="characteristic_4" class="form-control" <%% if (entity) { %> value="<%%=entity.characteristic_4%>" <%% } %>/>
                         </div>
                      </div>
                      <hr>
                      <div class="form-group">
                        <div class="col-md-7 col-md-offset-4">
                            <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button pull-right" value="<%=t.entitymanagement.update%>"/>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Purchasable -->

        <% if @booking_item_family.purchasable %>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title"><%=t.booking_item_extra_data.purchasable.title%></h3>
              </div>
              <div class="block-content">
                  <form name="element" class="form-horizontal" method="POST">
                      <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                      <div class="form-group">
                        <label class="col-md-2 control-label"><%=t.booking_item_extra_data.purchasable.purchasable_adquisition_date%></label>
                        <div class="col-md-2">
                        <input type="text" maxlength="10" id="purchasable_adquisition_date" name="purchasable_adquisition_date" class="form-control"/>
                         </div>
                        <label class="col-md-2 control-label"><%=t.booking_item_extra_data.purchasable.purchasable_purchase_price%></label>
                        <div class="col-md-2">
                        <input type="number" maxlength="10" id="purchasable_purchase_price" name="purchasable_purchase_price" class="form-control" <%% if (entity) { %> value="<%%=entity.purchasable_purchase_price%>" <%% } %>/>
                         </div>
                        <label class="col-md-2 control-label"><%=t.booking_item_extra_data.purchasable.purchasable_purchase_units%></label>
                        <div class="col-md-2">
                        <input type="number" maxlength="10" id="purchasable_purchase_units" name="purchasable_purchase_units" class="form-control" <%% if (entity) { %> value="<%%=entity.purchasable_purchase_units%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label"><%=t.booking_item_extra_data.purchasable.purchasable_sold_release_date%></label>
                        <div class="col-md-2">
                        <input type="text" maxlength="10" id="purchasable_sold_release_date" name="purchasable_sold_release_date" class="form-control"/>
                         </div>
                        <label class="col-md-2 control-label"><%=t.booking_item_extra_data.purchasable.purchasable_sale_price%></label>
                        <div class="col-md-2">
                        <input type="number" maxlength="10" id="purchasable_sale_price" name="purchasable_sale_price" class="form-control" <%% if (entity) { %> value="<%%=entity.purchasable_sale_price%>" <%% } %>/>
                         </div>
                      </div>
                      <hr>
                      <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button pull-right" value="<%=t.entitymanagement.update%>"/>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <% if @addon_fleet_maintenance %>
          <!-- Maintenance --> 
          <% if @booking_item_family.maintenance %>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="block ">
                <div class="block-header bg-gray-lighter">
                  <h3 class="block-title"><%=t.booking_item_extra_data.maintenance.title%></h3>
                </div>
                <div class="block-content">
                    <form name="element" class="form-horizontal" method="POST">
                        <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                        <div class="form-group">
                          <label class="col-md-3 control-label"><%=t.booking_item_extra_data.maintenance.maintenance_external_revision_last_date%></label>
                          <div class="col-md-3">
                          <input type="text" maxlength="10" id="maintenance_external_revision_last_date" name="maintenance_external_revision_last_date" class="form-control"/>
                           </div>
                          <label class="col-md-3 control-label"><%=t.booking_item_extra_data.maintenance.maintenance_external_revision_last_units%></label>
                          <div class="col-md-3">
                          <input type="number" maxlength="10" id="maintenance_external_revision_last_units" name="maintenance_external_revision_last_units" class="form-control" <%% if (entity) { %> value="<%%=entity.maintenance_external_revision_last_units%>" <%% } %>/>
                           </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label"><%=t.booking_item_extra_data.maintenance.maintenance_external_revision_next_date%></label>
                          <div class="col-md-3">
                          <input type="text" maxlength="10" id="maintenance_external_revision_next_date" name="maintenance_external_revision_next_date" class="form-control"/>
                           </div>
                          <label class="col-md-3 control-label"><%=t.booking_item_extra_data.maintenance.maintenance_external_revision_next_units%></label>
                          <div class="col-md-3">
                          <input type="number" maxlength="10" id="maintenance_external_revision_next_units" name="maintenance_external_revision_next_units" class="form-control" <%% if (entity) { %> value="<%%=entity.maintenance_external_revision_next_units%>" <%% } %>/>
                           </div>
                        </div>
                        <hr>
                        <div class="form-group">
                          <div class="col-md-9 col-md-offset-3">
                              <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button pull-right" value="<%=t.entitymanagement.update%>"/>
                          </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="block ">
                <div class="block-header bg-gray-lighter">
                  <h3 class="block-title"><%=t.booking_item_extra_data.maintenance.official_title%></h3>
                </div>
                <div class="block-content">
                    <form name="element" class="form-horizontal" method="POST">
                        <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                        <div class="form-group">
                          <label class="col-md-3 control-label"><%=t.booking_item_extra_data.maintenance.maintenance_official_revision_last_date%></label>
                          <div class="col-md-3">
                          <input type="text" maxlength="10" id="maintenance_official_revision_last_date" name="maintenance_official_revision_last_date" class="form-control"/>
                           </div>
                          <label class="col-md-4 control-label"><%=t.booking_item_extra_data.maintenance.maintenance_official_revision_last_ok%></label>
                          <div class="col-md-2 checkbox">
                             <label for="maintenance_official_revision_last_ok">
                               <input type="checkbox" name="maintenance_official_revision_last_ok" id="maintenance_official_revision_last_ok" <%% if (entity.maintenance_official_revision_last_ok) {%>checked<%%}%>>  
                             </label>
                          </div>        
                        </div>  
                        <div class="form-group">
                          <label class="col-md-3 control-label"><%=t.booking_item_extra_data.maintenance.maintenance_official_revision_next_date%></label>
                          <div class="col-md-3">
                          <input type="text" maxlength="10" id="maintenance_official_revision_next_date" name="maintenance_official_revision_next_date" class="form-control"/>
                           </div>
                        </div>
                        <hr>
                        <div class="form-group">
                          <div class="col-md-9 col-md-offset-3">
                              <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button pull-right" value="<%=t.entitymanagement.update%>"/>
                          </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>        
          <% end %>

          <!-- Insurance -->

          <% if @booking_item_family.insurance %>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="block ">
                <div class="block-header bg-gray-lighter">
                  <h3 class="block-title"><%=t.booking_item_extra_data.insurance.title%></h3>
                </div>
                <div class="block-content block-content-narrow">
                    <form name="element" class="form-horizontal" method="POST">
                        <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                        <div class="form-group">
                          <label class="col-md-2 control-label"><%=t.booking_item_extra_data.insurance.insurance_valid%></label>
                          <div class="col-md-2 checkbox">
                             <label for="insurance_valid">
                               <input type="checkbox" name="insurance_valid" id="insurance_valid" <%% if (entity.insurance_valid) {%>checked<%%}%>>
                               
                             </label>
                          </div>        
                        </div>                
                        <div class="form-group">
                          <label class="col-md-2 control-label"><%=t.booking_item_extra_data.insurance.insurance_start_date%></label>
                          <div class="col-md-3">
                          <input type="text" maxlength="10" id="insurance_start_date" name="insurance_start_date" class="form-control"/>
                           </div>
                          <label class="col-md-3 control-label"><%=t.booking_item_extra_data.insurance.insurance_end_date%></label>
                          <div class="col-md-3">
                          <input type="text" maxlength="10" id="insurance_end_date" name="insurance_end_date" class="form-control"/>
                           </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label"><%=t.booking_item_extra_data.insurance.insurance_company%></label>
                          <div class="col-md-3">
                          <input type="text" maxlength="50" id="insurance_company" name="insurance_company" class="form-control" <%% if (entity) { %> value="<%%=entity.insurance_company%>" <%% } %>/>
                           </div>
                          <label class="col-md-3 control-label"><%=t.booking_item_extra_data.insurance.insurance_policy_number%></label>
                          <div class="col-md-3">
                          <input type="text" maxlength="50" id="insurance_policy_number" name="insurance_policy_number" class="form-control" <%% if (entity) { %> value="<%%=entity.insurance_policy_number%>" <%% } %>/>
                           </div>
                        </div>
                        <hr>
                        <div class="form-group">
                          <div class="col-md-8 col-md-offset-4">
                              <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button pull-right" value="<%=t.entitymanagement.update%>"/>
                          </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
          
        <!-- Other information -->

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Otros datos</h3>
              </div>
              <div class="block-content block-content-narrow">
                  <form name="element" class="form-horizontal" method="POST">
                      <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.planning_order.label %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="10" id="planning_order" name="planning_order" class="form-control" <%% if (entity) { %> value="<%%=entity.planning_order%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Cost -->
        <% if @addon_finances %>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="block ">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Costes</h3>
              </div>
              <div class="block-content block-content-narrow">
                  <form name="element" class="form-horizontal" method="POST">
                      <input type="hidden" name="reference" value="<%%=entity.reference%>"/>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><%= t.booking_item_management.form.cost.label %></label>
                        <div class="col-md-9">
                        <input type="text" maxlength="10" id="cost" name="cost" class="form-control" <%% if (entity) { %> value="<%%=new Number(entity.cost).toFixed(2)%>" <%% } %>/>
                         </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
        <% end %>

     </div>
    </div>

    <%% } else { %> 

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="block block-content-full">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Nuevo stock</h3>
              </div>
              <div class="block-content block-content-narrow">
                <form name="element" method="POST" class="form-horizontal">
                  <div class="form-group">
                    <label class="col-xs-12"><%= t.booking_item_management.form.reference.label %></label>
                    <div class="col-sm-9">
                      <input type="text" maxlength="50" id="reference" name="reference" class="form-control" <%% if (entity) {%> value="<%%=entity.reference %>" <%% } %>/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-12"><%= t.booking_item_management.form.category.label %></label>
                    <div class="col-md-8">
                      <select name="category[code]" id="category[code]" class="form-control"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-9">
                        <input type="button" class="btn btn-sm btn-primary create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

    <%% } %>
    </div>
     
</script>