<style>
.html_editor {
  min-height: 250px;
}
</style>
<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.booking_category_management.form.title%></h2> 
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
</script>

<!-- Renders the search -->
<script type="text/tmpl" id="elements_search">
  <form name="contents_search" id="contents_search" style="overflow:visible">
     <div class="form-row">
       <input type="text" name="search" class="search-entity-input"
              maxlength="60" size="20" placeholder="<%=t.entitymanagement.search%>"/>
       <select name="active" class="search-entity-control">
         <option value="only"><%=t.booking_category_management.form.active_filter.only%></option>
         <option value="all"><%=t.booking_category_management.form.active_filter.all%></option>
       </select>
     </div>
  </form>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">
  <div id="elements_tbody" class="entity-blocks-container">
  </div>
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">
  <div class="entity-block-container">
    <div class="entity-block-container-inside all-space">
      <div style="max-height:108px">
        <%% if (entity && entity.photo_url_small != null && entity.photo_url_small.length > 0)  { %> 
        <img src="<%%= entity.photo_url_small %>" class="box-shadow element-row-selector" style="display:block; margin: 0 auto" rel="<%%= index %>"/>
        <%% } else { %>
        <div class="box-shadow element-row-selector" style="max-width:144px; max-height: 108px" rel="<%%= index %>">
          <span class="centered_text" style="font-size:5em; display: block" data-icon="&#xe072;"></span> 
        </div> 
        <%% } %>
      </div>
      <div>
        <div <%%if (!entity.active){%>style="text-decoration:line-through;"<%%}%>class="smaller_text less_contrast_text centered_text top-margin"><%%= entity.code %> 
        </div>
      </div>
    </div>
  </div>
</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
   
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
    <%% if (entity) { %>
    <h3 class="bottom-separator bottom-margin" style="display:inline-block"><%%=entity.code%> - <%%=entity.name%></h3>
    <%% if (entity.defined_stock != entity.stock || !entity.ready) { %>
    <div class="alert alert-danger">
      <ul>
        <%% if (entity.defined_stock != entity.stock) { %>
        <li><%=t.booking_category_management.form.stock_not_match%></li>
        <%% } %>
        <%% if (!entity.ready) { %>
        <li><%=t.booking_category_management.form.product_not_ready%></li>
        <%% } %>
      </ul>
    </div>
    <%% } %>
    <div class="container_12">
      <ul id="content_tabs" class="no-border no-background"class="no-border no-background">  
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="basic_data_tab" href="#basic_data_tab">Datos básicos</a>
          </li> 
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="description_tab" href="#description_tab">Descripción</a>
          </li>
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="configuration_tab" href="#configuration_tab">Configuración</a>
          </li>                      
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="photos_tab" href="#photos_tab">Fotos</a>
          </li>
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="stocks_tab" href="#stocks_tab">Stocks</a>
          </li>          
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="prices_tab" href="#prices_tab">Tarifas</a>
          </li>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="deposit_tab" href="#deposit_tab">Depósito</a>
          </li>          
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="calendar_tab" href="#calendar_tab">Calendario</a>
          </li>
          <% if @show_translations %>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="translation_tab" href="#translation_tab">Traducciones</a>
          </li>
          <% end %>
      </ul>
     <div id="content">
        <div id="basic_data_tab" class="top-margin bottom-margin">
          <div class="container_12">
          <div class="grid_6">        
          <form name="element" method="POST">
              <input type="hidden" name="code" value="<%%=entity.code%>"/>
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.name.label %></label>
                <input type="text" maxlength="80" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.name%>" <%% } %>/>
              </div> 
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.short_description.label %></label>
                <input type="text" maxlength="80" id="short_description" name="short_description" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.short_description%>" <%% } %>/>
              </div>
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.active.label%></label>
                <input type="checkbox" name="active" value="true" id="active" <%% if (entity && entity.active) { %>checked="checked"<%%}%>/>
              </div>
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.web_public.label%></label>
                <input type="checkbox" name="web_public" value="true" id="web_public" <%% if (entity && entity.web_public) { %>checked="checked"<%%}%>/>
              </div>                                
              <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                <div class="navigation-bar-crud-buttons">
                  <input type="button" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                </div>
              </div>                                          
          </form>
          </div>
          </div>
        </div>
        <div id="description_tab" class="top-margin bottom-margin">
          <form name="element" method="POST">
              <%% if (entity) { %>
              <input type="hidden" name="code" value="<%%=entity.code%>"/>
              <%% } %>
              <div class="formrow">
                 <label class="fieldtitle"><%= t.booking_category_management.form.description.label %></label>
                 <textarea rows="5" cols="50" id="description" name="description" class="fieldcontrol texteditor"><%% if (entity) {%><%%=entity.description %><%% } %></textarea>
              </div>
              <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                <div class="navigation-bar-crud-buttons">
                  <input type="button" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                </div>
              </div>                
          </form>
        </div>
        <div id="configuration_tab" class="top-margin bottom-margin">
          <div class="container_12">
          <div class="grid_6">
          <form name="element" method="POST">
              <%% if (entity) { %>
              <input type="hidden" name="code" value="<%%=entity.code%>"/>
              <%% } %>
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.sort_order.label%></label>
                <input type="text" class="fieldcontrol" name="sort_order" id="sort_order" <%% if (entity){%>value="<%%=entity.sort_order%>" <%%} else { %>value="0"<%%}%>/>
                <p class="smaller_text less_contrast_text">Esta opción permite establecer el orden de los productos en el formulario de reserva</p>                
              </div>  
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.capacity.label%></label>
                <input type="text" class="fieldcontrol" name="capacity" id="capacity" <%% if (entity){%>value="<%%=entity.capacity%>" <%%} else { %>value="0"<%%}%>/>
                <p class="smaller_text less_contrast_text">Esta opción permite establecer la capacidad en personas del producto</p>                
              </div>  
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.alias.label%></label>
                <input type="text" class="fieldcontrol" name="alias" id="alias" <%% if (entity){%>value="<%%=entity.alias%>" <%%} else { %>value="0"<%%}%>/>
                <p class="smaller_text less_contrast_text">Esta opción permite establecer una url alternativa para visualizar el producto en el navegador</p>                
              </div>               
              <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                <div class="navigation-bar-crud-buttons">
                  <input type="button" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                </div>
              </div>                
          </form>
          </div>
          </div>
        </div>        
        <div id="photos_tab" class="top-margin bottom-margin">
              <%= include('entity-tabs-above', {:edit_element_form_above => edit_element_form_above,
                                            :edit_element_form_above_ingroup_tab => edit_element_form_above_ingroup_tab,
                                            :edit_element_form_above_ingroup => edit_element_form_above_ingroup,
                                            :new_element_form_above => new_element_form_above,
                                            :new_element_form_above_ingroup_tab => new_element_form_above_ingroup_tab,
                                            :new_element_form_above_ingroup => new_element_form_above_ingroup}) %>

              <%= include('entity-tabs-below', {:edit_element_form => edit_element_form,
                                            :edit_element_form_ingroup_tab => edit_element_form_ingroup_tab,
                                            :edit_element_form_ingroup => edit_element_form_ingroup,
                                            :new_element_form => new_element_form,
                                            :new_element_form_ingroup_tab => new_element_form_ingroup_tab,
                                            :new_element_form_ingroup => new_element_form_ingroup}) %>        
        </div>
        <div id="stocks_tab" class="top-margin bottom-margin">
          <div class="container_12">
            <div class="grid_6">
              <form name="element" method="POST">
                <%% if (entity) { %>
                <input type="hidden" name="code" value="<%%=entity.code%>"/>
                <%% } %>
                <div id="stock_container" class="formrow">
                  <label class="fieldtitle"><%= t.booking_category_management.form.stock.label%></label>
                  <input type="text" class="fieldcontrol" name="stock" id="stock" <%% if (entity){%>value="<%%=entity.stock%>" <%%}%>/>
                </div>
                <div class="formrow">
                  <label class="fieldtitle"><%= t.booking_category_management.form.stock_control.label%></label>
                  <input type="checkbox" name="stock_control" value="true" id="stock_control" <%% if (entity && entity.stock_control) { %>checked="checked"<%%}%>/>
                </div>
                <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                  <div class="navigation-bar-crud-buttons">
                    <input type="button" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="container_12">
            <div class="grid_12">
              <div id="stock_detail_container" class="smaller_text">
              </div>
            </div>
          </div>       
        </div>
        <div id="prices_tab" class="top-margin bottom-margin">
          <%% if (entity.price_definition_id == null) { %>
          <div class="container_12">
            <div class="grid_6">        
              <form name="element" method="POST">    
                  <input type="hidden" name="code" value="<%%=entity.code%>"/>
                  <div id="category_price" class="element-form-detail">
                    <%= partial(:price_definition_creation)%>
                  </div>
                  <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                    <div class="navigation-bar-crud-buttons">
                       <input type="button" class="form-button green-button update-entity-button entity-management-button orange-button" value="<%=t.booking_category_management.form.create_rates.label%>"/>
                    </div>
                  </div>                       
              </form>
            </div>
          </div>
          <%% } %> 
          <div id="prices_container">
          </div>
        </div>
        <div id="deposit_tab" class="top-margin bottom-margin">
          <div id="deposit_container">
            <div class="container_12">
              <div class="grid_6">
            <form name="element" method="POST">    
              <%% if (entity) { %>
              <input type="hidden" name="code" value="<%%=entity.code%>"/>
              <%% } %>           
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.deposit.label%></label>
                <input type="text" name="deposit" id="deposit" <%% if (entity){%>value="<%%=new Number(entity.deposit).toFixed(2)%>" <%%} else { %>value="0"<%%}%>/>
                <p class="smaller_text less_contrast_text">Esta opción permite configurar el importe del depósito que se ha de 
                abonar al realizar la reserva</p>
              </div>
              <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                <div class="navigation-bar-crud-buttons">
                  <input type="button" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                </div>
              </div>                
            </form>
              </div>
            </div>                   
          </div>
        </div>
        <div id="calendar_tab" class="top-margin bottom-margin">
          <%% if (entity.calendar_id == null) { %>
          <div class="container_12">
            <div class="grid_6">        
              <form name="element" method="POST">  
                  <%=t.booking_category_management.form.create_calendar.description%>  
                  <input type="hidden" name="code" value="<%%=entity.code%>"/>
                  <input type="hidden" name="create_calendar" value="true"/>
                  <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                    <div class="navigation-bar-crud-buttons">
                       <input type="button" class="form-button green-button update-entity-button entity-management-button orange-button" value="<%=t.booking_category_management.form.create_calendar.label%>"/>
                    </div>
                  </div>                       
              </form>
            </div>
          </div>
          <%% } %> 
          <div id="calendar_container">
          </div>
        </div>
        <% if @show_translations %>
        <div id="translation_tab">
          <div id="translation_container">
          </div>
        </div>
        <% end %>
      </div>      
    </div>   
    <%% } else { %>

        <div id="basic_data_tab" class="top-margin bottom-margin">
          <div class="container_12">
          <div class="grid_6">        
            <h3>Nuevo producto</h3>
            <p class="less_contrast_text">Introduzca los datos básicos de su nuevo producto.</p>
            <form name="element" method="POST">
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.type.label %></label>
                <select id="type" name="type" class="fieldcontrol">
                   <% ::Yito::Model::Booking::BookingCategory.types.each do |item| %>
                   <option value="<%=item[:id]%>"  <%% if (entity && entity.type=='<%=item[:id]%>') {%> selected="selected" <%% } %>><%=item[:description]%></option>
                   <% end %>
                </select>
              </div>
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.code.label %></label>
                <input type="text" maxlength="20" id="code" name="code" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.code %>" <%% } %>/>
              </div>
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.name.label %></label>
                <input type="text" maxlength="80" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.name%>" <%% } %>/>
              </div> 
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_category_management.form.short_description.label %></label>
                <input type="text" maxlength="80" id="short_description" name="short_description" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.short_description%>" <%% } %>/>
              </div>             
              <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                <div class="navigation-bar-crud-buttons">
                  <input type="button" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                </div>
              </div>                                          
            </form>
          </div>
          <div class="grid_6">
            <div class="left-margin smaller_text">
              <%= t.booking_category_management.form.new_product_detail%>
            </div>
          </div>
          </div>
        </div>

    <%% } %>     
                        

     
</script>

<%= element_form_extension if defined?element_form_extension %>
<%= element_extension if defined?element_extension %>
<%= element_action_extension if defined?element_action_extension %>
