<style>
.html_editor {
  min-height: 250px;
}
</style>
<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.booking_extra_management.title%></h2> 
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
<%=t.booking_extra_management.description%>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">
  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:30%">
            <%= t.booking_extra_management.table.code %>
         </th>
         <th class="table-header-title" scope="col" style="width:30%">
            <%= t.booking_extra_management.table.name %>
         </th>
         <th class="table-header-title" scope="col" style="width:40%">
         </th>         
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">
    <tr class="table-row" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
        <%%= entity.code %>
      </td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>">
        <%%= entity.name %>
      </td>
      <td class="table-cell">
      </td>
    </tr>
</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
   
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
  <%% if (entity) { %>
    <h3 class="bottom-separator bottom-margin" style="display:inline-block"><%%=entity.code%> - <%%=entity.name%></h3>
    <div class="container_12">
      <ul id="content_tabs" class="no-border no-background"class="no-border no-background">  
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="basic_data_tab" href="#basic_data_tab">Datos b치sicos</a>
          </li> 
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="description_tab" href="#description_tab">Descripci칩n</a>
          </li>
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="configuration_tab" href="#configuration_tab">Configuraci칩n</a>
          </li>                      
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="photos_tab" href="#photos_tab">Fotos</a>
          </li>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="prices_tab" href="#prices_tab">Tarifas</a>
          </li>
          <% if @show_translations %>
          <li class="no-border no-background top-space" style="border:none; backgrond:none">
              <a name="translation_tab" href="#translation_tab">Traducciones</a>
          </li>
          <% end %>
      </ul>
      <div id="content">
        <div id="basic_data_tab" class="top-margin bottom-margin">
          <div class="container_12">
            <div class="grid_6">
              <form name="element" method="POST">
                <input type="hidden" id="code" name="code" value="<%%=entity.code%>"/>
                <div class="formrow">
                  <label class="fieldtitle"><%= t.booking_extra_management.form.name.label %></label>
                  <input type="text" maxlength="80" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.name%>" <%% } %>/>
                </div>      
                <div class="formrow">
                  <label class="fieldtitle"><%= t.booking_extra_management.form.active.label%></label>
                  <input type="checkbox" name="active" value="true" id="active" <%% if (entity && entity.active) { %>checked="checked"<%%}%>/>
                </div>                         
                <div class="formrow">
                  <label class="fieldtitle"><%= t.booking_category_management.form.web_public.label%></label>
                  <input type="checkbox" name="web_public" value="true" id="web_public" <%% if (entity && entity.web_public) { %>checked="checked"<%%}%>/>
                </div>                
                <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                  <div class="navigation-bar-crud-buttons">
                    <input type="button" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                  </div>
                </div>                
              </form>
            </div>
          </div>
        </div>
        <div id="description_tab" class="top-margin bottom-margin">
          <div class="container_12">
            <div class="grid_12">
              <form name="element" method="POST">
                <input type="hidden" id="code" name="code" value="<%%=entity.code%>"/>              
                <div class="formrow">
                  <label class="fieldtitle"><%= t.booking_extra_management.form.description.label %></label>
                  <textarea rows="5" cols="50" id="description" name="description" class="fieldcontrol texteditor"><%% if (entity) {%><%%=entity.description %><%% } %></textarea>
                </div>

                <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                  <div class="navigation-bar-crud-buttons">
                    <input type="button" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                  </div>
                </div> 
              </form>
            </div>
          </div>
        </div>
        <div id="configuration_tab" class="top-margin bottom-margin">
          <div class="container_12">
            <div class="grid_6">
              <form name="element" method="POST">
                <input type="hidden" id="code" name="code" value="<%%=entity.code%>"/>              
                <div class="formrow">
                  <label class="fieldtitle"><%= t.booking_extra_management.form.max_quantity.label %></label>
                  <input type="text" maxlength="2" id="max_quantity" name="max_quantity" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.max_quantity%>" <%% } else { %> value="0"<%% }%>/>
                </div>  
                <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                  <div class="navigation-bar-crud-buttons">
                    <input type="button" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                  </div>
                </div>               
              </form>
            </div>
          </div>
        </div>  
        <div id="photos_tab" class="top-margin bottom-margin">
          <div class="container_12">
            <div class="grid_12">
              <%= include('entity-tabs-above', {:edit_element_form_above => edit_element_form_above,
                                            :edit_element_form_above_ingroup_tab => edit_element_form_above_ingroup_tab,
                                            :edit_element_form_above_ingroup => edit_element_form_above_ingroup,
                                            :new_element_form_above => new_element_form_above,
                                            :new_element_form_above_ingroup_tab => new_element_form_above_ingroup_tab,
                                            :new_element_form_above_ingroup => new_element_form_above_ingroup}) %>

              <%= include('entity-tabs-below', {:edit_element_form => edit_element_form,
                                            :edit_element_form_ingroup_tab => edit_element_form_ingroup_tab,
                                            :edit_element_form_ingroup => edit_element_form_ingroup,
                                            :new_element_form => new_element_form,
                                            :new_element_form_ingroup_tab => new_element_form_ingroup_tab,
                                            :new_element_form_ingroup => new_element_form_ingroup}) %>              
            </div>
          </div>
        </div>  
        <div id="prices_tab" class="top-margin bottom-margin">
          <%% if (entity.price_definition_id == null) { %>
          <div class="container_12">
            <div class="grid_6">        
              <form name="element" method="POST">    
                  <input type="hidden" name="code" value="<%%=entity.code%>"/>
                  <div id="category_price" class="element-form-detail">
                    <%= partial(:price_definition_creation)%>
                  </div>
                  <div class="bottom-navigation-bar navigation-bar" style="padding-right:0px">
                    <div class="navigation-bar-crud-buttons">
                       <input type="button" class="form-button green-button update-entity-button entity-management-button orange-button" value="<%=t.booking_category_management.form.create_rates.label%>"/>
                    </div>
                  </div>                       
              </form>
            </div>
          </div>
          <%% } %> 
          <div id="prices_container">
          </div>
        </div>
        <% if @show_translations %>
        <div id="translation_tab">
          <div id="translation_container">
          </div>
        </div>
        <% end %>
      </div>
    </div> 
  <%% } else { %>

     <form name="element" method="POST">
        <div class="form-fields">
          <div class="container_12"> 
            <div class="grid_6">
              <h3>Nuevo extra</h3>
              <p class="less_contrast_text">Introduzca los datos b치sicos de su nuevo extra.</p>            
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_extra_management.form.code.label %></label>
                <input type="text" maxlength="20" id="code" name="code" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.code %>" <%% } %>/>
              </div>
              <div class="formrow">
                <label class="fieldtitle"><%= t.booking_extra_management.form.name.label %></label>
                <input type="text" maxlength="80" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.name%>" <%% } %>/>
              </div>                                     
              <div class="bottom-navigation-bar navigation-bar">
                <div class="navigation-bar-crud-buttons">
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                </div>
              </div>
            </div>
          </div>
        </div>
     </form>
  <%% } %>
     
</script>

<%= element_form_extension if defined?element_form_extension %>
<%= element_extension if defined?element_extension %>
<%= element_action_extension if defined?element_action_extension %>
