<style>
#renting_tab li a, #activities_tab li a {
  background-color: white;
}
#renting_tab li#current a,
#renting_tab li#current a::after,
#activities_tab li#current a,
#activities_tab li#current a::after {
  background-color: white;
}
</style>
<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.booking_settings.form.title%></h2>
</div>

<div class="admin_content_wrapper">

    <div data-alerts="alerts" data-titles="{'success':'<%=t.entitymanagement.success%>','warning':'<%=t.entitymanagement.warning%>','error':'<%=t.entitymanagement.error%>'}" data-fade="10000"></div>

    <div class="container_12">
      <ul id="content_tabs" class="no-border no-background"class="no-border no-background">  
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="general_tab" href="#general_tab"><%=t.booking_settings.form.general_group%></a>
          </li> 
          <% if booking_renting and booking_mode == 'rent' %>          
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="renting_tab" href="#renting_tab"><%=t.booking_settings.form.rent_group%></a>
          </li>
          <% end %>
          <% if booking_activities %>
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="activities_tab" href="#activities_tab"><%=t.booking_settings.form.activities_group%></a>
          </li>
          <% end %>
          <% if booking_mode == 'restaurant' %>   
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="turns_tab" href="#turns_tab"><%=t.booking_settings.form.turns_group%></a>
          </li>
          <% end %>
      </ul>
      <div id="content">
        <div id="general_tab" class="top-margin bottom-margin">
          <div class="container_12">
            <div class="grid_6">
              <form name="variables" action="/api/variables" method="PUT" 
                    data-remote="ajax" data-remote-method="PUT">
                <%= render_variable_textarea('booking.notification_email', t.booking_settings.form.notification_email) %>
                <%= render_variable_checkbox_boolean('booking.send_notifications',
                                                     t.booking_settings.form.send_notifications) %>
                <%= render_variable_checkbox_boolean('booking.send_notifications_backoffice_reservations',
                                                     t.booking_settings.form.send_notifications_backoffice_reservations) %>
                <div class="formrow-botonera top-separator top-space">
                  <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                </div>
              </form>                                  
            </div>
          </div>
        </div>
        <% if booking_renting and booking_mode == 'rent' %>  
        <div id="renting_tab" class="top-margin bottom-margin">
          <div class="container_12">
            <ul id="rent_tabs" class="content_tabs no-border no-background smaller_text">  
              <li class="no-border no-background top-space" style="border:none;background:none">
                <a name="rent_general_tab" href="#rent_general_tab">General</a>
              </li>
              <li class="no-border no-background top-space" style="border:none;background:none">
                <a name="rent_pickup_tab" href="#price_tab"><%=t.booking_settings.form.pickup_return_group%></a>
              </li>
              <li class="no-border no-background top-space" style="border:none;background:none">
                <a name="rent_online_payment_tab" href="#rent_online_payment_tab"><%=t.booking_settings.form.payment_group%></a>
              </li>              
              <li class="no-border no-background top-space" style="border:none;background:none">
                <a name="renting_adwords_tab" href="#renting_adwords_tab"><%=t.booking_settings.form.adwords_group%></a>
              </li>              
            </ul>
            <div id="rent_content" class="content top-margin">
              <div id="rent_general_tab">                  
                <div class="container_12">
                  <div class="grid_6">
                    <form name="variables" action="/api/variables" method="PUT" 
                          data-remote="ajax" data-remote-method="PUT">
                      <%= render_variable_select('booking.item_family', t.booking_settings.form.family, families) %>
                      <%= render_variable_input_text('booking.min_days', t.booking_settings.form.min_days, 2, 2) %>  
                      <%= render_variable_select('booking.renting_calendar_season_mode', t.booking_settings.form.calendar_mode.title, calendar_modes) %>
                      <%= render_variable_checkbox_boolean('booking.assignation.allow_different_category', t.booking_settings.form.assignation.allow_different_category) %>
                      <%= render_variable_checkbox_boolean('booking.assignation.allow_busy_resource', t.booking_settings.form.assignation.allow_busy_resource) %>
                      <div class="formrow-botonera top-separator top-space">
                        <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                      </div>
                    </form>
                  </div>
                </div>                                  
              </div>
              <div id="rent_pickup_tab">
                <div class="container_12">
                  <div class="grid_6">
                    <form name="variables" action="/api/variables" method="PUT" 
                          data-remote="ajax" data-remote-method="PUT">
                      <h3 style="font-size:1.2em">Lugares</h3>
                      <%= render_variable_checkbox_boolean('booking.allow_custom_pickup_return_place', t.booking_settings.form.custom_pickup_return_place) %>
                      <%= render_variable_input_text('booking.custom_pickup_return_place_price', t.booking_settings.form.custom_pickup_return_place_price, 3, 3) %>
                      <h3 style="font-size:1.2em">Horarios</h3> 
                      <%= render_variable_select('booking.pickup_return_timetable', t.booking_settings.form.pickup_return_timetable, pickup_return_timetables) %>
                      <%= render_variable_input_text('booking.pickup_return_timetable_out_price', t.booking_settings.form.pickup_return_timetable_out_price, 3, 3) %> 
                      <div class="formrow-botonera top-separator top-space">
                         <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                      </div>
                    </form>                                  
                  </div>
                </div>              
              </div>
              <div id="rent_online_payment_tab">
                <div class="container_12">
                  <div class="grid_6">
                    <form name="variables" action="/api/variables" method="PUT" 
                          data-remote="ajax" data-remote-method="PUT">
                      <%= render_variable_checkbox_boolean('booking.payment', t.booking_settings.form.payment) %>
                      <%= render_variable_input_text('booking.deposit', t.booking_settings.form.deposit, 2, 2) %>
                      <%= render_variable_checkbox_boolean('booking.allow_total_payment', t.booking_settings.form.allow_total_payment) %>  
                      <%= render_variable_input_text('booking.item_hold_time', t.booking_settings.form.item_hold_time, 2, 2) %>
                      <%= render_variable_input_text('booking.payment_cadence', t.booking_settings.form.payment_cadence, 2, 2) %>
                      <div class="formrow-botonera top-separator top-space">
                        <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                      </div>
                    </form>                                  
                  </div>
                </div>
              </div>
              <div id="renting_adwords_tab">
                <div class="container_12">
                  <div class="grid_6">
                    <form name="variables" action="/api/variables" method="PUT" 
                          data-remote="ajax" data-remote-method="PUT">
                      <%= render_variable_checkbox_boolean('booking.adwords_active', t.booking_settings.form.adwords_active) %>
                      <%= render_variable_input_text('booking.adwords_booking_request_conversion_id', t.booking_settings.form.booking_request_conversion_id, 255, 30) %>
                      <%= render_variable_input_text('booking.adwords_booking_request_conversion_label', t.booking_settings.form.booking_request_conversion_label, 255, 30) %>
                      <%= render_variable_input_text('booking.adwords_booking_pay_now_conversion_id', t.booking_settings.form.booking_pay_now_conversion_id, 255, 30) %>
                      <%= render_variable_input_text('booking.adwords_booking_pay_now_conversion_label', t.booking_settings.form.booking_pay_now_conversion_label, 255, 30) %>                      
                      <div class="formrow-botonera top-separator top-space">
                        <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                      </div>
                    </form>
                  </div>
                </div>                                                               
              </div>
            </div>
          </div>
        </div>
        <% end %> 

        <% if booking_activities %>
        <div id="activities_tab" class="top-margin bottom-margin">
          <div class="container_12">
            <ul id="activities_tabs" class="content_tabs no-border no-background smaller_text">  
              <li class="no-border no-background top-space" style="border:none;background:none">
                <a name="activities_online_payment_tab" href="#rent_online_payment_tab"><%=t.booking_settings.form.payment_group%></a>
              </li>              
            </ul>
            <div id="activities_content" class="content top-margin">
              <div id="activities_online_payment_tab">
                <div class="container_12">
                  <div class="grid_6">
                    <form name="variables" action="/api/variables" method="PUT" 
                          data-remote="ajax" data-remote-method="PUT">
                      <%= render_variable_checkbox_boolean('order.request_reservations', t.booking_settings.form.activities_request_reservation) %>
                      <%= render_variable_checkbox_boolean('order.payment', t.booking_settings.form.activities_payment) %>
                      <%= render_variable_checkbox_boolean('order.allow_deposit_payment', t.booking_settings.form.activities_allow_deposit_payment) %>
                      <%= render_variable_input_text('order.deposit', t.booking_settings.form.activities_deposit, 2, 2) %>
                      <%= render_variable_checkbox_boolean('order.allow_total_payment', t.booking_settings.form.activities_allow_total_payment) %>  
                      <%= render_variable_input_text('order.item_hold_time', t.booking_settings.form.activities_item_hold_time, 2, 2) %>
                      <%= render_variable_input_text('order.payment_cadence', t.booking_settings.form.activities_payment_cadence, 2, 2) %>                     
                      <div class="formrow-botonera top-separator top-space">
                        <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                      </div>
                    </form>                                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <% if booking_mode == 'restaurant' %> 
        <div id="turns_tab" class="top-margin bottom-margin">
          <div class="container_12">
            <div class="grid_6">
              <form name="variables" action="/api/variables" method="PUT" 
                    data-remote="ajax" data-remote-method="PUT">
                <%= render_variable_input_text('booking.morning_turns', t.booking_settings.form.morning_turns, 255, 30) %>
                <%= render_variable_input_text('booking.afternoon_turns', t.booking_settings.form.afternoon_turns, 255, 30) %>
                <%= render_variable_input_text('booking.night_turns', t.booking_settings.form.night_turns, 255, 30) %>
                <%= render_variable_input_text('booking.duration_of_service', t.booking_settings.form.duration_of_service, 10, 10) %>
  <%= render_variable_input_text('booking.duration_of_service_extra', t.booking_settings.form.duration_of_service_extra, 10, 10) %>  
  <%= render_variable_input_text('booking.duration_of_service_extra_turns', t.booking_settings.form.duration_of_service_extra_turns, 255, 30) %> 
  <%= render_variable_input_text('booking.scheduler_start_time', t.booking_settings.form.scheduler_start_time, 5, 5) %>
  <%= render_variable_input_text('booking.scheduler_finish_time', t.booking_settings.form.scheduler_finish_time, 5, 5) %>     
  <h3><%=t.booking_settings.form.people_group%></h3>
  <%= render_variable_input_text('booking.min_children', t.booking_settings.form.min_children, 2, 2) %>
  <%= render_variable_input_text('booking.max_children', t.booking_settings.form.max_children, 2, 2) %>
  <%= render_variable_input_text('booking.max_children_extra', t.booking_settings.form.max_children_extra, 2, 2) %>  
  <%= render_variable_input_text('booking.min_adults', t.booking_settings.form.min_adults, 2, 2) %>
  <%= render_variable_input_text('booking.max_adults', t.booking_settings.form.max_adults, 2, 2) %>
  <%= render_variable_input_text('booking.max_adults_extra', t.booking_settings.form.max_adults_extra, 2, 2) %> 
  <%= render_variable_textarea('booking.people_resources', t.booking_settings.form.people_resources) %>
                    
                <div class="formrow-botonera top-separator top-space">
                  <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                </div>
              </form>                                  
            </div>
          </div>
        </div> 
        <% end %> 

      </div>
    </div>
</div>