<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.reservation_website_settings.title%></h2>
</div>
<div class="admin_content_wrapper"  style="background-color: #f5f5f5; margin: 0">

  <div id="content">

    <br>

    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="block ">
          <div class="block-header bg-gray-lighter">
            <h3 class="block-title"><%=t.reservation_website_settings.activities_menu_group%></h3>
          </div>
          <div class="block-content block-content-narrow">
            <form name="variables" action="/api/variables" method="PUT"
                  data-remote="ajax" data-remote-method="PUT" class="form-horizontal">
              <%= render_variable_checkbox_boolean('booking.frontend.activities_menu',
                                                   t.reservation_website_settings.activities_menu) %>
              <p class="text-muted "><%=t.reservation_website_settings.activities_menu_description%></p>
              <div class="form-group">
                <div class="col-xs-12">
                  <button class="button btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-save push-5-r"></i> <%=t.entitymanagement.update%></button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<!-- ======================================== -->
<!--               Modal container            -->
<!-- ======================================== -->
<div id="modal_container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
          </li>
        </ul>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>