<style>
  .sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  .sortable li { margin: 0 3px 3px 3px; padding: 1em; padding-left: 1.5em; }
  .sortable li span { position: absolute; margin-left: -1.3em; }
</style>
<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.booking_front_end.title%></h2>
</div>
<div class="admin_content_wrapper"  style="background-color: #f5f5f5; margin: 0">
  <div data-alerts="alerts" data-titles="{'success':'<%=t.entitymanagement.success%>','warning':'<%=t.entitymanagement.warning%>','error':'<%=t.entitymanagement.error%>'}" data-fade="10000"></div>

  <div id="content">

    <br>

    <!-- Web pages -->

    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="block ">
          <div class="block-header bg-gray-lighter">
            <ul class="block-options">
              <li>
                <button id="new_page_button" class="btn push-5-r push-10" type="button"><i class="fa fa-plus"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Páginas</h3>
          </div>
          <div id="pages_container" class="block-content block-content-narrow">
            <%= partial :pages %>
          </div>
        </div>
      </div>
    </div>

    <!-- Web primary links menu -->

    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <hr>
        <div class="block ">
          <div class="block-header bg-gray-lighter">
            <ul class="block-options">
              <li>
                <button class="new_menu_item_button" rel="<%=@primary_links_menu.name%>" class="btn btn-success push-5-r push-10" type="button"><i class="fa fa-plus"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Menú principal <% if @show_activities_menu %>alquiler<%end%></h3>
          </div>
          <div id="primary_links_container" class="block-content block-content-narrow">
            <%= partial :menu, locals: {menu: @primary_links_menu} %>
          </div>
        </div>
      </div>
    </div>

    <!-- Web secundary links menu -->

    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="block ">
          <div class="block-header bg-gray-lighter">
            <ul class="block-options">
              <li>
                <button class="new_menu_item_button" rel="<%=@secondary_links_menu.name%>" class="btn btn-success push-5-r push-10" type="button"><i class="fa fa-plus"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Menú secundario <% if @show_activities_menu %>alquiler<%end%></h3>
          </div>
          <div id="secondary_links_container" class="block-content block-content-narrow">
            <%= partial :menu, locals: {menu: @secondary_links_menu} %>
          </div>
        </div>
      </div>
    </div>

    <% if @show_activities_menu %>

      <!-- Web primary links activities menu -->

      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <hr>
          <div class="block ">
            <div class="block-header bg-gray-lighter">
              <ul class="block-options">
                <li>
                  <button class="new_menu_item_button" rel="<%=@primary_links_activities_menu.name%>" class="btn btn-success push-5-r push-10" type="button"><i class="fa fa-plus"></i></button>
                </li>
              </ul>
              <h3 class="block-title">Menú principal actividades</h3>
            </div>
            <div id="primary_links_activities_container" class="block-content block-content-narrow">
              <%= partial :menu, locals: {menu: @primary_links_activities_menu} %>
            </div>
          </div>
        </div>
      </div>

      <!-- Web secundary links activities menu -->

      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <div class="block ">
            <div class="block-header bg-gray-lighter">
              <ul class="block-options">
                <li>
                  <button class="new_menu_item_button" rel="<%=@secondary_links_activities_menu.name%>" class="btn btn-success push-5-r push-10" type="button"><i class="fa fa-plus"></i></button>
                </li>
              </ul>
              <h3 class="block-title">Menú secundario actividades</h3>
            </div>
            <div id="secondary_links_activities_container" class="block-content block-content-narrow">
              <%= partial :menu, locals: {menu: @secondary_links_activities_menu} %>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>


<!-- ======================================== -->
<!--               Modal container            -->
<!-- ======================================== -->
<div id="modal_container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
          </li>
        </ul>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>