<style>
#renting_tab li a, #activities_tab li a {
  background-color: white;
}
#renting_tab li#current a,
#renting_tab li#current a::after,
#activities_tab li#current a,
#activities_tab li#current a::after {
  background-color: white;
}
</style>
<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.booking_settings.form.title%></h2>
</div>

<div class="admin_content_wrapper">

    <div data-alerts="alerts" data-titles="{'success':'<%=t.entitymanagement.success%>','warning':'<%=t.entitymanagement.warning%>','error':'<%=t.entitymanagement.error%>'}" data-fade="10000"></div>

    <div class="container_12">
      <ul id="content_tabs" class="no-border no-background"class="no-border no-background">  
        <% if booking_renting and booking_mode == 'rent' %>
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="renting_tab" href="#renting_tab"><%=t.booking_settings.form.rent_group%></a>
          </li>
        <% end %>
        <% if booking_activities %>
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="activities_tab" href="#activities_tab"><%=t.booking_settings.form.activities_group%></a>
          </li>
        <% end %>
        <% if booking_mode == 'restaurant' %>
          <li class="no-border no-background top-space" style="border:none;background:none">
              <a name="turns_tab" href="#turns_tab"><%=t.booking_settings.form.turns_group%></a>
          </li>
        <% end %>
        <li class="no-border no-background top-space" style="border:none;background:none">
          <a name="notifications_tab" href="#notifications_tab"><%=t.booking_settings.form.notifications%></a>
        </li>
        <li class="no-border no-background top-space" style="border:none;background:none">
          <a name="smtp_tab" href="#smtp_tab"><%=t.booking_settings.form.notificacion_smtp_setup%></a>
        </li>
        <li class="no-border no-background top-space" style="border:none;background:none">
          <a name="front_end_tab" href="#front_end_tab"><%=t.booking_settings.form.front_end_title%></a>
        </li>
        <% if booking_renting and booking_mode == 'rent' %>
          <li class="no-border no-background top-space" style="border:none;background:none">
            <a name="planning_resources_tab" href="#planning_resources_tab"><%=t.booking_settings.form.planning_resources%></a>
          </li>
        <% end %>
        <li class="no-border no-background top-space" style="border:none;background:none">
          <a name="business_tab" href="#business_tab"><%=t.booking_settings.form.business%></a>
        </li>
      </ul>
      <div id="content">
        <% if booking_renting and booking_mode == 'rent' %>
        <div id="renting_tab" class="top-margin bottom-margin">

              <div id="rent_general_tab" class="content top-margin all-border-solid all-space" style="border-color: #EEE">
                <form name="variables" action="/api/variables" method="PUT"
                        data-remote="ajax" data-remote-method="PUT">
                  <div class="container_12">
                    <div class="grid_6">
                      <h3 class="bottom-border-solid" style="font-size:1.2em"><%=t.booking_settings.form.products.title%></h3>
                      <%= render_variable_select('booking.item_family', t.booking_settings.form.family, families) %>
                      <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.family_description%></p>
                      <h3 class="bottom-border-solid" style="font-size:1.2em"><%=t.booking_settings.form.reservation.title%></h3>
                      <%= render_variable_input_text('booking.min_days', t.booking_settings.form.min_days, 2, 2) %>
                      <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.min_days_description%></p>
                      <%= render_variable_input_text('booking.item_hold_time', t.booking_settings.form.item_hold_time, 2, 2) %>
                      <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.item_hold_time_description%></p>
                    </div>
                    <div class="grid_6">
                      <div class="left-margin" style="border-left: 1px solid #EEE; padding-left: 10px">
                        <h3 class="bottom-border-solid" style="font-size:1.2em"><%=t.booking_settings.form.rates.title%></h3>
                        <%= render_variable_select('booking.renting_calendar_season_mode', t.booking_settings.form.calendar_mode.title, calendar_modes) %>
                        <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.rates.description%></p>
                        <h3 class="bottom-border-solid" style="font-size:1.2em">Fianza</h3>
                        <%= render_variable_checkbox_boolean('booking.booking_amount_includes_deposit', t.booking_settings.form.deposit_includes_product_deposit) %>
                        <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.deposit_includes_product_deposit_description%></p>
                        <%= render_variable_checkbox_boolean('booking.total_cost_includes_deposit', t.booking_settings.form.total_cost_includes_deposit) %>
                        <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.total_cost_includes_deposit_description%></p>
                      </div>
                    </div>
                  </div>
                  <div class="container_12">
                    <div class="formrow-botonera top-separator top-space">
                      <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                    </div>
                  </div>
                </form>
              </div>
        </div>
        <% end %> 

        <% if booking_activities %>
        <div id="activities_tab" class="content top-margin all-border-solid all-space" style="border-color: #EEE">
          <div class="container_12">
            <div id="activities_content" >
              <div id="activities_online_payment_tab">
                <div class="container_12">
                  <div class="grid_6">
                    <form name="variables" action="/api/variables" method="PUT" 
                          data-remote="ajax" data-remote-method="PUT">
                      <h3 class="bottom-border-solid" style="font-size:1.2em"><%=t.booking_settings.form.reservation.title%></h3>
                      <%= render_variable_checkbox_boolean('order.request_reservations', t.booking_settings.form.activities_request_reservation) %>
                      <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.activities_request_reservation_description%></p>
                      <%= render_variable_input_text('order.item_hold_time', t.booking_settings.form.activities_item_hold_time, 2, 2) %>
                      <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.activities_item_hold_time_description%></p>
                      <div class="formrow-botonera top-separator top-space">
                        <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                      </div>
                    </form>                                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <div id="notifications_tab" class="top-margin bottom-margin all-border-solid all-space" style="border-color: #EEE">
          <div class="container_12">
            <div class="grid_6">
              <form name="variables" action="/api/variables" method="PUT"
                data-remote="ajax" data-remote-method="PUT">
                <%= render_variable_textarea('booking.notification_email', t.booking_settings.form.notification_email) %>
                <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.notification_email_description%></p>
                <%= render_variable_checkbox_boolean('booking.send_notifications',
                                                     t.booking_settings.form.send_notifications) %>
                <%= render_variable_checkbox_boolean('booking.send_notifications_backoffice_reservations',
                                                     t.booking_settings.form.send_notifications_backoffice_reservations) %>
                <div class="formrow-botonera top-separator top-space">
                  <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                </div>
              </form>
            </div>
          </div>
        </div>

        <div id="smtp_tab" class="top-margin bottom-margin all-border-solid all-space" style="border-color: #EEE">
          <div class="container_12">
            <div class="grid_6">
                <form name="variables" action="/api/svariables" method="PUT"
                      data-remote="ajax" data-remote-method="PUT">
                  <%= render_secure_variable_input_text('smtp.from', t.email_settings.form.smtp.from, 80, 80) %>
                  <%= render_secure_variable_input_text('smtp.host', t.email_settings.form.smtp.host, 80, 80) %>
                  <%= render_secure_variable_input_text('smtp.port', t.email_settings.form.smtp.port, 80, 80) %>
                  <%= render_secure_variable_input_text('smtp.username', t.email_settings.form.smtp.username, 80, 80) %>
                  <%= render_secure_variable_input_text('smtp.password', t.email_settings.form.smtp.password, 80, 80) %>
                  <%= render_secure_variable_input_text('smtp.domain', t.email_settings.form.smtp.domain, 80, 80) %>
                  <%= render_secure_variable_input_text('smtp.authentication', t.email_settings.form.smtp.authentication, 80, 80) %>

                  <%= render_secure_variable_checkbox_boolean('smtp.starttls_auto', t.email_settings.form.smtp.starttls_auto) %>

                  <div class="formrow-botonera  top-separator top-space">
                    <input type="submit" value="<%=t.entitymanagement.update%>"
                           class="button blue-button">
                  </div>
                </form>
            </div>
          </div>
        </div>

        <div id="front_end_tab" class="top-margin bottom-margin all-border-solid all-space" style="border-color: #EEE">
          <form name="variables" action="/api/variables" method="PUT"
                data-remote="ajax" data-remote-method="PUT">
            <div class="container_12">
              <div class="grid_6">
                <%= render_variable_checkbox_boolean('language.multilanguage_site',
                                                     t.booking_settings.form.front_end.multilanguage_site) %>
                <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.front_end.multilanguage_site_description%></p>
                <div class="formrow-botonera top-separator top-space">
                  <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                </div>
              </div>
            </div>
          </form>
        </div>

        <% if booking_renting and booking_mode == 'rent' %>
        <div id="planning_resources_tab" class="top-margin bottom-margin all-border-solid all-space" style="border-color: #EEE">
          <div class="container_12">
            <div class="grid_6">
              <form name="variables" action="/api/variables" method="PUT"
                    data-remote="ajax" data-remote-method="PUT">
                <%= render_variable_checkbox_boolean('booking.assignation.allow_different_category', t.booking_settings.form.assignation.allow_different_category) %>
                <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.assignation.allow_different_category_description%></p>
                <%= render_variable_checkbox_boolean('booking.assignation.allow_busy_resource', t.booking_settings.form.assignation.allow_busy_resource) %>
                <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.assignation.allow_different_category_description%></p>
                <%= render_variable_checkbox_boolean('booking.assignation.automatic_resource_assignation', t.booking_settings.form.assignation.automatic_resource_assignation) %>
                <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.assignation.automatic_resource_assignation_description%></p>
                <div class="formrow-botonera top-separator top-space">
                  <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                </div>
              </form>
            </div>
          </div>
        </div>
        <% end %>


        <div id="business_tab" class="top-margin bottom-margin all-border-solid all-space" style="border-color: #EEE">
          <form name="variables" action="/api/variables" method="PUT"
                data-remote="ajax" data-remote-method="PUT">
            <div class="container_12">
              <div class="grid_6">
                <%= render_variable_checkbox_boolean('booking.multiple_rental_locations',
                                                     t.booking_settings.form.multiple_rental_locations) %>
                <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.multiple_rental_locations_description%></p>
                <div class="formrow-botonera top-separator top-space">
                  <input type="submit" value="<%=t.entitymanagement.update%>" class="button blue-button">
                </div>
              </div>
            </div>
          </form>
        </div>


      </div>
    </div>
</div>