<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.booking_settings.form.notifications%></h2>
</div>

<div class="admin_content_wrapper" style="background-color: #f5f5f5; margin: 0">
  <br>
  <div data-alerts="alerts" data-titles="{'success':'<%=t.entitymanagement.success%>','warning':'<%=t.entitymanagement.warning%>','error':'<%=t.entitymanagement.error%>'}" data-fade="10000"></div>

  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="block ">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title"><%=t.booking_settings.form.notificacions_setup%></h3>
        </div>
        <div class="block-content block-content-narrow">
          <form name="variables" action="/api/variables" method="PUT"
                data-remote="ajax" data-remote-method="PUT" class="form-horizontal">
            <%= render_variable_textarea('booking.notification_email', t.booking_settings.form.notification_email) %>
            <p class="less_contrast_text smaller_text"><%=t.booking_settings.form.notification_email_description%></p>
            <%= render_variable_checkbox_boolean('booking.send_notifications',
                                                 t.booking_settings.form.send_notifications) %>
            <%= render_variable_checkbox_boolean('booking.send_notifications_backoffice_reservations',
                                                 t.booking_settings.form.send_notifications_backoffice_reservations) %>
            <div class="form-group">
              <div class="col-xs-12">
                <button class="button btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-save push-5-r"></i> <%=t.entitymanagement.update%></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% if booking_renting %>
    <div class="col-xs-6 col-sm-4 col-lg-2 <%if booking_activities%>col-md-offset-2<%else%>col-md-offset-4<%end%>">
      <a class="block block-link-hover2 text-center" href="/admin/booking/config/notifications/renting-customer-templates">
        <div class="block-content block-content-full bg-primary">
          <i class="si si-envelope-letter fa-4x text-white"></i>
          <div class="font-w600 text-white-op push-15-t"><%=t.booking_notification_settings.renting_customer_notification_template_title%></div>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <a class="block block-link-hover2 text-center" href="/admin/booking/config/notifications/renting-manager-templates">
        <div class="block-content block-content-full bg-success">
          <i class="si si-envelope-letter fa-4x text-white"></i>
          <div class="font-w600 text-white-op push-15-t"><%=t.booking_notification_settings.renting_manager_notification_template_title%></div>
        </div>
      </a>
    </div>
    <% end %>
    <% if booking_activities %>
        <div class="col-xs-6 col-sm-4 col-lg-2 <%unless booking_renting%>col-md-offset-4<%end%>">
          <a class="block block-link-hover2 text-center" href="/admin/booking/config/notifications/activities-customer-templates">
            <div class="block-content block-content-full bg-primary-dark">
              <i class="si si-envelope-letter fa-4x text-white"></i>
              <div class="font-w600 text-white-op push-15-t"><%=t.booking_notification_settings.activities_customer_notification_template_title%></div>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
          <a class="block block-link-hover2 text-center" href="/admin/booking/config/notifications/activities-manager-templates">
            <div class="block-content block-content-full bg-amethyst">
              <i class="si si-envelope-letter fa-4x text-white"></i>
              <div class="font-w600 text-white-op push-15-t"><%=t.booking_notification_settings.activities_manager_notification_template_title%></div>
            </div>
          </a>
        </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="block ">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title"><%=t.booking_settings.form.notificacion_smtp_setup%></h3>
        </div>
        <div class="block-content block-content-narrow">
          <form name="variables" action="/api/svariables" method="PUT"
                data-remote="ajax" data-remote-method="PUT" class="form-horizontal">
            <%= render_secure_variable_input_text('smtp.from', t.email_settings.form.smtp.from, 80, 80) %>
            <%= render_secure_variable_input_text('smtp.host', t.email_settings.form.smtp.host, 80, 80) %>
            <%= render_secure_variable_input_text('smtp.port', t.email_settings.form.smtp.port, 80, 80) %>
            <%= render_secure_variable_input_text('smtp.username', t.email_settings.form.smtp.username, 80, 80) %>
            <%= render_secure_variable_input_text('smtp.password', t.email_settings.form.smtp.password, 80, 80) %>
            <%= render_secure_variable_input_text('smtp.domain', t.email_settings.form.smtp.domain, 80, 80) %>
            <%= render_secure_variable_input_text('smtp.authentication', t.email_settings.form.smtp.authentication, 80, 80) %>

            <%= render_secure_variable_checkbox_boolean('smtp.starttls_auto', t.email_settings.form.smtp.starttls_auto) %>

            <div class="form-group">
              <div class="col-xs-12">
                <button class="button btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-save push-5-r"></i> <%=t.entitymanagement.update%></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>