<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.booking_settings.form.renting_manager_notification_templates%></h2>
</div>
<div class="admin_content_wrapper"  style="background-color: #f5f5f5; margin: 0">
  <div data-alerts="alerts" data-titles="{'success':'<%=t.entitymanagement.success%>','warning':'<%=t.entitymanagement.warning%>','error':'<%=t.entitymanagement.error%>'}" data-fade="10000"></div>

  <div id="content">

    <br>

    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="block ">
          <div class="block-header bg-gray-lighter">
            <h3 class="block-title"><%=t.booking_configuration_templates.email_manager_request_received%></h3>
          </div>
          <div class="block-content block-content-narrow">
            <form name="templates" action="/api/templates" method="PUT"
                  data-remote="ajax" data-remote-method="PUT" class="all-space">
              <%= render_template_editor 'booking_manager_notification','','' %>
              <div class="formrow-botonera">
                <input type="submit" value="<%=t.entitymanagement.update%>"
                       class="button blue-button">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="block ">
          <div class="block-header bg-gray-lighter">
            <h3 class="block-title"><%=t.booking_configuration_templates.email_manager_confirmation%></h3>
          </div>
          <div class="block-content block-content-narrow">
            <form name="templates" action="/api/templates" method="PUT"
                  data-remote="ajax" data-remote-method="PUT" class="all-space">
              <%= render_template_editor 'booking_confirmation_manager_notification','','' %>
              <div class="formrow-botonera">
                <input type="submit" value="<%=t.entitymanagement.update%>"
                       class="button blue-button">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="block ">
          <div class="block-header bg-gray-lighter">
            <h3 class="block-title"><%=t.booking_configuration_templates.email_manager_payment_request_received%></h3>
          </div>
          <div class="block-content block-content-narrow">
            <form name="templates" action="/api/templates" method="PUT"
                  data-remote="ajax" data-remote-method="PUT" class="all-space">
              <%= render_template_editor 'booking_manager_notification_pay_now','','' %>
              <div class="formrow-botonera">
                <input type="submit" value="<%=t.entitymanagement.update%>"
                       class="button blue-button">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


</div>
</div>