<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.booking_console.title%></h2>
</div>
<div class="admin_content_wrapper">
<%= partial(:pickedup_bookings, :locals => {:product_family => product_family}) %>
<div class="container_12">
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/booking/config"><%=t.booking_console.configuration%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/booking/booking-categories"><%=t.booking_console.categories%></a></p>
    </div>     
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/booking/booking-extras"><%=t.booking_console.extras%></a></p>
    </div>
  </div>
  <div class="grid_3"> 
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/booking/booking-items"><%=t.booking_console.items%></a></p>
    </div>
  </div>  
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/booking/bookings"><%=t.booking_console.reservations%></a></p>
    </div>     
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/booking/planning"><%=t.booking_console.planning%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/booking/new"><%=t.booking_console.new_booking%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/booking/summary"><%=t.booking_console.summary%></a></p>
    </div>
  </div>    
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-3"  style="padding: 3em">
      <p class="centered_text more_contrast_text"><a href="/api/booking/create-rates2"><%=t.booking_console.create_rates%></a></p>
    </div>
  </div>          
</div>
</div>