<h2><%=t.booking_console.title%></h2>
<%= partial(:pickedup_bookings) %>
<%= partial(:returned_bookings) %>
<div class="container_12">
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/config/booking"><%=t.booking_console.configuration%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/booking-categories"><%=t.booking_console.categories%></a></p>
    </div>     
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/booking-extras"><%=t.booking_console.extras%></a></p>
    </div>
  </div>
  <div class="grid_3"> 
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/booking-items"><%=t.booking_console.items%></a></p>
    </div>
  </div>  
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-2" style="padding: 3em">
      <p class="centered_text"><a href="/admin/bookings/rates"><%=t.booking_console.rates%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/bookings/availability"><%=t.booking_console.availability%></a></p>
    </div>
  </div>       
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/bookings"><%=t.booking_console.reservations%></a></p>
    </div>     
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/bookings/planning"><%=t.booking_console.planning%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/bookings/new"><%=t.booking_console.new_booking%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/bookings/summary"><%=t.booking_console.summary%></a></p>
    </div>
  </div>         
</div>