<style>
#occupation_table {
  table-layout: fixed
}
 #occupation_table .table-cell {
   border-right: 1px solid #EEE;
   width: 2.3em;
   font-size: 0.60em;
 }
#table {
  table-layout: fixed
}
 #table .table-cell {
   border-right: 1px solid #EEE;
   width: 1.6em;
   font-size: 0.85em;
 } 
</style>
<div class="top-navigation-bar">
<h2 class="entity-title"><%=t.monthly_occupation.title%></h2>
</div>
<div class="top-margin bottom-margin-1line">
	<div class="more_contrast_text centered_text top-margin-1line bottom-margin-2lines">
		<span id="prev" class="all-space over_cursor background-color-2 color-2 all-border-solid"><a href="?month=<%=@previous_period.month%>&year=<%=@previous_period.year%>">&lt;</a></span>
		<span class="all-space">
		  <span id="month" class="left-margin"><%=@month%></span> - <span id="year" class="right-margin"><%=@year%></span>
	    </span>
		<span id="next" class="all-space over_cursor background-color-2 color-2 all-border-solid"><a href="?month=<%=@next_period.month%>&year=<%=@next_period.year%>">&gt;</a></span> 
	</div>
</div>
<div class="admin_content_wrapper">
  <div style="overflow: auto; max-height: 500px">
    <table id="monthly_occupation_table" class="table table-striped table-responsive" style="table-layout: fixed; margin: 0">
      <thead class="table-header">
        <tr>
          <th class="table-cell" scope="col" style="width: 150px"></th>
          <% (1..@days).each do |day| %>
          <th class="table-cell centered_text" scope="col" style="width: 70px"><%=day%></th>
          <% end %>     
        </tr>
      </thead>
      <tbody>
        <% total_x = 0 %>
        <% total_y = 0 %>
        <% @data.each do |product, occupation| %>        
        <tr>
          <td class="table-cell"><%= product %></td>
          <% occupation.each do |day, value| %>
            <% x, y = value[:occupation].split('/') %>
            <% total_x = total_x + x.to_f %>
            <% total_y = total_y + y.to_f %>
            <% percentage = x.to_f / y.to_f * 100 %>
            <% date = Date.new(@year, @month, day) %>
            <td class="table-cell centered_text occupation-detail" <% if percentage >= 100 %>style="background:red; color: white; cursor: hand; cursor: pointer; font-weight: 400"<%elsif percentage >= 75 and !percentage.infinite?%>style="background:orange; cursor: hand; cursor: pointer; font-weight: 400"<%elsif percentage > 0 and !percentage.infinite?%>style="background:yellow; cursor: hand; cursor: pointer; font-weight: 400"<%end%> <%if percentage > 0%>data-url="/admin/booking/occupation-detail?date=<%=date%>&category=<%=product%>&layout=no"<%end%>><%= (percentage.nan? or percentage.infinite?) ? "-" : "#{value[:occupation]}" %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="guiblock">
    <div class="centered_text">
       <%=t.monthly_occupation.summary%> <span class="more_contrast_text"><%=(total_x / total_y * 100).round(2)%>%</span> (<%=total_x.to_i%>/<%=total_y.to_i%>)
    </div>
  </div>
</div>

<div id="occupation-detail" class="all-space" style="width:800px; height: 400px; background: white; overflow-y: scroll; font-size: 1em; display: none">
</div>