	  <div class="activity_list_item top-margin bottom-margin">
	    <div class="container_12">
          <div class="grid_4">
            <div style="width:288px">
              <% if activity.photo_url_small.nil? or activity.photo_url_medium.empty?%> 
                <div class="element-row-selector" style="width:288px" rel="<%%= index %>">
                   <span class="centered_text" style="font-size:5em; display: block" data-icon="&#xe072;"></span> 
                </div> 
              <% else  %>
                <img src="<%= activity.photo_url_medium %>" class="box-shadow element-row-selector" style="display:block; margin: 0 auto" rel="<%%= index %>"/>
              <% end %>
            </div>          	
          </div>
          <div class="grid_8">
          	<div class="left-margin">
          	  <h4><a href="<%=activity.alias%>"><%=activity.name%></a></h4>
          	  <div class="less_contrast_text"><%=activity.short_description%></div>
          	  <div class="container top-margin-1line">
          	  	<div class="prefix_6 grid_3">
          	       <p style="font-size:0.5em">desde <span style="text-decoration:line-through;"><%= activity.from_price != activity.from_price_offer ? "%.2f €" % activity.from_price : "" %></span></p>
          	       <strong style="font-size:1.5em;position:relative; top:-0.3em" class="bigger_text right_text"><%=activity.from_price != activity.from_price_offer ? "%.2f €" % activity.from_price_offer : "%.2f €" % activity.from_price%></strong>
          	    </div>
          	    <div class="grid_3">
          	      <div class="left-margin">
          	      	<div class="form-button green-button" style="position:relative; top:0.5em"><a href="/p/activity/<%=activity.id%>">Reservar</a></div>
          	      </div>
                </div>
              </div>
            </div>
          </div>
	    </div>
	  </div>