<style>
#table {
  table-layout: fixed;
  border: 1px solid #EEE;
}
 #table .table-cell {
   border-right: 1px solid #EEE;
   width: 1.6em;
   font-size: 0.85em;
 }
</style>
<div class="top-navigation-bar">
  <h2 class="entity-title">Listado de reservas del recurso</h2>
</div>
<div class="admin_content_wrapper">
  <div class="container_12">
    <div class="grid_6">
      <form name="report_resource_reservations_form" action="/admin/booking/reports/resource-reservations" method="get">
        <div class="formrow">
          <div class="container_12">
            <div class="grid_3">
              <input type="text" name="date_from" id="date_from" class="fieldcontrol date_control" maxlength="10" autocomplete="off"/>
            </div>
            <div class="grid_3">
              <div class="left-margin">
                <input type="text" name="date_to" id="date_to" class="fieldcontrol date_control" maxlength="10" autocomplete="off"/>
              </div>
            </div>
            <div class="grid_3">
              <div class="left-margin">              
                <input type="text" name="stock_plate" id="stock_plate"
                 class="fieldcontrol" maxlength="15" value="<%=@stock_plate%>"
                 placeholder="Matrícula" autocomplete="off"/>
              </div>
            </div>
            <div class="grid_3">
              <div class="left-margin">
                <input type="hidden" name="from" id="from"/>
                <input type="hidden" name="to" id="to"/>
                <input id="search" type="button" class="form-button blue-button" value="<%=t.entitymanagement.search%>"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <% unless @stock_plate.nil? %>  
    <div>
    <% if @reservations.empty? %>
      <div class="all-border-solid-light top-margin-1line">
         <p class="no-data-message"><%= t.entitymanagement.no_data %></p>
      </div>
    <% else %>
    <table id="table" class="table">
        <thead class="table-header">
          <tr>
            <th class="table-cell" scope="col" style="width:2em">Fecha inicio</th>
            <th class="table-cell" scope="col" style="width:2em">Fecha fin</th>
            <th class="table-cell" scope="col" style="width:2.5em">Localizador</th>
            <th class="table-cell" scope="col" style="width:5em">Cliente</th>
            <th class="table-cell" scope="col" style="width:2em">Teléfono</th>
            <th class="table-cell" scope="col" style="width:4.5em">Email</th>
            <th class="table-cell" scope="col" style="width:4em">Estado</th>
            <th class="table-cell" scope="col">Productos</th>
            <th class="table-cell" scope="col">Total</th>
          </tr>
        </thead>
        <tbody>      
        <% @reservations.each do |reservation| %>     
          <tr class="table-row">
            <td class="table-cell"><%=reservation.date_from.strftime('%Y-%m-%d')%> <%=reservation.time_from%></td>
            <td class="table-cell"><%=reservation.date_to.strftime('%Y-%m-%d')%> <%=reservation.time_to%></td>
            <td class="table-cell"><a href="/admin/booking/bookings/<%=reservation.id%>"><%=reservation.id%></a></td>
            <td class="table-cell"><%=reservation.customer_name%> <%=reservation.customer_surname%></td>
            <td class="table-cell"><%=reservation.customer_phone%> <%=reservation.customer_mobile_phone%></td>
            <td class="table-cell"><%=reservation.customer_email%></td>
            <td class="table-cell centered_text"><%=t.booking_status[reservation.status]%></td>
            <td class="table-cell">
              <% reservation.booking_lines.each do |booking_line| %>
                <div><%= booking_line.item_id %><%if booking_reservation_starts_with == :shopcart%>: <%=booking_line.quantity%><%end%></div>
              <% end %>
            </td>
            <td class="table-cell right_text"><%="%.2f" % reservation.total_cost%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% end %>    
    </div>
  <% end %>
</div>