<div class="top-navigation-bar">
  <h2 class="entity-title">Listado de cobros</h2>
  <div class="form-button" style="float: right">
     <a id="print_link" href="/admin/booking/reports/charges-pdf" target="_blank">Imprimir</a>
  </div>  
</div>

<div class="content admin_content_wrapper"  style="background-color: #f5f5f5; margin: 0">

  <div class="row">
    <div class="col-lg-12">
      <div class="block">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title">Seleccionar fechas</h3>
        </div>
        <div class="block-content">
          <form name="availability_form" action="/admin/booking/reports/charges" method="get" class="form-horizontal">
            <input type="hidden" name="from" id="from"/>
            <input type="hidden" name="to" id="to"/>
            <div class="form-group">
              <label class="col-xs-12" for="example-text-input">
                  Fecha de inicio
              </label>
              <div class="col-sm-9">
                <input type="text" name="date_from" id="date_from" class="fieldcontrol date_control" maxlength="10" autocomplete="off" style="display: inline-block; width: auto"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" for="example-text-input">
                  Fecha de fin
              </label>
              <div class="col-sm-9">
                <input type="text" name="date_to" id="date_to" class="fieldcontrol date_control" maxlength="10" autocomplete="off" style="display: inline-block; width: auto"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <button id="search" class="btn btn-sm btn-primary" type="submit"><%=t.entitymanagement.search%></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="block">
    <div class="block-header bg-gray-lighter">
      <h3 class="block-title">Detalle de cobros</h3>
    </div>
    <div class="block-content">
        <% if @charges.empty? %>
          <p class="no-data-message"><%= t.entitymanagement.no_data %></p>
        <% end %>    
        <% last_month = nil %>
        <% total = 0 %>
        <% subtotals = {} %>
        <% @charges.each do |charge| %>  
          <% if last_month != charge.date.month %>
            <% unless last_month.nil? %>
                  <% subtotals.each do |payment_method_id, subtotal| %>
                    <tr class="bg-gray-light">
                      <td>&nbsp;</td>
                      <td>Total <%=payment_method_id%></td>                    
                      <td class="text-right"><%="%.2f" % subtotal%></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>   
                      <td>&nbsp;</td>    
                      <td></td>    
                    </tr>  
                  <% end %>    
                  <tr class="success">
                    <td>&nbsp;</td>
                    <td><strong>TOTAL</strong></td>                    
                    <td class="text-right"><strong><%="%.2f" % total%></strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>   
                    <td>&nbsp;</td>    
                    <td></td>    
                  </tr>      
                </tbody>
              </table>
              <% total = 0 %>
              <% subtotals.clear %>
            <% end %>     
            <h3 class="block-title"><%=t.months[charge.date.strftime('%B').downcase]%> <%=charge.date.year%></h3> 
            <table class="table">
              <thead>
                <tr>
                  <th style="width:15%">Fecha</th>
                  <th style="width:15%">Forma de pago</th>
                  <th class="text-right" style="width:15%">Importe</th>
                  <th style="width:20%">Origen</th> 
                  <th style="width:20%">Cliente</th>
                  <th style="width:10%">NIF/CIF/VAT#</th>
                  <th></th>    
                </tr>
              </thead>
              <tbody>      
          <% end %>  
          <tr>
            <td><%=charge.date.strftime('%Y-%m-%d %H:%M:%S')%> </td>
            <td><%=charge.payment_method_id%></td>
            <td class="text-right"><%="%.2f" % charge.amount%></td>
            <td><%=charge.source_link%></td>
            <td><%=charge.customer_name%> <%=charge.customer_surname%></td>
            <td><%=charge.customer_document_id%></td>
            <td></td> 
          </tr>
          <% last_month = charge.date.month %>
          <% total += charge.amount %>
          <% subtotals.has_key?(charge.payment_method_id) ? subtotals[charge.payment_method_id] += charge.amount : subtotals[charge.payment_method_id] = charge.amount %>
        <% end %>
            <% subtotals.each do |payment_method_id, subtotal| %>
              <tr class="bg-gray-light">
                <td>&nbsp;</td>
                <td>Total <%=payment_method_id%></td>                    
                <td class="text-right"><%="%.2f" % subtotal%></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>   
                <td>&nbsp;</td>    
                <td></td>    
              </tr>  
            <% end %>           
            <tr class="success">
              <td>&nbsp;</td>
              <td><strong>TOTAL</strong></td>          
              <td class="right_text"><strong><%="%.2f" % total%></strong></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td></td>           
            </tr>          
          </tbody>
        </table>
    </div>
  </div>
</div>  