<div id="content-reserva">
  
    <div id="content-header" class="bottom-margin">
        <div>
          <div id="wizard-navigation">
            <ul id="wizard-options">
              <li>
              	 <a id="tab-choose-item" href="#" class="tab img_txt">
              	   <span>1</span>
              	   <%= t.new_booking.choose_item(t.booking_items[booking_item_type.to_sym]) %>
                 </a>
              </li>
              <li>
              	 <a id="tab-choose-extras" href="#" class="tab img_txt">
              	 	<span>2</span>
              	 	<%=t.new_booking.choose_extras%>
              	 </a>
              </li>
              <li>
              	  <a id="tab-complete-reservation" href="#" class="tab img_txt">
              	  	<span>3</span>
              	  	<%=t.new_booking.complete_booking%>
              	  </a>
              </li>
              <li>
              	  <a id="tab-payment" href="#" class="tab img_txt">
              	  	<span>4</span>
              	  	<%=t.new_booking.payment%>
              	  </a>
              </li>
            </ul>
          </div>
        </div>      
    </div>
    
    <div id="content-body" class="element-form-detail bottom-margin">

      <!-- ITEM SELECTION TAB -->
	  <div id="item-selection" class="bottom-margin">
		  <form id="form-search-item" name="form-search-item">
		    <fieldset>
		      <div class="formrow">
		      	<label for="datefrom" id="labeldatefrom" class="fieldtitle search-form-column columna1">
		      		<%=(booking_item_family.start_date_literal==:arrival)?(t.new_booking.arrival_date):(t.new_booking.pickup_date)%>
		      	</label> 
		      	<input type="text" name="datefrom" id="datefrom" class="date_control" size="10" maxlength="10"/>
		      	<% if booking_item_family.time_to_from %>
		      	<select name="timefrom" id="timefrom"> 
					<option value="7:00" selected="selected">7:00</option>
					<option value="7:30">7:30</option>
					<option value="8:00">8:00</option>
					<option value="8:30">8:30</option>
					<option value="9:00">9:00</option>
					<option value="9:30">9:30</option>
					<option value="10:00">10:00</option>
					<option value="10:30">10:30</option>
					<option value="11:00">11:00</option>
					<option value="11:30">11:30</option>
					<option value="12:00">12:00</option>
					<option value="12:30">12:30</option>
					<option value="13:00">13:00</option>
					<option value="13:30">13:30</option>
					<option value="14:00">14:00</option>
					<option value="14:30">14:30</option>
					<option value="15:00">15:00</option>
					<option value="15:30">15:30</option>
					<option value="16:00">16:00</option>
					<option value="16:30">16:30</option>
					<option value="17:00">17:00</option>
					<option value="17:30">17:30</option>
					<option value="18:00">18:00</option>
					<option value="18:30">18:30</option>
					<option value="19:00">19:00</option>
					<option value="19:30">19:30</option>
					<option value="20:00">20:00</option>
					<option value="20:30">20:30</option>
					<option value="21:00">21:00</option>
					<option value="21:30">21:30</option>
					<option value="22:00">22:00</option>
					<option value="22:30">22:30</option>
					<option value="23:00">23:00</option>
					<option value="23:30">23:30</option>
		      	</select>
                <% end %>
		      </div>
              <% if booking_item_family.pickup_return_place %>
		      <div class="formrow">
	              <div class="collection_place">
	                 <label for="pickup_place" class="fieldtitle columna1"><%=t.new_booking.place%></label>
	                 <select name="pickup_place" class="fieldcontrol" id="pickup_place">
	                 </select>
	              </div>
	              <div id="other_pickup_place" style="display:none;">
	                 <span class="columna1">&nbsp;</span>
	                 <input type="text" name="pickup_place_other" id="pickup_place_other" maxlength="80" size="28"  placeholder="<%=t.new_booking.pickup_place%>"/>
	              </div>
	              <input type="hidden" name="pickup_place_value" id="pickup_place_value"/>
	          </div>          		      	
	          <% end %>	       
		      <div class="formrow">
		      	<label for="dateto" id="labeldateto" class="fieldtitle search-form-column columna1">
		      	  <%=(booking_item_family.start_date_literal==:arrival)?(t.new_booking.departure_date):(t.new_booking.return_date)%>
		      	</label> 
		      	<input type="text" name="dateto" id="dateto" class="date_control" size="10" maxlength="10"/>
		      	<% if booking_item_family.time_to_from %>
		      	<select name="timeto" id="timeto"> 
					<option value="7:00" selected="selected">7:00</option>
					<option value="7:30">7:30</option>
					<option value="8:00">8:00</option>
					<option value="8:30">8:30</option>
					<option value="9:00">9:00</option>
					<option value="9:30">9:30</option>
					<option value="10:00">10:00</option>
					<option value="10:30">10:30</option>
					<option value="11:00">11:00</option>
					<option value="11:30">11:30</option>
					<option value="12:00">12:00</option>
					<option value="12:30">12:30</option>
					<option value="13:00">13:00</option>
					<option value="13:30">13:30</option>
					<option value="14:00">14:00</option>
					<option value="14:30">14:30</option>
					<option value="15:00">15:00</option>
					<option value="15:30">15:30</option>
					<option value="16:00">16:00</option>
					<option value="16:30">16:30</option>
					<option value="17:00">17:00</option>
					<option value="17:30">17:30</option>
					<option value="18:00">18:00</option>
					<option value="18:30">18:30</option>
					<option value="19:00">19:00</option>
					<option value="19:30">19:30</option>
					<option value="20:00">20:00</option>
					<option value="20:30">20:30</option>
					<option value="21:00">21:00</option>
					<option value="21:30">21:30</option>
					<option value="22:00">22:00</option>
					<option value="22:30">22:30</option>
					<option value="23:00">23:00</option>
					<option value="23:30">23:30</option>
		      	</select>
		      	<% end %>
		      </div>
	          <% if booking_item_family.pickup_return_place %>
	          <div class="formrow">
	               <div class="return_place">
	                  <label for="return_place" class="fieldtitle columna1"><%=t.new_booking.place%></label>
	      	          <select name="return_place" id="return_place" class="fieldcontrol">
	                  </select>
                   </div>
	               <div id="other_return_place" style="display:none;">
	               	  <span class="columna1">&nbsp;</span>
	                  <input type="text" name="return_place_other" id="return_place_other" maxlength="80" size="28" placeholder="<%=t.new_booking.return_place%>"/>  
	               </div>
	               <input type="hidden" name="return_place_value" id="return_place_value"/>
	          </div>
	          <% end %>
		      <div class="formrow">
		      	<div class="columna1">
                  &nbsp;
		      	</div>
	        	<input type="submit" value="<%=t.new_booking.search%>" id="button_calcular_tarifas" class="botones"/>
		      </div>  
		    </fieldset>	  
		  </form>
		  <div id="result" class="top-separator">
		  </div>
	  </div>

      <div id="other-tabs" class="bottom-margin" style="display:none">

        <!-- The summary header (shown in all the other tabs) -->
        <div id="other-tabs-header" class="guiblock">
          <div class="container_12">
            <div >
	            <fieldset id="fs_summary_item">
                  <div class="grid_3">
	                <img id="item_image"/>
	              </div>
	              <div class="grid_4">
	                <div class="right-margin smaller_text">
                      <select id="booking[item_id]" name="booking[item_id]" class="item_chooser"></select>	
	                  <div>
	                    <label class="fieldtitle" style="display:inline-block; width:25%">
	          	         <%=(booking_item_family.start_date_literal==:arrival)?(t.new_booking.arrival):(t.new_booking.pickup)%>
	                    </label>
                        <input type="text" name="date_from_extended" id="date_from_extended" class="readonly-field" readonly="readonly" style="width:65%"/>
	                  </div>

                      <% if booking_item_family.pickup_return_place %>
		              <div>
	                     <div class="collection_place">
	                     <label for="pickup_place_extended" class="fieldtitle" style="display:inline-block; width:25%"><%=t.new_booking.place%></label>
	                     <input type="text" name="pickup_place_extended" id="pickup_place_extended" class="readonly-field" readonly="readonly"/>
	                     </div>
	                  </div>
	                  <% end %>	    

	                  <div>
	                    <label class="fieldtitle" style="display:inline-block; width:25%">
	          	          <%=(booking_item_family.start_date_literal==:arrival)?(t.new_booking.departure):(t.new_booking.return)%>
	                    </label>
                        <input type="text" name="date_to_extended" id="date_to_extended" class="readonly-field" readonly="readonly"/>
	                  </div>

                      <% if booking_item_family.pickup_return_place %>
		              <div >
	                    <div class="return_place">
	                      <label for="return_place_extended" class="fieldtitle" style="display:inline-block; width:25%"><%=t.new_booking.place%></label>
	      	              <input type="text" name="return_place_extended" id="return_place_extended" class="readonly-field" readonly="readonly"/>
                        </div>
                      </div>
	                  <% end %>	    
                      
                      <% if (booking_item_family.guests) %>
                      <div >
		                <div>
		                  <label id="label_adult_guests" for="booking[number_of_adults]" class="fieldtitle" style="display:inline-block; width:25%"><%=t.new_booking.guests.adults%></label>	
		                  <select name="booking[number_of_adults]" id="booking[number_of_adults]" style="margin-right:5%"> 
			                <option value="1" selected="selected">1</option>
				            <option value="2">2</option>
				            <option value="3">3</option>
				            <option value="4">4</option>
				            <option value="5">5</option>
				            <option value="6">6</option>
				            <option value="7">7</option>
				            <option value="8">8</option>
				            <option value="9">9</option>
				            <option value="10">10</option>
                          </select>
		                  <label id="label_adult_guests" for="booking[number_of_children]" class="fieldtitle" style="display:inline-block"><%=t.new_booking.guests.children%></label>	
		                  <select name="booking[number_of_children]" id="booking[number_of_children]"> 
			                <option value="0" selected="selected">0</option>
				            <option value="1">1</option>
				            <option value="2">2</option>
				            <option value="3">3</option>
				            <option value="4">4</option>
				            <option value="5">5</option>
				            <option value="6">6</option>
				            <option value="7">7</option>
				            <option value="8">8</option>
				            <option value="9">9</option>
				            <option value="10">10</option>
                          </select>
                        </div>    
                      </div>                   
                      <% end %>		                
	                </div>
	              </div>
	              <div class="grid_5">
	                <div class="left-margin smaller_text">
	      	          <input type="hidden" name="total_cost" id="total_cost"/>
	      	          <div id="detailed_summary" style="border: 1px solid #DDD">
	                  </div>      
	                </div>
	              </div>
	            </fieldset>
	        </div>
	      </div>
        </div>

        <!-- EXTRAS SELECTION TAB -->
        <div id="extras-selection" class="bottom-margin" style="display:none">
      	  <form>
	        <fieldset id="fs_summary_extras">
	          <legend id="lg_summary_extras" class="legend-first-level"><%=t.new_booking.extras%></legend>	        
	          <table id="tblextras">
	            <tbody>
	            </tbody>
	          </table>
	        </fieldset>
	        <div class="content_data_box">
	          <fieldset>
	            <input type="button" value="<%=t.new_booking.continue%>" id="button_continua_rellenar_datos" class="form-button"/>
	          </fieldset>
	        </div>
          </form>
        </div>

        <!-- RESERVATION TAB -->

	    <form id="form-reservation" name="form-reservation" class="bottom-separator top-space bottom-space bottom-margin" method="POST" style="display:none">
	      <div>	      
	        <fieldset id="fs_customer">
	          <legend id="lg_customer" class="legend-first-level"><%=t.new_booking.customer%></legend>
	          <div class="formrow">
	            <label id="label_customer_email" for="booking[customer_name]" class="fieldtitle"><%=t.new_booking.customer_name.label%> *</label>
	            <input type="text" name="booking[customer_name]" id="booking[customer_name]" class="fieldcontrol" maxlength="40" placeholder="<%=t.new_booking.customer_name.placeholder%>"/>
	          </div>
	          <div class="formrow">
	            <label id="label_customer_surname" for="booking[customer_surname]" class="fieldtitle"><%=t.new_booking.customer_surname.label%> *</label>
	            <input type="text" name="booking[customer_surname]" id="booking[customer_surname]" class="fieldcontrol" maxlength="40" placeholder="<%=t.new_booking.customer_surname.placeholder%>"/>	          
	          </div>
	          <div class="formrow">
	            <label id="label_customer_email" for="booking[customer_email]" class="fieldtitle"><%=t.new_booking.customer_email.label%> *</label>
	            <input type="text" name="booking[customer_email]" id="booking[customer_email]" class="fieldcontrol" placeholder="<%=t.new_booking.customer_email.placeholder%>" maxlength="40"/>
	          </div>
	          <div class="formrow">
	            <label id="label_customer_email_confirmation" for="booking[customer_email_confirmation]" class="fieldtitle"><%=t.new_booking.customer_email_confirmation.label%> *</label>
	            <input type="text" name="booking[customer_email_confirmation]" id="booking[customer_email_confirmation]" class="fieldcontrol" placeholder="<%=t.new_booking.customer_email_confirmation.placeholder%>" maxlength="40"/>
	          </div>
	          <div class="formrow">
	            <label id="label_customer_phone" for="booking[customer_phone]" class="fieldtitle"><%=t.new_booking.customer_phone.label%> *</label>
	            <input type="text" name="booking[customer_phone]" id="booking[customer_phone]" class="fieldcontrol" maxlength="15" placeholder="<%=t.new_booking.customer_phone.placeholder%>"/>      
	          </div>
	          <div class="formrow">
	            <label id="label_customer_mobile_phone" for="booking[customer_mobile_phone]" class="fieldtitle"><%=t.new_booking.customer_mobile.label%></label>
	            <input type="text" name="booking[customer_mobile_phone]" id="booking[customer_mobile_phone]" class="fieldcontrol" maxlength="15" placeholder="<%=t.new_booking.customer_mobile.placeholder%>"/>      
	          </div>
	          <% if booking_item_family.driver %>
	          <div class="formrow bottom-space">
	             <label id="label_driver_date_of_birth" for="booking[driver_date_of_birth]" class="fieldtitle"><%=t.new_driving_booking.driver_date_of_birth.label%> *</label>
                 <select name="booking[driver_date_of_birth_day]" id="booking[driver_date_of_birth_day]"></select>
                 <select name="booking[driver_date_of_birth_month]" id="booking[driver_date_of_birth_month]"></select>
                 <select name="booking[driver_date_of_birth_year]" id="booking[driver_date_of_birth_year]"></select>
                 <input type="hidden" name="booking[driver_date_of_birth]" id="booking[driver_date_of_birth]"></input>
	          </div>		        	        
	          <% end %>
	        </fieldset>

	        <fieldset id="fs_info">
	          <legend id="lg_info" class="legend-first-level"><%=t.new_booking.other_data%></legend>
	          <div class="formrow">
	            <label id="label_comments" for="booking[comments]" class="fieldtitle"><%=t.new_booking.comments.label%></label>
	            <textarea id="booking[comments]" name="booking[comments]" class="fieldcontrol" rows="10" placeholder="<%=t.new_booking.comments.placeholder%>"></textarea>
	          </div>	      
	          <p class="form-reservation-right-column"> <span id="booking_comments_length"></span> <%=t.available_chars%></p>
	        </fieldset>

	        <% if booking_item_family.driver %>
	        <fieldset id="fs_driver">
	          <legend id="lg_driver" class="legend-first-level overflow">
	        	<%=t.new_driving_booking.driver.label%>
	        	<span id="show_driver" data-icon="&#xe06d;" aria-hidden=true class="right-float"></span>
	          </legend>	             
	          <p class="fieldset_description"><%=t.new_driving_booking.driver.description%></p>
	          <div id="driver_data" class="background-color-2 top-space bottom-space left-space right-space" style="display:none">
	            <legend class="legend-second-level"><%=t.new_driving_booking.driver_personal_data%></legend>
	            <div class="formrow">
	              <label id="label_driver_name" for="booking[driver_name]" class="fieldtitle"><%=t.new_driving_booking.driver_name.label%></label>
	              <input type="text" name="booking[driver_name]" id="booking[driver_name]" class="fieldcontrol" maxlength="40" placeholder="<%=t.new_driving_booking.driver_name.placeholder%>"/>
	            </div>
	            <div class="formrow">
	              <label id="label_driver_surname" for="booking[driver_surname]" class="fieldtitle"><%=t.new_driving_booking.driver_surname.label%></label>
	              <input type="text" name="booking[driver_surname]" id="booking[driver_surname]" class="fieldcontrol" maxlength="40" placeholder="<%=t.new_driving_booking.driver_surname.placeholder%>"/>
	            </div>
	            <div class="formrow">
	              <label id="label_driver_document" for="booking[driver_document_id]" class="fieldtitle"><%=t.new_driving_booking.driver_nif.label%></label>
	              <input type="text" name="booking[driver_document_id]" id="booking[driver_document_id]" class="fieldcontrol" maxlength="15" placeholder="<%=t.new_driving_booking.driver_nif.placeholder%>"/>
	            </div>	        
                <legend class="legend-second-level top-margin"><%=t.new_driving_booking.driver_license%></legend>
	            <div class="formrow">
	              <label id="label_driver_driving_license_number" for="booking[driver_driving_license_number]" class="fieldtitle"><%=t.new_driving_booking.driver_license_number.label%></label>
	              <input type="text" name="booking[driver_driving_license_number]" id="booking[driver_driving_license_number]" class="fieldcontrol" maxlength="15" placeholder="<%=t.new_driving_booking.driver_license_number.placeholder%>"/>
	            </div>
	            <div class="formrow">
  	              <label id="label_driver_driving_license_date" for="booking[driver_driving_license_date]" class="fieldtitle"><%=t.new_driving_booking.driver_license_date.label%></label>
	              <select name="booking[driver_driving_license_date_day]" id="booking[driver_driving_license_date_day]"></select>
                  <select name="booking[driver_driving_license_date_month]" id="booking[driver_driving_license_date_month]"></select>
                  <select name="booking[driver_driving_license_date_year]" id="booking[driver_driving_license_date_year]"></select>
                  <input type="hidden" name="booking[driver_driving_license_date]" id="booking[driver_driving_license_date]"></select>    
	            </div>
	            <div class="formrow">
	              <label id="label_driver_driving_license_country" for="booking[driver_driving_license_country]" class="fieldtitle"><%=t.new_driving_booking.driver_license_country.label%></label>
	              <input type="text" name="booking[driver_driving_license_country]" id="booking[driver_driving_license_country]" class="fieldcontrol" maxlength="50" placeholder="<%=t.new_driving_booking.driver_license_country.placeholder%>"/>
	            </div>
                <legend class="legend-second-level top-margin"><%=t.new_driving_booking.driver_address%></legend>
	            <div class="formrow">
	              <label id="label_driver_address_street" for="booking[driver_address[street]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_street.label%></label>
	              <input type="text" name="booking[driver_address[street]]" id="booking[driver_address[street]]" class="fieldcontrol" maxlength="60" placeholder="<%=t.new_driving_booking.driver_address_street.placeholder%>"/>
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_number" for="booking[driver_address[number]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_number.label%></label>
	              <input type="text" name="booking[driver_address[number]]" id="booking[driver_address[number]]" class="fieldcontrol" maxlength="10" placeholder="<%=t.new_driving_booking.driver_address_number.placeholder%>"/>
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_complement" for="booking[driver_address[complement]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_complement.label%></label>
	              <input type="text" name="booking[driver_address[complement]]" id="booking[driver_address[complement]]" class="fieldcontrol" maxlength="20" placeholder="<%=t.new_driving_booking.driver_address_complement.placeholder%>"/>
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_city" for="booking[driver_address[city]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_city.label%></label>
	              <input type="text" name="booking[driver_address[city]]" id="booking[driver_address[city]]" class="fieldcontrol" maxlength="60" placeholder="<%=t.new_driving_booking.driver_address_city.placeholder%>"/>      
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_state" for="booking[driver_address[state]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_state.label%></label>
	              <input type="text" name="booking[driver_address[state]]" id="booking[driver_address[state]]" class="fieldcontrol" maxlength="60" placeholder="<%=t.new_driving_booking.driver_address_state.placeholder%>"/>    
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_country" for="booking[driver_address[country]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_country.label%></label>
	              <input type="text" name="booking[driver_address[country]]" id="booking[driver_address[country]]" class="fieldcontrol" maxlength="50" placeholder="<%=t.new_driving_booking.driver_address_country.placeholder%>"/>      
	            </div>
	            <div class="formrow">
	              <label id="label_driver_address_zip" for="booking[driver_address[zip]]" class="fieldtitle"><%=t.new_driving_booking.driver_address_zip.label%></label>
	              <input type="text" name="booking[driver_address[zip]]" id="booking[driver_address[zip]]" class="fieldcontrol" maxlength="10" placeholder="<%=t.new_driving_booking.driver_address_zip.label%>"/>         
	            </div>
	          </div>
	        </fieldset>
	        <% end %>

	        <% if booking_item_family.flight %>
	        <fieldset id="fs_flight">
	          <legend id="lg_flight" class="legend-first-level overflow">
	         	<%=t.new_booking.flight.title%>
	        	<span id="show_flight" data-icon="&#xe06d;" aria-hidden=true class="right-float"></span>
	          </legend>	
	          <div id="flight_data" class="background-color-2 top-space bottom-space left-space right-space" style="display:none">
	            <div class="formrow">
	              <label id="label_flight_company" for="booking[flight_company]" class="fieldtitle"><%=t.new_booking.flight.company.label%></label>
	              <input type="text" name="booking[flight_company]" id="booking[flight_company]" 
	                   class="fieldcontrol" maxlength="80" placeholder="<%=t.new_booking.flight.company.placeholder%>"/>
	            </div>
	            <div class="formrow">
	              <label id="label_flight_company" for="booking[flight_number]" class="fieldtitle"><%=t.new_booking.flight.number.label%></label>
	              <input type="text" name="booking[flight_number]" id="booking[flight_number]" 
	                   class="fieldcontrol" maxlength="10" placeholder="<%=t.new_booking.flight.number.placeholder%>"/>
	            </div>
	            <div class="formrow">
	              <label id="label_flight_company" for="booking[flight_time]" class="fieldtitle"><%=t.new_booking.flight.time.label%></label>
	              <input type="text" name="booking[flight_time]" id="booking[flight_time]" 
	                   class="fieldcontrol" maxlength="5" placeholder="<%=t.new_booking.flight.time.placeholder%>"/>
	            </div>	          
	          </div>
	        </fieldset>
	        <% end %>	      

	      </div>

	      <div id="reservation-summary" class="content_data_box">
	        <fieldset id="fs_conditions">
	          <div>
	            <input type="checkbox" name="conditions_read" id="conditions_read">
	              <span class="conditions_text">
	           	    <%=t.new_booking.conditions_confirm('/renting_conditions')%>
	              </span>
	            </input>
	          </div>        
	        </fieldset>	      
	        <fieldset id="fs_confirm">
	      	    <input type="button" value="<%=t.new_booking.continue%>" id="button_ir_a_pagar_reserva" class="form-button botones" style="display:none"/>
	            <input type="submit" value="<%=t.new_booking.confirm%>" id="button_confirmar_reserva" class="form-button botones" style="display:none"/>
	        </fieldset>
	        <div id="reservation_error">
	        </div>	
	      </div>

          <input type="hidden" name="booking[source]" id="booking[source]"/>

	    </form>

        <!-- PAYMENT TAB -->

        <div id="booking-payment" style="display:none">

          <div id="booking_summary">
          </div>
        
          <h3 class="guiblock-title"><%=t.booking.payment.label%></h3>
          <form name="form-payment" id="form-payment">
            <% if booking_deposit > 0 %>
              <div class="radio-block">
                <input type="radio" name="booking[payment]" value="total" checked="true"><%=t.booking.payment_type.total.label%></input>
                <p id="payment_total" class="radio-info less_contrast_text"></p>
              </div>
              <div class="radio-block">
                <input type="radio" name="booking[payment]" value="deposit"><%=t.booking.payment_type.deposit.label%></input>
                <p id="payment_deposit" class="radio-info less_contrast_text"></p>
              </div>
            <% else %>
              <input type="hidden" name="booking[payment]" value="total"/>          
            <% end %> 	

            <div id="payment_methods">
               <h4 class="top-margin bottom-margin"><%=t.new_booking.payment_methods%></h4>
               <div id="payment_methods_selector"></div>
            </div>

	        <div class="content_data_box top-margin-2lines bottom-margin-1line">
	          <fieldset>
               <input id="button_confirmar_reserva" type="submit" class="form-button botones" value="<%=t.new_booking.pay%>"/>
	          </fieldset>
	        </div>

	        <div id="payment_error">
	        </div>	          
          </form>

        </div>

        <!-- BOOKING COMPLETE -->
	    <div id="booking-complete-message">

	    </div>

        <!-- overlayed element -->
        <div class="apple_overlay" id="overlay">

	       <!-- the external content is loaded inside this tag -->
	       <div class="contentWrap"></div>

        </div>	  

        <div id="sending-booking" title="<%=t.new_booking.sending_booking_request%>" style="display:none">
          <img src="/img/ajax-loader_grande.gif"/>
        </div>
        
      </div>

    </div>
      
    <div id="content-footer">
      
    </div>  
      
  </div>

  <!-- JS TEMPLATES -->
  
  <script type="text/tmpl" id="script_extras">
  	          <tr class="booking_extra" id="booking_extra_<%%=extra.id%>" <%% if (!extra.optionalAccepted(optional)) {%> style="display:none" <%% } %> >
	            <td>
	               <input type="checkbox" name="extras[<%%=extra.id%>[extra_id]]" id="extras[<%%=extra.id%>[extra_id]]" value="<%%=extra.id%>" rel="extras[<%%=extra.id%>[quantity]]" class="extra"/>
	            </td>
	            <td>   
	               <label id="label_extra_<%%=extra.id%>"><%%=extra.the_name%></label>
	            </td>
	            <td>
	               <%% if (extra.max_quantity > 1) { %>
	               <select name="extras[<%%=extra.id%>[quantity]]" id="extras[<%%=extra.id%>[quantity]]" class="extraquantity" rel="<%%=extra.id%>">
	                 <option value="0" selected="selected">0</option>
	                 <%% for (var idx=1; idx <= extra.max_quantity; idx++) { %>
	                   <option value="<%%=idx%>"><%%=idx%></option>
	                 <%% } %>
	               </select>	
	               <%% } %>            
	            </td>
	          </tr>
  </script>
  
  <script type="text/tpml" id="script_detailed_price">
      <table class="detailed_price">
        <thead>
          <tr>
            <th><%=t.new_booking.concept%></th>
            <th><%=t.new_booking.quantity%></th>
            <th><%=t.new_booking.days%></th>
            <th><%=t.new_booking.price%></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="first_column"><%%= bookingDataSystem.families[booking.item_id].cars %> <%% if (booking.optional) { %> <%%='('+bookingDataSystem.optionals[booking.optional].name+')'%> <%% } %> </td>
            <td class="quantity_column"><%%= booking.quantity %> </td>
            <td class="quantity_column"><%%= booking.days %> </td>
            <td class="quantity_column"><%%= booking.item_cost %>€ </td>
          </tr>
          <%% for (extra in booking.booking_extras) { %>
            <tr>
              <td class="first_column"><%%= bookingDataSystem.extras[booking.booking_extras[extra].extra_id].the_name %></td>
              <td class="quantity_column"><%%= booking.booking_extras[extra].quantity %></td>
              <td class="quantity_column"><%%= booking.days %> </td>
              <td class="quantity_column"><%%= booking.booking_extras[extra].extra_cost %>€</td>
            </tr>
          <%% } %>
          <tr>
            <td class="total_column first_column"><%=t.new_booking.total.upcase%></td>
            <td class="quantity_column"></td>
            <td class="quantity_column"></td>
            <td class="quantity_column total_column"><%%= booking.total_cost %>€ </td>
          </tr>
        </tbody>      
      </table>
  
  </script>
  
  <script type="text/tpml" id="script_booking_summary">

      <p class="content_data_box all-full-space box-shadow background-color-highlight-2" 
         style="text-align: center; margin-left:auto; margin-right: auto; display: table">
         <%=t.new_booking.confirm_message%>
      </p>

  </script>

  <script type="text/tpml" id="script_booking_finished">
	  <% if defined?(booking_summary_message) %>
	   <%= booking_summary_message %>
	  <% end %>
  </script>