<div id="content-reserva">
  
    <div id="content-header" class="bottom-margin">
        <div>
          <div id="wizard-navigation">
            <ul id="wizard-options">
              <li>
              	 <a id="tab-choose-item" class="tab img_txt">
              	   <span class="tab_id">1</span>
                   <span class="tab_title"><%= t.new_booking.choose_item(t.booking_items[booking_item_type.to_sym]) %></span>
                 </a>
              </li>
              <li>
              	 <a id="tab-choose-extras" class="tab img_txt">
              	 	<span class="tab_id">2</span>
              	 	<span class="tab_title"><%=t.new_booking.choose_extras%></span>
              	 </a>
              </li>
              <li>
              	  <a id="tab-complete-reservation" class="tab img_txt">
              	  	<span class="tab_id">3</span>
              	  	<span class="tab_title"><%=t.new_booking.complete_booking%></span>
              	  </a>
              </li>
            </ul>
          </div>
        </div>      
    </div>
    
    <div id="content-body" class="bottom-margin">

      <!-- ITEM SELECTION TAB -->

      <% if booking_reservation_starts_with == :dates %>
	      <div id="item-selection" class="">
          <div id="date-selection" class="bottom-margin all-border-solid-light rounded">
          <%= partial :reserva_online_dates_selection, :locals => {:booking_item_family => booking_item_family, :booking_item_type => booking_item_type} %>
          </div>
          <div id="result">
          </div>	      
        </div>
      <% elsif booking_reservation_starts_with == :categories %>
        <div id="item-selection" class="bottom-margin">
          <div id="items_families" class="container_12">
          </div>
          <%= partial :reserva_online_categories_selection, :locals => {:booking_item_family => booking_item_family} %>
        </div>      
 	    <% elsif booking_reservation_starts_with == :shopcart %>
	      <div id="item-selection" class="bottom-margin">
          <%= partial :reserva_online_shopping_cart_header, :locals => {:booking_item_family => booking_item_family} %>          
          <div id="items_families" class="container_12">
          </div>
          <%= partial :reserva_online_shopping_cart_footer, :locals => {:booking_item_family => booking_item_family} %>
        </div>
	    <% end %>

      <!-- OTHER TABS -->

      <div id="other-tabs" class="bottom-margin" style="display:none">

        <!-- The summary header (shown in all the other tabs) -->
        <div id="other-tabs-header" class="bottom-margin all-border-solid-light rounded">
          <%= partial :reserva_online_summary_header, :locals => {:booking_item_family => booking_item_family, :booking_item_type => booking_item_type, 
            :booking_reservation_starts_with => booking_reservation_starts_with,
            :promotion_codes_active => promotion_codes_active} %>
        </div>

        <!-- EXTRAS SELECTION TAB -->
        <div id="extras-selection" class="bottom-margin all-border-solid-light rounded" style="display:none">
      	  <form>
      	  	<div class="container_12">
              <div class="grid_12">
                <fieldset id="fs_summary_extras">
                  <legend id="lg_summary_extras" class="legend-first-level"><%=t.new_booking.extras%></legend>          
                  <table id="tblextras">
                    <tbody>
                    </tbody>
                  </table>
                </fieldset>
              </div>
            </div>                 
            <% if booking_item_family.named_resources or booking_item_family.weight or
                  booking_item_family.height %>	          
	          <div class="container_12">
              <div class="grid_12">
	              <fieldset id="fs_resources_attributes">
	                <legend id="lg_summary_extras" class="legend-first-level"><%=t.new_booking.resources%></legend>
                  <div id="resources_attributes" class="smaller_text">
	                </div>
	              </fieldset>
	            </div>
            </div>
            <% end %>
	          <div class="top-margin-1line top-space-1line top-border-nosolid">
	            <fieldset>
	              <input type="button" value="<%=t.new_booking.continue%>" id="button_continua_rellenar_datos" class="form-button"/>
	            </fieldset>
	          </div>
          </form>
        </div>

        <!-- RESERVATION TAB -->

	    <form id="form-reservation" name="form-reservation" class="bottom-separator top-space bottom-space bottom-margin" method="POST" style="display:none">
	      <div>	      
             <%= partial :reserva_online_data_form, :locals => {:booking_item_family => booking_item_family, :booking => booking} %>
	      </div>

	      <div id="reservation-summary" class="content_data_box">
	      	<% unless admin_mode %>
	        <fieldset id="fs_conditions">
	          <div>
	            <input type="checkbox" name="conditions_read" id="conditions_read">
	              <span class="conditions_text">
	           	    <%=t.new_booking.conditions_confirm(format_url_with_language('/renting_conditions'))%>
	              </span>
	            </input>
	          </div>        
	        </fieldset>	      
	        <% end %>
	        <fieldset id="fs_confirm">
	        	<div style="text-align:center">
	        	  <div style="display:inline-block">
	      	        <button type="submit" id="button_ir_a_pagar_reserva" class="form-button botones" style="display:none">
                      <span><%=t.new_booking.go_to_pay_line1(booking_deposit)%></span><br/>
                      <span><%=t.new_booking.go_to_pay_line2%></span><br/>
	      	        </button>
	              </div>
	        	  <div style="display:inline-block">	            
	                <button type="submit" id="button_confirmar_reserva" class="form-button botones" style="display:none">
                       <span><%=t.new_booking.confirm_line1%></span><br/>
                       <span><%=t.new_booking.confirm_line2%></span>
	                </button>
	              </div>
	        	  <div style="display:inline-block">	            
	                <button type="submit" id="button_confirmar_reserva_manager" class="form-button botones" style="display:none">
                       <span><%=t.new_booking.confirm_line1_manager%></span><br/>
                       <span><%=t.new_booking.confirm_line2_manager%></span>
	                </button>
	              </div>	              
	            </div>
	        </fieldset>
          <div id="reservation_payment_information"  style="display:none" class="guiblock smaller_text">
            <%=t.new_booking.payment_information(booking_deposit) if booking_deposit > 0%>
          </div>
	        <div id="reservation_error">
	        </div>	
	      </div>

          <input type="hidden" name="booking[source]" id="booking[source]"/>

	    </form>

        <!-- overlayed element -->
        <div class="apple_overlay" id="overlay">

	       <!-- the external content is loaded inside this tag -->
	       <div class="contentWrap"></div>

        </div>	  

        <div id="checking-availability" title="<%=t.new_booking.checking_availability%>" style="display:none">
          <img src="/img/ajax-loader_grande.gif"/>
        </div>

        <div id="sending-booking" title="<%=t.new_booking.sending_booking_request%>" style="display:none">
          <img src="/img/ajax-loader_grande.gif"/>
        </div>
        
      </div>

    </div>
      
    <div id="content-footer">
      
    </div>  

    <div id="popup" style="background: white">
    </div>
      
  </div>

  <!-- JS TEMPLATES -->

  <script type="text/tmpl" id="script_families">         
              <div class="<%% if (currentRow == totalRows-1 && lastRowItems == 2 && currentCol == 0){%>prefix_2<%%} else if (currentRow == totalRows-1 && lastRowItems == 1 && currentCol == 0) {%>prefix_4<%%}%> grid_4">
                <div id="family_<%%=category.family%>" class="family top-margin" style="padding:5px">
                  <div>
                    <img src="<%%=category.photo%>" style="display: block; margin: 0 auto" />
                  </div>
                  <div class="top-margin">
                    <span class="centered_text" style="display: block; margin: 0 auto" ><%%=category.description%></span>
                  </div>
                  <div class="top-margin">
                    <button class="select_family centered_text form-button blue-button" style="display: block; margin: 0 auto" rel="<%%=category.family%>"><%=t.new_booking.booking%></button>
                  </div>
                </div>
              </div>
  </script>

  <script type="text/tmpl" id="script_shopping_cart">         
              <div class="<%% if (currentRow == totalRows-1 && lastRowItems == 2 && currentCol == 0){%>prefix_2<%%} else if (currentRow == totalRows-1 && lastRowItems == 1 && currentCol == 0) {%>prefix_4<%%}%> grid_<%%=12/totalCols%>">
                <div id="family_<%%=category.family%>" class="family top-margin" style="padding:5px">
                  <div>
                    <img src="<%%=category.photo%>" class="shopping_cart_product_detail" rel="<%%=category.family%>" style="display: block; margin: 0 auto" />
                  </div>
                  <div class="top-margin">
                    <span class="shopping_cart_product_detail centered_text <%%if (totalCols>3){%>smaller_text<%%}%>" style="display: block; margin: 0 auto" rel="<%%=category.family%>"><%%=category.description%></span>
                  </div>
                  <div class="top-margin">
                    <div class="shopping_cart_product_price_base centered_text less_contrast_text" style="font-size:0.8em; text-decoration: line-through" rel="<%%=category.family%>"><%%if (all_prices && all_prices_base && all_prices[category.family] != all_prices_base[category.family]) { %><%%=all_prices_base[category.family]%>€<%% } %></div>
                    <div class="car_price_total_base_offer" rel="<%%=category.family%>"><%% if(all_prices && all_prices_base && all_prices[category.family] != all_prices_base[category.family]){ %><%=t.new_booking.offer%><%%}%></div>
                  </div>   
                  <div class="top-margin">
                    <div class="shopping_cart_product_price centered_text bigger_text more_contrast_text" style="font-size:2em" rel="<%%=category.family%>"><%%if (all_prices && all_prices[category.family]) { %><%%=all_prices[category.family]%>€<%% } %></div>
                  </div>   
                  <div class="top-margin">
                    <form class="select-category" rel="<%%=category.family%>">
                      <select class="quantity form-control" style="display:block; margin: 0 auto" rel="<%%=category.family%>">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>                       
                      </select>
                    </form>
                    <div class="category_not_available smaller_text" rel="<%%=category.family%>" style="display:none">
                      <% if (admin_mode) %>
                      <span class="booking-not-available centered_text" style="display:block"><%=t.new_booking.not_stock_manager%></span>
                      <% else %>
                      <span class="booking-not-available centered_text" style="display:block"><%=t.new_booking.not_stock%></span>                      
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
  </script>
  
  <script type="text/tmpl" id="script_extras">
  	          <tr class="booking_extra" id="booking_extra_<%%=extra.id%>" <%% if (!extra.optionalAccepted(optional)) {%> style="display:none" <%% } %> >
	            <td>
	               <input type="checkbox" name="extras[<%%=extra.id%>[extra_id]]" id="extras[<%%=extra.id%>[extra_id]]" value="<%%=extra.id%>" rel="extras[<%%=extra.id%>[quantity]]" class="extra"/>
	            </td>
	            <td>   
	               <label id="label_extra_<%%=extra.id%>"><%%=extra.translations['<%=session[:locale]||"es"%>'].name%></label>
	            </td>
	            <td>
	               <%% if (extra.max_quantity > 1) { %>
	               <select name="extras[<%%=extra.id%>[quantity]]" id="extras[<%%=extra.id%>[quantity]]" class="extraquantity" rel="<%%=extra.id%>">
	                 <option value="0" selected="selected">0</option>
	                 <%% for (var idx=1; idx <= extra.max_quantity; idx++) { %>
	                   <option value="<%%=idx%>"><%%=idx%></option>
	                 <%% } %>
	               </select>	
	               <%% } %>            
	            </td>
	          </tr>
  </script>

  <script type="text/tmpl" id="script_resources_attributes">

     <table class="table smaller_text">
       <thead class="table-header">
         <tr>
           <% if booking_item_family.named_resources %>
           <th class="table-header-title"><%=t.new_booking.resource%></th>
           <th class="table-header-title" style="width: 250px"><%=t.new_booking.resource_name_surname%></th>
           <th class="table-header-title"><%=t.new_booking.resource_document_id%></th>
           <th class="table-header-title"><%=t.new_booking.resource_phone_number%></th>
           <th class="table-header-title"><%=t.new_booking.resource_email%></th>
           <% end %>
           <% if booking_item_family.height %>
           <th class="table-header-title"><%=t.new_booking.resource_height%></th>
           <% end %>
           <% if booking_item_family.weight %>
           <th class="table-header-title"><%=t.new_booking.resource_weight%></th>
           <% end %>
         </tr>
       </thead>
       <tbody>
          <%% for (item in booking.booking_lines) { %>
             <%% for (var idx=0;idx< booking.booking_lines[item].quantity;idx++) { %>
                <tr class="table-row"> 
                  <td class="table-cell"><%%=bookingModel.translate_family(booking.booking_lines[item].item_id).description%> <%%=idx+1%></td>
                  <% if booking_item_family.named_resources %>
                  <td class="table-cell">
                     <input class="resource_user_name" type="text" maxlength="80" size="15" rel="<%%=item%>" data-idx="<%%=idx%>"/>
                     <input class="resource_user_surname" type="text" maxlength="80" size="15" rel="<%%=item%>" data-idx="<%%=idx%>"/>
                  </td>
                  <td class="table-cell">
                     <input class="resource_user_document_id" type="text" maxlength="50" size="15" rel="<%%=item%>" data-idx="<%%=idx%>"/>                  
                  </td>
                  <td class="table-cell">
                     <input class="resource_user_phone" type="text" maxlength="15" size="15" rel="<%%=item%>" data-idx="<%%=idx%>"/>                  
                  </td>
                  <td class="table-cell">
                     <input class="resource_user_email" type="text" maxlength="40" size="15" rel="<%%=item%>" data-idx="<%%=idx%>"/>                  
                  </td>                  
                  <% end %>
                  <% if booking_item_family.height %>
                  <td class="table-cell">
                     <select class="height" rel="<%%=item%>" data-idx="<%%=idx%>" >
                 	   <option value=""><%=t.new_booking.height.placeholder%></option>
                       <% booking_item_family.height_values.split(',').each do |height|%>
                         <option value="<%=height%>"><%=height%></option>
                       <% end %>
                     </select>
                  </td>
                  <% end %>
                  <% if booking_item_family.weight %>
                  <td class="table-cell">
                     <select class="weight" rel="<%%=item%>" data-idx="<%%=idx%>">
                 	   <option value=""><%=t.new_booking.weight.placeholder%></option>
                       <% booking_item_family.weight_values.split(',').each do |weight|%>
                         <option value="<%=weight%>"><%=weight%></option>
                       <% end %>
                     </select>
                  </td>
                  <% end %>
                </tr>
                <%% if (bookingDataSystem.families[item].capacity == 2) { %>
                <tr class="table-row">
                  <td class="table-cell"></td>
                  <% if booking_item_family.named_resources %>
                  <td class="table-cell">
                     <input class="resource_user_2_name" type="text" maxlength="80" size="15" rel="<%%=item%>" data-idx="<%%=idx%>"/>
                     <input class="resource_user_2_surname" type="text" maxlength="80" size="15" rel="<%%=item%>" data-idx="<%%=idx%>"/>
                  </td>
                  <td class="table-cell">
                     <input class="resource_user_2_document_id" type="text" maxlength="50" size="15" rel="<%%=item%>" data-idx="<%%=idx%>"/>                  
                  </td>
                  <td class="table-cell">
                     <input class="resource_user_2_phone" type="text" maxlength="15" size="15" rel="<%%=item%>" data-idx="<%%=idx%>"/>                  
                  </td>
                  <td class="table-cell">
                     <input class="resource_user_2_email" type="text" maxlength="40" size="15" rel="<%%=item%>" data-idx="<%%=idx%>"/>                  
                  </td>                  
                  <% end %>
                  <% if booking_item_family.height %>
                  <td class="table-cell">
                     <select class="height_2" rel="<%%=item%>" data-idx="<%%=idx%>" >
                     <option value=""><%=t.new_booking.height.placeholder%></option>
                       <% booking_item_family.height_values.split(',').each do |height|%>
                         <option value="<%=height%>"><%=height%></option>
                       <% end %>
                     </select>
                  </td>
                  <% end %>
                  <% if booking_item_family.weight %>
                  <td class="table-cell">
                     <select class="weight_2" rel="<%%=item%>" data-idx="<%%=idx%>">
                     <option value=""><%=t.new_booking.weight.placeholder%></option>
                       <% booking_item_family.weight_values.split(',').each do |weight|%>
                         <option value="<%=weight%>"><%=weight%></option>
                       <% end %>
                     </select>
                  </td>
                  <% end %>
                </tr>
                <%% } %>
             <%% } %>
          <%% } %>	
       </tbody>
     </table>

  </script>
  
  <script type="text/tpml" id="script_detailed_price">
      <h3 class="guiblock"><%=t.new_booking.budget%></h3>
      <table class="detailed_price">
        <thead>
          <tr>
            <th><%=t.new_booking.concept%></th>
            <th><%=t.new_booking.days%></th>
            <th><%=t.new_booking.price%></th>
            <th><%=t.new_booking.quantity%></th>
            <th><%=t.new_booking.total%></th>
          </tr>
        </thead>
        <tbody>
          <%% for (item in booking.booking_lines) { %>
          <tr>
            <td class="first_column"><%%= bookingModel.translate_family(item).cars %></td>
            <td class="quantity_column"><%%= booking.days %> </td>
            <td class="quantity_column"><%%if (all_prices_base[item]!=booking.booking_lines[item].item_unit_cost){%><span class="car_price_total_base"><%%=all_prices_base[item]%>€ </span><span class="car_price_total_base_offer"><%=t.new_booking.offer_budget%> </span><%%}%><%%= booking.booking_lines[item].item_unit_cost %>€ </td>
            <td class="quantity_column"><%%= booking.booking_lines[item].quantity %> </td>
            <td class="quantity_column"><%%= booking.booking_lines[item].item_cost %>€ </td>
          </tr>
          <%% } %>
          <%% for (extra in booking.booking_extras) { %>
            <tr>
              <td class="first_column"><%%= bookingDataSystem.extras[booking.booking_extras[extra].extra_id].the_name %></td>
              <td class="quantity_column"><%%= booking.days %> </td>
              <td class="quantity_column"><%%= booking.booking_extras[extra].extra_unit_cost %>€</td>
              <td class="quantity_column"><%%= booking.booking_extras[extra].quantity %></td>
              <td class="quantity_column"><%%= booking.booking_extras[extra].extra_cost %>€</td>
            </tr>
          <%% } %>
          <%% if (booking.time_from_cost > 0 ) { %>
          <tr>
            <td class="first_column"><%=t.new_booking.time_from_cost%></td>
            <td class="quantity_column"></td>
            <td class="quantity_column"><%%= booking.time_from_cost.toFixed(bookingDataSystem.configuration.roundDecimals || 0) %>€</td>
            <td class="quantity_column">1</td>
            <td class="quantity_column"><%%= booking.time_from_cost.toFixed(bookingDataSystem.configuration.roundDecimals || 0) %>€ </td>
          </tr>
          <%% } %>
          <%% if (booking.time_to_cost > 0 ) { %>          
          <tr>
            <td class="first_column"><%=t.new_booking.time_to_cost%></td>
            <td class="quantity_column"></td>
            <td class="quantity_column"><%%= booking.time_to_cost.toFixed(bookingDataSystem.configuration.roundDecimals || 0) %>€ </td>
            <td class="quantity_column">1</td>
            <td class="quantity_column"><%%= booking.time_to_cost.toFixed(bookingDataSystem.configuration.roundDecimals || 0) %>€ </td>
          </tr>
          <%% } %>
          <%% if (booking.pickup_place_cost > 0 ) { %>          
          <tr>
            <td class="first_column"><%=t.new_booking.pickup_place_cost%></td>
            <td class="quantity_column"></td>
            <td class="quantity_column"><%%= booking.pickup_place_cost.toFixed(bookingDataSystem.configuration.roundDecimals || 0) %>€</td>
            <td class="quantity_column">1</td>
            <td class="quantity_column"><%%= booking.pickup_place_cost.toFixed(bookingDataSystem.configuration.roundDecimals || 0) %>€ </td>
          </tr>      
          <%% } %>
          <%% if (booking.return_place_cost > 0 ) { %>                 
          <tr>
            <td class="first_column"><%=t.new_booking.return_place_cost%></td>
            <td class="quantity_column"></td>
            <td class="quantity_column"><%%= booking.return_place_cost.toFixed(bookingDataSystem.configuration.roundDecimals || 0) %>€</td>
            <td class="quantity_column">1</td>
            <td class="quantity_column"><%%= booking.return_place_cost.toFixed(bookingDataSystem.configuration.roundDecimals || 0) %>€ </td>
          </tr>                 
          <%% } %>
          <%% if (booking.product_deposit_cost > 0 ) { %>                 
          <tr>
            <td class="first_column"><%=t.new_booking.product_deposit_cost%></td>
            <td class="quantity_column"></td>
            <td class="quantity_column"><%%= booking.product_deposit_cost.toFixed(bookingDataSystem.configuration.roundDecimals || 0) %>€</td>
            <td class="quantity_column">1</td>
            <td class="quantity_column"><%%= booking.product_deposit_cost.toFixed(bookingDataSystem.configuration.roundDecimals || 0) %>€ </td>
          </tr>                 
          <%% } %>          
          <tr>
            <td class="total_column first_column"><%=t.new_booking.total%></td>
            <td class="quantity_column"></td>
            <td class="quantity_column"></td>
            <td class="quantity_column"></td>
            <td class="quantity_column total_column"><%%= booking.total_cost.toFixed(bookingDataSystem.configuration.roundDecimals || 0) %>€ </td>
          </tr>
        </tbody>      
      </table>
      <%% if (booking.product_deposit_cost > 0) { %>
        <p class="centered_text top-margin-1line"><em>*<%=t.new_booking.product_deposit_cost_legend%></em></p>
      <%% } %> 
  
  </script>
  
  <script type="text/tpml" id="script_detailed_product">

    <div id="product_detail">
      <div class="grid_12">
         <div class="all-space">
           <img src="<%%=family.photo%>" style="display:block; margin:0 auto"/>
         </div>
         <div class="all-space">
           <button class="product_detail_close form-button" style="display:block; margin:0 auto">Cerrar</button>
         </div>
      </div>
      <div class="grid_12">
         <div class="all-space">
           <%%=family.fullDescription%>
         </div>
      </div>
    </div>

  </script>
